<% 
  provide(:title, "#{@from_user.name} awarded a badge to you!")
  provide(:color, 'orange')
  provide(:cta_text, "View your badge")
  provide(:cta_link, group_badge_log_url(@group, @badge, @user_key))
%>

<p style="text-align: center; margin: 10px 0 0 0; padding: 0;">
  <a href="<%= group_badge_url(@group, @badge) %>" style="display: inline-block; width: 180px;
      color: <%= COLORS['grey'][800] %> !important; text-decoration: none !important;
      padding: 0 20px 30px 20px; font-weight: bold; font-size: 20px;">
    <img src="<%= @badge.image_medium_url %>" style="width: 100px; display: inline-block; 
      margin-bottom: 10px;"><br>
    <%= @badge.name %>
  </a>
</p>

<p style="text-align: center; margin: 0 0 30px 0; padding: 0; font-size: 50px;">
  <span style="display: inline-block; padding: 30px; border-radius: 500px; 
      border: 1px solid <%= COLORS['grey'][300] %>; 
      background-color: <%= COLORS['grey'][100] %>;">
    &#128079; &#127942; &#127881;
  </span>
</p>

<p>
  You have been awarded the
  <%= link_to @badge.name, group_badge_url(@group, @badge) %> 
  badge in Badge List. Congratulations!
  This badge is part of the <%= link_to @group.name, group_url(@group) %> group.
</p>

<p>
  All of your awarded badges are visible on your <%= link_to 'Badge List profile', user_url(@user_key) %>.
</p>
