<% 
  provide(:title, "Add #{@learners} - #{@group.name}") 
  provide(:show_subheader, true)
  provide(:subheader_image, @group.avatar_image_url(:small)) 
%>

<% content_for :subheader_links do %>
  <li>
    <%= link_to @group.url, group_path(@group) %>
    <span class="divider">/</span>
  </li>
  <li>
    <%= link_to @badge.url, [@group, @badge] %>
    <span class="divider">/</span>
  </li>
  <li class="active">Add Badge <%= @Learners %></li>
<% end %>

<script type="text/javascript">
  
  $(document).ready(function() {

    // The invitation message should only be visible if notify by email is checked
    $('#notify_by_email').change(function() {
      if (this.checked) $('#invitation-message-panel').slideDown();
      else $('#invitation-message-panel').slideUp();
    });

  });

</script>

<div class="row">
  <div class="bl-form bl-form-members span10 offset1">
    
    <div class="form-header">
      <h1>Add <%= @learners %> to badge</h1>
      <div class="form-image">
        <i class="fa fa-users"></i>
      </div>
    </div>

    <% if @group_is_blank %>
      <div class="form-body">
        <h3>Your group is empty...</h3>
        <p>
          Before you can add <%= @learners %> to this badge you need to add some folks to the group.
          <br><br>
          <%= link_to "<i class='fa fa-plus'></i> Invite group members".html_safe,
            add_group_members_path(@group, badges: [@badge.url]), class: "btn btn-primary" %>
        </p>
      </div>

      <div class="form-footer">
        &nbsp;
      </div>
    <% else %>
      <%= form_tag(create_badge_learners_path(@group, @badge), method: :post, 
        id: "badge-add-learners-form", class: 'form-horizontal') do %>

        <div class="form-body">

          <div class="control-group">
            <%= label_tag :usernames, "Add Existing Group Members & Admins", class: "control-label" %>
            <div class="controls">
              <ul class="unstyled">
                <% @learner_list.each do |item| %>
                  <li>
                    <label class="checkbox <%= 'muted' if item[:disabled] %>">
                      <%= check_box_tag 'usernames[]', item[:user].username, item[:disabled], 
                        disabled: item[:disabled] %> 
                      <%= item[:user].name %>
                    </label>
                  </li>
                <% end %>
              </ul>
              <p class="help-block">
                <%= link_to \
                  "<i class='fa fa-external-link'></i> Invite new members".html_safe,
                  add_group_members_path(@group, badges: [@badge.url]), class: "btn btn-small" %>
              </p>
            </div>
          </div>

          <div class="control-group">
            <%= label_tag :notify_by_email, "Email Notification", class: 'control-label' %>
            <div class="controls">
              <%= check_box_tag :notify_by_email, "1", true %>
              <%= label_tag :notify_by_email, "Notify new #{@learners} by email",
                  class: "notify-by-email"%>
            </div>
          </div>

          <div id="invitation-message-panel" class="control-group">
            <%= label_tag :invitation_message, 'Invitation Message (Optional)', 
              class: 'control-label' %>
            <div class="controls">
              <%= text_area_tag :invitation_message, params[:invitation_message], size: "150x4", 
                placeholder: 'Enter a custom message that will be included in the ' \
                  + 'invitation email', class: "span6", data: { :'character-count' => true, 
                  :'max-length' => BadgesController::MAX_INVITATION_MESSAGE_LENGTH } %>
            </div>
          </div>

        </div>
        
        <div class="form-footer">
          <%= button_tag "Add new #{@learners}", type: 'submit', class: 'btn btn-primary' %>
          <%= link_to 'Cancel', group_badge_path(@group, @badge)+"##{@learners.parameterize}", class: 'btn' %> 
        </div>

      <% end %>
    <% end %>

  </div>
</div>