<% 
  provide(:title, "#{@badge.name} - All Entries")
  provide(:show_subheader, true)
  provide(:subheader_image, @group.avatar_image_url(:small)) 
%>

<% content_for :subheader_links do %>
  <li>
    <%= link_to @group.url_with_caps, @group %>
    <span class="divider">/</span>
  </li>
  <li>
    <%= link_to @badge.url_with_caps, [@group, @badge] %>
    <span class="divider">/</span>
  </li>
  <li class="active">
    All Progress Log Entries
  </li>
<% end %>

<% if @current_user_is_admin || @current_user_is_member || @group.open? %>
  <% content_for :subheader_actions do %>
    <% if @show_progress && !@current_user_is_expert && !@current_user_is_learner %>
      <li class="collapsible">
        <%= link_to '<i class="fa fa-plus"></i> Join Badge'.html_safe, 
            group_badge_logs_path(@group, @badge), method: :post %>
        <% if @current_user_is_admin %>
          <span class="divider">|</span>
        <% end %>
      </li>
    <% elsif @current_user_is_expert || @current_user_is_learner %>
      <li  class="collapsible">
        <%= link_to '<i class="fa fa-user"></i> Your Log'.html_safe, 
            [@group, @badge, @log] %>
      </li>
    <% end %>
  <% end %>
<% end %>

<!-- === PAGE HEADER === -->

<div class="row add-top-margin">
  <div class="span12">
    <div class="header-card badge-entries-header-card">
      <div class="white-background no-tabs">&nbsp;</div>

      <div class="primary-header span6">
        <span class="header-image">
          <%= link_to image_tag(@badge.image_url(:medium)), [@group, @badge], title: 'View badge' %>
        </span>
        <span class="header-text">
          <h1><%= link_to @badge.name, [@group, @badge], title: 'View badge' %></h1>
          <h2>
            <%= link_to @group.url_with_caps, @group, 
              title: @group.name %>/<%= link_to @badge.url_with_caps, [@group, @badge], 
              title: "View badge" %>
          </h2>
          <h3>
            <%= @badge.summary %>
          </h3>
        </span>
      </div>

      <div class="secondary-header span6">
        <% if !@group.has?(:privacy) || @current_user_is_admin || @current_user_is_member || @badge_list_admin %>
          <span class="header-text">
            <h1>All Progress Log Entries</h1>
            <h2>
              Showing <%= ((@page.to_i - 1) * @page_size.to_i) + 1 %>
              - <%= [(@page.to_i * @page_size.to_i), @entries.count].min %>
              of <%= @entries.count %>
            </h2>  
          </span>            
        <% end %>
      </div>
    </div>
  </div>
</div>

<% if !@group.has?(:privacy) || @current_user_is_admin || @current_user_is_member || @badge_list_admin %>

  <!-- === ENTRIES LIST === -->

  <% if !@entries.blank? %>
    
    <div class="row">
      <div class="span12">
        <div class="pagination-header">
          <div class="pagination"><%= paginate @entries %></div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="span12" data-bl-dyncol="parent" data-bl-dyncol-group="entries" 
        data-bl-dyncol-width="12">
          <%= render(@entries, show_badge: false) %>
      </div>
    </div>

    <div class="row">
      <div class="span12">
        <div class="pagination-footer">
          <div class="pagination"><%= paginate @entries %></div>
        </div>
      </div>
    </div>

  <% end %>

<% else %>
  
  <div class="row">
    <div class="well span7 offset2">
      <h3>This is a private badge</h3>
      <p>
        The contents of this badge are only visible to group members.
      </p>
    </div>
  </div>

<% end %>