<% 
  provide(:title, "#{@badge.name} - #{@group.name}")
  provide(:include_rich_text, true)

  provide(:include_metadata, true)
  provide(:metadata_title, "#{@badge.name} - #{@group.name}")
  provide(:metadata_description, @badge.summary)
  provide(:metadata_image, @badge.image_url)
  provide(:metadata_image_width, '500')
  provide(:metadata_image_height, '500')
  provide(:metadata_site_name, 'Badge List')
  provide(:metadata_url, request.original_url)

  is_group_member = @current_user_is_member || @current_user_is_admin
  is_badge_member = @current_user_is_learner || @current_user_is_expert
  can_join_badge = !is_badge_member && @show_progress && \
    (@current_user_is_admin || @current_user_is_member || @group.open?)
  can_join_group = !@current_user_is_member && !@current_user_is_admin && @group.open?

  visibility_details = @badge.visibility_details
%>

<% content_for :extra_footer_text do %>
  This badge's image includes the following elements from
  <a href="http://www.thenounproject.com" target="_blank">the Noun Project</a>:
  <% @badge.image_attributions.each do |attribution| %>
    <%= " &amp; ".html_safe unless attribution == @badge.image_attributions.first %>
    <% if attribution['type'] == "attribution" %>
      <%= "#{attribution['item_name'] || "Untitled"} by #{attribution['author_name'] || "Anonymous"}" %>
    <% else %>
      <%= "#{attribution['item_name'] || "Untitled"} in the Public Domain" %>
    <% end %>
  <% end %>
<% end unless @badge.image_attributions.blank? %>

<% if can_join_badge && !current_user  %>
  
  <!-- === SIGN IN (TO JOIN BADGE) MODAL === -->

  <div id="sign-in-to-join" class="modal hide fade" tabindex="-1" role="dialog" 
   aria-labelledby="mimm-label" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="mimm-label">Sign in to continue<h3>
    </div>

    <div class="modal-body">
      <p>To join this badge, first you need to sign in or create a new account.<br><br></p>
      <ul class="button-list">
        <li>
          <%= link_to 'Sign in', new_user_session_path(join: @badge.id), 
            class: 'btn btn-large btn-warning' %>
        </li>
        <li>
          <%= link_to 'Create a new account', new_user_registration_path(join: @badge.id), 
            class: 'btn btn-large btn-success' %>
        </li>
      </ul>
      <p>&nbsp;</p>
    </div>
  </div>

<% end %>

<% if @current_user_is_expert || @current_user_is_learner %>

  <!-- === EDIT BADGE MEMBERSHIP MODAL === -->

  <script type="text/javascript">
    
    $(document).ready(function() {
      
      // The show_on_badge setting overrides and disables the show_on_profiles setting when false
      $('#log_show_on_badge_false').click(function() {
        $('#log_show_on_profile_false').prop('checked', true);
        $('#log_show_on_profile_true').prop('disabled', true);
      });
      $('#log_show_on_badge_true').click(function() {
        $('#log_show_on_profile_true').prop('disabled', false);
      });
      
      // Also we want to set the disabled status on startup
      if ($('#log_show_on_badge_false').prop('checked'))
        $('#log_show_on_profile_true').prop('disabled', true);

    });

  </script>

  <div id="log-visibility" class="modal hide fade" tabindex="-1" role="dialog" 
   aria-labelledby="mimm-label" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="mimm-label">Edit your badge membership</h3>
    </div>

    <div class="modal-body">
      <div class="bl-modal-form">
        <div class="form-body">
          <%= simple_form_for [@group, @badge, @log], method: :put,
            html: {id: 'log-visibility-form', class: 'form-horizontal'} do |f| %>

            <% if @group_show_on_profile %>
              <%= f.input :show_on_profile, as: :radio_buttons, 
                collection: [[true, 'Yes'], [false, 'No']], label_method: :last, 
                value_method: :first, label: 'Show this badge on your badge profile?' %>
            <% else %>
              <div class="control-group">
                <label class="control-label">Show this badge on your badge profile?</label>
                <div class="controls">
                  <strong>No</strong>
                  <p class="help-block">
                    Change your
                    <%= link_to 'group membership settings', 
                      group_path(@group) + '#membership-settings' %>
                    to enable editing of this setting at the badge level.
                  </p>
                </div>
              </div>
            <% end %>

            <% member_role_name = (@log.validation_status == 'validated') ? @experts : @learners %>
            <% if @group_show_on_badges %>
              <%= f.input :show_on_badge, as: :radio_buttons, 
                collection: [[true, 'Yes'], [false, 'No']], label_method: :last, 
                value_method: :first, 
                label: "Show your name on the list of badge #{member_role_name}?" %>
            <% else %>
              <div class="control-group">
                <label class="control-label">
                  Show your name on the list of badge <%= member_role_name %>?
                </label>
                <div class="controls">
                  <strong>No</strong>
                  <p class="help-block">
                    Change your
                    <%= link_to 'group membership settings', 
                      group_path(@group) + '#membership-settings' %>
                    to enable editing of this setting at the badge level.
                  </p>
                </div>
              </div>
            <% end %>

            <% if @can_award_badge %>
              <%= f.input :receive_validation_request_emails, as: :select, include_blank: false,
                collection: [[true, 'Yes'], [false, 'No']], label_method: :last, 
                value_method: :first, label: 'Receive feedback request emails?',
                hint: "Feedback request emails are sent when a #{@learner} " \
                  + "completes all of the badge requirements and then requests feedback." %>
            <% end %>

            <% 
              if @group.has?(:privacy) 
                private_text = 'This will break Mozilla compatibility'
              else
                private_text = 'Only available for groups with privacy feature'
              end 
            %>
            
            <%
              if @log.validation_status == 'validated'
                privacy_label = "Can other people see your #{@badge.progress_log}?"
              else
                privacy_label = "After you earn the badge your #{@badge.progress_log} will be"
              end
            %>

            <h4>Dangerous Stuff</h4>

            <div class="control-group">
              <label class="control-label" for="delete-log">
                Delete <%= @badge.progress_log %> and resign badge membership
              </label>
              <div class="controls">
                <%= link_to "Delete your #{@badge.progress_log}", [@group, @badge, @log], title: "Careful!",
                  method: :delete, id: "delete-log", class: 'btn btn-danger btn-large', 
                  data: { confirm: "Warning: This can't be undone. Are you absolutely sure you want to"\
                  + " permanently delete your #{@badge.progress_log}?", toggle: 'tooltip', 
                  placement: 'bottom' } %>
                
              </div>
            </div>

          <% end %>
         
         </div>        
      </div>
    </div>

    <div class="modal-footer">
      <button class="btn" aria-hidden="true" 
       onclick="$('#log-visibility-form').submit();">
        Save
      </button>
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
  </div>

<% end %>

<% if @current_user_is_owner || @badge_list_admin %>

  <!-- === MOVE BADGE MODAL === -->

  <div id="move-badge" class="modal hide fade" tabindex="-1" role="dialog" 
   aria-labelledby="mimm-label" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="mimm-label">Move the badge to another group</h3>
    </div>

    <div class="modal-body">
      <div class="bl-modal-form">
        <div class="form-body">
          <%= simple_form_for [@group, @badge], url: group_badge_path(@group, @badge) + '/move', 
              method: :put, html: {id: 'move-badge-form', class: 'form-horizontal'} do |f| %>

            <div class="control-group">
              <div class="sub-header">
                <strong>Note:</strong> Moving a badge changes the URL of the badge and of all
                progress logs within the badge. That means any links or Mozilla Backpacks that point
                to the old URL will have to be updated. It is best practive to communicate this 
                change to your users beforehand.
              </div>
            </div>

            <% if @group.owner %>
              <%= f.input :move_to_group_id, label: 'Select Destination Group', as: :select, 
                include_blank: false, collection: [['Groups that you own...', '']] \
                  + @group.owner.owned_group_options(except: [@group.id]) %>
            <% else %>
              <p>ADMIN NOTE: The current group owner is BLANK so the options below are yours.</p>
              <%= f.input :move_to_group_id, label: 'Select Destination Group', as: :select, 
                include_blank: false, collection: [['Groups that you own...', '']] \
                  + current_user.owned_group_options(except: [@group.id]) %>
            <% end %>

          <% end %>
         </div>        
      </div>
    </div>

    <div class="modal-footer">
      <button class="btn" aria-hidden="true" onclick="$('#move-badge-form').submit();">
        Move the badge
      </button>
      <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    </div>
  </div>

<% end %>

<% if @current_user_is_admin || @badge_list_admin %>

  <!-- === BADGE SETTINGS MODAL === -->

  <script type="text/javascript">

    $(document).ready(function() {
      
      <% if @group.paid? && !@group.has?(:community) %>
        // Community feature missing: Fix badge settings
        $("#badge_editability_experts").attr("disabled", true).parent().addClass("disabled")
          .append("<span class='label'>Requires Community Features</span>");
        $("#badge_editability_admins").attr("checked", true);
        $("#badge_awardability_experts").attr("disabled", true).parent().addClass("disabled")
          .append("<span class='label'>Requires Community Features</span>");
        $("#badge_awardability_admins").attr("checked", true);
      <% end %>
      
      <% if !@group.has?(:privacy) %>
        // Public group: Fix badge settings
        $("#badge_visibility_private").attr("disabled", true).parent().addClass("disabled")
          .append("<span class='label'>Closed Groups Only</span>");
      <% end %>

    });

  </script>

  <div id="settings" class="modal hide fade" tabindex="-1" role="dialog" 
   aria-labelledby="mimm-label" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="mimm-label">Badge settings</h3>
    </div>

    <div class="modal-body">
      <div class="bl-modal-form">
        <div class="form-body">
          <%= simple_form_for [@group, @badge], url: group_badge_path(@group, @badge), 
              html: { id: 'settings-form', class: 'form-horizontal' } do |f| %>

            <%= f.input :visibility, as: :radio_buttons, 
              label: 'Who can see the badge contents?', 
              hint: 'This setting controls the visibility of the lists of experts and learners, the wiki/requirement pages and the ' \
                'visibility of this badge within the list of badges on the group page. The badge image, summary, basic requirement ' \
                'details and overview are always visible to anyone with the badge link. Visibility of posted evidence is set on each ' \
                'individual requirement.', include_blank: false, 
              collection: @badge_visibility_options %>

            <%= f.input :editability, as: :radio_buttons, label: 'Who can edit the badge?', 
              include_blank: false, collection: @badge_editability_options %>

            <%= f.input :awardability, as: :radio_buttons, label: 'Who can award the badge?', 
              include_blank: false, collection: @badge_awardability_options %>

            <% if @badge.tracks_progress? %>
              <%= f.input :send_validation_request_emails, as: :radio_buttons, include_blank: false,
                label: 'Feedback request emails', collection: @send_email_options, 
                hint: "By default, feedback request emails are sent automatically to those who " \
                  + "can award the badge whenever a #{@badge.learner} completes all of the " \
                  + "badge requirements." %>
            <% end %>

          <% end %>
         </div>        
      </div>
    </div>

    <div class="modal-footer">
      <button class="btn btn-primary" aria-hidden="true" 
          onclick="$('#settings-form').submit();">
        Save changes
      </button>
      <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    </div>
  </div>

<% end %>

<% if @can_award_badge && !@group.has?(:bulk_tools) %>

  <!-- === BULK TOOLS FEATURE EXPLANATION MODAL === -->

  <div id="bulk-tools" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="mimm-label" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="mimm-label">Bulk awarding feature not enabled</h3>
    </div>

    <div class="modal-body">
      <div class="bl-modal-form">
        <div class="form-body">
          <% if @group.paid? %>
            <p>
              <%= @group.name %> is currently a paid group with a subscription plan that does
              not include bulk awarding.
            </p>
          <% else %>
            <p>
              <%= @group.name %> is currently a free group. Bulk awarding is only 
              available to paid groups whose subscriptions include the feature. 
            </p>
          <% end %>
          <p>
            Badge List's bulk awarding feature lets you award a badge to a large list of people at once.
            With the bulk awarding feature, all badge awarders are able to import badge awardees from a CSV file or manually build a 
            list by pasting in a collection of email addresses.
          </p>
          <p>
            Click the button below to read more about subscription plans which include bulk awarding.
          </p>
       </div>        
      </div>
    </div>

    <div class="modal-footer">
      <a href="/pricing" target="_blank" class="btn btn-success">
        <i class="fa fa-list-alt"></i>
        View plans &amp; pricing
      </a>
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
  </div>

<% end %>

<!-- === PAGE HEADER === -->

<div class="row add-top-margin">
  <div class="span12">
    <div class="header-bar badge-header-bar">
      <table class="info-table">
        <tbody>
          <tr class="body-row">
            <td class="left-image">
              <%= image_tag @badge.image_url(:medium) %>
            </td>
            <td class="single-panel">
              <h1>
                <%= @badge.name %>
                
                <% if @current_user_is_admin || @badge_list_admin %>
                  <a href="#settings" class="label-link" data-toggle="modal" rel="tooltip"
                      title="<%= visibility_details[:summary] %>">
                    <span class="label">
                      <i class="fa <%= visibility_details[:icon] %>"></i> 
                      <%= visibility_details[:label] %>
                    </span>
                  </a>
                <% else %>
                  <span class="label" data-toggle="tooltip" 
                      title="<%= visibility_details[:summary] %>">
                    <i class="fa <%= visibility_details[:icon] %>"></i> 
                    <%= visibility_details[:label] %>
                  </span>
                <% end %>
              </h1>
              <h2>
                <%= link_to @group.name, @group, title: "View group page" %>
              </h2>
              <h3>
                <%= @badge.summary %>
              </h3>
            </td>
          </tr>

          <tr class="footer-row <%= (can_join_badge) ? 'highlight-secondary' : '' %>">
            <td colspan="2">
              <span class="label-text">
                <% if @current_user_is_expert %>
                  You're a badge <%= @expert %> 
                  <% if @log.show_on_profile %>
                    and the badge is visible on your 
                    <%= link_to 'badge profile', current_user, 
                      title: 'View your badge profile' %>.
                  <% elsif @log.show_on_badge %>
                    but the badge is hidden from your 
                    <%= link_to 'badge profile', current_user, 
                      title: 'View your badge profile' %>.
                  <% else %>
                    but your name is hidden from the list of <%= @experts %>.
                  <% end %>
                <% elsif @current_user_is_learner %>
                  You're a badge <%= @learner %>. 
                  <% if !@log.show_on_badge %>
                    Your name is hidden from the list of <%= @learners %>.
                  <% end %>
                <% elsif @current_user_is_admin %>
                  You're a group admin.
                <% elsif can_join_badge %>
                  To get this badge, join it and submit the required evidence.
                <% elsif is_group_member || can_join_group  %>
                  This badge is awarded directly by <%= @badge.badge_awarders %>.
                <% else %>
                  This is a private badge.
                <% end %>
              </span>
              <ul class="action-list">
                <% if @current_user_is_expert %>
                  <li>
                    <%= link_to '<i class="fa fa-share-alt"></i> Share the badge'.html_safe, 
                      group_badge_log_path(@group, @badge, @log) + '#badge-sharing', 
                      class: 'btn btn-small' %>
                  </li>
                <% end %>
                <% if @current_user_is_expert || @current_user_is_learner %>
                  <li>
                    <%= link_to \
                      '<i class="fa fa-sliders"></i> Edit badge membership'.html_safe,
                      '#log-visibility', class: 'btn btn-small', data: { toggle: 'modal' } %>
                  </li>
                <% elsif can_join_badge %>
                  <li>
                    <% if current_user.present? %>
                      <%= link_to '<i class="fa fa-plus-circle"></i> Join this badge'.html_safe, 
                        "#{group_badge_path(@group, @badge)}/join", class: 'btn btn-small' %>
                    <% else %>
                        <a href="#sign-in-to-join" class="btn btn-small" data-toggle="modal">
                          <i class="fa fa-plus-circle"></i> Join this badge
                        </a>
                    <% end %>
                  </li>
                <% end %>
                <% if @can_edit_badge %>
                  <li>
                    <%= link_to '<i class="fa fa-pencil"></i> Edit the badge'.html_safe, 
                      edit_group_badge_path(@group, @badge), class: 'btn btn-small' %>
                  </li>
                <% end %>
                <% if @current_user_is_admin || @badge_list_admin  %>
                  <li class="collapsible">
                    <div class="dropdown">
                      <a href="#" class="dropdown-toggle" id="dropdown-settings"
                        role="button" data-toggle="dropdown" data-target="#" title="Admin Options">
                        <i class="fa fa-cog"></i>
                        <i class="fa fa-caret-down"></i>
                      </a>
                      <ul class="dropdown-menu pull-right" role="menu"
                          aria-labelledby="dropdown-settings">
                        <li>
                          <%= link_to '<i class="fa fa-wrench"></i> '.html_safe \
                            + 'Badge settings', '#settings', data: { toggle: 'modal' } %>
                        </li>
                        <li class="divider"></li>
                        <% if @current_user_is_owner || @badge_list_admin  %>
                          <li>
                            <%= link_to '<i class="fa fa-arrow-circle-o-right"></i> '.html_safe \
                              + 'Move to another group', '#move-badge', data: { toggle: 'modal' } %>
                          </li>
                        <% end %>
                        <li>
                          <%= link_to '<i class="fa fa-remove"></i> Delete Badge'.html_safe, 
                            [@group, @badge], method: :delete, data: 
                              { confirm: 'WARNING: THIS WILL PERMANENTLY DESTROY DATA. ' \
                                + 'Are you absolutely sure you want to permanently delete ' \
                                + 'this badge?' } %>
                        </li>
                      </ul>
                    </div>
                  </li>
                <% end %>
              </ul>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- === TOPIC LIST === -->

<% if !@requirements_json_clone.blank? %>
    
  <div class="tab-pane" id="requirements">

    <div class="row">
      <div class="span12">
        <div class="tab-header">
          <% if @current_user_is_expert || @current_user_is_learner %>
            <%= link_to "<i class='fa fa-user'></i> View your #{@badge.progress_log}".html_safe, 
              [@group, @badge, @log], id: 'view-your-log', class: 'btn btn-small btn-primary' %>
          <% end %>

          <h2>Required Evidence</h2>
          
          <% if @current_user_is_member || @current_user_is_admin || @badge_list_admin %>
            <h3 class="collapse-when-small">
              <% if @badge.editability == "admins" %>
                <i class="fa fa-key"></i> Editable by admins only
              <% else %>
                <i class="fa fa-key"></i> Editable by <%= @experts %>
              <% end %>

              <% if @current_user_is_admin || @badge_list_admin %>
                <a href="#settings" class="btn h3-btn" data-toggle="modal">
                  Settings
                </a>
              <% end %>
            </h3>
          <% end %>
        </div>
      </div>
    </div>

    <div class="row" id="topic-list-row">
      <div class="span12" data-bl-dyncol="parent" data-bl-dyncol-group="topics" 
           data-bl-dyncol-width="12">

        <% @requirements.each do |tag| %>

          <%= render 'shared/badge_requirement', group: @group, badge: @badge, tag: tag, 
            log: @log, requirements_counts: @requirements_counts %>

        <% end %>

      </div>
    </div>

  </div>

<% end %>


<!-- === BADGE OVERVIEW === -->

<% if @badge.has_overview? || @can_edit_badge %>

  <div class="tab-pane" id="overview">

    <div class="row">
      <div class="span12">
        <div class="tab-header merge-with-card <%= (@badge.has_overview?) ? '' : 'empty' %>">
          <% if @can_edit_badge %>
            <a tabindex="-1" class="btn btn-small" id="edit-overview" data-toggle="custom" 
              data-hide="#edit-overview,#overview-row" 
              data-focus="#badge_info" data-show="#overview-inline-form">

                <% if @badge.has_overview? %>
                  <i class="fa fa-pencil"></i> Edit overview
                <% else %>
                  <i class="fa fa-plus"></i> Add overview
                <% end %>
                
            </a>
          <% end %>

          <h2>Badge Overview</h2>

          <% if @current_user_is_member || @current_user_is_admin || @badge_list_admin %>
            <h3 class="collapse-when-small">
              <% if @badge.editability == "admins" %>
                <i class="fa fa-key"></i> Editable by admins only
              <% else %>
                <i class="fa fa-key"></i> Editable by <%= @experts %>
              <% end %>

              <% if @current_user_is_admin || @badge_list_admin %>
                <a href="#settings" class="btn h3-btn" data-toggle="modal">
                  Settings
                </a>
              <% end %>
            </h3>
          <% end %>
        </div>
      </div>
    </div>

    <div class="row" id="overview-row">
      <% if @badge.has_overview? %>
        <div class="span12">
          <div class="info-card text-card">
            <% @badge.info_sections.each do |section_text| %>
              <div class="section-container">
                <%= section_text.html_safe %>
              </div>
            <% end unless @badge.info_sections.nil? %>
          </div>
        </div>
      <% end %>
    </div>

    <% if @can_edit_badge %>

      <!-- === EDIT BADGE OVERVIEW INTERFACE === -->

      <div class="bl-inline-form" id="overview-inline-form" style="display: none">              
        <%= simple_form_for [@group, @badge], id: 'edit-badge-info-form' do |f| %>

          <div class="form-body">
            <%= f.input :info, as: :text, label: 'Edit Badge Overview', 
              input_html: { class: "huge-text-area rich-text-area" } %>
          </div>

          <div class="form-footer">
            <%= f.button :submit, 'Save changes', class: 'btn btn-primary' %>
            <a class="btn" data-toggle="custom"  data-hide="#overview-inline-form" 
              data-show="#edit-overview,#overview-row">Cancel</a>
          </div>

        <% end %>

      </div>

    <% end %>

  </div>

<% end %>

<% if @can_see_badge %>

  <!-- === BADGE WIKI === -->

  <% if @badge.has_wikis? || @can_edit_badge %>

    <div class="tab-pane" id="wiki">
  
      <div class="row">
        <div class="span12">
          <div class="tab-header no-border solo-header <%= (@badge.has_wikis?) ? '' : 'empty' %>">
            <%= link_to "<i class='fa fa-book'></i> View Badge Wiki".html_safe,
              group_badge_path(@group, @badge) + '/topics', class: "btn btn-small" %>

            <h2>Badge Wiki</h2>
          </div>
        </div>
      </div>

    </div>

  <% end %>

  <!-- === EXPERTS TAB === -->

  <div class="tab-pane" id="<%= @experts.parameterize %>">

      <div class="row">
        <div class="span12">
          <div class="tab-header">
            <% if @can_award_badge %>
              <% unless @badge.validation_threshold > 1 %>
                <%= link_to '<i class="fa fa-shield"></i> Award the badge'.html_safe, badge_issue_path(@group, @badge), 
                  class: 'btn btn-small', id: 'award-badge' %>
                
                <% if @group.has?(:bulk_tools) %>
                  <%= link_to '<i class="fa fa-table"></i> Bulk award'.html_safe, add_endorsements_form_path(@group, @badge), 
                    class: 'btn btn-small', id: 'bulk-award-badge' %>
                <% else %>
                  <%= link_to '<i class="fa fa-table"></i> Bulk award'.html_safe, '#bulk-tools', class: 'btn btn-small', 
                    id: 'bulk-award-badge', data: { toggle: 'modal' } %>
                <% end %>
              <% end %>
            <% end %>
            
            <% if @current_user_is_admin || @badge_list_admin %>
              <% if @show_emails %>
                <%= link_to '<i class="fa fa-eye-slash"></i> Hide emails'.html_safe,
                    group_badge_path(@group, @badge), class: 'btn btn-small' %>
              <% else %>
                <%= link_to '<i class="fa fa-eye"></i> Show emails'.html_safe,
                    group_badge_path(@group, @badge, show_emails: true), class: 'btn btn-small' %>
              <% end %>
            <% end %>
              
            <h2>Badge <%= @Experts %></h2>

            <% if @current_user_is_member || @current_user_is_admin || @badge_list_admin %>
              <h3 class="collapse-when-small">
                <% if @badge.awardability == "admins" %>
                  <i class="fa fa-key"></i> Awardable by admins only
                <% else %>
                  <i class="fa fa-key"></i> Awardable by <%= @experts %>
                <% end %>

                <% if @current_user_is_admin || @badge_list_admin %>
                  <a href="#settings" class="btn h3-btn" data-toggle="modal">
                    Settings
                  </a>
                <% end %>
              </h3>
            <% end %>
          </div>

        </div>
      </div>

      <% unless @badge.expert_count == 0 %>

        <div class="row">
          <div class="span12" data-bl-dyncol="parent" data-bl-dyncol-group="experts" 
               data-bl-dyncol-width="12">

              <%= render @expert_logs, badge: @badge, group: @group, \
                is_admin: (@current_user_is_admin || @badge_list_admin), show_email: @show_emails %>

          </div>
        </div>

        <div class="row">
          <div class="span12">
            <div class="pagination-footer">
              <div class="pagination" id="paginator-experts">
                <%= paginate @expert_logs, remote: true, param_name: 'pe' %>
              </div>
            </div>
          </div>
        </div>

      <% end %>

  </div>

  <% if @show_progress %>

    <!-- === LEARNERS TAB === -->

    <div class="tab-pane" id="<%= @learners.parameterize %>">

      <div class="row">
        <div class="span12">
          <div class="tab-header <%= (@badge.learner_count == 0) ? 'empty' : '' %>">
            <% if @can_edit_badge %>

              <%= link_to "<i class='fa fa-plus'></i> Invite #{@learners}".html_safe,
                  add_badge_learners_path(@group, @badge), class: 'btn btn-small' %>

              <% if @current_user_is_admin || @badge_list_admin %>
                <% if @show_emails %>
                  <%= link_to '<i class="fa fa-eye-slash"></i> Hide emails'.html_safe,
                      group_badge_path(@group, @badge), class: 'btn btn-small' %>
                <% else %>
                  <%= link_to '<i class="fa fa-eye"></i> Show emails'.html_safe,
                      group_badge_path(@group, @badge, show_emails: true), class: 'btn btn-small' %>
                <% end %>
              <% end %>
            
              <% if @can_award_badge && (@badge.validation_request_count > 0) %>
                <%= link_to "<i class='fa fa-flag-checkered'></i> ".html_safe \
                  + pluralize(@badge.validation_request_count, 'feedback request'), 
                  group_review_path(@group, badge: @badge.url), 
                  class: 'btn btn-small highlight-primary' %>
              <% end %>
            <% end %>

            <h2>Badge <%= @Learners %></h2>
          </div>
        </div>
      </div>

      <% unless @badge.learner_count == 0 %>

        <div class="row">
          
          <div class="span12" data-bl-dyncol="parent" data-bl-dyncol-group="learners" 
               data-bl-dyncol-width="12">

              <%= render @learner_logs, badge: @badge, group: @group, \
                is_admin: (@current_user_is_admin || @badge_list_admin), show_email: @show_emails %>

          </div>
        </div>

        <div class="row">
          <div class="span12">
            <div class="pagination-footer">
              <div class="pagination" id="paginator-learners">
                <%= paginate @learner_logs, remote: true, param_name: 'pl' %>
              </div>
            </div>
          </div>
        </div>

      <% end %>

    </div>

  <% end %>

<% else %>
  
  <div class="row">
    <div class="well span7 offset2">
      <h3>This is a <%= visibility_details[:label].downcase %> badge</h3>
      <p>
        The contents of this badge are <%= visibility_details[:summary].downcase %>.
      </p>
    </div>
  </div>

<% end %>