<% provide(:title, 'Change account info') %>

<% 
  if @user.errors.blank?
    form_error = nil
  elsif !@user.errors[:password].blank? || !@user.errors[:password_confirmation].blank?
    form_error = 'change-password'
  else
    form_error = 'edit-user-info'
  end 
%>

<% if !@user.confirmed? || @user.pending_reconfirmation? %>
  <div class="well well-tertiary add-top-margin">
    <i class="fa fa-exclamation-triangle header-icon"></i>
    <h2>Email verification needed</h2>
    <p>
      You need to click the verification link to confirm your Badge List account.
      (<%= link_to 'Click here to get a new link', new_confirmation_path(resource_name) %>)
    </p>
  </div>
<% end %>

<div class="row add-top-margin">
  <div class="span12">
    <div class="header-bar user-header-bar">
      <table class="info-table">
        <tbody>
          <tr class="body-row">
            <td class="left-image">
              <%= gravatar_for(@user, :size => 100, :class => 'img-circle') %>
            </td>
            <td class="single-panel">
              <h1><%= @user.name %></h1>
              <h2><%= @user.username_with_caps %></h2>
              <h3><i class="fa fa-envelope"></i> <%= @user.email %></h3>
            </td>
          </tr>

          <tr class="footer-row">
            <td colspan="2">
              <span class="label-text">
                You've been a Badge List member since 
                <%= @user.created_at.to_s(:full_date) %>
              </span>
              <ul class="action-list">
                <li>
                  <%= link_to \
                    "<i class='fa fa-exclamation-circle'></i> Delete your account".html_safe, 
                    registration_path(resource_name), 
                    :data => { :confirm => "Are you absoluetly sure? This can't be undone." }, 
                    :method => :delete, :class => "btn btn-small" %>
                </li>
                <li>
                  <%= link_to "<i class='fa fa-shield'></i> View your badge profile".html_safe, 
                    user_path(@user), class: 'btn btn-small' %>
                </li>
              </ul>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- === GROUP LIST === -->

<div class="row">
  <div class="span12">
    <div class="tab-header merge-with-card <%= (@user.owned_group_ids.blank?) ? 'empty' : '' %>">
      <%= link_to "<i class='fa fa-plus'></i> Create new group".html_safe, new_group_path, 
        class: "btn btn-small" %>

      <h2>Groups you own</h2>
    </div>
  </div>
</div>

<% unless @user.owned_group_ids.blank? %>
  <div class="row" id="topic-list-row">
    <div class="span12">
      <div class="info-card text-card group-list-card">
        <ul>
          <% @user.owned_groups.asc(:name).each do |group| %>
            <li>
              <%= link_to group_image_tag_for(group) + " " + group.name, group, 
                title: "View the learning group" %>
              <span class="no-link">
                <% if group.private? %>
                  <i class="fa fa-lock"></i> Private
                <% else %>
                  <i class="fa fa-globe"></i> Public
                <% end %>
              </span>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>

<!-- === ACCOUNT DETAILS === -->

<div class="row">
  <div class="span12">
    <div class="tab-header merge-with-card">
      <div id="account-edit-buttons" style="<%= (form_error) ? 'display: none;' : '' %>">
        <a tabindex="-1" class="btn btn-small" id="edit-user-info" data-toggle="custom" 
          data-hide="#account-edit-buttons,#account-details-row" data-show="#edit-user-info-form"
          data-focus="#user_email">

          <i class="fa fa-pencil"></i> Edit user info
        </a>
        <a tabindex="-1" class="btn btn-small" id="change-password" data-toggle="custom" 
          data-hide="#account-edit-buttons,#account-details-row" 
          data-focus="#user_current_password" data-show="#change-password-form">

          <i class="fa fa-key"></i> Change password
        </a>
      </div>

      <h2>Update account details</h2>
    </div>
  </div>
</div>

<div class="row" id="account-details-row" style="<%= (form_error) ? 'display: none;' : '' %>">
  <div class="span12">
    <div class="info-card text-card">
      Click one of the buttons in the header above to edit your account details.
    </div>
  </div>
</div>

<!-- === CHANGE PASSWORD FORM === -->

<div class="bl-inline-form" id="change-password-form" 
    style="<%= (form_error == 'change-password') ? '' : 'display: none;' %>">
  <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), 
      :html => { :method => :put, :class => 'form-horizontal' }) do |f| %>
    
    <div class="form-body">
      <%= f.error_notification %>
      
      <%= f.input :email, :as => :hidden, :required => true %>
      <%= f.input :current_password, :required => true %>
      <%= f.input :password, :label => 'New password', :autocomplete => "off", :required => true %>
      <%= f.input :password_confirmation, :label => 'Confirm new password', :autocomplete => "off", 
        :required => true %>
    </div>

    <div class="form-footer">
      <%= f.button :submit, "Change password", :class => "btn btn-info" %>
      <a class="btn" data-toggle="custom"  data-hide="#change-password-form" 
        data-show="#account-edit-buttons,#account-details-row">Cancel</a>
    </div>

  <% end %>
</div>

<!-- === EDIT USER INFO FORM === -->

<div class="bl-inline-form" id="edit-user-info-form" 
    style="<%= (form_error == 'edit-user-info') ? '' : 'display: none;' %>">
  <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), 
      :html => { :method => :put, :class => 'form-horizontal' }) do |f| %>
    
    <div class="form-body">
      <%= f.error_notification %>
      
      <%= f.input :email, :label => "Your email" %>
      <%= f.input :name, :label => "Your full name" %>
      <%= f.input :username_with_caps, :label => "Your username" %>
      <%= f.input :current_password, :label => "Confirm your password", :required => true %>
    </div>

    <div class="form-footer">
      <%= f.button :submit, "Update info", :class => "btn btn-info" %>
      <a class="btn" data-toggle="custom"  data-hide="#edit-user-info-form" 
        data-show="#account-edit-buttons,#account-details-row">Cancel</a>
    </div>

  <% end %>
</div>