<% provide(:title, 'Join') %>

<div class="page-header">
  <h1>Create a new account</h1>
</div>


<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs bl-form-large bl-form-no-labels">
    <%= f.input :name, :required => true, :autofocus => true, :placeholder => 'Your name', :input_html => { :class => 'input-xlarge' } %>
    <%= f.input :email, :required => true, :placeholder => 'Your email', :input_html => { :class => 'input-xlarge' } %>
    <%= f.input :password, :required => true, :placeholder => 'Your password', :input_html => { :class => 'input-xlarge' } %>
  </div>

  <div class="controls">
    <%= f.button :submit, "Create an account", :class => 'btn-large btn-primary' %>
  </div>

  <div class="form-actions">
    <%= render "devise/shared/links" %>
  </div>
<% end %>

<script>
  
  var params_name='<%=j params[:name] unless params[:name].blank? %>';
  var params_email='<%=j params[:email] unless params[:email].blank? %>';

  $(document).ready(function() {
    if (params_name != '') $('#user_name').val(params_name);
    if (params_email != '') $('#user_email').val(params_email);
  });

</script>

