<% 
  provide(:title, "Sign up")
  provide(:body_class, "signup")
  provide(:hide_footer, true)
%>

<div class="row">

  <div class="span8 offset2">
    <div class="signin-box">
      
      <div class="signin-header">
        <h2>Create a new account</h2>
      </div>
      
      <div class="signin-form bl-form-no-labels">
        <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>

          <%= f.input :name, :required => true, :autofocus => true, :placeholder => 'Your name', :input_html => { :class => 'signin' } %>
          <%= f.input :username, :required => true, :placeholder => 'Your username', :input_html => { :class => 'signin' } %>
          <%= f.input :email, :required => true, :placeholder => 'Your email', :input_html => { :class => 'signin' } %>
          <%= f.input :password, :required => true, :placeholder => 'Your password', :input_html => { :class => 'signin' } %>
          

          <div class="controls">
            <%= f.button :submit, "Create an account", :class => 'btn-large' %>
          </div>

        <% end %>
      </div>
      
      <div class="form-actions">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>

</div>

<script>
  
  var params_name='<%=j params[:name] unless params[:name].blank? %>';
  var params_email='<%=j params[:email] unless params[:email].blank? %>';

  $(document).ready(function() {
    if (params_name != '') $('#user_name').val(params_name);
    if (params_email != '') $('#user_email').val(params_email);
  });

</script>

