<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    
    <table style="border-spacing: 0;">
      <tbody>
        <tr>
          <td style="border-top: 15px solid #FF7C1C;">
            <%= link_to image_tag(@badge.image_url(:medium), size: "100x100", \
              alt: @badge.name), group_badge_url(@group, @badge) %>
          </td>
          <td style="padding: 10px; border-top: 15px solid #FF7C1C;">
            
            <% if @to_creator %>
            
              <p>
                You have created a new badge in the <%= link_to @group.name, group_url(@group) %> learning group. 
                You are now the founding <%= @badge.expert %> of the <%= @badge.name %> badge.
              </p>
              <p>
                You can now share your badge to social networks and add it to your 
                Mozilla Open Badges Backpack.
              </p>

            <% else %>
            
              <p>
                You have been awarded the 
                <%= link_to @badge.name, group_badge_url(@group, @badge) %> 
                badge in Badge List. It has been added to your 
                <%= link_to 'badge profile', "#{ENV['root_url']}/u/#{@to_user.username_with_caps}"%>
                and you are now one of the <%= @badge.experts %>, congratulations!
              </p>
              <p>
                Click the link below to view your newly awarded badge.
                You'll be able to share it to social networks and add the badge to your Mozilla Open Badges Backpack.
                <% if @badge.tracks_progress? %>
                  Also be aware that all non-private entries in your progress log are now visible 
                  and will be linked to the badge as public evidence of your achievment. 
                <% end %>
              </p>
            
            <% end %>

          </td>
        </tr>
      </tbody>
    </table>

    <p style="text-align: center">
      <a href="<%= group_badge_log_url(@group, @badge, @log) %>"
        style="color: #fff; border: 2px solid #a8cb17; background-color: #bedf36; 
        padding: 10px 25px; border-radius: 500px; text-decoration: none; font-size: 18px;">
        
        View the badge

      </a>
    </p>
    
    <p style="margin-top: 40px; background-color: #eaeaea; color: #999; padding: 10px 15px;
      text-align: center; font-size: 14px;">
      
      This email was sent automatically by the Badge List app.
      Badge List is a badge-based tool for tracking learning progress. 
      If you take no action you will not receive any further emails about this change.

    </p>
  </body>
</html>