<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      <% if @entry.log_validated %>
        Congratulations! 
        You've received an endorsement from <%= @from_user.name %> for the <%= @badge.name %> 
        badge in Badge List.
      <% else %>
        You've gotten feedback from <%= @from_user.name %> for the <%= @badge.name %> 
        badge in Badge List.
      <% end %>
    </p>

    <p>
      <strong>View the <%= @noun %>:</strong> 
      <%= link_to group_badge_log_entry_url(@group, @badge, @log, @entry), 
        group_badge_log_entry_url(@group, @badge, @log, @entry) %> <br>
      <strong>View your progress log:</strong> 
      <%= link_to group_badge_log_url(@group, @badge, @log), group_badge_log_url(@group, @badge, @log) %>
    </p>

    <hr>

    <p>
      <strong><u>Content of the <%= @Noun %></u></strong>
    </p>

    <p><b>Summary:</b> <%= @entry.summary %></p>
    
    <% unless @entry.body.blank? %>
      <p><b>Body:</b></p>
      <p>
        <%= (@entry.body_sections.join '</p><hr><p>').html_safe %>
      </p>
    <% end %>

    <hr>
    
    <p>
      <i>
        This email was sent automatically by the Badge List app.
        Badge List is a badge-based tool for tracking learning progress. 
        If you take no action you will not receive any further emails about this change.
      </i>
    </p>
  </body>
</html>