<% 
  provide(:title, "#{@Noun} received for #{@badge.name}")
  provide(:color, 'purple')
  provide(:cta_text, "View the #{@noun}")
  provide(:cta_link, group_badge_log_entry_url(@group, @badge, @log, @entry))
%>

<p>
  <% if @entry.log_validated %>
    <b>Congratulations!</b> You've received an endorsement from
  <% else %>
    You've gotten feedback from 
  <% end %>
  <%= @from_user.name %>
  for the
  <%= link_to @badge.name, group_badge_url(@group, @badge) %> 
  badge in the
  <%= link_to @group.name, group_url(@group) %> 
  group.
</p>

<p style="padding: 20px; text-align: center; font-size: 20px; font-weight: bold; border-radius: 3px;
    background-color: <%= COLORS['grey'][100] %>; border: 1px solid <%= COLORS['grey'][300] %>;
    margin-top: 30px;">
  <img src="<%= @from_user.avatar_image_medium_url %>" style="width: 100px; display: inline-block;
    margin-bottom: 15px; border-radius: 500px; border: 3px solid <%= COLORS['grey'][600] %>;">
  <br>
  &ldquo;<%= @entry.summary %>&rdquo;
</p>