<% 
  provide(:title, "Pricing")
  provide(:body_classes, "pricing-page")

  provide(:include_metadata, true)
  provide(:metadata_title, 'Badge List Pricing')
  provide(:metadata_description, 'Open Groups are completely free. Closed Group plans start at ' \
    + '$5 per month and offer advanced privacy and group management features. K12 educators ' \
    + 'receive special discounts.')
  provide(:metadata_image, image_url('badge-list-icon.png'))
  provide(:metadata_image_width, '500')
  provide(:metadata_image_height, '500')
  provide(:metadata_site_name, 'Badge List')
  provide(:metadata_url, request.original_url)

  if current_user
    link_path = "#{new_group_path}?plan="
  else
    link_path = "#{new_user_registration_path}?plan="
  end
%>

<div class="row-fluid pricing-page-row page-banner-row">
  <div class="span6 offset3">
    <h1>Badge List Pricing</h1>
  </div>
</div>

<div class="row-fluid pricing-page-row page-banner-row">
  <div class="span6 offset3">
    <h2>Free Groups</h2>
    <span class="tag-line">
      Support unlimited users and cost nothing.
      All badges and evidence are completely public.
      Groups can switch between free and paid plans at any time.
    </span>
  </div>
</div>

<div class="row-fluid pricing-page-row section-banner-row">
  <div class="span6 offset3">
    <h2>Paid Groups</h2>
    <span class="tag-line">
      Include
      <span class="term" data-term="privacy-controls">privacy</span>
      controls, unlimited badges,  
      <span class="term" data-term="lifetime-hosting">free lifetime hosting</span>
      and up to 5,000 members.<br/><br/>
      (Have a bigger group? Email us at 
      <a href="mailto:solutions@badgelist.com">solutions@badgelist.com</a>.)
    </span>
  </div>
</div>

<!-- === TAB BAR === -->

<div class="row-fluid pricing-page-row">
  <div class="span8 offset2">

    <ul class="nav nav-tabs" id="tab-bar">
      <li class="active"><a href="#standard">Standard Pricing</a></li>
      <li><a href="#k12">K12 Pricing</a></li>
    </ul>

  </div>
</div>

<div class="row-fluid pricing-page-row plan-container">
  <div class="span12">
    <div class="tab-content">

      <!-- === STANDARD PRICING === -->
        
      <div class="tab-pane fade in active" id="standard">

        <div class="row-fluid pricing-page-row section-banner-row">
          <div class="span6 offset3">
            <span class="tag-line">
              <i class="fa fa-hand-o-right"></i>
              You can change or cancel your plan at any time.
            </span>
          </div>
        </div>

        <div class="row-fluid pricing-page-row plan-list-row">

          <!-- === SOLO PLAN === -->

          <div class="span4 plan-col solo">
            <div class="inner-col">
              <div class="title">
                <i class="fa fa-user"></i><br>Solo
              </div>
              <div class="price">
                <span class="currency-symbol">$</span>
                <span class="amount">10</span>
                <span class="suffix">/ month</span>
                <span class="footer">
                  ($110 if paid annually)
                </span>
              </div>
              <div class="feature-list">
                <ul>
                  <li>
                    1 <span class="term" data-term="admin">admin</span>
                    / <span class="term" data-term="one-badge-awarder">badge awarder</span>
                  </li>
                </ul>
              </div>
              <div class="the-button">
                <%= link_to 'Create a group', link_path + 'solo-1m-2', class: 'btn btn-large' %>
              </div>
            </div>
          </div>

          <!-- === TEAM PLAN === -->

          <div class="span4 plan-col team">
            <div class="inner-col">
              <div class="title">
                <i class="fa fa-users"></i><br>Team
              </div>
              <div class="price">
                <span class="currency-symbol">$</span>
                <span class="amount">30</span>
                <span class="suffix">/ month</span>
                <span class="footer">
                  ($330 if paid annually)
                </span>
              </div>
              <div class="feature-list">
                <ul>
                  <li>
                    3 <span class="term" data-term="admin">admins</span>
                  </li>
                  <li>
                    Unlimited 
                    <span class="term" data-term="unlimited-badge-awarders">badge awarders</span>
                  </li>
                </ul>
              </div>
              <div class="the-button">
                <%= link_to 'Create a group', link_path + 'team-1m-1', class: 'btn btn-large' %>
              </div>
            </div>
          </div>

          <!-- === ORG PLAN === -->

          <div class="span4 plan-col org">
            <div class="inner-col">
              <div class="title">
                <i class="fa fa-building"></i><br>Org
              </div>
              <div class="price">
                <span class="currency-symbol">$</span>
                <span class="amount">130</span>
                <span class="suffix">/ mo</span>
                <span class="footer">
                  ($1,430 if paid annually)
                </span>
              </div>
              <div class="feature-list">
                <ul>
                  <li>
                    <em>Everything in Team and...</em>
                  </li>
                  <li>
                    Unlimited <span class="term" data-term="admin">admins</span>
                  </li>
                  <li>
                    <span class="term" data-term="reporting">Reporting</span> features
                  </li>
                  <li>
                    Bulk badge awarding
                  </li>
                  <li>
                    Third-party <span class="term" data-term="integration">integrations</span>
                  </li>
                </ul>
              </div>
              <div class="the-button">
                <%= link_to 'Create a group', link_path + 'org-1m-1', class: 'btn btn-large' %>
              </div>
            </div>
          </div>

        </div> <!-- /.plan-list-row -->
        
      </div> <!-- /#standard.tab-pane -->

      <!-- === K12 PRICING === -->

      <div class="tab-pane fade" id="k12">

        <div class="row-fluid pricing-page-row section-banner-row">
          <div class="span6 offset3">
            <span class="tag-line">
              <i class="fa fa-gift"></i>
              Our special K12 pricing is limited to groups where the primary badge earners are 
              K12 students.<br>
              <br>
              <i class="fa fa-hand-o-right"></i>
              You can change or cancel your plan at any time.
            </span>
          </div>
        </div>

        <div class="row-fluid pricing-page-row section-banner-row">
          <div class="span6 offset3">
            <span class="tag-line">
              <strong>
                <i class="fa fa-lock"></i> Student Privacy Protection
              </strong><br><br>
              We offer an optional 
              <span class="term" data-term="domain-privacy">domain privacy</span> 
              add-on for <strong>$180 per domain</strong> per year.
              (School plans receive one private domain for free.)
              Email us at 
              <a href="mailto:solutions@badgelist.com">solutions@badgelist.com</a>
              for more info.
            </span>
          </div>
        </div>

        <div class="row-fluid pricing-page-row plan-list-row">

          <!-- === TEACHER PLAN === -->

          <div class="span4 plan-col solo">
            <div class="inner-col">
              <div class="title">
                <i class="fa fa-user"></i><br>Teacher
              </div>
              <div class="price">
                <span class="currency-symbol">$</span>
                <span class="amount">25</span>
                <span class="suffix">/ year</span>
              </div>
              <div class="feature-list">
                <ul>
                  <li>
                    1 <span class="term" data-term="teacher">teacher</span>
                  </li>
                </ul>
              </div>
              <div class="the-button">
                <%= link_to 'Create a group', link_path + 'k12-teacher-1y-1', 
                  class: 'btn btn-large' %>
              </div>
            </div>
          </div>

          <!-- === SCHOOL PLAN === -->

          <div class="span4 plan-col org">
            <div class="inner-col">
              <div class="title">
                <i class="fa fa-building"></i><br>School
              </div>
              <div class="price">
                <span class="currency-symbol">$</span>
                <span class="amount">65</span>
                <span class="suffix">/ month</span>
                <span class="footer">
                  ($700 if paid annually)
                </span>
              </div>
              <div class="feature-list">
                <ul>
                  <li>
                    <span class="term" data-term="domain-privacy">Domain privacy</span>
                    for 1 domain
                  </li>
                  <li>
                    Unlimited <span class="term" data-term="admin">admins</span> &amp;
                    <span class="term" data-term="unlimited-badge-awarders">badge awarders</span>
                  </li>
                  <li>
                    <span class="term" data-term="reporting">Reporting</span> features
                  </li>
                  <li>
                    Bulk badge awarding
                  </li>
                  <li>
                    Third-party <span class="term" data-term="integration">integrations</span>
                  </li>
                </ul>
              </div>
              <div class="the-button">
                <%= link_to 'Create a group', link_path + 'k12-school-1m-1', 
                  class: 'btn btn-large' %>
              </div>
            </div>
          </div>
          
        </div> <!-- /.plan-list-row -->

      </div> <!-- /#k12.tab-pane -->

    </div> <!-- /.tab-content -->
  </div> <!-- /.span -->
</div> <!-- /.row -->

<!-- === PRICING FOOTER === -->

<div class="row-fluid pricing-page-row footer-row">
  <div class="span8 offset2 inner-col">

    <span class="tag-line">
      <i class="fa fa-comments"></i> Have questions? Read the 
      <a href="https://www.badgelist.com/help/docs/Pricing-FAQ" target="_blank">
        Pricing FAQ
      </a>
      or email us at 
      <a href="mailto:solutions@badgelist.com">solutions@badgelist.com</a>.
    </span>

  </div>
</div>

