<%
  # OPTIONS:
  #   show_badge >> Is the badge image shown? >> default = true
  #   date_format >> How is the date displayed? >> options = :full, :ago, :learner_week >> default = :full

  show_badge = true if show_badge.nil?
  date_format ||= :full

  # Force preload of important variables
  entry.log.reload if entry.log.badge.nil?
  entry.log.badge.reload if !entry.log.badge.nil? && entry.log.badge.group.nil?
  entry.log.badge.group.reload if !entry.log.badge.nil? && !entry.log.badge.group.nil?
%>


<div class="info-card entry-card <%= entry.category %>" data-bl-dyncol="child">
  
  <% if !entry.log.nil? && !entry.log.badge.nil? && !entry.log.badge.group.nil? %>

    <table>
      <tr class="card-headline-row <%= (show_badge) ? 'with-badge' : 'no-badge' %>">
        <td class="headline-left">
          <% if show_badge %>
            <%= link_to image_tag(group_badge_path(entry.log.badge.group, entry.log.badge, format: :png)), 
              group_badge_path(entry.log.badge.group, 
              entry.log.badge), title: entry.log.badge.name, data: { toggle: 'tooltip', 
                placement: 'right' } %>
          <% end %>
        </td>
        <td class="headline-middle">
          <h2>
            <% if entry.creator != entry.log.user %>
              <span class="creator-gravatar">
                <img src="<%= gravatar_url_for entry.creator %>" 
                  class="gravatar img-circle <%= entry.entry_creator_type %>"
                  title="Posted by <%= entry.creator.name %>" data-placement="bottom"
                  data-toggle="tooltip">
                
                <% if (entry.type == 'validation') && entry.log_validated %>
                  <span class="validation-result positive" title="Learning was positively validated"
                    data-toggle="tooltip">
                    &#10003;
                  </span>
                <% elsif (entry.type == 'validation') && !entry.log_validated %>
                  <span class="validation-result negative" title="Learning was negatively validated"
                    data-toggle="tooltip">
                    &#10007;
                  </span>
                <% else %>
                  <span class="arrow">&#9654;</span>
                <% end %>
              </span>
            <% end %>
            <% if show_badge %>
              <%= link_to \
                "##{entry.entry_number}. " + ((entry.summary.length>90) ? "#{entry.summary[0..90]}..." : entry.summary), 
                [entry.log.badge.group, entry.log.badge, entry.log, entry] %>
            <% else %>
              <%= link_to \
                "##{entry.entry_number}. #{entry.summary}", 
                [entry.log.badge.group, entry.log.badge, entry.log, entry] %>
            <% end %>
          </h2>
        </td>
        <td class="headline-right">
          <%= link_to gravatar_for(entry.log.user, class: "img-circle #{entry.log_user_type}"), 
            [entry.log.badge.group, entry.log.badge, entry.log],
            title: "View #{entry.log.user.name}'s progress log" %>
          <abbr class="username <%= entry.log_user_type %>" data-toggle="tooltip" data-placement="bottom"
            title="<%= "#{entry.log.user.name} (#{entry.log_user_type.capitalize} at time of #{entry.type})" %>" >
            <%= entry.log.user.username %>
          </abbr>
        </td>
      </tr>
      <tr class="card-body-row">
        <td class="card-body" colspan="3">
          <div class="card-body-inner" data-mark-overflow="true">
            <% entry.body_sections.each do |section_text| %>
              <div class="section-container"><%= section_text.html_safe %></div>
            <% end %>
            
            <% unless entry.tags.blank? %>
              <div class="card-body-footer">
                <label><i class="icon-tags"></i> Tags:</label> 
                <% entry.tags.each do |tag| %>
                  <% comma = (tag == entry.tags.last) ? '' : ', ' %>
                  <%= link_to tag, \
                    "/#{entry.log.badge.group.url}/#{entry.log.badge.url}/#{tag}" %><%= comma %>
                <% end %>
              </div>
            <% end %>
          </div>
        </td>
      </tr>
      <tr class="card-footline-row">
        <td class="left-foot" colspan="2">
          <% if date_format == :ago %>
            <% if entry.updated_at <= Time.now %>
              <%= "#{time_ago_in_words(entry.updated_at).capitalize} ago" %>
            <% else %>
              <%= "#{time_ago_in_words(entry.updated_at).capitalize} from now" %>
            <% end %>
          <% elsif date_format == :learner_week %>
            <%= "Learner Week #{entry.learner_week_updated_at}" %> / 
          <% else %>
            <%= entry.updated_at.to_s(:full_date_time) %>
          <% end %>
        </td>
        <td class="right-foot">
          <% if entry.visibility == :anonymous %>
            <i class='icon-eye-open' data-toggle='tooltip' 
              title='Visible to public'></i>
          <% elsif entry.visibility == :members %>
            <i class='icon-eye-close' data-toggle='tooltip' 
              title='Only visible to members now, visible to public when badge is issued'></i>
          <% elsif entry.visibility == :experts %>
            <i class='icon-lock' data-toggle='tooltip' 
              title='Only visible to badge experts'></i>
          <% else %>
            <i class='icon-warning-sign' data-toggle='tooltip' 
              title='Only visible to log owner / entry creator'></i>
          <% end %>
        </td>
      </tr>
    </table>

  <% else %>

    <p><%= "Error displaying entry with id: #{entry.id}" %></p>

  <% end %>
    
</div>
