<script type="text/javascript">
  $(document).ready(function() {
    $('#entry_summary').focus();
  });
</script>

<%= simple_form_for [@group, @badge, @log, @entry], html: {class: 'form-horizontal'} do |f| %>
  <%= f.error_notification %>

  <div class="form-body">
    <% if @entry.type == 'validation' %>
      <%= f.input :log_validated, as: :radio_buttons, 
        label: "In your expertise, has #{@user.name} achieved this badge?",
        collection: [
          ['<b>Yes</b>, issue the badge'.html_safe, true],
          ['<b>Not yet</b>, greater mastery is needed'.html_safe, false]
        ] %>

        <div class="paragraph">
          <p>
            <em><strong>Please explain your opinion. Include lots of detail!</strong></em>
          </p>
        </div>
    <% end %>

    <% if @entry.format == 'link' %>

      <!-- === WEB LINK === -->
      <%= f.input :link_url, label: 'Link URL', auto_focus: true, 
        input_html: { title: 'Paste a web URL', 
        placeholder: 'http://example.org/web-link.html', class: 'input-xlarge', 
        data: { toggle: 'tooltip' } } %>

      <%= f.input :summary, as: :text, label: 'Description', input_html: { data: {
        :'character-count' => true, :'max-length' => Entry::MAX_SUMMARY_LENGTH },
        cols: '200', rows: '5' } %>

    
    <% elsif @entry.format == 'tweet' %>

      <!-- === TWITTER LINK === -->
      <%= f.input :link_url, label: 'Tweet URL', input_html: { class: 'input-xxlarge',
        placeholder: 'https://twitter.com/example/status/9876543210',
        title: 'To get the URL of a tweet click on it, then click "Details" along the bottom.', 
        data: { toggle: 'tooltip' } } %>

      <a href="https://twitter.com/intent/tweet?screen_name=BadgeList" class="twitter-mention-button" data-size="large" data-related="BadgeList">Tweet to @BadgeList</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    
    <% elsif @entry.format == 'image' %>
      
      <!-- === IMAGE === -->
      <%= f.input :uploaded_image, as: :file, label: 'Upload an Image',
        input_html: { accept: 'image/*' } %>
      <%= f.input :uploaded_image_cache, as: :hidden %>
      <%= f.input :remove_uploaded_image, as: :hidden %>

      <%= f.input :summary, as: :text, label: 'Caption (Optional)', 
        input_html: { data: {
        :'character-count' => true, :'max-length' => Entry::MAX_SUMMARY_LENGTH },
        cols: '200', rows: '5' } %>

    <% elsif @entry.format == 'code' %>

      <!-- === CODE SNIPPET RESPONSE === -->

      <%= f.input :body, as: :text, label: 'Code', 
        input_html: { class: "huge-text-area code-text-area" } %>  
      <%= javascript_include_tag "ace/ace.js" %>
      <script>
          var editor = ace.edit("entry_body");
          editor.setTheme("ace/theme/idle_fingers");
          editor.getSession().setMode("ace/mode/javascript"); // Good looking default
          editor.getSession().setUseWorker(false);
          editor.setOptions({ maxLines: Infinity, minLines: 20 });

          $(document).ready(function() {
            // Update the code format when the select list changes
            $("#entry_code_format").change(function() { 
              editor.getSession().setMode("ace/mode/" + $(this).val()) 
              editor.getSession().setUseWorker(true);
            });

            // Update the input element body each time the code changes
            editor.getSession().on('change', function() {
              $("#entry_body").val(editor.getValue());
            });
            
            // Focus and scroll to the editor
            $(editor).focus();
            $(window).scrollTo(editor);
          });
      </script>
      
      <%= f.input :body, as: :hidden %>

      <%= f.input :code_format, as: :select, label: 'Code Language', 
        collection: @code_language_options %>

      <%= f.input :summary, as: :text, label: 'Description', input_html: { data: {
        :'character-count' => true, :'max-length' => Entry::MAX_SUMMARY_LENGTH },
        cols: '200', rows: '5' } %>

    <% else %>
      
      <%= f.input :summary, as: :text, label: 'Summary', auto_focus: true, input_html: { data: {
        :'character-count' => true, :'max-length' => Entry::MAX_SUMMARY_LENGTH },
        cols: '200', rows: '5' } %>

      <!-- === FREE TEXT RESPONSE === -->
      <%= f.input :body, as: :text, label: 'Body', 
        input_html: { class: "huge-text-area rich-text-area" } %>
    
    <% end %>

    <%= f.input :type, as: :hidden %>
    <%= f.input :format, as: :hidden %>
    <%= f.input :parent_tag, as: :hidden %>

  </div>
  
  <div class="form-footer">
    <%
      if (@entry.type == 'validation')
        save_button_text = (@entry.new_record?) ? 'Submit my validation' : 'Update my validation'
      else
        save_button_text = (@entry.new_record?) ? 'Post evidence' : 'Update my evidence'
      end
    %>
    <%= f.button :submit, save_button_text, class: 'btn btn-primary' %>
    <%= 
      if @entry.new_record?
        link_to "Cancel", [@group, @badge, @log], class: "btn"
      else 
        link_to "Cancel", [@group, @badge, @log, @entry], class: "btn"
      end
    %>
  </div>
<% end %>