<script type="text/javascript">
  $(document).ready(function() {
    $('#entry_summary').focus();
  });
</script>

<%= simple_form_for [@group, @badge, @log, @entry], html: {class: 'form-horizontal'} do |f| %>
  <%= f.error_notification %>

  <div class="form-body">
    <% if @entry.type == 'validation' %>
      <%= f.input :log_validated, as: :radio_buttons, 
        label: "In your expertise, has #{@user.name} achieved this badge?",
        collection: [
          ['<b>Yes</b>, issue the badge'.html_safe, true],
          ['<b>Not yet</b>, greater mastery is needed'.html_safe, false]
        ] %>

        <div class="paragraph">
          <p>
            <em><strong>Please explain your opinion. Include lots of detail!</strong></em>
          </p>
        </div>

    <% end %>

    <%= f.input :summary, as: :text, label: 'Summary', auto_focus: true, input_html: { data: {
      :'character-count' => true, :'max-length' => Entry::MAX_SUMMARY_LENGTH },
      cols: '200', rows: '5' } %>
    <%= f.input :body, as: :text, label: 'Body', 
      input_html: { class: "huge-text-area rich-text-area" } %>

    <%= f.input :type, as: :hidden %>
    <%= f.input :parent_tag, as: :hidden %>

  </div>
  
  <div class="form-footer">
    <%
      if (@entry.type == 'validation')
        save_button_text = (@entry.new_record?) ? 'Submit my validation' : 'Update my validation'
      else
        save_button_text = (@entry.new_record?) ? 'Post evidence' : 'Update my evidence'
      end
    %>
    <%= f.button :submit, save_button_text, class: 'btn btn-primary' %>
    <%= 
      if @entry.new_record?
        link_to "Cancel", [@group, @badge, @log], class: "btn"
      else 
        link_to "Cancel", [@group, @badge, @log, @entry], class: "btn"
      end
    %>
  </div>
<% end %>