<% 
  provide(:title, "Edit #{@entry.type.capitalize} ##{@entry.entry_number}")
  provide(:show_subheader, true)
  provide(:subheader_image, group_image_url_for(@group))
  provide(:include_rich_text, true) 
%>

<% content_for :subheader_links do %>
  <li>
    <%= link_to @group.url, [@group] %>
    <span class="divider">/</span>
  </li>
  <li>
    <%= link_to @badge.url, [@group, @badge] %>
    <span class="divider">/</span>
  </li>
  <li>
    u
    <span class="divider">/</span>
    <%= link_to @user.username, [@group, @badge] %>
    <span class="divider">/</span>
  </li>
  <li>
    <%= link_to @entry.entry_number, [@group, @badge, @log, @entry] %>
    <span class="divider">/</span>
  </li>
  <li class="active">Edit <%= @entry.type.capitalize %></li>
<% end %>

<div class="row">
  <div class="bl-form bl-form-entry span10 offset1">
    
    <div class="form-header">
      <% if @entry.type == 'validation' %>
        <% if @current_user_is_log_owner %>
          <h1>Update your self validation</h1>
        <% else %>
          <h1>Update your validation of <%= @user.name %>'s <%= @badge.progress_log %></h1>
        <% end %>
      <% else %>
        <% if @current_user_is_log_owner %>
          <h1>Update your post</h1>
        <% else %>
          <h1>Update your post on <%= @user.name %>'s progress log</h1>
        <% end %>
      <% end %>
      <div class="form-image">
        <i class="fa fa-comment"></i>
      </div>
    </div>

    <%= render 'form' %>

  </div>
</div>