<% 
  provide(:title, "Edit Post ##{@entry.entry_number}")
  provide(:show_subheader, true)
  provide(:subheader_image, group_image_url_for(@group))
  provide(:include_rich_text, true) 
%>

<% content_for :subheader_links do %>
  <li>
    <%= link_to @group.url, [@group] %>
    <span class="divider">/</span>
  </li>
  <li>
    <%= link_to @badge.url, [@group, @badge] %>
    <span class="divider">/</span>
  </li>
  <li>
    u
    <span class="divider">/</span>
    <%= link_to @user.username, [@group, @badge] %>
    <span class="divider">/</span>
  </li>
  <li>
    <%= link_to @entry.entry_number, [@group, @badge, @log, @entry] %>
    <span class="divider">/</span>
  </li>
  <li class="active">Edit Post</li>
<% end %>

<% if @parent_tag %>
  <!-- === PARENT TAG INFO === -->

  <div class="well secondary span9 offset1">
    <h4>This evidence is linked to</h4>
    <h3><%= "##{@parent_tag.name_with_caps}" %></h3>
    <p>
      <%= @parent_tag.summary %>
    </p>
  </div>
<% end %>

<!-- === ENTRY FORM === -->

<div class="row">
  <div class="bl-form bl-form-entry span10 offset1">
    
    <div class="form-header">
      <% if @entry.type == 'validation' %>
        <% if @current_user_is_log_owner %>
          <h1>Update your self endorsement</h1>
        <% else %>
          <h1>Update your feedback on <%= @user.name %>'s <%= @badge.progress_log %></h1>
        <% end %>
      <% else %>
        <% if @current_user_is_log_owner %>
          <h1>Update your post</h1>
        <% else %>
          <h1>Update your post on <%= @user.name %>'s progress log</h1>
        <% end %>
      <% end %>
      <div class="form-image">
        <i class="fa <%= @entry.format_icon %>"></i>
      </div>
    </div>

    <%= render 'form' %>

  </div>
</div>