<% 
  provide(:title, "New #{@entry.type.capitalize} - #{@badge.name}")
  provide(:show_subheader, true)
  provide(:subheader_image, group_image_url_for(@group))
  provide(:include_rich_text, true) 
%>

<% content_for :subheader_links do %>
  <li>
    <%= link_to @group.url, [@group] %>
    <span class="divider">/</span>
  </li>
  <li>
    <%= link_to @badge.url, [@group, @badge] %>
    <span class="divider">/</span>
  </li>
  <li>
    u
    <span class="divider">/</span>
    <%= link_to @user.username, [@group, @badge] %>
    <span class="divider">/</span>
  </li>
  <li class="active">New <%= @entry.type.capitalize %></li>
<% end %>

<% if !@parent_tag_name.blank? %>
  <!-- === PARENT TAG INFO === -->

  <div class="well secondary span9 offset1">
    <i class="fa fa-book header-icon"></i>

    <% if @parent_tag %>
      <h4>Posting evidence to</h4>
      <h3><%= "##{@parent_tag.name_with_caps}" %></h3>
      <p>
        <%= @parent_tag.summary %>
      </p>
    <% else %>
      <h4>Posting evidence to:</h4>
      <h3><%= "##{@parent_tag_name}" %></h3>
      <p>
        This is a new requirement that doesn't have a page yet. It will be created when you post
        this evidence.
      </p>
    <% end %>
  </div>
<% end %>

<!-- === ENTRY FORM === -->

<div class="row">
  <div class="bl-form bl-form-entry span10 offset1">
    
    <div class="form-header">

      <% if @entry.type == 'validation' %>
        <% if @current_user_is_log_owner %>
          <h1>Add self validation to your <%= @badge.progress_log %></h1>
        <% else %>
          <h1>Add validation to <%= @user.name %>'s <%= @badge.progress_log %></h1>
        <% end %>
      <% else %>
        <% if @current_user_is_log_owner %>
          <h1>Post evidence</h1>
        <% else %>
          <h1>Post evidence to <%= @user.name %>'s progress log</h1>
        <% end %>
      <% end %>
      <div class="form-image">
        <i class="fa fa-comment"></i>
      </div>
    </div>

    <%= render 'form' %>

  </div>
</div>