<% 
  if @entry.summary.blank?
    provide(:full_title, \
      "Post ##{@entry.entry_number} (#{@user.username_with_caps}) - #{@badge.name}")
  else
    provide(:full_title, "#{@entry.summary} - #{@badge.name}")
  end
  provide(:show_subheader, true)
  provide(:subheader_image, group_image_url_for(@group)) 
  provide(:include_rich_text, true)

  if @log.validation_status == 'validated'
    log_user_type = 'expert'
  else
    log_user_type = 'learner'
  end
%>

<% content_for :subheader_links do %>
  <li>
    <%= link_to @group.url_with_caps, @group %>
    <span class="divider">/</span>
  </li>
  <li>
    <%= link_to @badge.url_with_caps, [@group, @badge] %>
    <span class="divider">/</span>
  </li>
  <li>
    u
    <span class="divider">/</span>
    <%= link_to @user.username_with_caps, [@group, @badge, @log] %>
    <span class="divider">/</span>
  </li>
  <li class="active">
    <%= "Post ##{@entry.entry_number}" %>
  </li>
<% end %>

<% if @current_user_is_expert || @current_user_is_learner || @badge_list_admin %>
  <% content_for :subheader_actions do %>

    <% if @current_user_is_expert || @current_user_is_learner %>
      
      <li  class="collapsible">
        <%= link_to "<i class='fa fa-user'></i> View Your #{@badge.log.capitalize}".html_safe, 
            [@group, @badge, @current_user_log] %>
        <% if @current_user_is_entry_creator || @badge_list_admin %>
          <span class="divider">|</span>
        <% end %>
      </li>

    <% end %>

    <% if @current_user_is_entry_creator || @badge_list_admin %>
      <li class="collapsible">
        <%= link_to "<i class='fa fa-pencil'></i> Edit".html_safe,
          edit_group_badge_log_entry_path(@group, @badge, @log, @entry) %>
        <span class="divider">|</span>
      </li>
      <li class="collapsible">
        <%= link_to '<i class="fa fa-times"></i> Delete'.html_safe, 
          [@group, @badge, @log, @entry], method: :delete, data: { 
          confirm: 'Are you sure you want to permanently delete this post?' } %>
      </li>
    <% end %>

  <% end %>
<% end %>

<!-- === PAGE HEADER === -->

<div class="row add-top-margin">
  <div class="span12">
    <div class="page-card entry-page-card <%= @entry.type %>">

      <div class="super-header-section white-striped-background">
        <%= link_to image_tag(group_badge_path(@group, @badge, format: :png)), 
          [@group, @badge], title: @badge.name, data: { toggle: 'tooltip', placement: 'right' } %>
        <br/>
      </div>

      <div class="header-section">

        <span class="log-user-link">
          <%= link_to gravatar_for(@user, \
            class: "img-circle #{log_user_type}", size: 200), [@group, @badge, @log],
            title: "View #{@user.name}'s #{@badge.progress_log}",
            data: { toggle: 'tooltip', placement: 'left' } %>
          <span class="username">
            <%= @user.name %>
          </span>
        </span>

        <% if @entry.creator != @user %>
          <span class="creator-user-link">
            <%= link_to gravatar_for(@entry.creator, class: "img-circle expert", 
              username: @entry.current_username), [@group, @badge, @log], 
              title: "Posted by #{@entry.current_username}",
              data: { toggle: 'tooltip', placement: 'left' } %>
            <span class="arrow">&#9654;</span>
          </span>
        <% end %>

        <% if @parent_tag && @parent_tag.display_name %>
          <h2>
            <i class="fa fa-check-square-o" title="Requirement"></i> 
            <%= link_to @parent_tag.display_name, [@group, @badge, @parent_tag] %>
          </h2>
        <% end %>
        
        <% if !@entry.linkified_summary.blank? %>
          <h1><%= @entry.linkified_summary.html_safe %></h1>
        <% elsif !@entry.summary.blank? %>
          <h1><%= @entry.summary %></h1>
        <% else %>
          <h1 class="empty">Posted Image</h1>
        <% end %>
        
        <ul>
          <li>
            <i class="fa fa-clock-o" title="Creation date"></i> 
            <%= @entry.created_at.to_s(:full_date_time) %>
          </li>
          <% if @entry.updated_at != @entry.created_at %>
            <li>
              <i class="fa fa-info-circle"></i>
              <% if @entry.updated_at <= Time.now %>
                <%= "Last updated #{time_ago_in_words(@entry.updated_at)} ago" %>
              <% else %>
                <%= "Last updated #{time_ago_in_words(@entry.updated_at)} from now" %>
              <% end %>
            </li>
          <% end %>
          <li>
            <% if @parent_tag %>
              <i class="fa <%= @parent_tag.privacy_icon(@group.type) %>"></i>
              <%= @parent_tag.privacy_text(@group.type).capitalize %>
            <% else %>
              <i class='fa fa-globe'></i> 
              Visible to public
            <% end %>
          </li>
        </ul>

      </div>
      
      <div class="body-section">
        <% if (@entry.type == 'validation') && @show_progress %>
          <span class="validation-result <%= @entry.log_validated ? 'yes' : 'no' %>">
            <strong>Validation:</strong> 
            <%= @entry.log_validated ? "Positive &#10003;".html_safe : "Negative &#10007;".html_safe %>
          </span>
        <% end %>

        <!-- === ENTRY CONTENT PARTIAL === -->
        <%= render "shared/entry_content_full", entry: @entry %>
      </div>

      <% unless @entry.tags.blank? %>
        <div class="footer-section">
          <label><i class="fa fa-tags"></i> Tags:</label> 
          <% @entry.tags_with_caps.each do |tag| %>
            <% comma = (tag == @entry.tags_with_caps.last) ? '' : ', ' %>
            <%= link_to tag, "/#{@group.url_with_caps}/#{@badge.url_with_caps}/#{tag}" %><%= comma %>
          <% end %>
        </div>
      <% end %>

    </div>
  </div>
</div>
