<% 
  provide(:full_title, "#{@entry.summary} - #{@badge.name}")
  provide(:show_subheader, true)
  provide(:subheader_image, group_image_url_for(@group)) 
  provide(:include_rich_text, true)
%>

<% content_for :subheader_links do %>
  <li>
    <%= link_to @group.url_with_caps, @group %>
    <span class="divider">/</span>
  </li>
  <li>
    <%= link_to @badge.url_with_caps, [@group, @badge] %>
    <span class="divider">/</span>
  </li>
  <li>
    u
    <span class="divider">/</span>
    <%= link_to @user.username_with_caps, [@group, @badge, @log] %>
    <span class="divider">/</span>
  </li>
  <li class="active">
    <%= "Post ##{@entry.entry_number}" %>
  </li>
<% end %>

<% if @current_user_is_expert || @current_user_is_learner || @badge_list_admin %>
  <% content_for :subheader_actions do %>

    <% if @current_user_is_expert || @current_user_is_learner %>
      
      <li  class="collapsible">
        <%= link_to "<i class='icon-user icon-white'></i> View Your #{@badge.log.capitalize}".html_safe, 
            [@group, @badge, @current_user_log] %>
        <% if @current_user_is_entry_creator %>
          <span class="divider">|</span>
        <% end %>
      </li>

    <% end %>

    <% if @current_user_is_entry_creator || @badge_list_admin %>
      <li class="collapsible">
        <%= link_to "<i class='fa fa-pencil'></i> Edit".html_safe,
          edit_group_badge_log_entry_path(@group, @badge, @log, @entry) %>
        <span class="divider">|</span>
      </li>
      <li class="collapsible">
        <%= link_to '<i class="fa fa-times"></i> Delete'.html_safe, 
          [@group, @badge, @log, @entry], method: :delete, data: { 
          confirm: 'Are you sure you want to permanently delete this post?' } %>
      </li>
    <% end %>

  <% end %>
<% end %>

<!-- === PAGE HEADER === -->

<div class="row add-top-margin">
  <div class="span12">
    <div class="page-card entry-page-card <%= @entry.category %>">

      <div class="super-header-section white-striped-background">
        <%= link_to image_tag(group_badge_path(@group, @badge, format: :png)), 
          [@group, @badge], title: @badge.name, data: { toggle: 'tooltip', placement: 'right' } %>
        <br/>
      </div>

      <div class="header-section">

        <span class="log-user-link">
          <%= link_to gravatar_for(@entry.log.user, \
            class: "img-circle #{@entry.log_user_type}", size: 200), 
            [@entry.log.badge.group, @entry.log.badge, @entry.log],
            title: "View #{@entry.log.user.name}'s #{@badge.progress_log}",
            data: { toggle: 'tooltip', placement: 'left' } %>
          <span class="username">
            <% 
              if @entry.log_user_type == :expert
                word_to_use = @expert.capitalize
              else
                word_to_use = @learner.capitalize
              end
            %>
            
            <% if @show_progress %>
              <abbr title="<%= "#{word_to_use} at time of #{@entry.type}" %>" 
              class="<%= @entry.log_user_type %>" data-toggle="tooltip"
              data-placement="bottom"><%= @entry.log.user.name %></abbr>
            <% else %>
              <%= @entry.log.user.name %>
            <% end %>
          </span>
        </span>

        <% if @entry.creator != @entry.log.user %>
          <span class="creator-user-link">
            <% 
              if @entry.entry_creator_type == :expert
                word_to_use = @expert.capitalize
              else
                word_to_use = @learner.capitalize
              end
            %>
            <%= link_to gravatar_for(@entry.creator, \
              class: "img-circle #{@entry.entry_creator_type}"), 
              [@entry.log.badge.group, @entry.log.badge, @entry.log],
              title: "Posted by #{@entry.creator.name} (#{word_to_use} at time of #{@entry.type})",
              data: { toggle: 'tooltip', placement: 'left' } %>
            <span class="arrow">&#9654;</span>
          </span>
        <% end %>

        <% if @parent_tag && @parent_tag.display_name %>
          <h2>
            <i class="fa fa-check-square-o" title="Requirement"></i> 
            <%= link_to @parent_tag.display_name, [@group, @badge, @parent_tag] %>
          </h2>
        <% end %>
        <h1>
          <%= (@entry.linkified_summary.blank?) ? \
            @entry.summary : @entry.linkified_summary.html_safe %>
        </h1>
        
        <ul>
          <li>
            <i class="fa fa-clock-o" title="Creation date"></i> 
            <%= @entry.created_at.to_s(:full_date_time) %>
          </li>
          <% if @entry.updated_at != @entry.created_at %>
            <li>
              <i class="fa fa-info-circle"></i>
              <% if @entry.updated_at <= Time.now %>
                <%= "Last updated #{time_ago_in_words(@entry.updated_at)} ago" %>
              <% else %>
                <%= "Last updated #{time_ago_in_words(@entry.updated_at)} from now" %>
              <% end %>
            </li>
          <% end %>
          <li>
            <% if @entry.privacy == 'secret' %>
              <i class='fa fa-user-secret'></i> 
              Only visible to badge <%= @experts %> and group admins
            <% elsif @entry.privacy == 'private' %>
              <i class='fa fa-eye-slash'></i> 
              Only visible to group members
            <% elsif @group.private? %>
              <i class='fa fa-link'></i> 
              Visible to group members and anyone with the link
            <% else %>
              <i class='fa fa-eye'></i> 
              Visible to public
            <% end %>
          </li>
        </ul>

      </div>
      
      <div class="body-section">
        <% if (@entry.type == 'validation') && @show_progress %>
          <span class="validation-result <%= @entry.log_validated ? 'yes' : 'no' %>">
            <strong>Validation:</strong> 
            <%= @entry.log_validated ? "Positive &#10003;".html_safe : "Negative &#10007;".html_safe %>
          </span>
        <% end %>

        <!-- === ENTRY CONTENT PARTIAL === -->
        <%= render "shared/entry_content_full", entry: @entry %>
      </div>

      <% unless @entry.tags.blank? %>
        <div class="footer-section">
          <label><i class="icon-tags"></i> Tags:</label> 
          <% @entry.tags_with_caps.each do |tag| %>
            <% comma = (tag == @entry.tags_with_caps.last) ? '' : ', ' %>
            <%= link_to tag, "/#{@group.url_with_caps}/#{@badge.url_with_caps}/#{tag}" %><%= comma %>
          <% end %>
        </div>
      <% end %>

    </div>
  </div>
</div>
