<%
  # Boolean Variables = is_member, is_admin
  # Object Variables = badge, group

  expert_count = badge.expert_count
  learner_count = badge.learner_count
  visibility_details = badge.visibility_details

  is_expert = current_user && current_user.expert_of?(badge)
  is_learner = current_user && current_user.learner_of?(badge)
%>

<div class="info-card badge-card <%= (is_expert) ? 'awarded' : '' %>" 
  data-bl-dyncol="child">
  <table>
    <tr class="card-image-row">
      <td>
        <% if is_expert %>
          <div class="big-icon awarded">
            <i class="fa fa-check-circle"></i>
          </div>
        <% elsif is_learner %>
          <div class="big-icon">
            <i class="fa fa-flag"></i>
          </div>
        <% end %>
        <%= link_to image_tag(badge.image_url(:medium)), group_badge_path(group, badge), 
          title: badge.name %><br/>
      </td>
    </tr>
    <tr class="card-body-row">
      <td class="card-body">
        <span class="card-headline">
          <%= link_to badge.name, group_badge_path(group, badge), title: badge.name %>
          <% if is_member || is_admin %>
            <span class="label" data-toggle="tooltip" 
                title="<%= visibility_details[:summary] %>">
              <i class="fa <%= visibility_details[:icon] %>"></i> 
              <%= visibility_details[:label] %>
            </span>
          <% end %>
        </span>
        <span class="card-text">
          <p><%= badge.summary %></p>
          
          <% unless badge.requirements_json_clone.blank? %>
            <h4>Required Evidence</h4>
            <ul class="topic-list">
              <% badge.requirements_json_clone.each do |tag_item| %>
                <li>
                  <%
                    icon_text = "<span class='fa-stack single-stack'>" \
                      + "<i class='fa fa-square fa-stack-2x'></i>"      \
                      + "<i class='fa #{Tag.format_icon(tag_item['format'])} " \
                        + "fa-stack-1x fa-inverse'></i></span>"
                  %>
                  <%= link_to "#{icon_text} #{tag_item['display_name']}".html_safe, 
                    group_badge_path(group, badge) + "/" + tag_item['name_with_caps'] %>
                </li>
              <% end %>
            </ul>
          <% end %>
        </span>
      </td>
    </tr>
    <tr class="card-footline-row">
      <td class="card-footline">
        <ul class="left-foot">
          <% if is_expert %>
            <li class="foot-text"><%= badge.Expert %></li>
          <% elsif is_learner %>
            <li class="foot-text"><%= badge.Learner %></li>
          <% elsif badge.tracks_progress? && current_user \
              && (group.open? || is_member || is_admin) %>
            <li>
                <%= link_to '<i class="fa fa-plus-circle"></i> Join Badge'.html_safe, 
                    group_badge_logs_path(group, badge), method: :post, class: 'btn btn-mini' %>
            </li>
          <% end %>
        </ul>
        <ul class="right-foot">
          <% if badge.tracks_progress? %>
            <li data-toggle="tooltip" data-placement="bottom" title="<%= badge.Learners %>">
              <i class="fa fa-users"></i> 
              <%= learner_count %>
            </li>
          <% end %>
          <li data-toggle="tooltip" data-placement="bottom" title="<%= badge.Experts %>">
            <i class="fa fa-trophy"></i>
            <%= expert_count %>
          </li>
        </ul>
      </td>
    </tr>
  </table>
</div>