<div class="info-card badge-card" data-bl-dyncol="child">
  <table>
    <tr class="card-image-row">
      <td>
        <%= link_to image_tag(group_badge_path(badge.group, badge, format: :png)), 
          group_badge_path(badge.group, badge), title: badge.name %><br/>
      </td>
    </tr>
    <tr class="card-body-row">
      <td class="card-body">
        <span class="card-headline">
          <%= link_to badge.name, group_badge_path(badge.group, badge), title: badge.name %>
        </span>
        <span class="card-text">
          <p><%= badge.summary %></p>
          
          <% if badge.has_topics? %>
            <h4>Required Evidence</h4>
            <ul>
              <% badge.topics.each do |topic| %>
                <li>
                  <%= link_to "<i class='fa fa-book'></i> #{topic['tag_display_name']}".html_safe, 
                    group_badge_path(badge.group, badge) + "/" + topic['tag_name_with_caps'] %>
                </li>
              <% end %>
            </ul>
          <% end %>
        </span>
      </td>
    </tr>
    <tr class="card-footline-row">
      <td class="card-footline">
        <ul class="left-foot">
          <li><%= link_to badge.url, group_badge_path(badge.group, badge), 
                  title: group_badge_path(badge.group, badge) %></li>
        </ul>
        <ul class="right-foot">
          <% if badge.tracks_progress? %>
            <li data-toggle="tooltip" data-placement="bottom" title="<%= badge.Learners %>">
              <i class="fa fa-users"></i> 
              <%= badge.learner_logs.count %>
            </li>
          <% end %>
          <li data-toggle="tooltip" data-placement="bottom" title="<%= badge.Experts %>">
            <i class="fa fa-trophy"></i>
            <%= badge.expert_logs.count %>
          </li>
        </ul>
      </td>
    </tr>
  </table>
</div>