<%
  # Boolean Variables = is_member, is_admin
  # Object Variables = badge, group
  # Map[badge_id] Variables = log_map (of current_user for this badge if present), requirements_map,
  #                           expert_count_map, learner_count_map

  log = log_map[badge.id]
  requirements = requirements_map[badge.id]
  expert_count = expert_count_map[badge.id]
  learner_count = learner_count_map[badge.id]

  if log
    is_expert = (log.validation_status == 'validated')
    is_learner = !is_learner
  else
    is_expert = false
    is_learner = false
  end
%>

<div class="info-card badge-card <%= (is_expert) ? 'awarded' : '' %>" 
  data-bl-dyncol="child">
  <table>
    <tr class="card-image-row">
      <td>
        <% if is_expert %>
          <div class="big-icon awarded">
            <i class="fa fa-check-circle"></i>
          </div>
        <% elsif is_learner %>
          <div class="big-icon">
            <i class="fa fa-flag"></i>
          </div>
        <% end %>
        <%= link_to image_tag(badge.image_url(:medium)), group_badge_path(group, badge), 
          title: badge.name %><br/>
      </td>
    </tr>
    <tr class="card-body-row">
      <td class="card-body">
        <span class="card-headline">
          <%= link_to badge.name, group_badge_path(group, badge), title: badge.name %>
        </span>
        <span class="card-text">
          <p><%= badge.summary %></p>
          
          <% unless requirements.blank? %>
            <h4>Required Evidence</h4>
            <ul class="topic-list">
              <% requirements.each do |tag| %>
                <li>
                  <%
                    icon_text = "<span class='fa-stack single-stack'>" \
                      + "<i class='fa fa-square fa-stack-2x'></i>"      \
                      + "<i class='fa #{tag.format_icon} fa-stack-1x fa-inverse'></i></span>"
                  %>
                  <%= link_to "#{icon_text} #{tag.display_name}".html_safe, 
                    group_badge_path(group, badge) + "/" + tag.name_with_caps %>
                  <%= 
                    link_to "<i class='fa #{tag.format_icon}'></i> Post".html_safe, 
                      new_group_badge_log_entry_path(group, badge, log, tag: tag.name_with_caps), 
                      class: 'btn btn-mini' \
                    if is_learner || is_expert
                  %>
                </li>
              <% end %>
            </ul>
          <% end %>
        </span>
      </td>
    </tr>
    <tr class="card-footline-row">
      <td class="card-footline">
        <ul class="left-foot">
          <% if is_expert %>
            <li class="foot-text"><%= badge.Expert %></li>
          <% elsif is_learner %>
            <li class="foot-text"><%= badge.Learner %></li>
          <% elsif badge.tracks_progress? && current_user \
              && (group.open? || is_member || is_admin) %>
            <li>
                <%= link_to '<i class="fa fa-plus-circle"></i> Join Badge'.html_safe, 
                    group_badge_logs_path(group, badge), method: :post, class: 'btn btn-mini' %>
            </li>
          <% end %>
        </ul>
        <ul class="right-foot">
          <% if badge.tracks_progress? %>
            <li data-toggle="tooltip" data-placement="bottom" title="<%= badge.Learners %>">
              <i class="fa fa-users"></i> 
              <%= learner_count %>
            </li>
          <% end %>
          <li data-toggle="tooltip" data-placement="bottom" title="<%= badge.Experts %>">
            <i class="fa fa-trophy"></i>
            <%= expert_count %>
          </li>
        </ul>
      </td>
    </tr>
  </table>
</div>