<script>

  var MAX_TERM_LENGTH = <%= Badge::MAX_TERM_LENGTH %>;
  var MAX_URL_LENGTH = <%= Badge::MAX_URL_LENGTH %>;

  $(document).ready(function() {
    <% if @allow_url_editing %>
      // Auto set the URL as they type the name
      $('#badge_name').keyup(function() {
        $('#badge_url_with_caps').val(parameterizeText($(this).val(), MAX_URL_LENGTH));
        $('#url-preview-label').text($('#badge_url_with_caps').val());
        if (($('#badge_url_with_caps').val().length > 0) && !$("#url-panel").is(":visible"))
          $("#url-panel").fadeIn();
        else if (($('#badge_url_with_caps').val().length == 0) && $("#url-panel").is(":visible"))
          $("#url-panel").fadeOut();
      });

      // Pressing enter in the url editor clicks url save
      $('#badge_url_with_caps').keypress(function(e) {
        if (e.which == 13) {
          e.preventDefault();
          $('#url-save').click();
        }
      });

      $("#url-edit").click(function() {
        // Save the current value then show the input box
        $('#badge_url_with_caps').data('oldValue', $('#badge_url_with_caps').val());
        $("#url-preview").fadeOut(function() {
          $("#url-editor").show();
          $('#badge_url_with_caps').focus();
        });
      });
      $("#url-save").click(function() {
        // Parameterize the value then update the label and hide the text box
        $('#badge_url_with_caps').val(parameterizeText($('#badge_url_with_caps').val(), 
          MAX_URL_LENGTH));
        $('#url-preview-label').text($('#badge_url_with_caps').val());
        $("#url-editor").fadeOut(function() {
          $("#url-preview").show();
          $('#badge_name').focus();
        });
      });
      $("#url-cancel").click(function() {
        // Restore the old value
        $('#badge_url_with_caps').val($('#badge_url_with_caps').data('oldValue'));
        $('#url-preview-label').text($('#badge_url_with_caps').val());
        $("#url-editor").fadeOut(function() {
          $("#url-preview").show();
          $('#badge_name').focus();
        });
      });
    <% end %>

  });

</script>

<%= simple_form_for [@group, @badge], html: {class: 'form-horizontal'} do |f| %>
  <%= f.error_notification %>

  <div class="form-body">
    
    <%= f.input :name, label: 'Badge Name', placeholder: 'Extraterrestrial Physics Expert',
      autofocus: true,
      input_html: { class: 'input-xlarge', maxlength: Badge::MAX_NAME_LENGTH, 
        data: { toggle: 'tooltip',
      title: 'Examples: Excel Spreadsheet Ninja, 2014 Hackathon Attendee, ' \
      + 'Acme Community Leader' } } %>
    
    <div id="url-panel">
      <label for="badge_url_with_caps">URL: </label>
        
      <span id="url-preview">
        "<span id="url-preview-label"><%= @badge.url_with_caps %></span>"
        <% if @allow_url_editing  %>
          <a href="#" id="url-edit" class="btn btn-small btn-link">Edit</a>
        <% else %>
          <i class="fa fa-lock" data-toggle="tooltip" 
          title="You cannot edit the URL after the badge has been awarded."></i>
        <% end %>
      </span>
    
      <% if @allow_url_editing  %>
        <span id="url-editor" style="display: none;">
          <%= f.text_field :url_with_caps %>
          <ul class="unstyled">
            <li><a href="#" id="url-save" class="btn btn-small btn-link">
              <i class="fa fa-check"></i>
            </a></li>
            <li><a href="#" id="url-cancel" class="btn btn-small btn-link">
              <i class="fa fa-remove"></i>
            </a></li>
          </ul>
        </span>
      <% end %>
    </div>

    <%= f.input :summary, as: :text, label: 'Summary', input_html: { data: {
        :'character-count' => true, :'max-length' => Badge::MAX_SUMMARY_LENGTH,
        toggle: 'tooltip', title: 'Explain clearly what badge earners have accomplished' } } %>
  
    <!-- === BADGE IMAGE MAKER === -->

    <%= render 'shared/badge_maker', f: f %>
  
    <!-- === REQUIREMENT LIST EDITOR === -->

    <%= render 'shared/requirement_list_editor', f: f %>

  </div>
  
  <div class="form-footer">
    <%= f.button :submit, class: 'btn btn-primary' %>
    <% if (@current_user_is_admin || @badge_list_admin) && !@badge.new_record? %>
      <%= link_to "<i class='fa fa-wrench'></i> Badge Settings".html_safe, 
        group_badge_path(@group, @badge) + '#settings', class: "btn left-button", 
          target: '_blank' %>
    <% end %>
    <%= 
      if @badge.new_record?
        link_to "Cancel", @group, class: "btn", id: "cancel-button"
      else 
        link_to "Cancel", group_badge_path(@group, @badge), class: "btn", id: "cancel-button"
      end
    %>
  </div>
<% end %>

<!-- === CARRIERWAVE DIRECT FORM === -->

<%= direct_upload_form_for(@uploader, html: { id: 'custom_image_form', style: 'display: none;',
    target: 'custom_image_result_frame' } ) do |u| %>
  <%= u.file_field :direct_custom_image, accept: 'image/png' %>
<% end %>

<iframe id="custom_image_result_frame" name="custom_image_result_frame" 
  style="display: none;"></iframe>