<%= simple_form_for [@group, @badge], html: {class: 'form-horizontal'} do |f| %>
  <div class="form-body">
    <%= f.input :name, label: 'Badge Name', placeholder: 'Extraterrestrial Physics',
        input_html: {class: 'input-xlarge'}, autofocus: true %>
    <%= f.input :url, wrapper: :prepend, label: 'Badge URL' do %>
      <%= content_tag :span, "app.badgelist.com/#{@group.url}/", class: "add-on" %>
      <%= f.input_field :url, placeholder: 'et-physics', class: 'input-small' %>
    <% end %>
    <%= f.input :image_url, label: 'Badge Image', input_html: {class: 'input-xlarge'} %>
    <%= f.input :summary, as: :text, label: 'Summary', input_html: { data: {
        :'character-count' => true, :'max-length' => Badge::MAX_SUMMARY_LENGTH } } %>
  </div>
  
  <div class="form-footer">
    <%= f.button :submit, class: 'btn btn-primary' %>
    <%= 
      if @badge.new_record?
        link_to "Cancel", @group, class: "btn"
      else 
        link_to "Cancel", group_badge_path(@group, @badge), class: "btn"
      end
    %>
  </div>
<% end %>
