<script>

  $(document).ready(function() {
    <% if @badge.new_record? %>
      // If this is a new record then auto set the URL as they type
      $('#badge_name').keyup(function() {
        $('#badge_url_with_caps').val(parameterizeText($(this).val()));
      });
    <% end %>
  });

  function toggleExtraInfo() {
    if ($('#form-extra-info').is(':visible')) {
      $('#form-extra-info').slideUp();
      $('#form-extra-info-toggle').val('Show Extra Info')
      $('#group_name').focus()
    } else {
      $('#form-extra-info').slideDown();
      $('#form-extra-info-toggle').val('Hide Extra Info')
      $('#group_location').focus()
    }
  }

  // Converts "Test text like  this" > "Text-text-like-this"
  var MAX_URL_LENGTH = <%= Badge::MAX_URL_LENGTH %>;
  function parameterizeText(s) {
    if (s == null) return '';
    else return s.replace(/[^\w.-]/g, ' ').replace(/ +/g, ' ').replace(/ /g, '-').trunc(MAX_URL_LENGTH);
  }

</script>

<%= simple_form_for [@group, @badge], html: {class: 'form-horizontal'} do |f| %>
  <%= f.error_notification %>

  <div class="form-body">
    
    <%= f.input :name, label: 'Badge Name', placeholder: 'Extraterrestrial Physics Expert', autofocus: true,
      input_html: { class: 'input-xlarge', data: { toggle: 'tooltip',
      title: 'Examples: Excel Spreadsheet Ninja, 2014 Hackathon Attendee, Acme Community Leader' } } %>
    <%= f.input :url_with_caps, wrapper: :prepend, label: 'Badge URL' do %>
      <%= content_tag :span, "badgelist.com/#{@group.url_with_caps}/", class: "add-on" %>
      <%= f.input_field :url_with_caps, placeholder: 'et-physics', class: 'input-small', 
        data: { toggle: 'tooltip', title: 'Pick a unique URL for the badge' } %>
    <% end %>
    <%= f.input :summary, as: :text, label: 'Summary', input_html: { data: {
        :'character-count' => true, :'max-length' => Badge::MAX_SUMMARY_LENGTH,
        toggle: 'tooltip', title: 'Explain clearly what badge earners have accomplished' } } %>

    <!-- === BADGE IMAGE MAKER === -->

    <%= render 'shared/badge_maker' %>

  </div>
  
  <div class="form-footer">
    <%= f.button :submit, class: 'btn btn-primary' %>
    <%= 
      if @badge.new_record?
        link_to "Cancel", @group, class: "btn"
      else 
        link_to "Cancel", group_badge_path(@group, @badge), class: "btn"
      end
    %>
  </div>
<% end %>
