<% provide(:title, 'All Badges') %>

<div class="page-header">
  <h1> 
    All Badges
    <%= link_to 'New Badge', new_badge_path, class: "btn btn-primary", id: "new-badge-button" %>
  </h1>
</div>

<%= paginate @badges %>

  <ul class="thumbnails">
    <% @badges.each do |badge| %>
      <li class="span3">
        <div class="thumbnail badge-index-item">
          <img src="<%= badge.image_url %>" alt="Badge Image" class="badge-image">
          <h3><%= link_to badge.name, badge, class: "badge-detail-text-link" %></h3>
          <p><%= badge.summary %></p>
        </div>
      </li>
    <% end %>
  </ul>

<%= paginate @badges %>

<br />


