<% 
  provide(:title, "Award Badge - #{@badge.name}")
  provide(:show_subheader, true)
  provide(:subheader_image, group_image_url_for(@group))
  provide(:include_rich_text, true) 
%>

<% content_for :subheader_links do %>
  <li>
    <%= link_to @group.url, [@group] %>
    <span class="divider">/</span>
  </li>
  <li>
    <%= link_to @badge.url, [@group, @badge] %>
    <span class="divider">/</span>
  </li>
  <li class="active">Award Badge</li>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {      
      <% if @member_list.blank? %>
        $("#email").focus();
      <% else %>
        $("#member_list").change(function() {
          var emailValue = $(this).val(); 
          if (emailValue == "*") {
            $("#email").val("");
            $("#badge-recipient-list").hide();
            $("#badge-recipient-manual").show();
            $("#email").focus();
          } else 
            $("#email").val(emailValue);
        });
        $("#member_list").append("<option value disabled='disabled'>-----</option>");
        $("#member_list").append("<option value='*' class='select-hr'>+ Enter an email address</option>");
        
        $("#member_list").focus();
      <% end %>

      <% if @body.blank? %>
        $('#toggle-body-entry').click(function() {
          $('#body-entry-area').slideDown();
          $(this).slideUp();
        });
      <% else %>
        $('#toggle-body-entry').hide();
        $('#body-entry-area').show();
      <% end %>
  });
</script>

<div class="row">
  <div class="bl-form bl-form-entry span10 offset1">
    
    <div class="form-header">
      <h1>Award the badge</h1>
      <div class="form-image frameless" 
        style="background-image: url('<%= group_badge_path(@group, @badge, format: :png) %>');">
        &nbsp;
      </div>
    </div>

    <%= form_tag(badge_issue_path(@group, @badge), method: :post, id: "badge-issue-form", 
      class: 'form-horizontal') do %>

      <div class="form-body">

        <% unless @member_list.blank? %>
          <div class="control-group" id="badge-recipient-list">
            <%= label_tag :member_list, "Badge Recipient", class: "control-label" %>
            <div class="controls">
              <%= select_tag :member_list, 
                options_from_collection_for_select(@member_list, 'first', 'last'),
                include_blank: true %>
            </div>
          </div>
        <% end %>

        <div class="control-group" style="<%= (@member_list.blank?) ? '' : 'display: none;' %>" 
          id="badge-recipient-manual">

          <%= label_tag :email, "Badge Recipient", class: "control-label" %>
          <div class="controls">
            <%= text_field_tag :email, @email, placeholder: "buzz.aldrin@nasa.gov", maxlength: 100 %>
          </div>

        </div>
      
        <h3>Write a public explanation of why this person has earned the badge</h3>

        <div class="paragraph">
          <p>
            This explanation (called an <i>expert validation</i>) will be emailed to the badge 
            recipient and attached to the badge as evidence of their achievement. It will be visible 
            to everyone who can see the badge.
          </p>
        </div>

        <div class="control-group entry_summary">
          <%= label_tag :summary, "Summary", class: "control-label" %>
          <div class="controls">
            <%= text_area_tag :summary, @summary, auto_focus: true, cols: '200', rows: '5', 
              id: 'entry_summary',
              data: {:'character-count' => true, :'max-length' => Entry::MAX_SUMMARY_LENGTH } %>
          </div>
        </div>

        <div class="control-group entry_body">
          <%= label_tag :body, "Body", class: "control-label" %>
          <div class="controls">
            <a class="btn btn-small" id="toggle-body-entry">
              <i class="fa fa-plus"></i> Add body text
            </a>
            <div id="body-entry-area" style="display: none">
              <%= text_area_tag :body, @body, class: "huge-text-area rich-text-area", 
                id: 'entry_body' %>
            </div>
          </div>
        </div>
          
          
  <!-- 
          <p class="text-success">
            <em><strong>Please explain your opinion. Include lots of detail!</strong></em>
          </p> -->

      </div>
      
      <div class="form-footer">
        <%= button_tag "Award badge", type: 'submit', class: 'btn btn-primary' %>
        <%= link_to "Cancel", [@group, @badge], class: "btn" %>
      </div>

    <% end %>

  </div>
</div>
