<% 
  provide(:title, "#{@badge.name} - #{@group.name}")
  provide(:show_subheader, true)
  provide(:subheader_image, group_image_url_for(@group)) 
  provide(:include_rich_text, true)

  is_group_member = @current_user_is_member || @current_user_is_admin
  is_badge_member = @current_user_is_learner || @current_user_is_expert
  can_join_badge = !is_badge_member && @show_progress && \
    (@current_user_is_admin || @current_user_is_member || @group.open?)
  can_join_group = !@current_user_is_member && !@current_user_is_admin && @group.open?
%>

<% content_for :subheader_links do %>
  <li>
    <%= link_to @group.url_with_caps, group_path(@group) %>
    <span class="divider">/</span>
  </li>
  <li class="active"><%= @badge.url_with_caps %></li>
<% end %>

<% content_for :extra_footer_text do %>
  This badge's image includes the following elements from
  <a href="http://www.thenounproject.com" target="_blank">the Noun Project</a>:
  <% @badge.image_attributions.each do |attribution| %>
    <%= " &amp; ".html_safe unless attribution == @badge.image_attributions.first %>
    <% if attribution['type'] == "attribution" %>
      <%= "#{attribution['item_name'] || "Untitled"} by #{attribution['author_name'] || "Anonymous"}" %>
    <% else %>
      <%= "#{attribution['item_name'] || "Untitled"} in the Public Domain" %>
    <% end %>
  <% end %>
<% end unless @badge.image_attributions.blank? %>

<% if can_join_badge && !current_user  %>
  
  <!-- === SIGN IN (TO JOIN BADGE) MODAL === -->

  <div id="sign-in-to-join" class="modal hide fade" tabindex="-1" role="dialog" 
   aria-labelledby="mimm-label" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="mimm-label">Sign in to continue<h3>
    </div>

    <div class="modal-body">
      <p>To join this badge, first you need to sign in or create a new account.<br><br></p>
      <ul class="button-list">
        <li>
          <%= link_to 'Sign in', new_user_session_path(join: @badge.id), 
            class: 'btn btn-large btn-warning' %>
        </li>
        <li>
          <%= link_to 'Create a new account', new_user_registration_path(join: @badge.id), 
            class: 'btn btn-large btn-success' %>
        </li>
      </ul>
      <p>&nbsp;</p>
    </div>
  </div>

<% end %>

<% if @current_user_is_learner || @current_user_is_expert %>

  <script type="text/javascript">

    $(document).ready(function() {

      if ($(".topic-list-card li a.btn.complete").length == 0) {
        $(".topic-list-card li a.btn.incomplete").first().tooltip({
          title: "Click here to get started",
          placement: "bottom",
          trigger: "manual"
        }).tooltip('show');
      }

    });

  </script>

<% end %>

<% if @can_edit_badge %>

  <!-- === BADGE INFO VERSIONS === -->

    <script type="text/javascript">
      var badgeInfoVersions = 
        <%= if @badge.info_versions.nil?
              "[]" 
            else
              raw @badge.info_versions.to_json
            end %>;

      $(document).ready(function() {
        
        if (badgeInfoVersions.length > 1) {
          var userName;
          for (var i in badgeInfoVersions) {
            userName = badgeInfoVersions[i].username;
            if (userName == null) userName = "Badge List System";
            $('#badge-versions').append("<option value='"+i+"'>v" + (parseInt(i)+1) + " - "
              + userName + " ("+badgeInfoVersions[i].updated_at_text+")"
              + "</option>");
          }
          $('#badge-versions').change(function() {
            if ($(this).val() >= 0)
              $('#badge_info').siblings("iframe").contents().find("body").html(badgeInfoVersions[$(this).val()].info);
          });
        } else
          $('#badge-versions-section').hide();

      });
    </script>

<% end %>

<% if @can_award_badge %>

  <!-- === FEEDBACK REQUESTS MODAL === -->

  <div id="feedback-requests" class="modal hide fade" tabindex="-1" role="dialog" 
   aria-labelledby="mimm-label" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="mimm-label"><%= @Learners %> requesting <%= @expert %> feedback</h3>
    </div>

    <div class="modal-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th><%= @Learner %> Name</th>
            <th>Requested</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @requesting_learner_logs.each do |log| %>
            <tr>
              <td>
                <%= link_to log.user.name, [@group, @badge, log], title: "View progress log"  %>
              </td>
              <td><%= (log.date_withdrawn || log.date_requested).to_s(:full_date_time) %></td>
              <td>
                FIXME: <%= link_to '<i class="fa fa-plus"></i> Add your expertise'.html_safe, 
                    [@group, @badge, log] %> 
              </td>
            </tr>
          <% end %>
      </tbody>
      </table>
    </div>
  </div>

<% end %>

<!-- === NEW EXPERTS MODAL === -->

<div id="new-<%= @experts.parameterize %>" class="modal hide fade" tabindex="-1" role="dialog" 
 aria-labelledby="mimm-label" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="mimm-label">Recently validated <%= @experts %></h3>
  </div>

  <div class="modal-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Validated</th>
          <% if @can_award_badge %>
            <th>Actions</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @badge.new_expert_logs.each do |log| %>
          <tr>
            <td>
              <%= link_to log.user.name, [@group, @badge, log], 
                title: "View #{@badge.progress_log}"  %>
            </td>
            <td><%= log.date_issued.to_s(:full_date_time) %></td>
            <% if @can_award_badge %>
              <td>
                <%= link_to '<i class="fa fa-plus"></i> Add your expertise'.html_safe, 
                    [@group, @badge, log] %> 
              </td>
            <% end %>
          </tr>
        <% end %>
    </tbody>
    </table>
  </div>

  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

<% if @current_user_is_expert || @current_user_is_learner %>

  <!-- === EDIT BADGE MEMBERSHIP MODAL === -->

  <div id="log-visibility" class="modal hide fade" tabindex="-1" role="dialog" 
   aria-labelledby="mimm-label" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="mimm-label">Edit your badge membership</h3>
    </div>

    <div class="modal-body">
      <div class="bl-modal-form">
        <div class="form-body">
          <%= simple_form_for [@group, @badge, @log], method: :put,
            html: {id: 'log-visibility-form', class: 'form-horizontal'} do |f| %>

            <%= f.input :show_on_profile, as: :radio_buttons, 
              collection: [[true, 'Visible on Badge List profile'] , \
              [false, "Must have link <p class='text-success'><small>(Hidden from profile, but shareable via direct link)</small></p>".html_safe]],
              label_method: :last, value_method: :first, 
              label: 'Should this badge be visible on your Badge List user profile?' %>

            <% if @can_award_badge %>
              <%= f.input :receive_validation_request_emails, as: :select, include_blank: false,
                collection: [[true, 'Yes'], [false, 'No']], label_method: :last, 
                value_method: :first, label: 'Receive feedback request emails?',
                hint: "Feedback request emails are sent automatically whenever a #{@learner} " \
                  + "completes all of the badge requirements." %>
            <% end %>

            <% 
              if @group.private? 
                private_text = 'This will break Mozilla compatibility'
              else
                private_text = 'Only available for private learning grouups'
              end 
            %>
            
            <%
              if @log.validation_status == 'validated'
                privacy_label = "Can other people see your #{@badge.progress_log}?"
              else
                privacy_label = "After you earn the badge your #{@badge.progress_log} will be"
              end
            %>

            <h4>Dangerous Stuff</h4>

            <div class="control-group">
              <label class="control-label" for="delete-log">
                Delete <%= @badge.progress_log %> and resign badge membership
              </label>
              <div class="controls">
                <%= link_to "Delete your #{@badge.progress_log}", [@group, @badge, @log], title: "Careful!",
                  method: :delete, id: "delete-log", class: 'btn btn-danger brn-large', 
                  data: { confirm: "Warning: This can't be undone. Are you absolutely sure you want to"\
                  + " permanently delete your #{@badge.progress_log}?", toggle: 'tooltip', 
                  placement: 'bottom' } %>
                
              </div>
            </div>

          <% end %>
         
         </div>        
      </div>
    </div>

    <div class="modal-footer">
      <button class="btn" aria-hidden="true" 
       onclick="$('#log-visibility-form').submit();">
        Save
      </button>
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
  </div>

<% end %>

<% if @current_user_is_owner || @badge_list_admin %>

  <!-- === MOVE BADGE MODAL === -->

  <div id="move-badge" class="modal hide fade" tabindex="-1" role="dialog" 
   aria-labelledby="mimm-label" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="mimm-label">Move the badge to another group</h3>
    </div>

    <div class="modal-body">
      <div class="bl-modal-form">
        <div class="form-body">
          <%= simple_form_for [@group, @badge], url: group_badge_path(@group, @badge) + '/move', 
              method: :put, html: {id: 'move-badge-form', class: 'form-horizontal'} do |f| %>

            <div class="control-group">
              <div class="sub-header">
                <strong>Note:</strong> Moving a badge changes the URL of the badge and of all
                progress logs within the badge. That means any links or Mozilla Backpacks that point
                to the old URL will have to be updated. It is best practive to communicate this 
                change to your users beforehand.
              </div>
            </div>

            <%= f.input :move_to_group_id, label: 'Select Destination Group', as: :select, 
              include_blank: false, collection: [['Groups that you own...', '']] \
                + @group.owner.owned_group_options(except: [@group.id]) %>

          <% end %>
         </div>        
      </div>
    </div>

    <div class="modal-footer">
      <button class="btn" aria-hidden="true" onclick="$('#move-badge-form').submit();">
        Move the badge
      </button>
      <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    </div>
  </div>

<% end %>


<!-- === PAGE HEADER === -->

<div class="row add-top-margin">
  <div class="span12">
    <div class="header-bar badge-header-bar">
      <table class="info-table">
        <tbody>
          <tr class="body-row">
            <td class="left-image">
              <%= image_tag group_badge_path(@group, @badge, format: :png) %>
            </td>
            <td class="single-panel">
              <h1><%= @badge.name %></h1>
              <h2>
                <%= link_to @group.url_with_caps, @group, 
                  title: @group.name %>/<%= @badge.url_with_caps %>
              </h2>
              <h3>
                <%= @badge.summary %>
              </h3>
            </td>
          </tr>

          <tr class="footer-row <%= (can_join_badge) ? 'highlight-secondary' : '' %>">
            <td colspan="2">
              <span class="label-text">
                <% if @current_user_is_expert %>
                  You're a badge <%= @expert %>.
                <% elsif @current_user_is_learner %>
                  You're a badge <%= @learner %>.
                <% elsif @current_user_is_admin %>
                  You're a group admin.
                <% elsif can_join_badge %>
                  To get this badge, join it and submit the required evidence.
                <% elsif is_group_member || can_join_group  %>
                  This badge is awarded directly by <%= @badge.badge_awarders %>.
                <% else %>
                  This badge is part of a private group.
                <% end %>
              </span>
              <ul class="action-list">
                <% if @current_user_is_expert %>
                  <li>
                    <%= link_to '<i class="fa fa-share-alt"></i> Share the badge'.html_safe, 
                      group_badge_log_path(@group, @badge, @log) + '#badge-sharing', 
                      class: 'btn btn-small' %>
                  </li>
                <% end %>
                <% if @current_user_is_expert || @current_user_is_learner %>
                  <li>
                    <%= link_to \
                      '<i class="fa fa-shield"></i> Edit your membership'.html_safe,
                      '#log-visibility', class: 'btn btn-small', data: { toggle: 'modal' } %>
                  </li>
                <% elsif can_join_badge %>
                  <li>
                    <% if current_user %>
                      <%= link_to '<i class="fa fa-plus-circle"></i> Join this badge'.html_safe, 
                        "#{group_badge_path(@group, @badge)}/join", class: 'btn btn-small' %>
                    <% else %>
                        <a href="#sign-in-to-join" class="btn btn-small" data-toggle="modal">
                          <i class="fa fa-plus-circle"></i> Join this badge
                        </a>
                    <% end %>
                  </li>
                <% end %>
                <% if @can_edit_badge %>
                  <li>
                    <%= link_to '<i class="fa fa-pencil"></i> Edit the badge'.html_safe, 
                      edit_group_badge_path(@group, @badge), class: 'btn btn-small' %>
                  </li>
                <% end %>
                <% if @current_user_is_admin || @badge_list_admin  %>
                  <li class="collapsible">
                    <div class="dropdown">
                      <a href="#" class="dropdown-toggle" id="dropdown-settings"
                        role="button" data-toggle="dropdown" data-target="#" title="Admin Options">
                        <i class="fa fa-cog"></i>
                        <i class="fa fa-caret-down"></i>
                      </a>
                      <ul class="dropdown-menu pull-right" role="menu"
                          aria-labelledby="dropdown-settings">
                        <% if @current_user_is_owner || @badge_list_admin  %>
                          <li>
                            <%= link_to '<i class="fa fa-arrow-circle-o-right"></i> '.html_safe \
                              + 'Move to another group', '#move-badge', data: { toggle: 'modal' } %>
                          </li>
                        <% end %>
                        <li>
                          <%= link_to '<i class="fa fa-remove"></i> Delete Badge'.html_safe, 
                            [@group, @badge], method: :delete, data: 
                              { confirm: 'WARNING: THIS WILL PERMANENTLY DESTROY DATA. ' \
                                + 'Are you absolutely sure you want to permanently delete ' \
                                + 'this badge?' } %>
                        </li>
                      </ul>
                    </div>
                  </li>
                <% end %>
              </ul>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>

<% if @group.public? || @current_user_is_admin || @current_user_is_member || @badge_list_admin %>

    <!-- === TOPIC LIST === -->

  <% if !@requirements.blank? %>
      
    <div class="tab-pane" id="requirements">

      <div class="row">
        <div class="span12">
          <div class="tab-header merge-with-card <%= (@requirements.blank?) ? 'empty' : '' %>">
            <% if @current_user_is_expert || @current_user_is_learner %>
              <%= link_to "<i class='fa fa-user'></i> View your #{@badge.progress_log}".html_safe, 
                [@group, @badge, @log], id: 'view-your-log', class: 'btn btn-small' %>
            <% end %>

            <h2>Required Evidence</h2>
            
            <% if @can_edit_badge || @current_user_is_expert %>
              <h3 class="collapse-when-small">
                <% if @badge.editability == "admins" %>
                  <i class="fa fa-key"></i> Only editable by group admins
                <% elsif @show_progress %>
                  <i class="fa fa-key"></i> Only editable by <%= @experts %>
                <% else %>
                  <i class="fa fa-key"></i> Editable by all <%= @experts %>
                <% end %>
              </h3>
            <% end %>
          </div>
        </div>
      </div>

      <div class="row" id="topic-list-row">
        <div class="span12">
          <div class="info-card text-card topic-list-card">
            <ul>
              <% if @current_user_is_learner || @current_user_is_expert %>
                
                <% requirements_complete = @log.requirements_complete(@requirements) %>
                <% @requirements.each do |tag| %>
                  <%
                    if requirements_complete[tag.id]
                      icon_text = "<i class='fa fa-check-square-o'></i>"
                      button_class = "complete"
                    else
                      icon_text = "<i class='fa fa-square-o'></i>"
                      button_class = "incomplete"
                    end
                  %>
                  <li>
                    <%= link_to "#{icon_text} #{tag.display_name}".html_safe, \
                      group_badge_path(@group, @badge) + "/" + tag.name_with_caps %>
                    <%= link_to "<i class='fa #{tag.format_icon}'></i> ".html_safe \
                      + "Post #{tag.format.to_s.capitalize}", \
                      new_group_badge_log_entry_path(@group, @badge, @log, \
                      tag: tag.name_with_caps), class: "btn btn-mini #{button_class}" %>
                  </li>
                <% end %>
              
              <% else %>

                <% @requirements.each do |tag| %>
                  <%
                    icon_text = "<span class='fa-stack single-stack'>" \
                      + "<i class='fa fa-square fa-stack-2x'></i>"      \
                      + "<i class='fa #{tag.format_icon} fa-stack-1x fa-inverse'></i></span>"
                  %>
                  <li>
                    <%= link_to \
                      "#{icon_text} #{tag.display_name}".html_safe, 
                      group_badge_path(@group, @badge) + "/" + tag.name_with_caps %>
                  </li>
                <% end %>
              
              <% end %>
            </ul>
          </div>
        </div>
      </div>

    </div>

  <% end %>


  <!-- === BADGE OVERVIEW === -->

  <% if @badge.has_overview? || @can_edit_badge %>

    <div class="tab-pane" id="overview">
  
      <div class="row">
        <div class="span12">
          <div class="tab-header merge-with-card <%= (@badge.has_overview?) ? '' : 'empty' %>">
            <% if @can_edit_badge %>
              <a tabindex="-1" class="btn btn-small" id="edit-overview" data-toggle="custom" 
                data-hide="#edit-overview,#overview-row" 
                data-focus="#badge_info" data-show="#overview-inline-form">

                  <% if @badge.has_overview? %>
                    <i class="fa fa-pencil"></i> Edit overview
                  <% else %>
                    <i class="fa fa-plus"></i> Add overview
                  <% end %>
                  
              </a>
            <% end %>

            <h2>Badge Overview</h2>

            <% if @can_edit_badge || @current_user_is_expert %>
              <h3 class="collapse-when-small">
                <% if @badge.editability == "admins" %>
                  <i class="fa fa-key"></i> Only editable by group admins
                <% elsif @show_progress %>
                  <i class="fa fa-key"></i> Only editable by <%= @experts %>
                <% else %>
                  <i class="fa fa-key"></i> Editable by all <%= @experts %>
                <% end %>
              </h3>
            <% end %>
          </div>
        </div>
      </div>

      <div class="row" id="overview-row">
        <% if @badge.has_overview? %>
          <div class="span12">
            <div class="info-card text-card">
              <% @badge.info_sections.each do |section_text| %>
                <div class="section-container">
                  <%= section_text.html_safe %>
                </div>
              <% end unless @badge.info_sections.nil? %>
            </div>
          </div>
        <% end %>
      </div>

      <% if @can_edit_badge %>

        <!-- === EDIT BADGE OVERVIEW INTERFACE === -->

        <div class="bl-inline-form" id="overview-inline-form" style="display: none">              
          <%= simple_form_for [@group, @badge], id: 'edit-badge-info-form' do |f| %>

            <div class="form-body">
              <%= f.input :info, as: :text, label: 'Edit Badge Overview', 
                input_html: { class: "huge-text-area rich-text-area" } %>
              
              <div class="control-group" id="badge-versions-section">
                <label class="control-label">Restore Previous Versions</label>
                <div class="controls">
                  <select id="badge-versions">
                    <option value="-1">--- Browse previous versions ---</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="form-footer">
              <%= f.button :submit, 'Save changes', class: 'btn btn-primary' %>
              <a class="btn" data-toggle="custom"  data-hide="#overview-inline-form" 
                data-show="#edit-overview,#overview-row">Cancel</a>
            </div>

          <% end %>

        </div>

      <% end %>

    </div>

  <% end %>

  <!-- === BADGE WIKI === -->

  <% if @badge.has_wikis? || @can_edit_badge %>

    <div class="tab-pane" id="wiki">
  
      <div class="row">
        <div class="span12">
          <div class="tab-header no-border solo-header <%= (@badge.has_wikis?) ? '' : 'empty' %>">
            <%= link_to "<i class='fa fa-book'></i> View Badge Wiki".html_safe,
              group_badge_path(@group, @badge) + '/topics', class: "btn btn-small" %>

            <h2>Badge Wiki</h2>
          </div>
        </div>
      </div>

    </div>

  <% end %>

  <!-- === EXPERTS TAB === -->

  <div class="tab-pane" id="<%= @experts.parameterize %>">

      <div class="row">
        <div class="span12">
          <div class="tab-header">
            <% if @can_award_badge %>
              <% unless @badge.current_validation_threshold > 1 %>
                <%= link_to '<i class="fa fa-shield"></i> Award the badge'.html_safe,
                    badge_issue_path(@group, @badge), class: 'btn btn-small', id: 'award-badge' %>
              <% end %>
            <% end %>

            <% unless @new_expert_logs.blank? %>
              <div class="btn-group">
                <a href="#" class="btn btn-small btn-link dropdown-toggle time-sensitive" 
                  data-toggle="dropdown">
                  <%= @new_expert_logs.count %> new 
                  <%= (@new_expert_logs.count == 1)? @expert : @experts %>
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu pull-right">
                  <% @new_expert_logs.take(10).each do |log| %>
                    <li>
                      <%= link_to \
                        "#{log.user.name} (Validated #{log.date_issued.to_s(:short_date)})",
                        [@group, @badge, log], title: 'Click to add your expertise',
                        tabindex: -1 %>
                    </li>
                  <% end %>

                  <% if @new_expert_logs.count > 10 %>
                    <li>
                      <a tabindex="-1" href="#new-<%= @experts.parameterize %>" data-toggle="modal">
                        <%= (@new_expert_logs.count - 10).to_s %> more...
                      </a>
                    </li>
                  <% end %>
                </ul>
              </div>
            <% end %>
              
            <h2>Badge <%= @Experts %></h2>
          </div>

        </div>
      </div>

      <% unless @expert_logs.blank? %>

        <div class="row">
          
          <div class="span12" data-bl-dyncol="parent" data-bl-dyncol-group="experts" 
               data-bl-dyncol-width="12">

              <%= render @expert_logs, badge: @badge, group: @group, user_map: @user_map, \
                is_admin: @current_user_is_admin %>

          </div>
        </div>

        <div class="row">
          <div class="span12">
            <div class="pagination-footer">
              <div class="pagination" id="paginator-experts">
                <%= paginate @expert_logs, remote: true, param_name: 'pe' %>
              </div>
            </div>
          </div>
        </div>

      <% end %>

  </div>

  <% if @show_progress %>

    <!-- === LEARNERS TAB === -->

    <div class="tab-pane" id="<%= @learners.parameterize %>">

      <div class="row">
        <div class="span12">
          <div class="tab-header <%= (@badge.learner_logs.empty?) ? 'empty' : '' %>">
            <% if @can_edit_badge %>

              <%= link_to "<i class='fa fa-plus'></i> Invite #{@learners}".html_safe,
                  add_badge_learners_path(@group, @badge), class: 'btn btn-small' %>
            
              <% if @can_award_badge && !@requesting_learner_logs.blank? %>
                <div class="btn-group">
                  <a href="#" class="btn btn-small btn-link dropdown-toggle time-sensitive" 
                    data-toggle="dropdown">
                    <%= @requesting_learner_logs.count %> feedback 
                    <%= (@requesting_learner_logs.count == 1) ? "request" : "requests" %>
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <% @requesting_learner_logs.take(10).each do |log| %>
                      <li>
                        <%= link_to "#{log.user.name}" \
                          + " (#{log.date_withdrawn.nil? ? 'Requested' : 'Withdrawn'}"\
                          + " #{(log.date_withdrawn || log.date_requested).to_s(:short_date)})",
                          [@group, @badge, log], title: 'Click to add your expertise',
                          tabindex: -1 %>
                      </li>
                    <% end %>

                    <% if @requesting_learner_logs.count > 10 %>
                      <li>
                        <a tabindex="-1" href="#feedback-requests" data-toggle="modal">
                          <%= (@requesting_learner_logs.count - 10).to_s %> more...
                        </a>
                      </li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
            <% end %>

            <h2>Badge <%= @Learners %></h2>
          </div>
        </div>
      </div>

      <% unless @learner_logs.blank? %>

        <div class="row">
          
          <div class="span12" data-bl-dyncol="parent" data-bl-dyncol-group="learners" 
               data-bl-dyncol-width="12">

              <%= render @learner_logs, badge: @badge, group: @group, user_map: @user_map, \
                is_admin: @current_user_is_admin %>

          </div>
        </div>

        <div class="row">
          <div class="span12">
            <div class="pagination-footer">
              <div class="pagination" id="paginator-learners">
                <%= paginate @learner_logs, remote: true, param_name: 'pl' %>
              </div>
            </div>
          </div>
        </div>

      <% end %>

    </div>

  <% end %>

<% else %>
  
  <div class="row">
    <div class="well span7 offset2">
      <h3>This is a private badge</h3>
      <p>
        This badge belongs to a private learning group. 
        Its contents are only visible to members.
      </p>
    </div>
  </div>

<% end %>