<% provide(:title, @badge.name) %>

<div class="page-header">
  <h1>
    <img src="<%= @badge.image_url %>" class="badge-image badge-image-header"><%= @badge.name %>
    <div class="btn-group" id="header-button-bar">
      <%= link_to 'Edit Badge', edit_group_badge_path(@group, @badge), class: "btn" %>
      <%= link_to 'Delete Badge', group_badge_path(@group, @badge), method: :delete, 
          class: "btn", data: { confirm: 'Are you sure?' } %>
    </div><br/>
  </h1>
</div>




<span class="label label-info">Summary</span><br/>
<p class="lead">
  <%= @badge.summary %>
</p>

<p>
  <span class="label label-info">Description</span><br/>
  <%= @badge.description.html_safe %>
</p>


