<% 
  provide(:title, "#{@badge.name} - #{@group.name}")
  provide(:show_subheader, true)
  provide(:subheader_image, group_image_url_for(@group)) 
  provide(:include_rich_text, true)
%>

<% content_for :subheader_links do %>
  <li>
    <%= link_to @group.url_with_caps, group_path(@group) %>
    <span class="divider">/</span>
  </li>
  <li class="active"><%= @badge.url_with_caps %></li>
<% end %>

<% if @current_user_is_admin || @current_user_is_member || @group.open? || @badge_list_admin %>
  <% content_for :subheader_actions do %>
    <% if @show_progress && (@current_user_is_admin || @current_user_is_member || @group.open?) \
      && !@current_user_is_expert && !@current_user_is_learner %>
      <li class="collapsible highlight">
        <%= link_to '<i class="fa fa-plus-circle"></i> Join Badge'.html_safe, 
            group_badge_logs_path(@group, @badge), method: :post %>
        <% if @current_user_is_admin || @badge_list_admin %>
          <span class="divider">|</span>
        <% end %>
      </li>
    <% end %>

    <% if @current_user_is_expert || @current_user_is_learner %>
      <li  class="collapsible">
        <%= link_to "<i class='icon-user icon-white'></i> View Your #{@badge.log.capitalize}".html_safe, 
            [@group, @badge, @log], id: 'view-your-log' %>
        <span class="divider">|</span>
      </li>
    <% end %>

    <% if @current_user_is_expert || @current_user_is_learner || @current_user_is_admin \
      || @badge_list_admin  %>
      <li class="collapsible">
        <div class="dropdown">
          <a href="#" class="dropdown-toggle" id="dropdown-subheader-settings" 
            role="button" data-toggle="dropdown" data-target="#">
            Badge Settings
            <i class="icon-cog icon-white"></i>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu pull-right" role="menu" 
            aria-labelledby="dropdown-subheader-settings">
            <% if @current_user_is_expert || @current_user_is_learner %>
              <li>
                <%= link_to '<i class="icon-pencil"></i> Change your badge membership'.html_safe, 
                  '#edit-membership', tabindex: -1, data: { toggle: 'modal' } %>
              </li>
            <% end %>
            <% if @current_user_is_expert || @badge_list_admin %>
              <li>
                <%= link_to '<i class="icon-wrench"></i> Edit the badge itself'.html_safe, 
                  edit_group_badge_path(@group, @badge) %>
              </li>
            <% end %>
            <% if @current_user_is_admin && (@current_user_is_expert || @current_user_is_learner) %>
              <li class="divider"></li>
            <% end %>
            <% if @current_user_is_admin || @badge_list_admin %>
              <li>
                <%= link_to '<i class="icon-remove"></i> Delete Badge'.html_safe, 
                  [@group, @badge], method: :delete,
                  data: { confirm: 'WARNING: THIS WILL PERMANENTLY DESTROY DATA. Are you absolutely sure you want to permanently delete this badge?' } %>
              </li>
            <% end %>
          </ul>
        </div>
      </li>
    <% end %>
  <% end %>
<% end %>

<% content_for :extra_footer_text do %>
  This badge's image includes the following elements from
  <a href="http://www.thenounproject.com" target="_blank">the Noun Project</a>:
  <% @badge.image_attributions.each do |attribution| %>
    <%= " &amp; ".html_safe unless attribution == @badge.image_attributions.first %>
    <% if attribution['type'] == "attribution" %>
      <%= "#{attribution['item_name'] || "Untitled"} by #{attribution['author_name'] || "Anonymous"}" %>
    <% else %>
      <%= "#{attribution['item_name'] || "Untitled"} in the Public Domain" %>
    <% end %>
  <% end %>
<% end unless @badge.image_attributions.blank? %>


<% if @current_user_is_expert || @badge_list_admin %>

  <!-- === BADGE INFO VERSIONS === -->

    <script type="text/javascript">
      var badgeInfoVersions = 
        <%= if @badge.info_versions.nil?
              "[]" 
            else
              raw @badge.info_versions.to_json
            end %>;

      $(document).ready(function() {
        if (badgeInfoVersions.length > 1) {
          var userName;
          for (var i in badgeInfoVersions) {
            userName = badgeInfoVersions[i].username;
            if (userName == null) userName = "Badge List System";
            $('#badge-versions').append("<option value='"+i+"'>v" + (parseInt(i)+1) + " - "
              + userName + " ("+badgeInfoVersions[i].updated_at_text+")"
              + "</option>");
          }
          $('#badge-versions').change(function() {
            if ($(this).val() >= 0)
              $('#badge_info').siblings("iframe").contents().find("body").html(badgeInfoVersions[$(this).val()].info);
          });
        } else
          $('#badge-versions-section').hide();
      });
    </script>
  
  <!-- === VALIDATION REQUESTS MODAL === -->

  <div id="validation-requests" class="modal hide fade" tabindex="-1" role="dialog" 
   aria-labelledby="mimm-label" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="mimm-label"><%= @Learners %> requesting <%= @expert %> validation</h3>
    </div>

    <div class="modal-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th><%= @Learner %> Name</th>
            <th>Requested</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @badge.requesting_learner_logs.each do |log| %>
            <tr>
              <td>
                <%= link_to log.user.name, [log.badge.group, log.badge, log], 
                  title: "View progress log"  %>
              </td>
              <td><%= (log.date_withdrawn || log.date_requested).to_s(:full_date_time) %></td>
              <td>
                FIXME: <%= link_to '<i class="icon-plus"></i> Add your expertise'.html_safe, 
                    [log.badge.group, log.badge, log] %> 
              </td>
            </tr>
          <% end %>
      </tbody>
      </table>
    </div>
  </div>

  <!-- === NEW EXPERTS MODAL === -->

  <div id="new-<%= @experts.parameterize %>" class="modal hide fade" tabindex="-1" role="dialog" 
   aria-labelledby="mimm-label" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="mimm-label">Recently validated <%= @experts %></h3>
    </div>

    <div class="modal-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Validated</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @badge.new_expert_logs.each do |log| %>
            <tr>
              <td>
                <%= link_to log.user.name, [log.badge.group, log.badge, log], 
                  title: "View #{@badge.progress_log}"  %>
              </td>
              <td><%= log.date_issued.to_s(:full_date_time) %></td>
              <td>
                FIXME: <%= link_to '<i class="icon-plus"></i> Add your expertise'.html_safe, 
                    [log.badge.group, log.badge, log] %> 
              </td>
            </tr>
          <% end %>
      </tbody>
      </table>
    </div>

    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
  </div>

<% end %>

<% if @current_user_is_expert || @current_user_is_learner %>

  <!-- === EDIT MEMBERSHIP MODAL === -->

  <div id="edit-membership" class="modal hide fade" tabindex="-1" role="dialog" 
   aria-labelledby="mimm-label" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="mimm-label">Edit your badge membership</h3>
    </div>

    <div class="modal-body">
      <div class="bl-modal-form">
        <div class="form-body">
          <form class="form-horizontal">      
            <div class="control-group">
              <label class="control-label" for="delete-log">
                Resign badge membership
              </label>
              <div class="controls">
                <%= link_to "Resign from badge but keep #{@badge.progress_log}", 
                  group_badge_log_path(@group, @badge, @log, log: { detached_log: true }), 
                  title: "You will no longer be a member of this badge", method: :put, 
                  class: 'btn brn-large', data: { toggle: 'tooltip', placement: 'bottom',
                   confirm: "Are you sure you want to leave this badge?" } %>
                
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="delete-log">
                Delete <%= @badge.progress_log %> and resign badge membership
              </label>
              <div class="controls">
                <%= link_to "Delete your #{@badge.progress_log}", [@group, @badge, @log], title: "Careful!",
                  method: :delete, class: 'btn btn-danger brn-large', 
                  data: { confirm: "Warning: This can't be undone. Are you absolutely sure you want to"\
                  + " permanently delete your #{@badge.progress_log}?", toggle: 'tooltip', 
                  placement: 'bottom' } %>
                
              </div>
            </div>
           </form>
         </div>        
      </div>
    </div>

    <div class="modal-footer">
      <button class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
  </div>


<% end %>


<!-- === PAGE HEADER === -->

<div class="row add-top-margin">
  <div class="span12">
    <div class="header-bar badge-header-bar">
      <table class="info-table">
        <tbody>
          <tr>
            <td class="left-image">
              <%= image_tag group_badge_path(@group, @badge, format: :png) %>
            </td>
            <td class="single-panel">
              <h1><%= @badge.name %></h1>
              <h2>
                <%= link_to @group.url_with_caps, @group, 
                  title: @group.name %>/<%= @badge.url_with_caps %>
              </h2>
              <h3>
                <%= @badge.summary %>
              </h3>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<% if @group.public? || @current_user_is_admin || @current_user_is_member || @badge_list_admin %>

    <!-- === TOPIC LIST === -->

  <% if @badge.has_topics? || @current_user_is_expert || @badge_list_admin %>
      
    <div class="tab-pane" id="requirements">

      <div class="row">
        <div class="span12">
          <div class="tab-header merge-with-card <%= (@badge.has_topics?) ? '' : 'empty' %>">
            <% if @current_user_is_expert || @badge_list_admin %>
              <a tabindex="-1" class="btn btn-small" id="edit-topic-list" data-toggle="custom" 
                data-hide="#edit-topic-list,#topic-list-row,#topic-footer-row" 
                data-focus="#badge_topic_list_text" data-show="#topic-list-inline-form">
                  
                  <% if @badge.has_topics? %>
                    <i class="fa fa-pencil"></i> Edit the requirement list
                  <% else %>
                    <i class="fa fa-plus"></i> Add a requirement list
                  <% end %>
              </a>
            <% end %>

            <h2>Required Evidence</h2>
            
            <% if @current_user_is_expert || @badge_list_admin %>
              <h3 class="collapse-when-small">
                <% if @show_progress %>
                  <i class="fa fa-key"></i> Only editable by <%= @experts %>
                <% else %>
                  <i class="fa fa-key"></i> Editable by all <%= @experts %>
                <% end %>
              </h3>
            <% end %>
          </div>
        </div>
      </div>

      <% if @badge.has_topics? %>

        <div class="row" id="topic-list-row">
          <div class="span12">
            <div class="info-card text-card topic-list-card">
              <ul>
                <% @badge.topics.each do |topic| %>
                  <li>
                    <%= link_to "<i class='fa fa-book'></i> #{topic['tag_display_name']}".html_safe, 
                      group_badge_path(@group, @badge) + "/" + topic['tag_name_with_caps'] %>
                    <%= 
                      link_to "<i class='fa fa-comment'></i> Post Evidence".html_safe, 
                        new_group_badge_log_entry_path(@group, @badge, @log, \
                        tag: topic['tag_name_with_caps']), class: 'btn btn-mini' \
                      if @current_user_is_learner || @current_user_is_expert
                    %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>

      <% end %>

      <% if @current_user_is_expert || @badge_list_admin %>

        <!-- === EDIT TOPIC LIST INTERFACE === -->

        <div class="bl-inline-form" id="topic-list-inline-form" style="display: none">              
          <%= simple_form_for [@group, @badge], id: 'edit-topic-list-form' do |f| %>

            <div class="form-body">
              <%= f.input :topic_list_text, as: :text, label: 'Edit Requirement List', 
                placeholder: "Enter a list of requirements needed to earn the badge. (One per line.)",
                input_html: { class: "input-xlarge", rows: 7 } %>
            </div>

            <div class="form-footer">
              <%= f.button :submit, 'Save changes', class: 'btn btn-primary' %>
              <a class="btn" data-toggle="custom"  data-hide="#topic-list-inline-form" 
                data-show="#edit-topic-list,#topic-list-row,#topic-footer-row">Cancel</a>
            </div>

          <% end %>

        </div>

      <% end %>

    </div>

  <% end %>


  <!-- === BADGE OVERVIEW === -->

  <% if @badge.has_overview? || @current_user_is_expert || @badge_list_admin %>

    <div class="tab-pane" id="overview">
  
      <div class="row">
        <div class="span12">
          <div class="tab-header merge-with-card <%= (@badge.has_overview?) ? '' : 'empty' %>">
            <% if @current_user_is_expert || @badge_list_admin %>
              <a tabindex="-1" class="btn btn-small" id="edit-overview" data-toggle="custom" 
                data-hide="#edit-overview,#overview-row" 
                data-focus="#badge_info" data-show="#overview-inline-form">

                  <% if @badge.has_overview? %>
                    <i class="fa fa-pencil"></i> Edit overview
                  <% else %>
                    <i class="fa fa-plus"></i> Add overview
                  <% end %>
                  
              </a>
            <% end %>

            <h2>Badge Overview</h2>
            <h3 class="collapse-when-small">
              <% if @show_progress %>
                <i class="fa fa-key"></i> Only editable by <%= @experts %>
              <% else %>
                <i class="fa fa-key"></i> Editable by all <%= @experts %>
              <% end %>
            </h3>
          </div>
        </div>
      </div>

      <div class="row" id="overview-row">
        <% if @badge.has_overview? %>
          <div class="span12">
            <div class="info-card text-card">
              <% @badge.info_sections.each do |section_text| %>
                <div class="section-container">
                  <%= section_text.html_safe %>
                </div>
              <% end unless @badge.info_sections.nil? %>
            </div>
          </div>
        <% end %>
      </div>

      <% if @current_user_is_expert || @badge_list_admin %>

        <!-- === EDIT BADGE OVERVIEW INTERFACE === -->

        <div class="bl-inline-form" id="overview-inline-form" style="display: none">              
          <%= simple_form_for [@group, @badge], id: 'edit-badge-info-form' do |f| %>

            <div class="form-body">
              <%= f.input :info, as: :text, label: 'Edit Badge Overview', 
                input_html: { class: "huge-text-area rich-text-area" } %>
              
              <div class="control-group" id="badge-versions-section">
                <label class="control-label">Restore Previous Versions</label>
                <div class="controls">
                  <select id="badge-versions">
                    <option value="-1">--- Browse previous versions ---</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="form-footer">
              <%= f.button :submit, 'Save changes', class: 'btn btn-primary' %>
              <a class="btn" data-toggle="custom"  data-hide="#overview-inline-form" 
                data-show="#edit-overview,#overview-row">Cancel</a>
            </div>

          <% end %>

        </div>

      <% end %>

    </div>

  <% end %>


  <!-- === EXPERTS TAB === -->

  <div class="tab-pane" id="<%= @experts.parameterize %>">

      <div class="row">
        <div class="span12">
          <div class="tab-header">
            <% if @current_user_is_expert || @badge_list_admin %>
              <% unless @badge.current_validation_threshold > 1 %>
                <%= link_to '<i class="fa fa-shield"></i> Award the badge'.html_safe,
                    badge_issue_path(@group, @badge), class: 'btn btn-small', id: 'award-badge' %>
              <% end %>
            <% end %>

            <% unless @badge.new_expert_logs.blank? %>
              <div class="btn-group">
                <a href="#" class="btn btn-small btn-link dropdown-toggle time-sensitive" 
                  data-toggle="dropdown">
                  <%= @badge.new_expert_logs.count %> new 
                  <%= (@badge.new_expert_logs.count == 1)? @expert : @experts %>
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu pull-right">
                  <% @badge.new_expert_logs.take(10).each do |log| %>
                    <li>
                      <%= link_to \
                        "#{log.user.name} (Validated #{log.date_issued.to_s(:short_date)})",
                        [log.badge.group, log.badge, log], title: 'Click to add your expertise',
                        tabindex: -1 %>
                    </li>
                  <% end %>

                  <% if @badge.new_expert_logs.count > 10 %>
                    <li>
                      <a tabindex="-1" href="#new-<%= @experts.parameterize %>" data-toggle="modal">
                        <%= (@badge.new_expert_logs.count - 10).to_s %> more...
                      </a>
                    </li>
                  <% end %>
                </ul>
              </div>
            <% end %>
              
            <h2>Badge <%= @Experts %></h2>
          </div>

        </div>
      </div>

      <div class="row">
        
        <div class="span12" data-bl-dyncol="parent" data-bl-dyncol-group="experts" 
             data-bl-dyncol-width="12">

            <%= render @badge.expert_logs %>

        </div>
      </div>

  </div>

  <% if @show_progress %>

    <!-- === LEARNERS TAB === -->

    <div class="tab-pane" id="<%= @learners.parameterize %>">

      <div class="row">
        <div class="span12">
          <div class="tab-header <%= (@badge.learner_logs.empty?) ? 'empty' : '' %>">
            <% if @current_user_is_expert || @badge_list_admin %>

              <%= link_to "<i class='fa fa-plus'></i> Invite #{@learners}".html_safe,
                  add_badge_learners_path(@group, @badge), class: 'btn btn-small' %>
            
              <% unless @badge.requesting_learner_logs.blank? %>
                <div class="btn-group">
                  <a href="#" class="btn btn-small btn-link dropdown-toggle time-sensitive" 
                    data-toggle="dropdown">
                    <%= @badge.requesting_learner_logs.count %> validation 
                    <%= (@badge.requesting_learner_logs.count == 1) ? "request" : "requests" %>
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <% @badge.requesting_learner_logs.take(10).each do |log| %>
                      <li>
                        <%= link_to "#{log.user.name}" \
                          + " (#{log.date_withdrawn.nil? ? 'Requested' : 'Withdrawn'}"\
                          + " #{(log.date_withdrawn || log.date_requested).to_s(:short_date)})",
                          [log.badge.group, log.badge, log], title: 'Click to add your expertise',
                          tabindex: -1 %>
                      </li>
                    <% end %>

                    <% if @badge.requesting_learner_logs.count > 10 %>
                      <li>
                        <a tabindex="-1" href="#validation-requests" data-toggle="modal">
                          <%= (@badge.requesting_learner_logs.count - 10).to_s %> more...
                        </a>
                      </li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
            <% end %>

            <h2>Badge <%= @Learners %></h2>
          </div>
        </div>
      </div>

      <div class="row">
        
        <div class="span12" data-bl-dyncol="parent" data-bl-dyncol-group="learners" 
             data-bl-dyncol-width="12">

            <%= render @badge.learner_logs if !@badge.learner_logs.empty? %>

        </div>
      </div>

    </div>

  <% end %>

<% else %>
  
  <div class="row">
    <div class="well span7 offset2">
      <h3>This is a private badge</h3>
      <p>
        This badge belongs to a private learning group. 
        Its contents are only visible to members.
      </p>
    </div>
  </div>

<% end %>