<% 
  provide(:title, @badge.name)
  provide(:show_subheader, true)
  provide(:subheader_image, group_image_url_for(@group)) 
  provide(:include_rich_text, true)
%>

<% content_for :subheader_links do %>
  <li>
    <%= link_to @group.url_with_caps, group_path(@group) %>
    <span class="divider">/</span>
  </li>
  <li class="active"><%= @badge.url_with_caps %></li>
<% end %>

<% if @current_user_is_admin || @current_user_is_member || @group.open? || @badge_list_admin %>
  <% content_for :subheader_actions do %>
    <% if (@current_user_is_admin || @current_user_is_member || @group.open?) \
      && !@current_user_is_expert && !@current_user_is_learner %>
      <li class="collapsible">
        <%= link_to '<i class="icon-plus icon-white"></i> Join Badge'.html_safe, 
            group_badge_logs_path(@group, @badge), method: :post %>
        <% if @current_user_is_admin || @badge_list_admin %>
          <span class="divider">|</span>
        <% end %>
      </li>
    <% end %>

    <% if @current_user_is_expert && @current_user_is_learner %>
      <li  class="collapsible">
        <%= link_to '<i class="icon-user icon-white"></i> View Your Log'.html_safe, 
            [@group, @badge, @log] %>
        <span class="divider">|</span>
      </li>
      <li class="collapsible">
        <%= link_to '<i class="icon-plus-sign icon-white"></i> New Log Entry'.html_safe, 
            new_group_badge_log_entry_path(@group, @badge, @log) %>
        <span class="divider">|</span>
      </li>
    <% end %>

    <% if @current_user_is_expert || @current_user_is_learner || @current_user_is_admin \
      || @badge_list_admin  %>
      <li class="collapsible">
        <div class="dropdown">
          <a href="#" class="dropdown-toggle" id="dropdown-subheader-settings" 
            role="button" data-toggle="dropdown" data-target="#">
            Badge Settings
            <i class="icon-cog icon-white"></i>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu pull-right" role="menu" 
            aria-labelledby="dropdown-subheader-settings">
            <% if @current_user_is_expert || @current_user_is_learner %>
              <li>
                <%= link_to '<i class="icon-pencil"></i> Change your badge membership'.html_safe, 
                  '#edit-membership', tabindex: -1, data: { toggle: 'modal' } %>
              </li>
            <% end %>
            <% if @current_user_is_expert || @badge_list_admin %>
              <li>
                <%= link_to '<i class="icon-wrench"></i> Edit the badge itself'.html_safe, 
                  edit_group_badge_path(@group, @badge) %>
              </li>
            <% end %>
            <% if @current_user_is_admin && (@current_user_is_expert || @current_user_is_learner) %>
              <li class="divider"></li>
            <% end %>
            <% if @current_user_is_admin || @badge_list_admin %>
              <li>
                <%= link_to '<i class="icon-remove"></i> Delete Badge'.html_safe, 
                  [@group, @badge], method: :delete,
                  data: { confirm: 'WARNING: THIS WILL PERMANENTLY DESTROY DATA. Are you absolutely sure you want to permanently delete this badge?' } %>
              </li>
            <% end %>
          </ul>
        </div>
      </li>
    <% end %>
  <% end %>
<% end %>

<% content_for :extra_footer_text do %>
  This badge's image includes the following elements from
  <a href="http://www.thenounproject.com" target="_blank">the Noun Project</a>:
  <% @badge.image_attributions.each do |attribution| %>
    <%= " &amp; ".html_safe unless attribution == @badge.image_attributions.first %>
    <% if attribution['type'] == "attribution" %>
      <%= "#{attribution['item_name'] || "Untitled"} by #{attribution['author_name'] || "Anonymous"}" %>
    <% else %>
      <%= "#{attribution['item_name'] || "Untitled"} in the Public Domain" %>
    <% end %>
  <% end %>
<% end unless @badge.image_attributions.blank? %>

<% if @current_user_is_expert || @badge_list_admin %>

  <!-- === BADGE INFO VERSIONS === -->

    <script type="text/javascript">
      var badgeInfoVersions = 
        <%= if @badge.info_versions.nil?
              "[]" 
            else
              raw @badge.info_versions.to_json
            end %>;

      $(document).ready(function() {
        if (badgeInfoVersions.length > 1) {
          var userName;
          for (var i in badgeInfoVersions) {
            userName = badgeInfoVersions[i].username;
            if (userName == null) userName = "Badge List System";
            $('#badge-versions').append("<option value='"+i+"'>v" + (parseInt(i)+1) + " - "
              + userName + " ("+badgeInfoVersions[i].updated_at_text+")"
              + "</option>");
          }
          $('#badge-versions').change(function() {
            if ($(this).val() >= 0)
              $('#badge_info').siblings("iframe").contents().find("body").html(badgeInfoVersions[$(this).val()].info);
          });
        } else
          $('#edit-badge-info div.form-footer').hide();
      });
    </script>

  <!-- === EDIT BADGE INFO MODAL === -->

  <div id="edit-badge-info" class="modal full-screen hide fade" tabindex="-1" role="dialog" 
   aria-labelledby="mimm-label" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="mimm-label">Edit Badge Wiki</h3>
    </div>

    <div class="modal-body">
      <div class="bl-modal-form">

        <div class="form-body">
          <%= form_for [@group, @badge], url: group_badge_path(@group, @badge), method: :put,
              id: 'edit-badge-info-form' do |f| %>
            <%= f.text_area :info, class: "huge-text-area modal-rich-text-area", 
                autofocus: true %><br />
          <% end %>
        </div>

        <div class="form-footer">
          <div class="control-group">
            <label class="control-label">Restore Previous Versions</label>
            <div class="controls">
              <select id="badge-versions">
                <option value="-1">--- Browse previous versions ---</option>
              </select>
            </div>
          </div>
        </div>


      </div>

    </div>

    <div class="modal-footer">
      <button class="btn" aria-hidden="true" 
       onclick="$('#edit-badge-info .bl-modal-form form').submit();">
        Save
      </button>
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
  </div>
  
  <!-- === VALIDATION REQUESTS MODAL === -->

  <div id="validation-requests" class="modal hide fade" tabindex="-1" role="dialog" 
   aria-labelledby="mimm-label" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="mimm-label">Learners requesting expert validation</h3>
    </div>

    <div class="modal-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Learner Name</th>
            <th>Requested</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @badge.requesting_learner_logs.each do |log| %>
            <tr>
              <td>
                <%= link_to log.user.name, [log.badge.group, log.badge, log], 
                  title: "View learning log"  %>
              </td>
              <td><%= (log.date_withdrawn || log.date_requested).to_s(:full_date_time) %></td>
              <td>
                FIXME: <%= link_to '<i class="icon-plus"></i> Add your expertise'.html_safe, 
                    [log.badge.group, log.badge, log] %> 
              </td>
            </tr>
          <% end %>
      </tbody>
      </table>
    </div>
  </div>

  <!-- === NEW EXPERTS MODAL === -->

  <div id="new-experts" class="modal hide fade" tabindex="-1" role="dialog" 
   aria-labelledby="mimm-label" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="mimm-label">Recently validated experts</h3>
    </div>

    <div class="modal-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Expert Name</th>
            <th>Validated</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @badge.new_expert_logs.each do |log| %>
            <tr>
              <td>
                <%= link_to log.user.name, [log.badge.group, log.badge, log], 
                  title: "View learning log"  %>
              </td>
              <td><%= log.date_issued.to_s(:full_date_time) %></td>
              <td>
                FIXME: <%= link_to '<i class="icon-plus"></i> Add your expertise'.html_safe, 
                    [log.badge.group, log.badge, log] %> 
              </td>
            </tr>
          <% end %>
      </tbody>
      </table>
    </div>

    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
  </div>

<% end %>

<% if @current_user_is_expert || @current_user_is_learner %>

  <!-- === EDIT MEMBERSHIP MODAL === -->

  <div id="edit-membership" class="modal hide fade" tabindex="-1" role="dialog" 
   aria-labelledby="mimm-label" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="mimm-label">Edit your badge membership</h3>
    </div>

    <div class="modal-body">
      <div class="bl-modal-form">
        <div class="form-body">
          <form class="form-horizontal">      
            <div class="control-group">
              <label class="control-label" for="delete-log">
                Resign badge membership
              </label>
              <div class="controls">
                <%= link_to 'Resign from badge but keep learning log', 
                  group_badge_log_path(@group, @badge, @log, log: { detached_log: true }), 
                  title: "You will no longer be a member of this badge", method: :put, 
                  class: 'btn brn-large', data: { toggle: 'tooltip', placement: 'bottom',
                   confirm: "Are you sure you want to leave this badge?" } %>
                
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="delete-log">
                Delete learning log and resign badge membership
              </label>
              <div class="controls">
                <%= link_to 'Delete this learning log', [@group, @badge, @log], title: "Careful!",
                  method: :delete, class: 'btn btn-danger brn-large', 
                  data: { confirm: "Warning: This can't be undone. Are you absolutely sure you want to"\
                  + " permanently delete your learning log?", toggle: 'tooltip', 
                  placement: 'bottom' } %>
                
              </div>
            </div>
           </form>
         </div>        
      </div>
    </div>

    <div class="modal-footer">
      <button class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
  </div>


<% end %>


<!-- === PAGE HEADER === -->

<div class="row add-top-margin">
  <div class="span12">
    <div class="header-card badge-header-card">

      <div class="primary-header span12">
        <span class="header-image" >
          <%= image_tag group_badge_path(@group, @badge, format: :png) %>
        </span>
        <span class="header-text">
          <h1><%= @badge.name %></h1>
          <h2>
            <%= link_to @group.url_with_caps, @group, 
              title: @group.name %>/<%= @badge.url_with_caps %>
          </h2>
          <h3>
            <%= @badge.summary %>
          </h3>
        </span>
      </div>

      <% if @group.public? || @current_user_is_admin || @current_user_is_member || @badge_list_admin %>
        <div class="card-tabs">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#wiki" data-toggle="tab">Wiki</a></li>
            <li><a href="#entries" data-toggle="tab">
              <span class="collapse-when-small">Recent </span>Entries</a>
            </li>
            <li><a href="#learners" data-toggle="tab">Learners</a></li>
            <li><a href="#experts" data-toggle="tab">Experts</a></li>
          </ul>
        </div>
      <% end %>

    </div>
  </div>
</div>

<% if @group.public? || @current_user_is_admin || @current_user_is_member || @badge_list_admin %>

  <!-- === NEW BADGE TUTORIAL === -->

  <% if (@current_user_is_expert || @badge_list_admin) && \
    (@badge.info_versions.blank? || @badge.learner_logs.blank? || (@entries.count <= 1)) %>
    
    <%
      tutorial1_complete = !@badge.info_versions.blank?
      tutorial1_outerclass = (tutorial1_complete) ? 'item-complete' : ''
      tutorial1_innerclass = (tutorial1_complete) ? 'fa fa-check-square-o' : 'fa fa-square-o'
      tutorial2_complete = !@badge.learner_logs.blank?
      tutorial2_outerclass = (tutorial2_complete) ? 'item-complete' : ''
      tutorial2_innerclass = (tutorial2_complete) ? 'fa fa-check-square-o' : 'fa fa-square-o'
      tutorial3_complete = @entries.count > 1
      tutorial3_outerclass = (tutorial3_complete) ? 'item-complete' : ''
      tutorial3_innerclass = (tutorial3_complete) ? 'fa fa-check-square-o' : 'fa fa-square-o'
    %>

    <div class="row">
      <div class="well span7 offset2">
        <i class="fa fa-info-circle header-icon"></i>
        <h3>To finish setting up this badge...</h3>
        <ul>
          <li class="<%= tutorial1_outerclass %>">
            <i class="<%= tutorial1_innerclass %>"></i>
            Build out a checklist in the badge wiki
            <a href="/badgelist/help/badge-checklist" target="_blank">(Read more)</a>
          </li>
          <li class="<%= tutorial2_outerclass %>">
            <i class="<%= tutorial2_innerclass %>"></i>
            Add learners to the badge
            <a href="/badgelist/help/add-learners" target="_blank">(Read more)</a>
          </li>
          <li class="<%= tutorial3_outerclass %>">
            <i class="<%= tutorial3_innerclass %>"></i>
            Have one of your learners or experts post a learning log entry
            <a href="/badgelist/help/post-log-entries" target="_blank">(Read more)</a>
          </li>
        </ul>
      </div>
    </div>
  <% end %>

  <!-- === TAB CONTENT === -->

  <div class="tab-content">

    <!-- === WIKI TAB === -->

    <div class="tab-pane active" id="wiki">

      <% if @current_user_is_expert || @badge_list_admin %>
        <div class="row">
          <div class="span12">
            <div class="tab-header">
              <a tabindex="-1" href="#edit-badge-info" data-toggle="modal" class="btn btn-small" >
                <i class="fa fa-pencil"></i> Edit badge wiki
              </a>

              <h2>Badge Wiki</h2>
            </div>
          </div>
        </div>
      <% end %>

      <div class="row">
        <div class="span12">
          <% @badge.info_sections.each do |section_text| %>
            <div class="info-card text-card">
              <%= section_text.html_safe %>
            </div>
          <% end unless @badge.info_sections.nil? %>
        </div>
      </div>

    </div>

    <!-- === ENTRIES TAB === -->

    <div class="tab-pane" id="entries">

      <div class="row">
        <div class="span12">

          <div class="tab-header">
            <% if @current_user_is_expert || @current_user_is_learner %>
              <%= link_to '<i class="icon-plus"></i> New Log Entry'.html_safe,
                  new_group_badge_log_entry_path(@group, @badge, @log), class: 'btn btn-small' %>
            <% end %>

            <h2>Recent Learning Log Entries</h2>
          </div>
        
        </div>
      </div>

      <div class="row">
        <div class="span12" data-bl-dyncol="parent" data-bl-dyncol-group="entries" 
          data-bl-dyncol-width="12">

          <%= render(@entries, show_badge: false, date_format: :ago) if !@entries.empty? %>

        </div>
      </div>

      <div class="row">
        <div class="span12">

          <div class="tab-footer">
            <%= link_to 'See all of the learning log entries...', badge_entries_path(@group, @badge) %>
          </div>
        
        </div>
      </div>

    </div>

    <!-- === LEARNERS TAB === -->

    <div class="tab-pane" id="learners">

      <div class="row">
        <div class="span12">
          <% if @current_user_is_expert || @badge_list_admin %>
            <div class="tab-header">

              <%= link_to '<i class="icon-plus"></i> Add Learners'.html_safe,
                  add_badge_learners_path(@group, @badge), class: 'btn btn-small' %>
            
              <% unless @badge.requesting_learner_logs.blank? %>
                <div class="btn-group">
                  <a href="#" class="btn btn-small btn-link dropdown-toggle time-sensitive" 
                    data-toggle="dropdown">
                    <%= @badge.requesting_learner_logs.count %> validation requests
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <% @badge.requesting_learner_logs.take(10).each do |log| %>
                      <li>
                        <%= link_to "#{log.user.name}" \
                          + " (#{log.date_withdrawn.nil? ? 'Requested' : 'Withdrawn'}"\
                          + " #{(log.date_withdrawn || log.date_requested).to_s(:short_date)})",
                          [log.badge.group, log.badge, log], title: 'Click to add your expertise',
                          tabindex: -1 %>
                      </li>
                    <% end %>

                    <% if @badge.requesting_learner_logs.count > 10 %>
                      <li>
                        <a tabindex="-1" href="#validation-requests" data-toggle="modal">
                          <%= (@badge.requesting_learner_logs.count - 10).to_s %> more...
                        </a>
                      </li>
                    <% end %>
                  </ul>
                </div>
              <% end %>

              <h2>Badge Learners</h2>

            </div>
          <% end %>

          <% if @badge.learner_logs.empty? %>
            <div class="well span7 offset2">
              <p class="lead">No learners yet!</p>
              <p>
                <%= 
                  if @current_user_is_admin || @badge_list_admin
                    link_to '<i class="icon-plus"></i> Add some learners'.html_safe,
                    add_badge_learners_path(@group, @badge), class: 'btn btn-success' 
                  end
                %>
              </p>
            </div>
          <% end %>
        </div>
      </div>

      <div class="row">
        
        <div class="span12" data-bl-dyncol="parent" data-bl-dyncol-group="learners" 
             data-bl-dyncol-width="12">

            <%= render @badge.learner_logs if !@badge.learner_logs.empty? %>

        </div>
      </div>

    </div>

    <!-- === EXPERTS TAB === -->

    <div class="tab-pane" id="experts">

        <div class="row">
          <div class="span12">
            <% if @current_user_is_expert || @badge_list_admin %>
              <div class="tab-header">

                <% unless @badge.new_expert_logs.blank? %>
                  <div class="btn-group">
                    <a href="#" class="btn btn-small btn-link dropdown-toggle time-sensitive" 
                      data-toggle="dropdown">
                      <%= @badge.new_expert_logs.count %> new experts
                      <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu pull-right">
                      <% @badge.new_expert_logs.take(10).each do |log| %>
                        <li>
                          <%= link_to \
                            "#{log.user.name} (Validated #{log.date_issued.to_s(:short_date)})",
                            [log.badge.group, log.badge, log], title: 'Click to add your expertise',
                            tabindex: -1 %>
                        </li>
                      <% end %>

                      <% if @badge.new_expert_logs.count > 10 %>
                        <li>
                          <a tabindex="-1" href="#new-experts" data-toggle="modal">
                            <%= (@badge.new_expert_logs.count - 10).to_s %> more...
                          </a>
                        </li>
                      <% end %>
                    </ul>
                  </div>
                <% end %>
                
                <h2>Badge Experts</h2>

              </div>
            <% end %>

          </div>
        </div>

        <div class="row">
          
          <div class="span12" data-bl-dyncol="parent" data-bl-dyncol-group="experts" 
               data-bl-dyncol-width="12">

              <%= render @badge.expert_logs %>

          </div>
        </div>

    </div>

  </div>

<% else %>
  
  <div class="row">
    <div class="well span7 offset2">
      <p class="lead">This is a private badge</p>
      <p>
        This badge belongs to a private learning group. 
        Its contents are only visible to members.
      </p>
    </div>
  </div>

<% end %>