<script>

  $(document).ready(function() {

    <% if @group.new_record? %>
      // If this is a new record then auto set the URL as they type
      $('#group_name').keyup(function() {
        $('#group_url_with_caps').val(parameterizeText($(this).val()));
      });

      <% if @group.owner.stripe_default_source %>
        // Set the credit card dropdown to be their default stripe card
        $("#group_stripe_subscription_card").val("<%= @group.owner.stripe_default_source %>");
      <% end %>
    <% else %>
      $("#cancel-subscription").click(function(e) {
        if (confirm("Are you sure you want to cancel your subscription? All of your group's "
            + "content will still be available and you can create a new subscription at any time.")) {
          $('#cancel-subscription-spinner').fadeIn();
          $.ajax({
            url: "<%= cancel_subscription_path(@group) %>",
            type: "POST",
            success: function(response) {
              startPoller(response.poller_id, cancelSubscriptionCompleted, cancelSubscriptionError);
            },
            error: cancelSubscriptionError
          });
        }
        e.preventDefault();
      });
    <% end %>

    $("#group_type_private").click(function() {
      $("#subscription-details-panel").fadeIn();
      if ($("#group_stripe_subscription_card").val() == "") {
        $("#submit-group-form").prop("disabled", true);
        $("#card-required-label").show();
      }
    });
    $("#group_type_open").click(function() {
      $("#subscription-details-panel").fadeOut();
      $("#submit-group-form").prop("disabled", false);
      $("#card-required-label").hide();
    });

    $("#show-edit-subscription-panel").click(function(e) {
      $("#view-subscription-panel").fadeOut(function() {
        $("#edit-subscription-panel").fadeIn();
      });
      e.preventDefault();
    });

  });

  function toggleExtraInfo() {
    if ($('#form-extra-info').is(':visible')) {
      $('#form-extra-info').slideUp();
      $('#form-extra-info-toggle').val('Show Extra Info')
      $('#group_name').focus()
    } else {
      $('#form-extra-info').slideDown();
      $('#form-extra-info-toggle').val('Hide Extra Info')
      $('#group_location').focus()
    }
  }

  // Converts "Test text like  this" > "Text-text-like-this"
  var MAX_URL_LENGTH = <%= Group::MAX_URL_LENGTH %>;
  function parameterizeText(s) {
    if (s == null) return '';
    else return s.replace(/['.]/g, '').replace(/[^ A-Za-z0-9]/g, ' ').replace(/ +/g, ' ')
      .replace(/ /g, '-').trunc(MAX_URL_LENGTH);
  }

  /* === Stripe polling functionality === */

  function cancelSubscriptionCompleted(poller) {
    if (poller.status == 'successful') {
      window.location.reload();
    } else {
      $('#cancel-subscription-spinner').fadeOut();
      alert(poller.message);
    }
  }

  function cancelSubscriptionError() {
    $('#cancel-subscription-spinner').fadeOut();
    alert("There was an error cancelling your subscription, please try again.");
  }

</script>

<div class="spinner-wrapper" id="cancel-subscription-spinner" style="display: none;">
  <div class="spinner large tertiary">&nbsp;</div>
</div>

<%= simple_form_for(@group, html: { class: 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>
  <div class="form-body">
    <%= f.input :name, label: 'Group Name', placeholder: 'NASA Astronaut Training',
      autofocus: true, input_html: { class: 'input-xlarge', data: { toggle: 'tooltip',
        title: 'What is your organization, team or group called?' } } %>
    
    <%= f.input :url_with_caps, wrapper: :prepend, label: 'Group URL' do %>
      <%= content_tag :span, "badgelist.com/", class: "add-on" %>
      <%= f.input_field :url_with_caps, placeholder: 'nasa-crew', class: 'input-medium', 
        data: { toggle: 'tooltip',
        title: 'Pick a unique URL for your learning group' } %>
    <% end %>

    <%= f.input :type, label: 'Group Type', as: :radio_buttons, label_html: { class: 'hidden' },
                collection: @group_type_options %>

    <!-- === SUBSCRIPTION DETAILS === -->

    <div id="subscription-details-panel" style="<%= (@group.private?) ? '' : 'display:none;' %>">
    
      <h2>Subscription Details</h2>

      <% if @group.private? && !@group.new_record? %>
        <div id="view-subscription-panel">

          <div class="control-group">
            <label class="control-label">Current Plan</label>
            <div class="controls">
              <%= APP_CONFIG['subscription_plans'][@group.pricing_group]\
                [@group.subscription_plan]['name'] %>
            </div>
          </div>

          <% subscription_status = @group.status_details_for_admins %>
          <div class="control-group">
            <label class="control-label">Subscription Status</label>
            <div class="controls <%= subscription_status[:color] %>">
              <i class="fa <%= subscription_status[:icon] %>"></i>
              <%= subscription_status[:summary] %>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label"></label>
            <div class="controls">
              <a href="#" id="show-edit-subscription-panel" class="btn">
                <i class="fa fa-pencil"></i>
                Edit Subscription
              </a>
              <a href="#" id="cancel-subscription" class="btn btn-danger">
                <i class="fa fa-remove"></i>
                Cancel Subscription
              </a>
            </div>
          </div>  

          <div class="control-group">
            <div class="sub-header">
              <em>
                Have questions about your subscription?
                Read our <a href="http://badgelist.com/help/docs/Paid-Subscription-FAQ" 
                  target="_blank">Paid Subscription FAQ</a> or 
                email us at <a href="mailto:solutions@badgelist.com">solutions@badgelist.com</a>.
              </em>
            </div>
          </div>        

        </div> <!-- /view-subscription-panel -->
      <% end %>

      <div id="edit-subscription-panel" 
          style="<%= (@group.new_record? || @group.public?) ? '' : 'display:none;' %>">

        <div class="control-group">
          <div class="sub-header">
            All plans come with a 14 day free trial.
            (<a href="/pricing" target="_blank">View plan details</a>.)
          </div>
        </div>

        <%= f.input :subscription_plan, label: 'Subscription Plan', as: :select, include_blank: false,
          collection: SUBSCRIPTION_OPTIONS[@group.pricing_group] %>

        <div id="has-credit-card-panel" 
            style="<%= (@group.owner.has_stripe_card?) ? '' : 'display: none;' %>">
          <%= f.input :stripe_subscription_card, label: 'Credit Card', as: :select, 
            include_blank: false, collection: @group.owner.stripe_card_options %>

          <div class="control-group">
            <div class="controls">
              <a class="btn" href="#add-credit-card" data-toggle="modal">
                <i class="fa fa-plus"></i>
                Add a credit card
              </a>
            </div>
          </div>
        </div>

        <% unless @group.owner.has_stripe_card? %>
          <div class="control-group" id="no-credit-card-panel">
            <label class="optional control-label">Credit Card</label>
            <div class="controls">
              <a class="btn btn-success" href="#add-credit-card" data-toggle="modal">
                <i class="fa fa-credit-card"></i>
                Add a credit card
              </a>
            </div>
          </div>
        <% end %>


        <div class="control-group">
          <div class="sub-header">
            <em>
              Have any questions about pricing or billing?
              Read our <a href="http://badgelist.com/help/docs/Paid-Subscription-FAQ" 
                target="_blank">Paid Subscription FAQ</a> or 
              email us at <a href="mailto:solutions@badgelist.com">solutions@badgelist.com</a>.
            </em>
          </div>
        </div>

      </div> <!-- /edit-subscription-panel -->

    </div>

    <% unless @group.new_record? %>

      <!-- === EXTRA INFO === -->
      
      <h2>Extra information</h2>

      <%= f.input :location, label: 'Location', placeholder: 'Titusville, FL',
                  input_html: { class: 'input-xlarge' } %>

      <%= f.input :website, label: 'Website', placeholder: 'http://www.nasa.gov',
                  input_html: { class: 'input-xlarge' } %>

      <%= f.input :image_url, label: 'Group Image URL', 
                  placeholder: 'http://nasa.gov/logo.png',
                  input_html: { class: 'input-xlarge' } %>

      <% if @badge_list_admin %>
        <%= f.input :user_limit, label: '(ADMIN) User Limit', 
            placeholder: 'Private group allowed size',
            input_html: { class: 'input-mini' } %>
      <% end %>

      <!-- === GROUP OWNERSHIP === -->

      <h2>Transfer group ownership</h2>
      
      <%= f.input :new_owner_username, label: 'New owner', 
        placeholder: 'Enter Badge List username',
        hint: 'This will instantly and irreversably transfer ownership of this group to the ' \
        + 'user you specify (enter their Badge List username not their email). ' \
        + 'Badge List will not send them a notification so please be sure to ' \
        + 'notify the recipient and get their agreement beforehand.' %>

    <% end %>
  </div>  
  
  <div class="form-footer add-top-margin">
    <span class="label label-primary" id="card-required-label" style="display: none;">
      <i class="fa fa-credit-card"></i>
      Credit card required to continue
    </span>

    <%= f.button :submit, class: 'btn btn-primary', id: 'submit-group-form' %>
    <%= 
      if @group.new_record?
        link_to "Cancel", root_path, class: "btn"
      else 
        link_to "Cancel", @group, class: "btn"
      end
    %>
  </div>
<% end %>