<script>

  $(document).ready(function() {
    // Show or hide the customer code based on initial value of group type
    if ($('input[name="group[type]"]:checked').val() == 'private')
      $('#customer-code-wrapper').show();
    else
      $('#customer-code-wrapper').hide();

    // Setup the event handler to maintain the appropriate visibility
    $('input[name="group[type]"]').change(function(){
      if ($(this).val() == 'private')
        $('#customer-code-wrapper').slideDown();
      else
        $('#customer-code-wrapper').slideUp();
    })
  });

  function toggleExtraInfo() {
    if ($('#form-extra-info').is(':visible')) {
      $('#form-extra-info').slideUp();
      $('#form-extra-info-toggle').val('Show Extra Info')
      $('#group_name').focus()
    } else {
      $('#form-extra-info').slideDown();
      $('#form-extra-info-toggle').val('Hide Extra Info')
      $('#group_location').focus()
    }
  }

</script>

<%= simple_form_for(@group, html: { class: 'form-horizontal' }) do |f| %>
  <div class="form-body">
    
    <%= f.input :name, label: 'Group Name', placeholder: 'NASA Astronaut Training',
                autofocus: true, input_html: { class: 'input-xlarge' } %>
    
    <%= f.input :url_with_caps, wrapper: :prepend, label: 'Group URL' do %>
      <%= content_tag :span, "badgelist.com/", class: "add-on" %>
      <%= f.input_field :url_with_caps, placeholder: 'nasa-crew', class: 'input-medium' %>
    <% end %>

    <%= f.input :type, label: 'Group Type', as: :radio_buttons,
                collection: @group_type_options %>

    <%= f.input :customer_code, label: 'Customer Code',
                hint: 'A customer code is required for private learning groups',
                input_html: { class: 'input-small' },
                wrapper_html: { id: 'customer-code-wrapper' } %>
    
    <h2>
      Extra information (optional)
      <input class="btn btn-link" type="button" id="form-extra-info-toggle" 
        value="<%= @group.new_record? ? 'Show Extra Info' : 'Hide Extra Info' %>" 
        onclick="toggleExtraInfo()" />
    </h2> 

    <div id="form-extra-info" 
         style="<%= @group.new_record? ? 'display:none' : '' %>">
      <%= f.input :location, label: 'Location', placeholder: 'Titusville, FL',
                  input_html: { class: 'input-xlarge' } %>

      <%= f.input :website, label: 'Website', placeholder: 'http://www.nasa.gov',
                  input_html: { class: 'input-xlarge' } %>

      <%= f.input :image_url, label: 'Group Image URL', 
                  placeholder: 'http://nasa.gov/logo.png',
                  input_html: { class: 'input-xlarge' } %>
    </div>
  </div>  
  
  <div class="form-footer add-top-margin">
    <%= f.button :submit, class: 'btn btn-primary' %>
    <%= 
      if @group.new_record?
        link_to "Cancel", root_path, class: "btn"
      else 
        link_to "Cancel", @group, class: "btn"
      end
    %>
  </div>
<% end %>