<script>

  $(document).ready(function() {
    <% if @group.new_record? %>
      // If this is a new record then auto set the URL as they type
      $('#group_name').keyup(function() {
        $('#group_url_with_caps').val(parameterizeText($(this).val()));
      });
    <% end %>
  });

  function toggleExtraInfo() {
    if ($('#form-extra-info').is(':visible')) {
      $('#form-extra-info').slideUp();
      $('#form-extra-info-toggle').val('Show Extra Info')
      $('#group_name').focus()
    } else {
      $('#form-extra-info').slideDown();
      $('#form-extra-info-toggle').val('Hide Extra Info')
      $('#group_location').focus()
    }
  }

  // Converts "Test text like  this" > "Text-text-like-this"
  var MAX_URL_LENGTH = <%= Group::MAX_URL_LENGTH %>;
  function parameterizeText(s) {
    if (s == null) return '';
    else return s.replace(/['.]/g, '').replace(/[^ A-Za-z0-9]/g, ' ').replace(/ +/g, ' ')
      .replace(/ /g, '-').trunc(MAX_URL_LENGTH);
  }

</script>

<%= simple_form_for(@group, html: { class: 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>
  <div class="form-body">
    <%= f.input :name, label: 'Group Name', placeholder: 'NASA Astronaut Training',
      autofocus: true, input_html: { class: 'input-xlarge', data: { toggle: 'tooltip',
        title: 'What is your organization, team or group called?' } } %>
    
    <%= f.input :url_with_caps, wrapper: :prepend, label: 'Group URL' do %>
      <%= content_tag :span, "badgelist.com/", class: "add-on" %>
      <%= f.input_field :url_with_caps, placeholder: 'nasa-crew', class: 'input-medium', 
        data: { toggle: 'tooltip',
        title: 'Pick a unique URL for your learning group' } %>
    <% end %>

    <%= f.input :type, label: 'Group Type', as: :radio_buttons, label_html: { class: 'hidden' },
                collection: @group_type_options %>

    <% unless @group.new_record? %>
      <h2>
        Extra information (optional)
        <input class="btn btn-link" type="button" id="form-extra-info-toggle" 
          value="Show Extra Info" onclick="toggleExtraInfo()" />
      </h2>

      <div id="form-extra-info" style="display:none">
        <%= f.input :location, label: 'Location', placeholder: 'Titusville, FL',
                    input_html: { class: 'input-xlarge' } %>

        <%= f.input :website, label: 'Website', placeholder: 'http://www.nasa.gov',
                    input_html: { class: 'input-xlarge' } %>

        <%= f.input :image_url, label: 'Group Image URL', 
                    placeholder: 'http://nasa.gov/logo.png',
                    input_html: { class: 'input-xlarge' } %>
      </div>
    <% end %>
  </div>  
  
  <div class="form-footer add-top-margin">
    <%= f.button :submit, class: 'btn btn-primary' %>
    <%= 
      if @group.new_record?
        link_to "Cancel", root_path, class: "btn"
      else 
        link_to "Cancel", @group, class: "btn"
      end
    %>
  </div>
<% end %>