<% provide(:title, "Add #{@type.to_s.capitalize.pluralize} - #{@group.name}") %>

<div class="page-header">
  <h1>
    <%= @group.name %>
    <small>Add new <%= @type.to_s.pluralize %></small>
  </h1>
</div>


<%= form_tag(@form_path, method: :post, id: "group-add-users-form", class: 'form-horizontal') do %>

  <div class="control-group">
    <%= label_tag :emails, "New #{@type.to_s.capitalize} Emails", class: "control-label" %>
    <div class="controls">
      <%= text_area_tag :emails, params[:emails], size: "150x4",
          placeholder: 'josh.cassada@nasa.gov, "Jessica U. Meir, Ph.D." <j.meir@nasa.gov>, "Anne McClain" <anne.mcclain@nasa.gov>',
          class: "span6" %>
      <br/>
      <%= check_box_tag :notify_by_email, "1", true %>
      <%= label_tag :notify_by_email, "Notify new #{@type.to_s.pluralize} by email",
          class: "notify-by-email"%>
    </div>
  </div>
  
  <div class="control-group">
    <div class="controls">
      <%= link_to 'Cancel', @group, class: 'btn' %> 
      <%= button_tag "Add new #{@type.to_s.pluralize}", type: 'submit', class: 'btn btn-primary' %>
    </div>
  </div>

<% end %>