<% 
  if @type == :admin
    provide(:title, "Add Admins - #{@group.name}")
    submit_button_text = "Add New Admins"
  else
    provide(:title, "Add Members - #{@group.name}")
    submit_button_text = "Add New Members"
  end
%>

<div class="page-header">
  <h1>
    <%= @group.name %>
    <small>Add new members</small>
  </h1>
</div>


<%= form_tag(@form_path, method: :post, id: "group-add-users-form", class: 'form-horizontal') do %>

  <%= label_tag :emails, "New Member Emails" %>
  <%= text_area_tag :emails, params[:emails], size: "50x5", placeholder: "Enter emails here" %>

  <%= label_tag :notify_by_email %>
  <%= check_box_tag :notify_by_email, "yes", true %>

  <%= hidden_field_tag :type, @type %>

  
  <div class="controls">
    <%= button_to 'Cancel', @group, class: 'btn' %>
    <%= button_tag submit_button_text, type: 'submit', class: 'btn btn-primary' %>
  </div>

<% end %>



