<% 
  provide(:title, "Feedback Requests - #{@group.name}")
%>

<style type="text/css">
  .no-badge-icon {
    font-size: 3em;
  }
  h1 {
    font-size: 1.5em;
    margin: 0 0 0.5em 0;
  }
</style>

<bl-app-container color-mode="group" appbar-mode="standard" header-mode="condensable"
  toolbar-mode="badge-selector" background-mode="color" current-user="<%= current_user.json_cu %>"
  header-height="250" condensed-header-height="80" has-custom-logo="true">
  
  <a href="<%= "/#{@group.url}" %>" class="custom-logo back-link">
    <i class="fa fa-chevron-left"></i>
    <%= image_tag @group.avatar_image_small_url, class: 'logo' %>
  </a>
  <div class="toolbar bottom center fit">
    <h1>Feedback Requests</h1>
    <bl-badge-selector badges="<%= @badges.to_json %>" selected-badge-url="<%= @badge_url.to_s %>" 
        expanded="<%= @badge_url.blank? %>">
      <h2>Select a badge</h2>
      <div class="subtitle">
        Select a badge below to view the progress logs of badge learners and experts.
        After selecting a badge you'll be able to submit feedback on multiple logs at once.
      </div>
    </bl-badge-selector>
  </div>

  <div class="content">

    <bl-list object-mode="full_logs" 
        next-page-url="<%= group_full_logs_url(@group, format: :json) + '&page=' %>">
      <div class="placeholder color-background">
        <i class="fa fa-flag-checkered"></i>
        <div class="message">
          <p><b>All done for now!</b></p> 
          <p>
            There are no pending feedback requests for this badge.
          </p>
        </div>
      </div>
    </bl-list>

  </div>

</bl-app-container>
