<% 
  provide(:title, "Feedback Requests - #{@group.name}")
%>

<style type="text/css">
  .no-badge-icon {
    font-size: 3em;
  }
  
  h1 {
    font-size: 1.5em;
    margin: 0 0 0.5em 0;
  }

  bl-selection-bar paper-button { width: 11em; }
  paper-button.select-all-button { 
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1), transform 0.28s !important;
  }

  .query-options-dropdown label.paper-input.style-scope,
  .query-options-dropdown input.paper-input.style-scope,
  .query-options-dropdown iron-icon.style-scope.paper-dropdown-menu {
    color: white;
  }
  .query-options-dropdown .unfocused-line.style-scope { background: white; }
  .query-options-dropdown .focused-line.style-scope { background: rgb(224,224,224); }
</style>

<bl-app-container color-mode="group" appbar-mode="standard" header-mode="condensable"
  toolbar-mode="badge-selector" background-mode="color" current-user="<%= current_user.json_cu %>"
  header-height="250" condensed-header-height="80" has-custom-logo hide-intercom>
  
  <a href="<%= "/#{@group.url}" %>" class="custom-logo back-link">
    <i class="fa fa-chevron-left"></i>
    <%= image_tag @group.avatar_image_small_url, class: 'logo' %>
  </a>

  <div class="toolbar bottom center fit">
    <h1>Feedback Requests</h1>
    <bl-badge-selector badges="<%= @badges.to_json %>" selected-badge-url="<%= @badge_url.to_s %>" 
        for="log-list" <%= (@badge_url.blank?) ? 'expanded' : '' %>>
      <h2>Select a badge</h2>
      <div class="subtitle">
        Select a badge below to view the progress logs of badge learners and experts.
        After selecting a badge you'll be able to submit feedback on multiple logs at once.
      </div>
    </bl-badge-selector>
  </div>

  <div class="content">

    <bl-list id="log-list" object-mode="full_logs" query-options="<%= @bl_list_query_options %>"
        next-page-url="<%= group_full_logs_url(@group, format: :json) %>">
      <div class="placeholder color-background">
        <i class="fa fa-flag-checkered"></i>
        <div class="message">
          <p><b>All done for now!</b></p> 
          <p>
            There are no pending feedback requests for this badge.
          </p>
        </div>
      </div>

      <div class="list-controls">
        <ul class="left">
          <bl-query-options for="log-list" selected-options="<%= @sort_options.to_json %>">
            <paper-dropdown-menu label="Sort order" class="query-options-dropdown">
              <paper-listbox class="dropdown-content">
                <paper-item data-options='{"sort_by":"date_requested","sort_order":"desc"}'>
                  Newest first
                </paper-item>
                <paper-item data-options='{"sort_by":"date_requested","sort_order":"asc"}'>
                  Oldest first
                </paper-item>
                <paper-item data-options='{"sort_by":"user_name","sort_order":"asc"}'>
                  By name
                </paper-item>
                <paper-item data-options='{"sort_by":"user_name","sort_order":"desc"}'>
                  Reverse name
                </paper-item>
              </paper-listbox>
            </paper-dropdown-menu>
          </bl-query-options>
        </ul>
        <ul class="right">
          <li>
            <paper-button onclick="document.querySelector('#log-list').selectAll()" 
                class="select-all-button">
              <i class="fa fa-check"></i> Select All
            </paper-button>
          </li>
        </ul>
      </div>
    </bl-list>

    <bl-log-validator id="log-validator" for="log-list" 
      group-validations-path="<%= group_validations_path(@group, format: :json) %>">
    </bl-log-validator>

    <bl-selection-bar id="selected-log-bar" for="log-list" noun-singular="log" noun-plural="logs">
      <ul class="actions">
        <li>
          <paper-button onclick="document.querySelector('#log-validator').open()">
            <i class="fa fa-comment"></i> Add Feedback
          </paper-button>
        </li>
      </ul>
    </bl-selection-bar>

  </div>

</bl-app-container>
