<% 
  provide(:title, @group.name)
  can_join_group = @group.open? && !@current_user_is_admin && !@current_user_is_member

  status_details = @group.status_details_for_admins
%>

<% if @current_user_is_admin || @current_user_is_member || @badge_list_admin || @group.open? %>
  <% 
    provide(:show_subheader, true)
    provide(:subheader_image, group_image_url_for(@group)) 
  %>
  
  <% content_for :subheader_links do %>
    <li class="active">
      <%= @group.url_with_caps %>
    </li>
  <% end %>

  <% content_for :subheader_actions do %>
    <% if @current_user_is_admin || @badge_list_admin %>
      <li class="collapsible">
        <div class="dropdown">
          <a href="#" class="dropdown-toggle" id="dropdown-subheader-settings" 
            role="button" data-toggle="dropdown" data-target="#">
            Learning Group Settings
            <i class="fa fa-cog"></i>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdown-subheader-settings">
            <li>
              <%= link_to '<i class="fa fa-remove"></i> Delete Group'.html_safe, 
                @group, method: :delete, data: \
                  { confirm: 'WARNING: THIS WILL PERMANENTLY DESTROY DATA. Are you absolutely'\
                + ' sure you want to permanently delete this learning group and all the badges' \
                + ' inside of it?' } %>
            </li>
          </ul>
        </div>
      </li>
    <% end %>
  <% end %>
<% end %>

<script type="text/javascript">
    
  $(document).ready(function() {
    $('#toggle-talk-with-us').click(function(e) {
      $("#talk-with-us").slideDown();
      $(this).slideUp();
      $(".focus-first").focus();
      e.preventDefault();
    });
  });
  
  <% if @badge_poller_id %>

    // Start the badge poller
    badge_poller_id = "<%= @badge_poller_id %>";
    startPoller(badge_poller_id, badgePollerCompleted, badgePollerError);
    $(document).ready(function() {
      $("#badges .tab-header h2")
        .after("<h3 class='header-spinner'><i class='fa fa-refresh fa-spin'></i></h3>");
    });

    function badgePollerCompleted(poller) {
      $(".alert").first().text(poller.message);
      $("#badges .tab-header h3.header-spinner").fadeOut();
      
      if (poller.status == 'successful') {
        document.location.href = document.location.href.split("?")[0] + "?badge_poller_completed=1";
      } else {
        $(".alert").first().removeClass('alert-notice').addClass('alert-error');
      }
    }

    function badgePollerError() {
      $(".alert").first().removeClass('alert-notice').addClass('alert-error');
      $(".alert").first().text("An error occurred while trying to create the badge, "
        + "please try again");
      $("#badges .tab-header h3.header-spinner").fadeOut();
    }

  <% elsif params[:badge_poller_completed] %>

    $(document).ready(function() {
      $(".header-bar").before("<div class='alert alert-notice'>"
        + "The badge has been successfully created!</div>");
    });

  <% end %>

</script>

<style type="text/css">
  
  #user-discussion-response { position: relative; }
  #user-discussion-response .spinner { 
    margin-top: 240px;
    border-width: 80px;
  }
  #talk-with-us {
    padding-top: 20px;
    border-top: 1px solid #ddd;
    margin-top: 20px;
    margin-bottom: 5px;
  }
  #talk-with-us label {
    font-weight: bold;
    margin-bottom: 15px;
  }
  #talk-with-us input[type=text], #talk-with-us textarea {
    border-radius: 0;
  }
  #talk-with-us .help-block {
    font-size: 15px;
    font-style: italic;
    color: #1EB3D7;
    margin-top: -5px;
    margin-bottom: 15px;
  }

</style>

<!-- === MANAGE MEMBERS MODAL === -->

<div id="manage-invited-members" class="modal hide fade" tabindex="-1" role="dialog" 
 aria-labelledby="mimm-label" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="mimm-label">Manage Invited Members</h3>
  </div>

  <div class="modal-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Invitation Sent</th>
          <th>Badges</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @group.invited_members.each do |u| %>
          <tr>
            <td><%= u['name'] %></td>
            <td><%= u['email'] %></td>
            <td>
              <%= u['invite_date'] ? 
                    u['invite_date'].to_s(:short_date_time) 
                    : 'No invitation sent yet' 
              %>
            </td>
            <td>
              <%= u['badges'].map{|b| "#{b} (Invited)"}.join(', ') unless u['badges'].blank? %>
              <%= u['validations'].map{|v| "#{v['badge']} (Issued)"}\
                .join(', ') unless u['validations'].blank? %>
            </td>
            <td>
              <%
                if u['validations'].blank?
                  delete_confirmation_message = "Are you absolutely sure you want to revoke this " \
                    + "user's invitation?"
                else
                  delete_confirmation_message = "Are you absolutely sure you want to revoke this " \
                    + "user's invitation? (WARNING: This invited user has been issued badges. " \
                    + "Those badge validations will be lost if you revoke the invitation.)"
                end
              %>
              <%= link_to '<i class="fa fa-envelope"></i>'.html_safe, 
                  send_group_member_invitation_path(@group, u['email']), :method => :post,
                  title: 'Resend invitation email' %> 
              <%= link_to '<i class="fa fa-remove"></i>'.html_safe, 
                  destroy_group_invited_member_path(@group, u['email']), :method => :delete,
                  title: 'Revoke invitation', data: { 
                  confirm: delete_confirmation_message } %>
            </td>
          </tr>
        <% end %>
    </tbody>
    </table>
  </div>

  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

<!-- === MANAGE ADMINS MODAL === -->

<div id="manage-invited-admins" class="modal hide fade" tabindex="-1" role="dialog" 
 aria-labelledby="mimm-label" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="mimm-label">Manage Invited Admins</h3>
  </div>

  <div class="modal-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Invitation Sent</th>
          <th>Badges</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @group.invited_admins.each do |u| %>
          <tr>
            <td><%= u['name'] %></td>
            <td><%= u['email'] %></td>
            <td>
              <%= u['invite_date'] ? 
                    u['invite_date'].to_s(:short_date_time) 
                    : 'No invitation sent yet' 
              %>
            </td>
            <td>
              <%= u['badges'].map{|b| "#{b} (Invited)"}.join(', ') unless u['badges'].blank? %>
              <%= u['validations'].map{|v| "#{v['badge']} (Issued)"}\
                .join(', ') unless u['validations'].blank? %>
            </td>
            <td>
              <%
                if u['validations'].blank?
                  delete_confirmation_message = "Are you absolutely sure you want to revoke this " \
                    + "user's invitation?"
                else
                  delete_confirmation_message = "Are you absolutely sure you want to revoke this " \
                    + "user's invitation? (WARNING: This invited user has been issued badges. " \
                    + "Those badge validations will be lost if you revoke the invitation.)"
                end
              %>
              <%= link_to '<i class="fa fa-envelope"></i>'.html_safe, 
                  send_group_admin_invitation_path(@group, u['email']), :method => :post,
                  title: 'Resend invitation email' %> 
              <%= link_to '<i class="fa fa-remove"></i>'.html_safe, 
                  destroy_group_invited_admin_path(@group, u['email']), :method => :delete,
                  title: 'Revoke invitation', data: { 
                  confirm: delete_confirmation_message } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>


<!-- === PAGE HEADER === -->

<div class="row add-top-margin">
  <div class="span12">
    <div class="header-bar group-header-bar">
      <table class="info-table">
        <tbody>
          <tr>
            <td class="left-image">
              <%= group_image_tag_for @group %>
            </td>
            <td class="left-panel">
              <h1><%= @group.name %></h1>
              <h2><%= @group.url_with_caps %></h2>
              <h3>
                <%=
                  case @group.type
                    when "open"
                      "<i class='fa fa-globe'></i> Public Group".html_safe
                    when "closed"
                      "<i class='fa fa-eye'></i> Public Group (Closed Membership)".html_safe
                    when "private"
                      "<i class='fa fa-lock'></i> Private Group".html_safe
                  end
                %>

                <% if @group.private? && (@current_user_is_admin || @badge_list_admin) %>
                  (<%= (@group.subscription_plan) ? \
                    ALL_SUBSCRIPTION_PLANS[@group.subscription_plan]['name']:'No plan selected' %>)
                  <br>
                  <span class="label <%= status_details[:color] %>">
                    <i class="fa <%= status_details[:icon] %>"></i>
                    <%= @group.subscription_status_string %> - 
                    <%= status_details[:summary] %>
                  </span> 

                  <%
                    limit_text = (@group.user_limit < 0) ? "#{@group.admin_limit} Teacher"\
                      : "#{@group.user_limit} Users"
                  %>
                  <%= link_to "<span class='label'>#{limit_text}</span>".html_safe, 
                    edit_group_path(@group), class: "label-link",
                    title: "View your subscription plan details",
                    data: { toggle: "tooltip", placement: "bottom" } %>
                <% end %>
              </h3>
            </td>
            
            <td class="separator hidden-phone with-footer"><span>&nbsp;</span></td>
            
            <td class="right-panel hidden-phone">
              <ul>
                <% unless @group.location.blank? %>
                  <li>
                    <i class="fa fa-map-marker"></i> <%= @group.location %>
                  </li>
                <% end %>
                <% unless @group.website.blank? %>
                  <li>
                    <i class="fa fa-external-link"></i> 
                    <a href="<%= @group.website %>" target="_blank"><%= @group.website %></a>
                  </li>
                <% end %>
                <li>
                  <i class="fa fa-clock-o"></i> Created on <%= @group.created_at.to_s(:full_date) %>
                </li>
                <li>
                  <i class="fa fa-users"></i> <%= pluralize @group.user_count, "user" %> 
                </li>
                <li>
                  <% if @group.owner %>
                    <i class="fa fa-at"></i> 
                    <%= link_to @group.owner.username_with_caps, @group.owner %>
                    is the group owner
                  <% else %>
                    <i class="fa fa-exclamation-circle"></i> 
                    This group has no owner
                  <% end %>
                </li>
              </ul>
            </td>
          </tr>

          <tr class="footer-row <%= (can_join_group) ? 'highlight-secondary' : '' %>">
            <td colspan="4">
              <span class="label-text">
                <% if @current_user_is_owner %>
                  You're the group owner.
                <% elsif @current_user_is_admin %>
                  You're a group admin.
                <% elsif @current_user_is_member %>
                  You're a group member.
                <% elsif can_join_group %>
                  This is an open group.
                <% else %>
                  This is a closed group.
                <% end %>
              </span>
              <ul class="action-list">
                <% if @current_user_is_member || @current_user_is_admin \
                    && !@current_user_is_owner %>
                  <li>
                    <%= link_to '<i class="fa fa-ban"></i> Leave the group'.html_safe, \
                      leave_group_path(@group), method: :delete, class: 'btn btn-small', data: \
                        { confirm: \
                          'Are you absolutely sure you want to leave this learning group?' } %>
                  </li>
                <% elsif can_join_group %>
                  <li>
                    <%= link_to '<i class="fa fa-plus-circle"></i> Join the group'.html_safe, 
                        join_group_path(@group), method: :post, class: 'btn btn-small' %>
                  </li>
                <% end %>
                <% if @current_user_is_owner || @badge_list_admin %>
                  <li>
                    <%= link_to '<i class="fa fa-pencil"></i> Edit the group'.html_safe, 
                      edit_group_path, class: 'btn btn-small' %>
                  </li>
                <% end %>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<% 
  if @current_user_is_admin || @badge_list_admin
    
    if status_details[:show_alert]
%>

  <div class="well span9 offset1 <%= status_details[:color] %>">
    <h3><%= status_details[:alert_title] %></h3>
    <p>
      <%= status_details[:alert_body] %>
    </p>
  </div>

<% 
    end

  end 
%>

<% if @group.public? || @current_user_is_admin || @current_user_is_member || @badge_list_admin %>

  <% if @current_user_is_admin && !@group.badge_ids.empty? \
    && (current_user.sign_in_count <= 3) && !current_user.has_flag?("form-user-discussion") %>
  
    <% if @group.public? %>

      <!-- === NEW GROUP TALK WITH US FORM (PUBLIC) === -->

      <div class="alert alert-info" id="user-discussion-response">
        <div class="spinner-wrapper" id="user-discussion-spinner" style="display: none">
          <div class="spinner"></div>
        </div>

        <h3>
          <i class="fa fa-phone"></i> 
          We'd love to talk with you
        </h3> 
        
        We want to hear more about what you're trying to do with badges and see if we can help.
        <a href="#" id="toggle-talk-with-us" class="btn btn-link">
          Click here to talk with us 
          <i class="fa fa-angle-double-right"></i>
        </a>

        <%= form_tag('/f/talk-with-us', remote: true, style: 'display: none', id: 'talk-with-us') do %>
          <label>Describe what you're trying to accomplish with badges:</label>
          <textarea rows="3" name="goals" class="input-xxlarge focus-first"></textarea>
          
          <label>When will you be available in the next week for a 15 minute call?</label>
          <input type="text" name="availability" class="input-xxlarge">
          <span class="help-block">
            Please include your timezone along with a few specific days and times.
          </span>

          <button type="submit" class="btn btn-primary btn-large" 
          onclick="$('#user-discussion-spinner').show()">
            Send request
          </button>
        <% end %>
      </div>
    
    <% else %>

      <!-- === NEW GROUP TALK WITH US FORM (PUBLIC) === -->

      <div class="alert alert-info" id="user-discussion-response">
        <div class="spinner-wrapper" id="user-discussion-spinner" style="display: none">
          <div class="spinner"></div>
        </div>

        <h3>
          <i class="fa fa-phone"></i> 
          We'd love to talk with you
        </h3> 
        
        We want to hear more about what you're trying to do with badges and see if we can help.
        If you'll join us for a 20 minute discussion we'll give you 
        <b>20 private users free for 2 months</b>.
        <a href="#" id="toggle-talk-with-us" class="btn btn-link">
          Click here to talk with us 
          <i class="fa fa-angle-double-right"></i>
        </a>

        <%= form_tag('/f/talk-with-us', remote: true, style: 'display: none', id: 'talk-with-us') do %>
          <label>Describe what you're trying to accomplish with badges:</label>
          <textarea rows="3" name="goals" class="input-xxlarge focus-first"></textarea>
          
          <label>When will you be available in the next week for a 15 minute call?</label>
          <input type="text" name="availability" class="input-xxlarge">
          <span class="help-block">
            Please include your timezone along with a few specific days and times.
          </span>

          <button type="submit" class="btn btn-primary btn-large" 
          onclick="$('#user-discussion-spinner').show()">
            Send request
          </button>
        <% end %>
      </div>
    
    <% end %>


  <% end %>

  <!-- === BADGES TAB === -->

  <div class="tab-pane active" id="badges">

    <div class="row">
      <div class="span12">
        <div class="tab-header first-on-page">
          <% if @current_user_is_admin || @badge_list_admin %>
            <%= link_to '<i class="fa fa-plus"></i> New Badge'.html_safe,
                new_group_badge_path(@group), class: 'btn btn-small' %>
          <% end %>

          <h2>Badges</h2>
        </div>

        <% if @group.badge_ids.empty? %>
          <div class="well span7 offset2">
            <h3>Got skills?</h3>
            <p>
              Badges help you recognize experts. A badge can also help you collect evidence from 
              your learners.
            </p>
            <p>
              <%= 
                if @current_user_is_admin || @badge_list_admin
                  link_to '<i class="fa fa-plus"></i> Create a badge'.html_safe,
                  new_group_badge_path(@group), class: 'btn btn-success' 
                end
              %>
            </p>
          </div>
        <% end %>
      </div>
    </div>

    <% unless @badge_ids.empty? %>

      <div class="row">
        <div class="span12" data-bl-dyncol="parent" data-bl-dyncol-group="badges" 
            data-bl-dyncol-width="12">

          <%= render @badges, group: @group, requirements_map: @requirements_map, log_map: @log_map,
            is_member: @current_user_is_member, is_admin: @current_user_is_admin,
            expert_count_map: @expert_count_map, learner_count_map: @learner_count_map %>

        </div>
      </div>

      <div class="row">
        <div class="span12">
          <div class="pagination-footer">
            <div class="pagination" id="paginator-badges">
              <%= paginate @badges, remote: true, param_name: 'pb' %>
            </div>
          </div>
        </div>
      </div>
    
    <% end %>

  </div>

  <!-- === MEMBERS TAB === -->

  <div class="tab-pane" id="members">

    <div class="row">
      <div class="span12">
          
        <div class="tab-header <%= (@group.member_ids.empty?) ? 'empty' : '' %>">
          <% if @current_user_is_admin || @badge_list_admin %>
            <%= link_to '<i class="fa fa-plus"></i> Invite Members'.html_safe,
                add_group_members_path(@group), class: 'btn btn-small' %>

            <% unless @group.invited_members.blank? %>
              <div class="btn-group">
                <a href="#" class="btn btn-small btn-link dropdown-toggle" data-toggle="dropdown">
                  Waiting on <%= @group.invited_members.count %> new members 
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <% @group.invited_members.take(10).each do |u| %>
                    <li>
                      <a tabindex="-1" href="#manage-invited-members" data-toggle="modal">
                        <%= if u['name']
                              "#{u['name']} <#{u['email']}>"
                            else
                              u['email']
                            end %>
                      </a>
                    </li>
                  <% end %>

                  <% if @group.invited_members.count > 10 %>
                    <li>
                      <a tabindex="-1" href="#manage-invited-members" data-toggle="modal">
                        <%= (@group.invited_members.count - 10).to_s %> more...
                      </a>
                    </li>
                  <% end %>

                  <li class="divider"></li>
                  <li>
                    <a tabindex="-1" href="#manage-invited-members" data-toggle="modal">
                      <i class="fa fa-wrench"></i>  Manage Invited Members
                    </a>
                  </li>
                </ul>
              </div>
            <% end %>
          <% end %>

          <h2>Members</h2>
        </div>

      </div>
    </div>

    <% if @group.member_ids.empty? %>
      <div class="well span7 offset2 gray empty">
        <h3>Got members?</h3>
        <p>Next Step: Invite them.</p>
      </div>
    <% else %>
      <div class="row">
        <div class="span12" data-bl-dyncol="parent" data-bl-dyncol-group="members" 
             data-bl-dyncol-width="12">
            <%= render @members %>
        </div>
      </div>

      <div class="row">
        <div class="span12">
          <div class="pagination-footer">
            <div class="pagination" id="paginator-members">
              <%= paginate @members, remote: true, param_name: 'pm' %>
            </div>
          </div>
        </div>
      </div>
    <% end %>

  </div>

  <!-- === ADMINS TAB === -->

  <div class="tab-pane" id="admins">

    <div class="row">
      <div class="span12">
        
        <div class="tab-header">
          <% if @current_user_is_admin || @badge_list_admin %>
            
            <%= link_to '<i class="fa fa-plus"></i> Add Admins'.html_safe,
                add_group_admins_path(@group), class: 'btn btn-small' %>

            <% unless @group.invited_admins.blank? %>
              <div class="btn-group">
                <a href="#" class="btn btn-small btn-link dropdown-toggle" data-toggle="dropdown">
                  Waiting on <%= @group.invited_admins.count %> new admins 
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <% @group.invited_admins.take(10).each do |u| %>
                    <li>
                      <a tabindex="-1" href="#manage-invited-admins" data-toggle="modal">
                        <%= if u['name']
                              "#{u['name']} <#{u['email']}>"
                            else
                              u['email']
                            end %>
                      </a>
                    </li>
                  <% end %>

                  <% if @group.invited_admins.count > 10 %>
                    <li>
                      <a tabindex="-1" href="#manage-invited-admins" data-toggle="modal">
                        <%= (@group.invited_admins.count - 10).to_s %> more...
                      </a>
                    </li>
                  <% end %>

                  <li class="divider"></li>
                  <li>
                    <a tabindex="-1" href="#manage-invited-admins" data-toggle="modal">
                      <i class="fa fa-wrench"></i>  Manage Invited Admins
                    </a>
                  </li>
                </ul>
              </div>
            <% end %>
          <% end %>
            
          <h2>Group Admins</h2>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="span12" data-bl-dyncol="parent" data-bl-dyncol-group="admins" 
           data-bl-dyncol-width="12">

        <%= render @group.admins.asc(:name) %>
      
      </div>
    </div>
  </div>

<% else %>
  
  <div class="row">
    <div class="well span7 offset2">
      <h3>This is a private learning group</h3>
      <p>
        The contents of this learning group are only visible to members.
      </p>
    </div>
  </div>

<% end %>