<% provide(:title, @group.name) %>

<!-- === MANAGE MEMBERS MODAL === -->

<div id="manage-invited-members-modal" class="modal hide fade" tabindex="-1" role="dialog" 
 aria-labelledby="mimm-label" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="mimm-label">Manage Invited Members</h3>
  </div>

  <div class="modal-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Invitation Sent</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @group.invited_members.each do |u| %>
          <tr>
            <td><%= u['name'] %></td>
            <td><%= u['email'] %></td>
            <td>
              <%= u['invite_date'] ? 
                    u['invite_date'].to_s(:short_date_time) 
                    : 'No invitation sent yet' 
              %>
            </td>
            <td>
              <%= link_to '<i class="icon-envelope"></i>'.html_safe, 
                  send_group_member_invitation_path(@group.id, u['email']), :method => :post,
                  title: 'Resend invitation email', data: { toggle: "tooltip", placement: "bottom"} %> 
              <%= link_to '<i class="icon-remove"></i>'.html_safe, 
                  destroy_group_invited_member_path(@group.id, u['email']), :method => :delete,
                  title: 'Revoke invitation', data: { toggle: "tooltip", placement: "bottom",
                  confirm: "Are you absolutely sure you want to revoke this user's invitation?" } %>
            </td>
          </tr>
        <% end %>
    </tbody>
    </table>
  </div>

  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

<!-- === MANAGE ADMINS MODAL === -->

<div id="manage-invited-admins-modal" class="modal hide fade" tabindex="-1" role="dialog" 
 aria-labelledby="mimm-label" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="mimm-label">Manage Invited Admins</h3>
  </div>

  <div class="modal-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Invitation Sent</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @group.invited_admins.each do |u| %>
          <tr>
            <td><%= u['name'] %></td>
            <td><%= u['email'] %></td>
            <td>
              <%= u['invite_date'] ? 
                    u['invite_date'].to_s(:short_date_time) 
                    : 'No invitation sent yet' 
              %>
            </td>
            <td>
              <%= link_to '<i class="icon-envelope"></i>'.html_safe, 
                  send_group_admin_invitation_path(@group.id, u['email']), :method => :post,
                  title: 'Resend invitation email', data: { toggle: "tooltip", placement: "bottom"} %> 
              <%= link_to '<i class="icon-remove"></i>'.html_safe, 
                  destroy_group_invited_admin_path(@group.id, u['email']), :method => :delete,
                  title: 'Revoke invitation', data: { toggle: "tooltip", placement: "bottom",
                  confirm: "Are you absolutely sure you want to revoke this user's invitation?" } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>


<!-- === PAGE CONTENT === -->

<div class="row add-top-margin">
  
  <div class="span3">
    <div class="profile-sidebar">

      <%= group_image_tag_for(@group) %><br/>

      <div class="profile-section-header">

        <h1>
          <span class="profile-name"><%= @group.name %></span>
          <span class="profile-url"><%= @group.url %></span>
        </h1>

        <span class="profile-type">
          <%=
            case @group.type
              when "open"
                "<i class='icon-globe'></i> Open Learning Group".html_safe
              when "closed"
                "<i class='icon-eye-open'></i> Public Learning Group".html_safe
              when "private"
                "<i class='icon-lock'></i> Private Learning Group".html_safe
            end
          %>
        </span>

        <span class="profile-actions">
          <ul class="inline">
            <li><%
              if @current_user_is_admin && @group.admins.count == 1
                leave_group_link_disabled = true
                leave_group_link_title = 'You are currently the only admin for this learning group so 
                                          you can\'t leave'
              else
                leave_group_link_disabled = false
                leave_group_link_data_toggle = 'Resign your membership in this learning group'
              end

              concat link_to('<i class="icon-ban-circle"></i> Leave Group'.html_safe, 
                leave_group_path, method: :delete, class: 'btn btn-mini',
                disabled: leave_group_link_disabled, 'data-placement' => 'right',
                title: leave_group_link_title, 'data-toggle' => 'tooltip',
                data: { confirm: 'Are you absolutely sure you want to leave this learning group?' })
            %></li>
            <% if @current_user_is_admin %>
              <li>
                <%= link_to '<i class="icon-pencil"></i> Edit Group'.html_safe, edit_group_path,
                      class: 'btn btn-mini' %>
              </li>
            <% end %>
          </ul>
        </span>

        <span class="profile-details">
          <ul class="unstyled">
            <% unless @group.location.blank? %>
              <li class="profile-location">
                <i class="icon-map-marker"></i> <%= @group.location %>
              </li>
            <% end %>
            <% unless @group.website.blank? %>
              <li class="profile-website">
                <i class="icon-share"></i> 
                <a href="<%= @group.website %>" target="_blank"><%= @group.website %></a>
              </li>
            <% end %>
            <li class="profile-created-date">
              <i class="icon-time"></i> Created on <%= @group.created_at.to_s(:full_date) %>
            </li>
          </ul>
        </span>

        <span class="profile-stats">
          <ul class="inline">
            <li class="profile-stat" >
              <span class="stat-number">0</span><br/>
              <span class="stat-label">badges</span>
            </li>
            <li class="profile-stat" >
              <span class="stat-number"><%= @group.members.count %></span><br/>
              <span class="stat-label">members</span>
            </li>
            <li class="profile-stat" >
              <span class="stat-number"><%= @group.admins.count %></span><br/>
              <span class="stat-label">admins</span>
            </li>
          </ul>
        </span>

      </div>

    </div>
  </div>

  <div class="span9 profile-body">

    <ul class="nav nav-tabs">
      <li class="active"><a href="#members" data-toggle="tab">Members</a></li>
      <li><a href="#admins" data-toggle="tab">Admins</a></li>
    </ul>

    <div class="tab-content">

      <div class="tab-pane active" id="members">
        
        <div class="tab-header">
          <h2>Active Members</h2>

          <%= 
            if @current_user_is_admin
              link_to '<i class="icon-plus"></i> Add Members'.html_safe,
              add_group_members_path(@group), class: 'btn btn-small' 
            end
          %>

          <% unless @group.invited_members.blank? %>
            <div class="btn-group">
              <a href="#" class="btn btn-small btn-link dropdown-toggle" data-toggle="dropdown">
                Waiting on <%= @group.invited_members.count %> new members 
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <% @group.invited_members.take(10).each do |u| %>
                  <li>
                    <a tabindex="-1" href="#manage-invited-members-modal" data-toggle="modal">
                      <%= if u['name']
                            "#{u['name']} <#{u['email']}>"
                          else
                            u['email']
                          end %>
                    </a>
                  </li>
                <% end %>

                <% if @group.invited_members.count > 10 %>
                  <li>
                    <a tabindex="-1" href="#manage-invited-members-modal" data-toggle="modal">
                      <%= (@group.invited_members.count - 10).to_s %> more...
                    </a>
                  </li>
                <% end %>

                <li class="divider"></li>
                <li>
                  <a tabindex="-1" href="#manage-invited-members-modal" data-toggle="modal">
                    <i class="icon-wrench"></i>  Manage Invited Members
                  </a>
                </li>
              </ul>
            </div>
          <% end %>
        </div>

        <% if @group.members.empty? %>

          <div class="well">
            <p class="lead">No members yet!</p>
            <p>
              <%= 
                if @current_user_is_admin
                  link_to '<i class="icon-plus"></i> Add some members'.html_safe,
                  add_group_members_path(@group), class: 'btn btn-success' 
                end
              %>
            </p>
          </div>

        <% else %>

          <%= render @group.members %>
        
        <% end %>

      </div>

      <div class="tab-pane" id="admins">
        
        <div class="tab-header">
          <h2>Active Admins</h2>
          
          <%= 
            if @current_user_is_admin
              link_to '<i class="icon-plus"></i> Add Admins'.html_safe,
              add_group_admins_path(@group), class: 'btn btn-small' 
            end
          %>

          <% unless @group.invited_admins.blank? %>
            <div class="btn-group">
              <a href="#" class="btn btn-small btn-link dropdown-toggle" data-toggle="dropdown">
                Waiting on <%= @group.invited_admins.count %> new admins 
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <% @group.invited_admins.take(10).each do |u| %>
                  <li>
                    <a tabindex="-1" href="#manage-invited-admins-modal" data-toggle="modal">
                      <%= if u['name']
                            "#{u['name']} <#{u['email']}>"
                          else
                            u['email']
                          end %>
                    </a>
                  </li>
                <% end %>

                <% if @group.invited_admins.count > 10 %>
                  <li>
                    <a tabindex="-1" href="#manage-invited-admins-modal" data-toggle="modal">
                      <%= (@group.invited_admins.count - 10).to_s %> more...
                    </a>
                  </li>
                <% end %>

                <li class="divider"></li>
                <li>
                  <a tabindex="-1" href="#manage-invited-admins-modal" data-toggle="modal">
                    <i class="icon-wrench"></i>  Manage Invited Admins
                  </a>
                </li>
              </ul>
            </div>
          <% end %>
        </div>

        <%= render @group.admins %>
      
      </div>

    </div>

  </div>

</div>