<% 
  provide(:title, @group.name)
  can_join_group = @group.open? && !@current_user_is_admin && !@current_user_is_member
  can_join_group_with_code = @group.private? && !@current_user_is_admin \
    && !@current_user_is_member && !@group.join_code.blank?

  provide(:include_metadata, true)
  provide(:metadata_title, @group.name)
  provide(:metadata_description, @group.description)
  provide(:metadata_image, @group.avatar_image_url)
  provide(:metadata_site_name, 'Badge List')
  provide(:metadata_url, request.original_url)

  status_details = @group.status_details_for_admins
  member_details = @group.member_limit_details
  admin_details = @group.admin_limit_details
%>

<script type="text/javascript">
    
  $(document).ready(function() {
    $('#toggle-talk-with-us').click(function(e) {
      $("#talk-with-us").slideDown();
      $(this).slideUp();
      $(".focus-first").focus();
      e.preventDefault();
    });
  });
  
  <% if @group.processing_avatar %>

    var MAX_AVATAR_POLL_TRIES = 50;
    var AVATAR_POLLING_INTERVAL = 300;
    var GROUP_URL = "<%= @group.group_url %>";

    // Start the poller
    $(document).ready(function() {
      setTimeout(function() { checkForAvatar(1); }, AVATAR_POLLING_INTERVAL);

      $("td.left-image img").error(function() {
        $("#processing-avatar-overlay").fadeIn();
        
        setTimeout(function() {
          $("#processing-avatar-overlay").fadeOut();
          $("td.left-image img").attr("src", $("td.left-image img").attr("src"));
        }, 300);
      });
    });

    function checkForAvatar(numTries) {
      try {
        $.getJSON(GROUP_URL, function(group) {
          if (group == null) {
            checkForAvatarError();
          } else {
            if (!group.processing_avatar) {
              setTimeout(function() { checkForAvatarComplete(group); }, AVATAR_POLLING_INTERVAL);
            } else if (numTries <= MAX_AVATAR_POLL_TRIES) {
              setTimeout(function() { checkForAvatar(numTries + 1); }, AVATAR_POLLING_INTERVAL);
            } else {
              checkForAvatarError();
            }
          }
        });
      } catch (e) {
        checkForAvatarError();
      }
    }

    function checkForAvatarComplete(group) {
      $("td.left-image img").attr("src", group.image_url);
      $("#processing-avatar-overlay").fadeOut();
    }

    function checkForAvatarError() {
      $("#processing-avatar-overlay i.fa").removeClass("fa-spin fa-refresh")
        .addClass("fa-exclamation-circle red");
    }


  <% end %>

  <% if @badge_poller_id %>

    // Start the badge poller
    badge_poller_id = "<%= @badge_poller_id %>";
    startPoller(badge_poller_id, badgePollerCompleted, badgePollerError);
    $(document).ready(function() {
      $("#badges .tab-header h2")
        .after("<h3 class='header-spinner'><i class='fa fa-refresh fa-spin'></i></h3>");
    });

    function badgePollerCompleted(poller) {
      $(".alert").first().text(poller.message);
      $("#badges .tab-header h3.header-spinner").fadeOut();
      
      if (poller.status == 'successful') {
        document.location.href = document.location.href.split("?")[0] + "?badge_poller_completed=1";
      } else {
        $(".alert").first().removeClass('alert-notice').addClass('alert-error');
      }
    }

    function badgePollerError() {
      $(".alert").first().removeClass('alert-notice').addClass('alert-error');
      $(".alert").first().text("An error occurred while trying to create the badge, "
        + "please try again");
      $("#badges .tab-header h3.header-spinner").fadeOut();
    }

  <% elsif params[:badge_poller_completed] %>

    $(document).ready(function() {
      $(".header-bar").before("<div class='alert alert-notice'>"
        + "The badge has been successfully created!</div>");
    });

  <% end %>

</script>

<style type="text/css">
  
  #user-discussion-response { position: relative; }
  #user-discussion-response .spinner { 
    margin-top: 240px;
    border-width: 80px;
  }
  #talk-with-us {
    padding-top: 20px;
    border-top: 1px solid #ddd;
    margin-top: 20px;
    margin-bottom: 5px;
  }
  #talk-with-us label {
    font-weight: bold;
    margin-bottom: 15px;
  }
  #talk-with-us input[type=text], #talk-with-us textarea {
    border-radius: 0;
  }
  #talk-with-us .help-block {
    font-size: 15px;
    font-style: italic;
    color: #1EB3D7;
    margin-top: -5px;
    margin-bottom: 15px;
  }

</style>

<% if (can_join_group || can_join_group_with_code) && !current_user  %>
  
  <!-- === SIGN IN (TO JOIN GROUP) MODAL === -->

  <div id="sign-in-to-join" class="modal hide fade" tabindex="-1" role="dialog" 
   aria-labelledby="mimm-label" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="mimm-label">Sign in to continue<h3>
    </div>

    <div class="modal-body">
      <p>To join this group, first you need to sign in or create a new account.<br><br></p>
      <ul class="button-list">
        <li>
          <%= link_to 'Sign in', new_user_session_path(join_group: @group.id, 
            join_group_code: @join_code), class: 'btn btn-large btn-warning', data: 
            { url_for_code:  new_user_session_path(join_group: @group.id, join_group_code: '') } %>
        </li>
        <li>
          <%= link_to 'Create a new account', new_user_registration_path(join_group: @group.id,
            join_group_code: @join_code), class: 'btn btn-large btn-success', data: 
            { url_for_code:  new_user_registration_path(join_group: @group.id, join_group_code: '') } %>
        </li>
      </ul>
      <p>&nbsp;</p>
    </div>
  </div>

<% end %>

<% if can_join_group_with_code %>
  
  <!-- === ENTER JOIN CODE MODAL === -->

  <script type="text/javascript">

    $(document).ready(function() {

      $("#enter-join-code").on('shown', function() {
        $("#join-code-input").focus();
      });
      
      $("#join-code-input").keypress(function(e) {
        if (e.which == 13) {
          e.preventDefault();
          <% if current_user %>
            $("#use-join-code").click();
          <% else %>
            $("#sign-in-with-join-code").click();
          <% end %>
        }
      });

      $("#use-join-code").click(function() {
        document.location.href = "<%= join_group_path(@group, code: '') %>" 
          + $("#join-code-input").val();
      });

      $("#sign-in-with-join-code").click(function() {
        // Add the join code to the links
        $("#sign-in-to-join ul.button-list li a.btn").each(function() {
          $(this).attr("href", $(this).data("url-for-code") + $("#join-code-input").val());
        });

        // Then show the dialog
        $("#enter-join-code").modal("hide");
        $("#sign-in-to-join").modal("show");
      });

    });

  </script>

  <div id="enter-join-code" class="modal hide fade" tabindex="-1" role="dialog" 
   aria-labelledby="mimm-label" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="mimm-label">Enter group join code<h3>
    </div>

    <div class="modal-body">
      <div class="bl-modal-form">
        <div class="form-body">
          <form class="form-horizontal">
            <div class="control-group">
              <label class="control-label" for="join-code-input">Join Code</label>
              <div class="controls">
                <input type="text" id="join-code-input" value="<%= @join_code %>">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    
    <div class="modal-footer">
      <% if current_user %>
        <a href="#" id="use-join-code" class="btn btn-success">Join the Group</a>
      <% else %>
        <a href="#" id="sign-in-with-join-code" class="btn btn-success">Join the Group</a>
      <% end %>
      <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    </div>
  </div>

<% end %>

<% if !current_user && (@group.badge_copyability == 'public') %>
  
  <!-- === SIGN IN (TO COPY BADGES) MODAL === -->

  <div id="sign-in-to-copy-badges" class="modal hide fade" tabindex="-1" role="dialog" 
   aria-labelledby="mimm-label" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="mimm-label">Sign in to continue<h3>
    </div>

    <div class="modal-body">
      <p>To copy badges, first you need to sign in or create a new account.<br><br></p>
      <ul class="button-list">
        <li>
          <%= link_to 'Sign in', new_user_session_path, class: 'btn btn-large btn-warning' %>
        </li>
        <li>
          <%= link_to 'Create a new account', new_user_registration_path, 
            class: 'btn btn-large btn-success' %>
        </li>
      </ul>
      <p>&nbsp;</p>
    </div>
  </div>

<% end %>

<% if @current_user_is_admin || @current_user_is_member %>

  <!-- === EDIT GROUP MEMBERSHIP SETTINGS MODAL === -->

  <script type="text/javascript">
    
    $(document).ready(function() {
      
      // The show_on_badges setting overrides and disables the show_on_profiles setting when false
      $('#show_on_badges_false').click(function() {
        $('#show_on_profile_false').prop('checked', true);
        $('#show_on_profile_true').prop('disabled', true);
      });
      $('#show_on_badges_true').click(function() {
        $('#show_on_profile_true').prop('disabled', false);
      });
      
      // Also we want to set the disabled status on startup
      if ($('#show_on_badges_false').prop('checked'))
        $('#show_on_profile_true').prop('disabled', true);

    });

  </script>

  <div id="membership-settings" class="modal hide fade" tabindex="-1" role="dialog" 
   aria-labelledby="mimm-label" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="mimm-label">Edit your group membership</h3>
    </div>

    <div class="modal-body">
      <div class="bl-modal-form">
        <div class="form-body">
          <%= form_tag(group_settings_path(@group), method: 'put', id: 'membership-settings-form', 
            class: 'form-horizontal') do %>

            <p>
              Updating these settings will overwrite the visibility of all of your badge 
              portfolios.
            </p>

            <div class="control-group radio_buttons optional">
              <label class="radio_buttons optional control-label">
                Show this group on your badge profile?
              </label>
              <div class="controls">
                <span class="radio">
                  <label for="show_on_profile_true">
                    <input class="radio_buttons optional" type="radio" value="true" 
                      name="show_on_profile" id="show_on_profile_true"
                      <%= (@show_on_profile) ? 'checked="checked"' : '' %>>
                    Yes
                  </label>
                </span>
                <span class="radio">
                  <label for="show_on_profile_false">
                    <input class="radio_buttons optional" type="radio" value="false" 
                      name="show_on_profile" id="show_on_profile_false"
                      <%= (!@show_on_profile) ? 'checked="checked"' : '' %>>
                    No
                  </label>
                </span>
              </div>
            </div>

            <div class="control-group radio_buttons optional">
              <label class="radio_buttons optional control-label">
                Show your name on badge member lists?
              </label>
              <div class="controls">
                <span class="radio">
                  <label for="show_on_badges_true">
                    <input class="radio_buttons optional" type="radio" value="true" 
                      name="show_on_badges" id="show_on_badges_true"
                      <%= (@show_on_badges) ? 'checked="checked"' : '' %>>
                    Yes
                  </label>
                </span>
                <span class="radio">
                  <label for="show_on_badges_false">
                    <input class="radio_buttons optional" type="radio" value="false" 
                      name="show_on_badges" id="show_on_badges_false"
                      <%= (!@show_on_badges) ? 'checked="checked"' : '' %>>
                    No
                  </label>
                </span>
              </div>
            </div>

            <% #=== LEAVE THE GROUP (Doesn't show up for owner) ===# %>

            <% if @current_user_is_member || @current_user_is_admin \
                && !@current_user_is_owner %>
              <h4>Leave the group</h4>

              <div class="control-group">
                <label class="control-label" for="delete-log">
                  Resign your group membership
                </label>
                <div class="controls">
                  <%= link_to '<i class="fa fa-ban"></i> Leave the group'.html_safe, 
                    leave_group_path(@group), method: :delete, class: 'btn btn-danger btn-large',
                      data: { confirm: 'Are you sure you want to leave this group?' } %>
                </div>
              </div>
            <% end %>

          <% end %>
         
         </div>        
      </div>
    </div>

    <div class="modal-footer">
      <button class="btn" aria-hidden="true" 
       onclick="$('#membership-settings-form').submit();">
        Save
      </button>
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
  </div>

<% end %> <!-- end is admin or learner -->

<% if @current_user_is_admin || @badge_list_admin %>

  <!-- === MANAGE MEMBERS MODAL === -->

  <div id="manage-invited-members" class="modal hide fade" tabindex="-1" role="dialog" 
   aria-labelledby="mimm-label" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="mimm-label">Manage Invited Members</h3>
    </div>

    <div class="modal-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Invitation</th>
            <th>Badges</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @group.invited_members.each do |u| %>
            <%
              if u['validations'].blank?
                delete_confirmation_message = "Are you absolutely sure you want to revoke " \
                  + "this user's invitation?"
              else
                delete_confirmation_message = "Are you absolutely sure you want to revoke " \
                  + "this user's invitation? (WARNING: This invited user has been issued " \
                  + "badges. Those badge validations will be lost if you revoke the " \
                  + "invitation.)"
              end
            %>
            <tr class="invited-member-row" data-email="<%= u['email'] %>">
              <td>
                <%= u['email'] %>
                <i class="fa fa-refresh fa-spin" data-email="<%= u['email'] %>" 
                  style="display: none;"></i>
                <br>
                <span class="invitation-status">
                  <%= u['invite_date'] ? 
                        "Invited #{u['invite_date'].to_s(:short_date_time)}"
                        : 'No invitation sent yet' %>
                </span>
              </td>
              <td>
                <%= u['badges'].map{|b| "#{b} (Invited)"}.join(', ') unless u['badges'].blank? %>
                <%= u['validations'].map{|v| "#{v['badge']} (Issued)"}\
                  .join(', ') unless u['validations'].blank? %>
              </td>
              <td>
                <%= link_to '<i class="fa fa-envelope"></i> Resend'.html_safe, 
                  send_group_member_invitation_path(@group, u['email']), :method => :post,
                  title: 'Resend invitation email', remote: true,
                  data: { toggle: 'tooltip', spinner: ".fa-spin[data-email='#{u['email']}']" }, 
                  class: 'btn btn-small resend-button', style: 'margin-bottom: 6px;' %><br>
                <%= link_to '<i class="fa fa-remove"></i> Revoke'.html_safe, 
                  destroy_group_invited_member_path(@group, u['email']), :method => :delete,
                  title: 'Revoke invitation', class: 'btn btn-small revoke-button', remote: true,
                  data: { confirm: delete_confirmation_message, toggle: 'tooltip',
                    spinner: ".fa-spin[data-email='#{u['email']}']" } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
  </div>

  <!-- === MANAGE ADMINS MODAL === -->

  <div id="manage-invited-admins" class="modal hide fade" tabindex="-1" role="dialog" 
   aria-labelledby="mimm-label" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="mimm-label">Manage Invited Admins</h3>
    </div>

    <div class="modal-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Invitation</th>
            <th>Badges</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @group.invited_admins.each do |u| %>
            <%
              if u['validations'].blank?
                delete_confirmation_message = "Are you absolutely sure you want to revoke " \
                  + "this user's invitation?"
              else
                delete_confirmation_message = "Are you absolutely sure you want to revoke " \
                  + "this user's invitation? (WARNING: This invited user has been issued " \
                  + "badges. Those badge validations will be lost if you revoke the " \
                  + "invitation.)"
              end
            %>
            <tr class="invited-admin-row" data-email="<%= u['email'] %>">
              <td>
                <%= u['email'] %>
                <i class="fa fa-refresh fa-spin" data-email="<%= u['email'] %>" 
                  style="display: none;"></i>
                <br>
                <span class="invitation-status">
                  <%= u['invite_date'] ? 
                        "Invited #{u['invite_date'].to_s(:short_date_time)}"
                        : 'No invitation sent yet' %>
                </span>
              </td>
              <td>
                <%= u['badges'].map{|b| "#{b} (Invited)"}.join(', ') unless u['badges'].blank? %>
                <%= u['validations'].map{|v| "#{v['badge']} (Issued)"}\
                  .join(', ') unless u['validations'].blank? %>
              </td>
              <td>
                <%= link_to '<i class="fa fa-envelope"></i> Resend'.html_safe, 
                  send_group_admin_invitation_path(@group, u['email']), :method => :post,
                  title: 'Resend invitation email', remote: true,
                  data: { toggle: 'tooltip', spinner: ".fa-spin[data-email='#{u['email']}']" }, 
                  class: 'btn btn-small resend-button', style: 'margin-bottom: 6px;' %><br>
                <%= link_to '<i class="fa fa-remove"></i> Revoke'.html_safe, 
                  destroy_group_invited_admin_path(@group, u['email']), :method => :delete,
                  title: 'Revoke invitation', class: 'btn btn-small revoke-button', remote: true,
                  data: { confirm: delete_confirmation_message, toggle: 'tooltip',
                    spinner: ".fa-spin[data-email='#{u['email']}']" } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
  </div>

  <!-- === GROUP SETTINGS MODAL === -->

  <script type="text/javascript">

    $(document).ready(function() {
      $("#join-code-enabled").change(function() {
        if (this.checked) {
          $(".control-group.group_join_code,#join-url-preview-panel").fadeIn();
          $("#group_join_code").focus();
        } else {
          $(".control-group.group_join_code,#join-url-preview-panel").fadeOut(function() {
            $("#group_join_code").val("");
          });
        }
      });

      $("#group_join_code").change(function() {
        $("#join-url-preview").val("<%= @group.group_url %>?code=" + $(this).val());
      });
    });

  </script>

  <div id="settings" class="modal hide fade" tabindex="-1" role="dialog" 
   aria-labelledby="mimm-label" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="mimm-label">Group settings</h3>
    </div>

    <div class="modal-body">
      <div class="bl-modal-form">
        <div class="form-body">
          <% if @group.private? %>
            <%= simple_form_for @group, html: { id: 'settings-form', 
                class: 'form-horizontal' } do |f| %>

              <%= f.input :badge_copyability, as: :radio_buttons, 
                label: 'Who can copy badges from the group?', 
                include_blank: false, collection: @badge_copyability_options %>

              <%= f.input :tag_visibility, as: :radio_buttons, 
                label: 'Who can see group tags?', 
                include_blank: false, collection: @tag_visibility_options %>

              <%= f.input :tag_assignability, as: :radio_buttons, 
                label: 'Who can assign group tags?', 
                include_blank: false, collection: @tag_assignability_options %>

              <%= f.input :tag_creatability, as: :radio_buttons, 
                label: 'Who can create new group tags?', 
                include_blank: false, collection: @tag_creatability_options %>

              <%= f.input :member_visibility, as: :radio_buttons, label: 'Group Member List', 
                include_blank: false, collection: @group_visibility_options %>

              <%= f.input :admin_visibility, as: :radio_buttons, label: 'Group Admin List', 
                include_blank: false, collection: @group_visibility_options %>

              <div class="control-group">
                <label class="control-label" for="join-code-enabled">
                  Allow Public Signup with Join Code?
                </label>
                <div class="controls">
                  <% if @group.join_code.blank? %>
                    <input type="checkbox" id="join-code-enabled">
                  <% else %>
                    <input type="checkbox" id="join-code-enabled" checked>
                  <% end %>
                </div>
              </div>

              <%= f.input :join_code, label: 'Join Code', 
                hint: 'This code can either be manually entered by new members when they join or '\
                  + 'you can point them to the link below and it will be pre-filled. ' \
                  + '(The join code is not case sensitive and you can change or retract it at ' \
                  + 'any time.)',
                wrapper_html: { style: d?(!@group.join_code.blank?) } %>              

              <div class="control-group" id="join-url-preview-panel" 
                  style="<%= d? !@group.join_code.blank? %>">
                <label class="control-label" for="join-url-preview">
                  Group Link with Join Code
                </label>
                <div class="controls">
                  <input type="text" id="join-url-preview" class="input-xlarge embed-code"
                    value="<%= "#{@group.group_url}?code=#{@group.join_code}" %>">
                </div>
              </div>

            <% end %>
          <% else %>
            <p>
              <%= @group.name %> is currently an Open Group.
            </p>
            <p>
              You can switch to a Closed Group at any time to get advanced membership controls
              and run reports.
            </p>
          <% end %>
         </div>        
      </div>
    </div>

    <div class="modal-footer">
      <% if @group.private? %>
        <button class="btn btn-primary" aria-hidden="true" 
            onclick="$('#settings-form').submit();">
          Save changes
        </button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
      <% else %>
        <a href="/pricing" target="_blank" class="btn btn-success">
          <i class="fa fa-list-alt"></i>
          View plans &amp; pricing
        </a>
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <% end %>
    </div>
  </div>

<% end %> <!-- end if group or bl admin -->

<% if @can_create_group_tags %>
  
  <!-- === NEW GROUP TAG USERS MODAL === -->

  <script type="text/javascript">

    var MAX_TAG_NAME_LENGTH = <%= GroupTag::MAX_NAME_LENGTH %>;

    $(document).ready(function() {

      $('#new-group-tag-users').on('shown', function() {
        $('#users-tag-name').focus();
      });
      
      $('#users-tag-name').keypress(function(e) {
        if (e.which == 13) {
          e.preventDefault();
          $('#create-group-users-tag').click();
        }
      }).keyup(function() {
        // Conditionally show the yes / no spans based on whether the name is blank.
        $('#users-tag-name-label')
          .text(parameterizeText($('#users-tag-name').val(), MAX_TAG_NAME_LENGTH));
        if ($('#users-tag-name-label').text().length > 0) {
          $('#no-users-tag-name').hide();
          $('#yes-users-tag-name').show();
        } else {
          $('#yes-users-tag-name').hide();
          $('#no-users-tag-name').show();
        }
      }).blur(function() {
        // Whenever the text box loses focus parameterize the text and go back to non-preview mode
        $(this).val(parameterizeText($(this).val(), MAX_TAG_NAME_LENGTH));
        $('#yes-users-tag-name').hide();
        $('#no-users-tag-name').show();
      });

      $('#create-group-users-tag').click(function(e) {
        e.preventDefault();

        // First parameterize the text just in case
        $('#users-tag-name').val(parameterizeText($('#users-tag-name').val(), MAX_TAG_NAME_LENGTH));

        if ($('#users-tag-name').val().length > 1)
          $('#create-group-tag-users-form').submit();
        else
          alert('The user tag name must be at least 2 characters.');
      });


    });

  </script>

  <!-- === NEW GROUP TAG BADGES MODAL === -->

  <script type="text/javascript">

    var MAX_TAG_NAME_LENGTH = <%= GroupTag::MAX_NAME_LENGTH %>;

    $(document).ready(function() {

      $('#new-group-tag-badges').on('shown', function() {
        $('#badges-tag-name').focus();
      });
      
      $('#badges-tag-name').keypress(function(e) {
        if (e.which == 13) {
          e.preventDefault();
          $('#create-group-badges-tag').click();
        }
      }).keyup(function() {
        // Conditionally show the yes / no spans based on whether the name is blank.
        $('#badges-tag-name-label')
          .text(parameterizeText($('#badges-tag-name').val(), MAX_TAG_NAME_LENGTH));
        if ($('#badges-tag-name-label').text().length > 0) {
          $('#no-badges-tag-name').hide();
          $('#yes-badges-tag-name').show();
        } else {
          $('#yes-badges-tag-name').hide();
          $('#no-badges-tag-name').show();
        }
      }).blur(function() {
        // Whenever the text box loses focus parameterize the text and go back to non-preview mode
        $(this).val(parameterizeText($(this).val(), MAX_TAG_NAME_LENGTH));
        $('#yes-badges-tag-name').hide();
        $('#no-badges-tag-name').show();
      });

      $('#create-group-badges-tag').click(function(e) {
        e.preventDefault();

        // First parameterize the text just in case
        $('#badges-tag-name').val(parameterizeText($('#badges-tag-name').val(), MAX_TAG_NAME_LENGTH));

        if ($('#badges-tag-name').val().length > 1)
          $('#create-group-tag-badges-form').submit();
        else
          alert('The tag name must be at least 2 characters.');
      });


    });

  </script>

  <div id="new-group-tag-users" class="modal hide fade" tabindex="-1" role="dialog" 
   aria-labelledby="mimm-label" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="mimm-label">Create new group tag<h3>
    </div>

    <div class="modal-body">
      <div class="bl-modal-form">
        <div class="form-body">

          <%= form_tag(group_tags_path(@group, :selected => 'users'), method: :post, 
            id: 'create-group-tag-users-form', class: 'form-horizontal') do %>

            <div class="control-group">
              <label class="control-label" for="users-tag-name">Tag Name</label>
              <div class="controls">
                <input type="text" class="text optional" id="users-tag-name" 
                  name="group_tag[name_with_caps]" maxlength="<%= GroupTag::MAX_NAME_LENGTH %>">
                <p class="help-block">
                  <span id="no-users-tag-name">
                    The tag name can only contain letters, numbers, dashes and underscores.
                  </span>
                  <span id="yes-users-tag-name" style="display:none">
                    <strong>Tag Preview:</strong>
                    <span id="users-tag-name-label"></span>
                  </span>
                </p>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="tag-summary">Tag Description (Optional)</label>
              <div class="controls">
                <div class="character-count-wrap">
                  <textarea data-character-count="true" class="text optional"
                    data-max-length="<%= GroupTag::MAX_SUMMARY_LENGTH %>"
                    name="group_tag[summary]" id="tag-summary"></textarea>
                </div>
              </div>
            </div>

          <% end %>

        </div>
      </div>
    </div>
    
    <div class="modal-footer">
      <a href="#" id="create-group-users-tag" class="btn btn-success">Create tag</a>
      <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    </div>
  </div>

    <div id="new-group-tag-badges" class="modal hide fade" tabindex="-1" role="dialog" 
   aria-labelledby="mimm-label" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="mimm-label">Create new group tag<h3>
    </div>

    <div class="modal-body">
      <div class="bl-modal-form">
        <div class="form-body">

          <%= form_tag(group_tags_path(@group, :selected => 'badges'), method: :post, 
            id: 'create-group-tag-badges-form', class: 'form-horizontal') do %>

            <div class="control-group">
              <label class="control-label" for="badges-tag-name">Tag Name</label>
              <div class="controls">
                <input type="text" class="text optional" id="badges-tag-name" 
                  name="group_tag[name_with_caps]" maxlength="<%= GroupTag::MAX_NAME_LENGTH %>">
                <p class="help-block">
                  <span id="no-badges-tag-name">
                    The tag name can only contain letters, numbers, dashes and underscores.
                  </span>
                  <span id="yes-badges-tag-name" style="display:none">
                    <strong>Tag Preview:</strong>
                    <span id="badges-tag-name-label"></span>
                  </span>
                </p>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="tag-summary">Tag Description (Optional)</label>
              <div class="controls">
                <div class="character-count-wrap">
                  <textarea data-character-count="true" class="text optional"
                    data-max-length="<%= GroupTag::MAX_SUMMARY_LENGTH %>"
                    name="group_tag[summary]" id="tag-summary"></textarea>
                </div>
              </div>
            </div>

          <% end %>

        </div>
      </div>
    </div>
    
    <div class="modal-footer">
      <a href="#" id="create-group-badges-tag" class="btn btn-success">Create tag</a>
      <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    </div>
  </div>

<% end %> <!-- end if can create group tags -->

<% if !@group.has?(:reporting) && (@current_user_is_admin || @badge_list_admin) %>
  
  <!-- === REPORTING FEATURE EXPLANATION MODAL === -->

  <div id="reporting" class="modal hide fade" tabindex="-1" role="dialog" 
   aria-labelledby="mimm-label" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="mimm-label">Reporting feature not enabled</h3>
    </div>

    <div class="modal-body">
      <div class="bl-modal-form">
        <div class="form-body">
          <% if @group.private? %>
            <p>
              <%= @group.name %> is currently a Closed Group with a subscription plan that does
              not include reporting.
            </p>
          <% else %>
            <p>
              <%= @group.name %> is currently an Open Group. Reporting is only 
              available to paid groups whose subscriptions include the feature. 
            </p>
          <% end %>
          <p>
            Badge List's reporting feature lets you run reports on your group's badge and
            membership activity and export them to CSV files.
            Click the button below to read more about subscription plans which 
            include reporting.
          </p>
       </div>        
      </div>
    </div>

    <div class="modal-footer">
      <a href="/pricing" target="_blank" class="btn btn-success">
        <i class="fa fa-list-alt"></i>
        View plans &amp; pricing
      </a>
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
  </div>

<% end %>

<% if @group.private? && (@current_user_is_owner || @badge_list_admin) %>

  <!-- === SUBSCRIPTION DETAILS MODAL === -->

  <div id="subscription-details" class="modal hide fade" tabindex="-1" role="dialog" 
   aria-labelledby="mimm-label" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="mimm-label">Subscription Details</h3>
    </div>

    <div class="modal-body">
      <h4 class="<%= status_details[:color] %>">
        <i class="fa <%= status_details[:icon] %>"></i>
        <%= status_details[:alert_title] %>
      </h4>
      <p><b><%= status_details[:summary] %></b></p>
      <p><%= status_details[:alert_body] %></p>
      <ul>
        <li><b>Current Plan:</b> <%= @group.subscription_plan_name %></li>
        <li><b>Cost:</b> <%= @group.subscription_plan_cost %></li>
        <li>
          <b>Plan Limits:</b>
        <%= (@group.user_limit<0) ? 'Unlimited members' : pluralize(@group.user_limit,'member') %>,
          <%=(@group.admin_limit<0) ? 'Unlimited admins' : pluralize(@group.admin_limit,'admin')%>,
          <%= (@group.sub_group_limit<0) ? \
            'Unlimited sub-groups' : pluralize(@group.sub_group_limit,'sub-group') %>
        </li>
        <li>
          <b>Included Plan Features:</b>
          <% if @group.features.blank? %>
            None
          <% else %>
            <%= @group.features.map(&:capitalize).join(', ') %>
          <% end %>
        </li>
      </ul>
    </div>

    <div class="modal-footer">
      <% pricing_url = (@group.pricing_group == 'k12') ? '/pricing#k12' : '/pricing' %>
      <a href="<%= pricing_url %>" target="_blank" class="btn">
        <i class="fa fa-list-alt"></i>
        View plans &amp; pricing
      </a>
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
  </div>

<% end %>

<!-- === PAGE HEADER === -->

<div class="row add-top-margin">
  <div class="span12">
    <div class="header-bar group-header-bar">
      <table class="info-table">
        <tbody>
          <tr>
            <td class="left-image">
              <%= image_tag @group.avatar_image_url(:medium) %>
              <% if @group.processing_avatar %>
                <div class="spinner-wrapper" id="processing-avatar-overlay">
                  <div class="spinner-text large">
                    <i class="fa fa-refresh fa-spin"></i>
                  </div>
                </div>
              <% end %>
              <% if @current_user_is_owner || @badge_list_admin %>
                <div class="btn-overlay hidden-until-hover">
                  <%= link_to '<i class="fa fa-pencil"></i> Edit image'.html_safe, 
                    edit_group_path, class: 'btn btn-small' %>
                </div>
              <% end %>
            </td>
            <td class="left-panel">
              <h1><%= @group.name %></h1>
              <h2>
                <%=
                  case @group.type
                    when "open"
                      "<i class='fa fa-globe'></i> Open Group".html_safe
                    when "closed"
                      "<i class='fa fa-eye'></i> Open Group (Closed Membership)".html_safe
                    when "private"
                      "<i class='fa fa-lock'></i> Closed Group".html_safe
                  end
                %>

                <% if @group.private? && (@current_user_is_owner || @badge_list_admin) %>
                  <br>
                  <a href="#subscription-details" data-toggle="modal">
                    <span class="label <%= status_details[:color] %>">
                      <%= @group.subscription_plan_name %> - 
                      <i class="fa <%= status_details[:icon] %>"></i>
                      <%= @group.subscription_status_string %>
                    </span>
                  </a>
                <% elsif @group.private? && @current_user_is_admin %>
                  <br>
                  <span class="label <%= status_details[:color] %>">
                    <%= @group.subscription_plan_name %> - 
                    <i class="fa <%= status_details[:icon] %>"></i>
                    <%= @group.subscription_status_string %>
                  </span>
                <% end %>
              </h2>
              
              <% if @group.description %>
                <h3>
                  <%= @group.description %>
                </h3>
              <% end %>
            </td>
            
            <td class="separator hidden-phone with-footer"><span>&nbsp;</span></td>
            
            <td class="right-panel hidden-phone">
              <ul>
                <% unless @group.location.blank? %>
                  <li>
                    <i class="fa fa-map-marker"></i> <%= @group.location %>
                  </li>
                <% end %>
                <% unless @group.website.blank? %>
                  <li>
                    <i class="fa fa-external-link"></i> 
                    <a href="<%= @group.website %>" target="_blank"><%= @group.website %></a>
                  </li>
                <% end %>
                <li>
                  <i class="fa fa-clock-o"></i> 
                  Created on <%= (@group.created_at || Time.now).to_s(:full_date) %>
                </li>
                <li>
                  <i class="fa fa-users"></i> <%= pluralize @group.user_count, "user" %> 
                </li>
                <li>
                  <% if @group.owner %>
                    <i class="fa fa-at"></i> 
                    <%= link_to @group.owner.username_with_caps, @group.owner %>
                    is the group owner
                  <% else %>
                    <i class="fa fa-exclamation-circle"></i> 
                    This group has no owner
                  <% end %>
                </li>
              </ul>
            </td>
          </tr>

          <tr 
class="footer-row <%= (can_join_group||can_join_group_with_code) ? 'highlight-secondary' : '' %>">
            <td colspan="4">
              <span class="label-text">
                <% if @current_user_is_admin || @current_user_is_member %>
                  <% if @current_user_is_owner %>
                    You're the group owner
                  <% elsif @current_user_is_admin %>
                    You're a group admin
                  <% elsif @current_user_is_member %>
                    You're a group member
                  <% end %>

                  <% if @show_on_profile %>
                    and this group is visible on your 
                    <%= link_to 'badge profile', current_user, title: 'View your badge profile' %>.
                  <% else %>
                    and this group is hidden from your 
                    <%= link_to 'badge profile', current_user, title: 'View your badge profile' %>.
                  <% end %>
                <% elsif can_join_group %>
                  This is an open group.
                <% elsif can_join_group_with_code %>
                  This is a closed group, but you can join if you've been given a code.
                <% else %>
                  This is a closed group.
                <% end %>
              </span>
              <ul class="action-list">
                <% if @current_user_is_member || @current_user_is_admin %>
                  <li>
                    <%= link_to '<i class="fa fa-sliders"></i> Edit group membership'.html_safe, \
                      '#membership-settings', class: 'btn btn-small', data: { toggle: 'modal' } %>
                  </li>
                <% elsif can_join_group %>
                  <li>
                    <% if current_user %>
                      <%= link_to '<i class="fa fa-plus-circle"></i> Join the group'.html_safe, 
                          join_group_path(@group), method: :post, class: 'btn btn-small' %>
                    <% else %>
                      <%= link_to '<i class="fa fa-plus-circle"></i> Join the group'.html_safe, 
                          '#sign-in-to-join', class: 'btn btn-small', data: { toggle: 'modal' } %>
                    <% end %>
                  </li>
                <% elsif can_join_group_with_code %>
                  <li>
                    <%= link_to '<i class="fa fa-plus-circle"></i> Join the group'.html_safe, 
                      '#enter-join-code', class: 'btn btn-small', data: { toggle: 'modal' } %>
                  </li>
                <% end %>
                <% if @badge_list_admin || @current_user_is_admin %>
                  <% if @group.has?(:reporting) %>
                    <li>
                      <%= link_to '<i class="fa fa-table"></i> Run report'.html_safe, 
                        new_report_result_path(group: @group.url_with_caps),class: 'btn btn-small'%>
                    </li>
                  <% else %>
                    <li>
                      <%= link_to '<i class="fa fa-table"></i> Run report'.html_safe, 
                        '#reporting', class: 'btn btn-small', data: { toggle: 'modal' } %>
                    </li>
                  <% end %>
                <% end %>
                <% if @current_user_is_owner || @badge_list_admin %>
                  <% if @group.private? %>
                    <li>
                      <a href="#subscription-details" data-toggle="modal" class='btn btn-small'>
                        <i class="fa fa-info-circle"></i> Subscription details
                      </a>
                    </li>
                  <% end %>
                  <li>
                    <%= link_to '<i class="fa fa-pencil"></i> Edit the group'.html_safe, 
                      edit_group_path, class: 'btn btn-small' %>
                  </li>
                <% end %>
                  
                <% if @current_user_is_owner || @badge_list_admin \
                    || (@group.private? && @current_user_is_admin) %>
                  <li class="collapsible">
                    <div class="dropdown">
                      <a href="#" class="dropdown-toggle" id="dropdown-settings" 
                        role="button" data-toggle="dropdown" data-target="#" title="Admin Options">
                        <i class="fa fa-cog"></i>
                        <b class="caret"></b>
                      </a>
                      <ul class="dropdown-menu pull-right" role="menu" 
                          aria-labelledby="dropdown-settings">

                        <% if @group.has?(:reporting) %>
                          <li>
                            <%= link_to \
                              '<i class="fa fa-table"></i> View all report results'.html_safe, 
                              report_results_path %>
                            </li>
                        <% end %>

                        <% if @group.private? %>
                          <li>
                            <%= link_to '<i class="fa fa-wrench"></i> '.html_safe \
                              + 'Group settings', '#settings', data: { toggle: 'modal' } %>
                          </li>
                          <% if @current_user_is_owner || @badge_list_admin %>
                            <li class="divider"></li>
                          <% end %>
                        <% end %>

                        <% if @current_user_is_owner || @badge_list_admin %>
                          <li>
                            <%= link_to \
                              '<i class="fa fa-share"></i> Transfer Group Ownership'.html_safe, 
                              "#{edit_group_path}?transfer=true" %>
                          </li>
                          <li>
                            <%= link_to '<i class="fa fa-remove"></i> Delete Group'.html_safe, 
                              @group, method: :delete, data: { confirm: 'WARNING: ' \
                                + 'THIS WILL PERMANENTLY DESTROY DATA. Are you absolutely sure ' \
                                + 'you want to permanently delete this group?' } %>
                          </li>
                        <% end %>
                        
                        <% if @badge_list_admin %>
                          <li class="divider"></li>
                          <li>
                              <%= link_to '<i class="fa fa-cog"></i> BL Admin Mode'.html_safe,
                                  group_path(@group, bl_admin_mode: true) %>
                          </li>
                        <% end %>
                      </ul>
                    </div>
                  </li>
                <% end %>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<% if (@current_user_is_admin || @badge_list_admin) && !@group.bounced_email_log.blank? %>
  
  <!-- === EMAIL BOUNCE ALERT === -->

  <div class="alert alert-error below-header-bar">
    <strong>
      <i class="fa fa-envelope"></i>
      <i class="fa fa-exclamation"></i>&nbsp;&nbsp;
      <%= @group.bounced_email_log.count %> emails have bounced
    </strong>
    to users in your group recently.
    <a href="#bounced-email-log" class="btn btn-small ignore" data-toggle="modal">
      Click here to view
    </a>
  </div>

  <div id="bounced-email-log" class="modal hide fade" tabindex="-1" role="dialog" 
   aria-labelledby="mimm-label" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="mimm-label">Bounced Email Log<h3>
    </div>

    <div class="modal-body">
      <p>
        This log records recent emails which could not be delivered to members of your group.
        Emails are usually bounced either due to mistyped email addresses or due to filters
        configured by the administrator of the user's email domain. 
        Please reach out to Badge List support if you have any questions.
      </p>

      <table class="table">
        <thead>
          <tr>
            <th>Email</th>
            <th>Bounced At</th>
          </tr>
        </thead>
        <tbody>
          <% @group.bounced_email_log.each do |item| %>
            <tr>
              <td>
                <%= item['email'] %>
              </td>
              <td>
                <% if item['bounced_at'] && (item['bounced_at'].class == Time) %>
                  <%= item['bounced_at'].to_s(:short_date_time) %>
                <% else %>
                  Unknown
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="modal-footer">
      <%= link_to 'Clear the log', clear_bounce_log_path(@group), method: :post, class: 'btn' %>
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
  </div>

<% end %>


<!-- === BADGES TAB === -->

<div class="tab-pane active" id="badges">

  <div class="row">
    <div class="span12">
      <div class="tab-header first-on-page">
        <% if @current_user_is_admin || @badge_list_admin %>
          <%= link_to '<i class="fa fa-plus"></i> New badge'.html_safe,
              new_group_badge_path(@group), class: 'btn btn-small' %>
        <% end %>

        <% if @has_badges %>
          <% if @can_copy_badges %>
            <%= link_to '<i class="fa fa-copy"></i> Copy badges'.html_safe,
                copy_badges_form_path(@group), class: 'btn btn-small' %>
          <% elsif !current_user && (@group.badge_copyability == 'public') %>
            <%= link_to '<i class="fa fa-copy"></i> Copy badges'.html_safe,
              '#sign-in-to-copy-badges', class: 'btn btn-small', data: { toggle: 'modal' } %>
          <% end %>
          <% if @validation_request_count > 0 %>
            <%= link_to "<i class='fa fa-flag-checkered'></i> ".html_safe \
              + pluralize(@validation_request_count, 'feedback request'), 
              group_review_path(@group), class: 'btn btn-small highlight-primary' %>
          <% end %>
        <% end %>

        <h2>Badges</h2>

        <% if @current_user_is_member || @current_user_is_admin || @badge_list_admin %>
          <h3 class="collapse-when-small">
            <% if @group.badge_copyability == "public" %>
              <i class="fa fa-globe"></i> Anyone can copy
            <% elsif @group.badge_copyability == "members" %>
              <i class="fa fa-users"></i> Only members can copy
            <% else %>
              <i class="fa fa-lock"></i> Only admins can copy
            <% end %>

            <% if @current_user_is_admin || @badge_list_admin %>
              <a href="#settings" class="btn h3-btn" data-toggle="modal">
                Settings
              </a>
            <% end %>
          </h3>
        <% end %>
      </div>

      <div class="row">
        <div class="span12">
          <div class="group-tag-list">

            <div class="tag-label">
              <i class="fa fa-tag"></i>
              Tags:
            </div>

            <ul class="tag-items <%= (@has_top_badge_tags) ? '' : 'no-tags' %>">
              <% if @has_top_badge_tags %>
                <% @top_badge_tags.each do |tag_item| %>
                  <li>
                    <a href="<%= group_tag_path(@group, tag_item['name_with_caps'], 
                      :selected => 'badges') %>">
                      #<%= tag_item['name_with_caps'] %>
                    </a>
                  </li>
                <% end %>
              <% elsif @has_tags %>
                <li class="no-tags">No group tags have been attached to badges yet.</li>
              <% else %>
                <li class="no-tags">No group tags have been created yet.</li>
              <% end %>

              <% if @has_tags %>
                <li class="browse-tags">
                  <%= link_to "<i class='fa fa-search'></i> Browse all tags".html_safe,
                    group_tags_path(@group), class: 'browse-tags-link' %>
                </li>
              <% end %>
            </ul>

            <% if @can_create_group_tags %>
              <div class="tag-button">
                <a href="#new-group-tag-badges" class="btn btn-small btn-success" 
                  data-toggle="modal">
                  <i class='fa fa-plus'></i> 
                  <span class="hide-when-small">Create new tag</span>
                  <span class="show-when-small">New</span>
                </a>
              </div>
            <% end %>

          </div>
        </div>
      </div>

      <% if !@has_badges %>
        <% if @current_user_is_admin || @badge_list_admin %>
          <div class="well span7 offset2">
            <h3>You haven't created any badges yet</h3>
            <p>
              Badges are collections of requirements which allow learners to post evidence.
            </p>
            <p>
              <%= link_to '<i class="fa fa-plus"></i> Create a badge'.html_safe,
                new_group_badge_path(@group), class: 'btn btn-success' %>
            </p>
          </div>
        <% else %>
          <div class="well gray span7 offset2">
            <h3>No badges yet</h3>
            <% if @current_user_is_member %>
              <p>When badges become available for you to earn you will see them here.</p>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <% if @has_badges %>

    <div class="row">
      <div class="span12" data-bl-dyncol="parent" data-bl-dyncol-group="badges" 
          data-bl-dyncol-width="12">

        <%= render @badges, group: @group, is_member: @current_user_is_member, 
          is_admin: @current_user_is_admin %>

      </div>
    </div>

    <div class="row">
      <div class="span12">
        <div class="pagination-footer">
          <div class="pagination" id="paginator-badges">
            <%= paginate @badges, remote: true, param_name: 'pb' %>
          </div>
        </div>
      </div>
    </div>
  
  <% end %>

</div>

<% if @can_see_members %>

  <!-- === MEMBERS TAB === -->

  <div class="tab-pane" id="members">

    <div class="row">
      <div class="span12">
          
        <div class="tab-header">
          <% if @current_user_is_admin || @badge_list_admin %>
            <%= link_to '<i class="fa fa-plus"></i> Add members'.html_safe,
                add_group_members_path(@group), class: 'btn btn-small',
                disabled: !@group.can_add_members? %>

            <% if @show_emails %>
              <%= link_to '<i class="fa fa-eye-slash"></i> Hide emails'.html_safe,
                  group_path(@group), class: 'btn btn-small' %>
            <% else %>
              <%= link_to '<i class="fa fa-eye"></i> Show emails'.html_safe,
                  group_path(@group, show_emails: true), class: 'btn btn-small' %>
            <% end %>

            <% if @group.private? %>
              <a href="#subscription-details" data-toggle="modal">
                <span class="label <%= member_details[:color] %>" data-toggle="tooltip"
                   title="<%= member_details[:summary] %>">
                  <%= member_details[:label] %>
                </span>
              </a>
            <% end %>

            <% unless @group.invited_members.blank? %>
              <div class="btn-group">
                <a href="#" class="btn btn-small btn-link dropdown-toggle" data-toggle="dropdown">
                  Waiting on <%= @group.invited_members.count %> new members 
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <% @group.invited_members.take(10).each do |u| %>
                    <li>
                      <a tabindex="-1" href="#manage-invited-members" data-toggle="modal">
                        <%= if u['name']
                              "#{u['name']} <#{u['email']}>"
                            else
                              u['email']
                            end %>
                      </a>
                    </li>
                  <% end %>

                  <% if @group.invited_members.count > 10 %>
                    <li>
                      <a tabindex="-1" href="#manage-invited-members" data-toggle="modal">
                        <%= (@group.invited_members.count - 10).to_s %> more...
                      </a>
                    </li>
                  <% end %>

                  <li class="divider"></li>
                  <li>
                    <a tabindex="-1" href="#manage-invited-members" data-toggle="modal">
                      <i class="fa fa-wrench"></i>  Manage Invited Members
                    </a>
                  </li>
                </ul>
              </div>
            <% end %> <!-- end inivited members -->
          <% end %> <!-- end if admin -->

          <h2>Members</h2>

          <% if @current_user_is_member || @current_user_is_admin || @badge_list_admin %>
            <h3 class="collapse-when-small">
              <% if @group.member_visibility == "public" %>
                <i class="fa fa-globe"></i> Visible to public
              <% else %>
                <i class="fa fa-users"></i> Only visible to members
              <% end %>

              <% if @current_user_is_admin || @badge_list_admin %>
                <a href="#settings" class="btn h3-btn" data-toggle="modal">
                  Settings
                </a>
              <% end %>
            </h3>
          <% end %>
        </div>

      </div>
    </div>

    <% if @can_view_group_tags %>
      <!-- === USER TAGS === -->

      <div class="row">
        <div class="span12">
          <div class="group-tag-list">

            <div class="tag-label">
              <i class="fa fa-tag"></i>
              Tags:
            </div>

            <ul class="tag-items <%= (@has_top_user_tags) ? '' : 'no-tags' %>">
              <% if @has_top_user_tags %>
                <% @top_user_tags.each do |tag_item| %>
                  <li>
                    <a href="<%= group_tag_path(@group, tag_item['name_with_caps'], 
                      :selected => 'users') %>">
                      #<%= tag_item['name_with_caps'] %>
                    </a>
                  </li>
                <% end %>
              <% elsif @has_tags %>
                <li class="no-tags">No group tags have been attached to users yet.</li>
              <% else %>
                <li class="no-tags">No group tags have been created yet.</li>
              <% end %>

              <% if @has_tags %>
                <li class="browse-tags">
                  <%= link_to "<i class='fa fa-search'></i> Browse all tags".html_safe,
                    group_tags_path(@group), class: 'browse-tags-link' %>
                </li>
              <% end %>
            </ul>

            <% if @can_create_group_tags %>
              <div class="tag-button">
                <a href="#new-group-tag-users" class="btn btn-small btn-success" 
                  data-toggle="modal">
                  <i class='fa fa-plus'></i> 
                  <span class="hide-when-small">Create new tag</span>
                  <span class="show-when-small">New</span>
                </a>
              </div>
            <% end %>

          </div>
        </div>
      </div>
    <% end %>

    <% if @group.member_ids.empty? %>
      <div class="row">
        <div class="well span7 offset2 gray empty">
          <h3>No members yet</h3>
        </div>
      </div>
    <% end %>

    <% if !@group.member_ids.empty? %>
      <div class="row">
        <div class="span12" data-bl-dyncol="parent" data-bl-dyncol-group="members" 
             data-bl-dyncol-width="12">
            <%= render @members, group: @group, show_email: @show_emails,
              bl_admin_mode: @bl_admin_mode, is_admin: (@current_user_is_admin ||@badge_list_admin),
              show_request_count: (@current_user_is_admin || @current_user_is_member \
                || @badge_list_admin) %>
        </div>
      </div>

      <div class="row">
        <div class="span12">
          <div class="pagination-footer">
            <div class="pagination" id="paginator-members">
              <%= paginate @members, remote: true, param_name: 'pm' %>
            </div>
          </div>
        </div>
      </div>
    <% end %>

  </div>

<% end %> <!-- end if can see members -->

<% if @can_see_admins %>

  <!-- === ADMINS TAB === -->

  <div class="tab-pane" id="admins">

    <div class="row">
      <div class="span12">
        
        <div class="tab-header">
          <% if @current_user_is_admin || @badge_list_admin %>
            
            <%= link_to '<i class="fa fa-plus"></i> Add admins'.html_safe,
              add_group_admins_path(@group), class: 'btn btn-small', 
              disabled: !@group.can_add_admins? %>

            <% if @show_emails %>
              <%= link_to '<i class="fa fa-eye-slash"></i> Hide emails'.html_safe,
                  group_path(@group), class: 'btn btn-small' %>
            <% else %>
              <%= link_to '<i class="fa fa-eye"></i> Show emails'.html_safe,
                  group_path(@group, show_emails: true), class: 'btn btn-small' %>
            <% end %>

            <% if @group.private? %>
              <a href="#subscription-details" data-toggle="modal">
                <span class="label <%= admin_details[:color] %>" data-toggle="tooltip"
                   title="<%= admin_details[:summary] %>">
                  <%= admin_details[:label] %>
                </span>
              </a>
            <% end %>

            <% unless @group.invited_admins.blank? %>
              <div class="btn-group">
                <a href="#" class="btn btn-small btn-link dropdown-toggle" data-toggle="dropdown">
                  Waiting on <%= @group.invited_admins.count %> new admins 
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <% @group.invited_admins.take(10).each do |u| %>
                    <li>
                      <a tabindex="-1" href="#manage-invited-admins" data-toggle="modal">
                        <%= if u['name']
                              "#{u['name']} <#{u['email']}>"
                            else
                              u['email']
                            end %>
                      </a>
                    </li>
                  <% end %>

                  <% if @group.invited_admins.count > 10 %>
                    <li>
                      <a tabindex="-1" href="#manage-invited-admins" data-toggle="modal">
                        <%= (@group.invited_admins.count - 10).to_s %> more...
                      </a>
                    </li>
                  <% end %>

                  <li class="divider"></li>
                  <li>
                    <a tabindex="-1" href="#manage-invited-admins" data-toggle="modal">
                      <i class="fa fa-wrench"></i>  Manage Invited Admins
                    </a>
                  </li>
                </ul>
              </div>
            <% end %> <!-- end inivited admins -->
          <% end %> <!-- end if admin -->
            
          <h2>Admins</h2>

          <% if @current_user_is_member || @current_user_is_admin || @badge_list_admin %>
            <h3 class="collapse-when-small">
              <% if @group.admin_visibility == "public" %>
                <i class="fa fa-globe"></i> Visible to public
              <% else %>
                <i class="fa fa-users"></i> Only visible to members
              <% end %>

              <% if @current_user_is_admin || @badge_list_admin %>
                <a href="#settings" class="btn h3-btn" data-toggle="modal">
                  Settings
                </a>
              <% end %>
            </h3>
          <% end %>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="span12" data-bl-dyncol="parent" data-bl-dyncol-group="admins" 
           data-bl-dyncol-width="12">

        <%= render @group.admins.asc(:name), group: @group, show_email: @show_emails,
          bl_admin_mode: @bl_admin_mode, is_admin: (@current_user_is_admin || @badge_list_admin), 
          show_request_count: (@current_user_is_admin || @current_user_is_member \
            || @badge_list_admin) %>
      
      </div>
    </div>
  </div>

<% end %> <!-- end if can see admins -->
