<% 
  provide(:title, @group.name)
%>

<% if @current_user_is_admin || @current_user_is_member || @group.open? %>
  <% 
    provide(:show_subheader, true)
    provide(:subheader_image, group_image_url_for(@group)) 
  %>
  
  <% content_for :subheader_links do %>
    <li class="active">
      <%= @group.url_with_caps %>
    </li>
  <% end %>

  <% content_for :subheader_actions do %>
    <% if @group.open? && !@current_user_is_admin && !@current_user_is_member %>
      <li class="collapsible">
        <%= link_to '<i class="icon-plus-sign icon-white"></i> Join Group'.html_safe, 
            join_group_path(@group), method: :post %>
      </li>
    <% else %>
      <li class="collapsible">
        <div class="dropdown">
          <a href="#" class="dropdown-toggle" id="dropdown-subheader-settings" 
            role="button" data-toggle="dropdown" data-target="#">
            Learning Group Settings
            <i class="icon-cog icon-white"></i>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdown-subheader-settings">
            <% if @current_user_is_admin %>
              <li>
                <%= link_to '<i class="icon-pencil"></i> Edit Group'.html_safe, edit_group_path %>
              </li>
            <% end %>
            <% if @current_user_is_admin || @current_user_is_member %>
              <li>
                <%= link_to('<i class="icon-ban-circle"></i> Leave Group'.html_safe, 
                  leave_group_path(@group), method: :delete, 
                  data: { confirm: 'Are you absolutely sure you want to leave this learning group?' }) %>
              </li>
            <% end %>
            <% if @current_user_is_admin %>
              <li class="divider"></li>
              <li>
                  <%= link_to '<i class="icon-remove"></i> Delete Group'.html_safe, 
                    @group, method: :delete,
                    data: { confirm: 'WARNING: THIS WILL PERMANENTLY DESTROY DATA. Are you absolutely'\
                    + ' sure you want to permanently delete this learning group and all the badges' \
                    + ' inside of it?' } %>
                </li>
            <% end %>
          </ul>
        </div>
      </li>
    <% end %>
  <% end %>
<% end %>

<!-- === MANAGE MEMBERS MODAL === -->

<div id="manage-invited-members" class="modal hide fade" tabindex="-1" role="dialog" 
 aria-labelledby="mimm-label" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="mimm-label">Manage Invited Members</h3>
  </div>

  <div class="modal-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Invitation Sent</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @group.invited_members.each do |u| %>
          <tr>
            <td><%= u['name'] %></td>
            <td><%= u['email'] %></td>
            <td>
              <%= u['invite_date'] ? 
                    u['invite_date'].to_s(:short_date_time) 
                    : 'No invitation sent yet' 
              %>
            </td>
            <td>
              <%= link_to '<i class="icon-envelope"></i>'.html_safe, 
                  send_group_member_invitation_path(@group, u['email']), :method => :post,
                  title: 'Resend invitation email', data: { toggle: "tooltip", placement: "bottom"} %> 
              <%= link_to '<i class="icon-remove"></i>'.html_safe, 
                  destroy_group_invited_member_path(@group, u['email']), :method => :delete,
                  title: 'Revoke invitation', data: { toggle: "tooltip", placement: "bottom",
                  confirm: "Are you absolutely sure you want to revoke this user's invitation?" } %>
            </td>
          </tr>
        <% end %>
    </tbody>
    </table>
  </div>

  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

<!-- === MANAGE ADMINS MODAL === -->

<div id="manage-invited-admins" class="modal hide fade" tabindex="-1" role="dialog" 
 aria-labelledby="mimm-label" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="mimm-label">Manage Invited Admins</h3>
  </div>

  <div class="modal-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Invitation Sent</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @group.invited_admins.each do |u| %>
          <tr>
            <td><%= u['name'] %></td>
            <td><%= u['email'] %></td>
            <td>
              <%= u['invite_date'] ? 
                    u['invite_date'].to_s(:short_date_time) 
                    : 'No invitation sent yet' 
              %>
            </td>
            <td>
              <%= link_to '<i class="icon-envelope"></i>'.html_safe, 
                  send_group_admin_invitation_path(@group, u['email']), :method => :post,
                  title: 'Resend invitation email', data: { toggle: "tooltip", placement: "bottom"} %> 
              <%= link_to '<i class="icon-remove"></i>'.html_safe, 
                  destroy_group_invited_admin_path(@group, u['email']), :method => :delete,
                  title: 'Revoke invitation', data: { toggle: "tooltip", placement: "bottom",
                  confirm: "Are you absolutely sure you want to revoke this user's invitation?" } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>


<!-- === PAGE HEADER === -->

<div class="row add-top-margin">
  <div class="span12">
    <div class="header-card group-header-card">
      <div class="white-background">&nbsp;</div>

      <div class="span6 primary-header">
        <span class="header-image" >
          <%= group_image_tag_for @group %>
        </span>
        <span class="header-text">
          <h1><%= @group.name %></h1>
          <h2><%= @group.url_with_caps %></h2>
          <h3>
            <%=
              case @group.type
                when "open"
                  "<i class='icon-globe'></i> Open Learning Group".html_safe
                when "closed"
                  "<i class='icon-eye-open'></i> Public Learning Group (Closed Membership)".html_safe
                when "private"
                  "<i class='icon-lock'></i> Private Learning Group".html_safe
              end
            %>
          </h3>
        </span>
      </div>

      <div class="span6 secondary-header">
        <ul>
          <% unless @group.location.blank? %>
            <li>
              <i class="icon-map-marker"></i> <%= @group.location %>
            </li>
          <% end %>
          <% unless @group.website.blank? %>
            <li>
              <i class="icon-share"></i> 
              <a href="<%= @group.website %>" target="_blank"><%= @group.website %></a>
            </li>
          <% end %>
          <li>
            <i class="icon-time"></i> Created on <%= @group.created_at.to_s(:full_date) %>
          </li>
        </ul>
      </div>

      <% if @group.public? || @current_user_is_admin || @current_user_is_member %>
        <div class="card-tabs">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#badges" data-toggle="tab">Badges</a></li>
            <li><a href="#members" data-toggle="tab">Members</a></li>
            <li><a href="#admins" data-toggle="tab">Admins</a></li>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</div>

<% if @group.public? || @current_user_is_admin || @current_user_is_member %>

  <!-- === TAB CONTENT === -->

  <div class="tab-content">

    <!-- === BADGES TAB === -->

    <div class="tab-pane active" id="badges">

      <div class="row">
        <div class="span12">
          <% if @current_user_is_admin %>
            <div class="tab-header">
              <%= link_to '<i class="icon-plus"></i> New Badge'.html_safe,
                  new_group_badge_path(@group), class: 'btn btn-small' %>

              <h2>All Badges</h2>
            </div>
          <% end %>

          <% if @group.badges.empty? %>
            <div class="well span7 offset2">
              <p class="lead">No badges yet!</p>
              <p>
                <%= 
                  if @current_user_is_admin
                    link_to '<i class="icon-plus"></i> Create a badge'.html_safe,
                    new_group_badge_path(@group), class: 'btn btn-success' 
                  end
                %>
              </p>
            </div>
          <% end %>
        </div>
      </div>

      <div class="row">
        
        <div class="span12" data-bl-dyncol="parent" data-bl-dyncol-group="badges" 
             data-bl-dyncol-width="12">

            <%= render @group.badges if !@group.badges.empty? %>

        </div>
      </div>
    </div>

    <!-- === MEMBERS TAB === -->

    <div class="tab-pane" id="members">

      <div class="row">
        <div class="span12">
            
          <% if @current_user_is_admin %>
            <div class="tab-header">

              <%= link_to '<i class="icon-plus"></i> Add Members'.html_safe,
                  add_group_members_path(@group), class: 'btn btn-small' %>

              <% unless @group.invited_members.blank? %>
                <div class="btn-group">
                  <a href="#" class="btn btn-small btn-link dropdown-toggle" data-toggle="dropdown">
                    Waiting on <%= @group.invited_members.count %> new members 
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <% @group.invited_members.take(10).each do |u| %>
                      <li>
                        <a tabindex="-1" href="#manage-invited-members" data-toggle="modal">
                          <%= if u['name']
                                "#{u['name']} <#{u['email']}>"
                              else
                                u['email']
                              end %>
                        </a>
                      </li>
                    <% end %>

                    <% if @group.invited_members.count > 10 %>
                      <li>
                        <a tabindex="-1" href="#manage-invited-members" data-toggle="modal">
                          <%= (@group.invited_members.count - 10).to_s %> more...
                        </a>
                      </li>
                    <% end %>

                    <li class="divider"></li>
                    <li>
                      <a tabindex="-1" href="#manage-invited-members" data-toggle="modal">
                        <i class="icon-wrench"></i>  Manage Invited Members
                      </a>
                    </li>
                  </ul>
                </div>
              <% end %>
              
              <h2>Active Members</h2>
            
            </div>
          
          <% end %>

          <% if @group.members.empty? %>
            <div class="well span7 offset2">
              <p class="lead">No members yet!</p>
              <p>
                <%= 
                  if @current_user_is_admin
                    link_to '<i class="icon-plus"></i> Add some members'.html_safe,
                    add_group_members_path(@group), class: 'btn btn-success' 
                  end
                %>
              </p>
            </div>
          <% end %>

        </div>
      </div>

      <div class="row">
        <div class="span12" data-bl-dyncol="parent" data-bl-dyncol-group="members" 
             data-bl-dyncol-width="12">

            <%= render @group.members.sort_by{|u| u.name} if !@group.members.empty? %>

        </div>
      </div>
    </div>

    <!-- === ADMINS TAB === -->

    <div class="tab-pane" id="admins">

      <div class="row">
        <div class="span12">
          
          <% if @current_user_is_admin %>
            <div class="tab-header">
              
              <%= link_to '<i class="icon-plus"></i> Add Admins'.html_safe,
                  add_group_admins_path(@group), class: 'btn btn-small' %>

              <% unless @group.invited_admins.blank? %>
                <div class="btn-group">
                  <a href="#" class="btn btn-small btn-link dropdown-toggle" data-toggle="dropdown">
                    Waiting on <%= @group.invited_admins.count %> new admins 
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <% @group.invited_admins.take(10).each do |u| %>
                      <li>
                        <a tabindex="-1" href="#manage-invited-admins" data-toggle="modal">
                          <%= if u['name']
                                "#{u['name']} <#{u['email']}>"
                              else
                                u['email']
                              end %>
                        </a>
                      </li>
                    <% end %>

                    <% if @group.invited_admins.count > 10 %>
                      <li>
                        <a tabindex="-1" href="#manage-invited-admins" data-toggle="modal">
                          <%= (@group.invited_admins.count - 10).to_s %> more...
                        </a>
                      </li>
                    <% end %>

                    <li class="divider"></li>
                    <li>
                      <a tabindex="-1" href="#manage-invited-admins" data-toggle="modal">
                        <i class="icon-wrench"></i>  Manage Invited Admins
                      </a>
                    </li>
                  </ul>
                </div>
              <% end %>
              
              <h2>Active Admins</h2>
            
            </div>
          <% end %>
        </div>
      </div>

      <div class="row">

        <div class="span12" data-bl-dyncol="parent" data-bl-dyncol-group="admins" 
             data-bl-dyncol-width="12">

          <%= render @group.admins.sort_by{|u| u.name} %>
        
        </div>
      </div>
    </div>

  </div>

<% else %>
  
  <div class="row">
    <div class="well span7 offset2">
      <p class="lead">This is a private learning group</p>
      <p>
        The contents of this learning group are only visible to members.
      </p>
    </div>
  </div>

<% end %>