<% 
  provide(:title, @user.name)
%>

<% if @this_is_current_user %>
  <% 
    provide(:show_subheader, true)
    provide(:subheader_image, gravatar_url_for(@user, :size => 30))
    provide(:subheader_image_class, 'img-circle')
  %>
  
  <% content_for :subheader_links do %>
  <li class="active">
    u
    <span class="divider">/</span>
    <%= @user.username_with_caps %>
  </li>
<% end %>

  <% content_for :subheader_actions do %>
      <li class="collapsible">
        <div class="dropdown">
          <a href="#" class="dropdown-toggle" id="dropdown-subheader-settings" 
            role="button" data-toggle="dropdown" data-target="#">
            Account Settings
            <i class="fa fa-cog"></i>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdown-subheader-settings">
            <li>
              <a href="<%= edit_user_registration_path %>">
                <i class="fa fa-edit"></i> Change account details
              </a>
            </li>
            <li>
              <a href="https://en.gravatar.com/connect/?source=_signup" target="_blank" data-toggle="tooltip" 
                data-placement="bottom" 
                title="Badge List uses Gravatar to display your profile picture.">
                <i class="fa fa-picture-o"></i> Change your profile picture
              </a>
            </li>            
          </ul>
        </div>
      </li>
  <% end %>

<% end %>

<!-- === ACCOUNT STATUS WARNING === -->

<% if @this_is_current_user && (!@user.confirmed? || @user.pending_reconfirmation?) %>
  <p class="lead text-warning">
    <b>Account Status:</b>
    Currently waiting on email confirmation for "<%= @user.unconfirmed_email || @user.email %>"
  </p>
<% end %>

<div class="row add-top-margin">
  <div class="span12">
    <div class="header-card user-header-card">

      <div class="primary-header span12">
        <span class="header-image"> 
          <%= gravatar_for(@user, :size => 100, :class => 'img-circle') %>
        </span>
        <span class="header-text">
          <h1><%= @user.name %></h1>
          <h2><%= @user.username_with_caps %></h2>
          <h3>
            <% ((@user.expert_logs.count || 0) / 5).to_i.times do |i| %>
              <i class="fa fa-star"></i>
            <% end %>
          </h3>
        </span>
      </div>

    </div>
  </div>
</div>

<!-- === MEMBERSHIPS === -->

<% if @group_and_log_list.blank? %>

  <div class="row">
    <div class="well span7 offset2">
      <p class="lead">No memberships yet...</p>
      <p>
        <% if @this_is_current_user %>
          To get started you'll either need to create a new learning group 
          or get someone else to invite you to one of theirs.<br><br>

          <%= link_to "<i class='fa fa-plus'></i> Create a new learning group".html_safe,
            new_group_path, class: 'btn btn-success' %>
        <% else %>
          They look lonely. Maybe you could invite them to join one of your learning groups?
        <% end %>
      </p>
    </div>
  </div>

<% else %>

  <div class="row">
    <div class="span12">
      <div class="container-card evidence-card">
        <% @group_and_log_list.each do |row| %>
          <% unless row[:expert_logs].blank? %>
            
            <table class="header-table">
              <tr>
                <td>
                  <%= link_to group_image_tag_for(row[:group]), row[:group],
                    title: "View the learning group", class: "image-link" %>
                </td>
                <td>
                  <h2>
                    <%= link_to row[:group].name, row[:group],title: "View the learning group" %>
                  </h2>
                  <h3>
                    <% if row[:type] == :admin %>
                      Admin
                    <% else %>
                      Member
                    <% end %>
                  </h3>
                </td>
              </tr>
            </table>

            <div class="body-row">
              <% row[:expert_logs].each do |log| %>
                <div class="inner-row">
                  <%= link_to image_tag(group_badge_path(log.badge.group, log.badge, format: :png)), 
                    [log.badge.group, log.badge, log], 
                    title: "View the badge", class: "image-link" %>

                  <h2><%= link_to log.badge.name, [log.badge.group, log.badge, log] %></h2>
                  <h3>
                    <%= log.badge.expert.capitalize %> 
                    since 
                    <%= log.date_issued.to_s(:short_date) %>
                  </h3>
                </div>
              <% end %>
            </div>

          <% end %>
        <% end %> <!-- === # END: @group_and_log_list.each === -->
      </div>
    </div>
  </div>

<% end %>