<% 
  provide(:title, @user.name)
%>

<% if @this_is_current_user %>
  <% 
    provide(:show_subheader, true)
    provide(:subheader_image, gravatar_url_for(@user, :size => 30))
    provide(:subheader_image_class, 'img-circle')
  %>
  
  <% content_for :subheader_links do %>
  <li class="active">
    u
    <span class="divider">/</span>
    <%= @user.username %>
  </li>
<% end %>

  <% content_for :subheader_actions do %>
      <li class="collapsible">
        <div class="dropdown">
          <a href="#" class="dropdown-toggle" id="dropdown-subheader-settings" 
            role="button" data-toggle="dropdown" data-target="#">
            Account Settings
            <i class="icon-cog icon-white"></i>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdown-subheader-settings">
            <li>
              <a href="<%= edit_user_registration_path %>">
                <i class="icon-edit"></i> Change account details
              </a>
            </li>
            <li>
              <a href="https://en.gravatar.com/site/login" target="_blank" data-toggle="tooltip" 
                data-placement="bottom" 
                title="Badge List uses a lovely tool called Gravatar to display your profile picture.">
                <i class="icon-picture"></i> Change your profile picture
              </a>
            </li>            
          </ul>
        </div>
      </li>
  <% end %>

<% end %>

<!-- === ACCOUNT STATUS WARNING === -->

<% if @this_is_current_user && (!@user.confirmed? || @user.pending_reconfirmation?) %>
  <p class="lead text-warning">
    <b>Account Status:</b>
    Currently waiting on email confirmation for "<%= @user.unconfirmed_email || @user.email %>"
  </p>
<% end %>

<div class="row add-top-margin">
  <div class="span12">
    <div class="header-card user-header-card">

      <div class="primary-header">
        <table>
          <tr>
            <td class="header-image"> 
              <%= gravatar_for(@user, :size => 120, :class => 'img-circle') %>
            </td>
            <td class="header-text">
              <h1><%= @user.name %></h1>
              <h2><%= @user.username %></h2>
              <p>
                <i class="icon-time"></i>
                <% if @user.created_at < (Time.now - 3.months) %>
                  <%= "Badge List member since #{@user.created_at.to_s(:full_date)}" %>
                <% else %>
                  <%= "Badge List member since the beginning of time" %>
                <% end %>
              </p>
            </td>
          </tr>
        </table>
      </div>

      <div class="secondary-header collapse-when-small">&nbsp;</div>

      <div class="card-tabs">
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="#activity" data-toggle="tab">Recent Activity</a>
          </li>
          <li>
            <a href="#memberships" data-toggle="tab">Groups &amp; Badges</a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>

<!-- === TAB CONTENT === -->

<div class="tab-content">

  <!-- === RECENT ACTIVITY TAB === -->

  <div class="tab-pane active" id="activity">
    
    <% if @entries.blank? %>

      <div class="row">
        <div class="well span7 offset2">
          <p class="lead">No entries yet...</p>
          <p>
            <% if @this_is_current_user %>
              It's time to get posting!
            <% else %>
              Looks like <%= @user.name %> hasn't posted anything that's visible to you.
            <% end %>
          </p>
        </div>
      </div>

    <% else %>

      <div class="row">
        <div class="span12">
          <div class="pagination-header">
            <div class="pagination"><%= paginate @entries %></div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="span12" data-bl-dyncol="parent" data-bl-dyncol-group="entries" 
          data-bl-dyncol-width="12">

          <%= render(@entries, date_format: :ago) if !@entries.empty? %>

        </div>
      </div>

      <div class="row">
        <div class="span12">
          <div class="pagination-footer">
            <div class="pagination"><%= paginate @entries %></div>
          </div>
        </div>
      </div>

    <% end %>

  </div>

  <!-- === MEMBERSHIPS TAB === -->

  <div class="tab-pane" id="memberships">

    <% if @group_and_log_list.blank? %>

      <div class="row">
        <div class="well span7 offset2">
          <p class="lead">No memberships yet...</p>
          <p>
            <% if @this_is_current_user %>
              To get started you'll either need to create a new learning group 
              or get someone else to invite you to one of theirs.<br><br>

              <%= link_to "<i class='icon-plus'></i> Create a new learning group".html_safe,
                new_group_path, class: 'btn btn-success' %>
            <% else %>
              They look lonely. Maybe you could invite them to join one of your learning groups?
            <% end %>
          </p>
        </div>
      </div>

    <% else %>

      <div class="row">
        <div class="span12">
          
        <% @group_and_log_list.each do |row|
             unless row[:group].name.nil?  %>

          <div class="container-card group-container-card">

            <div class="white-striped-background"> &nbsp; </div>

            <table>
              <tr>

                <td class="header-column">
                  <%= link_to group_image_tag_for(row[:group]), row[:group],
                    title: "View the learning group", class: "image-link" %><br>
                  <h2><%= link_to row[:group].name, row[:group],title: "View the learning group" %></h2>
                  <h3>
                    <% if @this_is_current_user %>
                      You are 
                    <% else %>
                      <%= @user.name %> is 
                    <% end %>
                    <% if row[:type] == :admin %>
                      an <abbr data-toggle="tooltip" data-placement="right"
                      title="Admins can create or delete badges and add new members.">admin</abbr>.
                    <% else %>
                      a <abbr title="Members can join badges and view activity."
                      data-toggle="tooltip" data-placement="right">member</abbr>.
                    <% end %>
                  </h3>
                </td>

                <td class="body-column">

                  <% if (row[:expert_logs].count + row[:learner_logs].count) > 0 %>
                    <% [row[:expert_logs], row[:learner_logs]].flatten.each do |log| %>
                      <div class="inner-row">
                        <%= link_to image_tag(log.badge.image_url), [log.badge.group, log.badge], 
                          title: "View the badge", class: "image-link" %>

                        <h2><%= link_to log.badge.name, [log.badge.group, log.badge] %></h2><br>
                        <% if log.validation_status == 'validated' %>
                          <h3>Expert since <%= log.date_issued.to_s(:full_date) %></h3><br>
                        <% else %>
                          <h3>
                            Learner since 
                            <%= (log.date_started || log.created_at).to_s(:full_date) %>
                          </h3><br>
                        <% end %>

                        <ul>
                          <li>
                            <% if @this_is_current_user %>
                              <%= link_to "<i class='icon-user'></i> View Your Log".html_safe,
                                [log.badge.group, log.badge, log] %>
                            <% else %>
                              <%= link_to "<i class='icon-user'></i> View Learning Log".html_safe,
                                [log.badge.group, log.badge, log] %>
                            <% end %>
                          </li>
                        </ul>
                      </div>
                    <% end %>
                  <% end %>

                </td>

              </tr>
            </table>

          </div>

        <%  end
        end %>

        </div>
      </div>

    <% end %>

  </div>

</div>