<% content_for :extra_footer_text do %>
  Many thanks to <a href="http://www.thenounproject.com" target="_blank">the Noun Project</a> and
  their cadre of generous designers for building the icons used to make our badges. Please <a href="http://www.thenounproject.com" target="_blank">check out their website</a> and 
  consider supporting the wonderful work they do.
<% end %>

<script type="text/javascript">
  
  var selectedElement = {}; // maps from targetSelector to currently selected element
  var badgeImageModeOnStart = "<%= @badge.image_mode %>";
  var MAX_IMAGE_UPLOAD_SIZE = 7000000;
  var MAX_IMAGE_UPLOAD_DESCRIPTION = "6 megabytes";

  $(document).ready(function() {
    buildUserInterface();
    checkForTooltips();

    // Now associate the events
    $("a.list-element").click(function() {
      return listElementClick($(this));
    });
    $("button.set-color").click(function() {
      manuallySetColor($(this));
    });
    $("#manual-foreground-color,#manual-background-color").keyup(function() {
      if (/(^#?[0-9A-F]{6}$)|(^#?[0-9A-F]{3}$)/i
        .test($(this).val())) $(this).removeClass('invalid');
      else $(this).addClass('invalid')
    })
    $("#badge-frames,#badge-icons").scroll(function() {
      var e = $(this);
      var l = e.find(".scroll-left");
      var r = e.find(".scroll-right");
      l.css('left', (10 + e.scrollLeft())+"px")
      r.css('right', (10 - e.scrollLeft())+"px")
      
      if (e.scrollLeft() > 0) { if (!l.is(":visible")) l.fadeIn(); }
      else if (l.is(":visible")) l.fadeOut();

      if ((e[0].scrollWidth - e.width() - e.scrollLeft()) > 20) { if (!r.is(":visible")) r.fadeIn(); }
      else if (r.is(":visible")) r.fadeOut();
    });
    $(".scroll-left").click(function() {
      var e = $(this).closest("#badge-frames,#badge-icons");
      var newScrollLeft = Math.max(e.scrollLeft() - parseInt(e.width()*0.8), 0);
      e.animate({ scrollLeft: newScrollLeft }, 700);
      return false;
    });
    $(".scroll-right").click(function() {
      var e = $(this).closest("#badge-frames,#badge-icons");
      var newScrollLeft = Math.min(e.scrollLeft() + parseInt(e.width()*0.8), 
                                   e[0].scrollWidth - e.width()-20);
      e.animate({ scrollLeft: newScrollLeft }, 700);
      return false;
    });
    
    $("#badge-image").load(function() {
      $("#badge-image-spinner").fadeOut();
    });

    $("#icon-type").change(function() {
      if ($(this).val() == "text") {
        $("#badge-icons").slideUp();
        $("#badge-icon-text").slideDown();
        $("#text-icon").focus();
      } else {
        $("#badge-icon-text").slideUp();
        $("#badge-icons").slideDown();
      }
    });
    $("#text-icon").keyup(function() {
      setTextIcon($(this).val());
    });

    // Clicking the pretty upload button clicks on the file input element instead
    $("#select-image-file-1,#select-image-file-2").click(function(e) {
      $("#s3_direct_badge_uploader_direct_custom_image").click();
      e.preventDefault();
    });
    
    // Process the image file after selection
    $("#s3_direct_badge_uploader_direct_custom_image").change(function() {
      if ($(this).val()) {
        if (this.files[0].size > MAX_IMAGE_UPLOAD_SIZE) {
          alert("The image you have selected is too big. The maximum supported file size is "
            + MAX_IMAGE_UPLOAD_DESCRIPTION + ".");
          $(this).val("");
        } else if (this.files[0].type != 'image/png') {
          alert("Only PNG images are supported for badge images, please select a different image.");
          $(this).val("");
        } else {
          $("#upload-spinner").fadeIn();
          $("#custom_image_form").submit();
        }
      }
    });

    <% if @badge.new_record? %>
      <% if @badge.errors.blank? %>
        // Then select a random badge
        randomize();
      <% elsif !@badge.custom_image_key %>
        // Load the current badge
        updateBadgeImagePreview();
      <% end %>
    <% end %>
  });

  function buildUserInterface() {
    var thumbnail; var text; var value;
    var sourceList; var newList; var selectedClass;
    var options; var curTable; var curRow; var curElement;

    // Get the current badge info if this is an edit
    var curBadgeFrame = "<%= @badge.image_frame %>";
    var curBadgeIcon = "<%= @badge.image_icon %>";
    var curIconIsText = false;
    var curBadgeColor1 = "<%= @badge.image_color1 %>";
    var curColor1IsCustom = false
    var curBadgeColor2 = "<%= @badge.image_color2 %>";
    var curColor2IsCustom = false

    <% if !@badge.new_record? || !@badge.errors.blank? %>
      // Copy the current info into the DOM
      $("#badge_image_frame").val(curBadgeFrame);
      $("#badge_image_icon").val(curBadgeIcon);
      if ($("#badge_image_icon").val() == null) { 
        // then we need to add this text as an option and log that the icon state is text
        $("#badge_image_icon").append("<option value='" + curBadgeIcon + "'>Custom Text</option>");
        $("#badge_image_icon").val(curBadgeIcon);
        curIconIsText = true;
      }
      $("#badge_image_color1").val(curBadgeColor1);
      if ($("#badge_image_color1").val() == null) { 
        // then we need to add this color as an option and log that the color is custom
        $("#badge_image_color1").append("<option value='" + curBadgeColor1 + "'>Custom Color</option>");
        $("#badge_image_color1").val(curBadgeColor1);
        curColor1IsCustom = true;
      }
      $("#badge_image_color2").val(curBadgeColor2);
      if ($("#badge_image_color2").val() == null) {
        // then we need to add this color as an option and log that the color is custom
        $("#badge_image_color2").append("<option value='" + curBadgeColor2 + "'>Custom Color</option>");
        $("#badge_image_color2").val(curBadgeColor2);
        curColor2IsCustom = true;
      }
    <% end %>
    
    // First build the frame list
    sourceList = $("#badge_image_frame"); 
    sourceList.after("<div id='badge-frames'></div>");
    newList = $("#badge-frames");
    newList.append("<a href='#' class='scroll-arrow scroll-left' style='display:none'>&#9664;</a>")
     .append("<a href='#' class='scroll-arrow scroll-right'>&#9654;</a>");
    sourceList.hide();
    sourceList.find("option").each(function() { 
      text = $(this).text();
      value = $(this).val();
      thumbnail = $(this).data("thumbnail");
      selectedClass = (curBadgeFrame == value) ? "selected" : "";

      newList.append("<a href='#' class='list-element " + selectedClass + "' data-value='" 
        + value + "' " + "data-target='#badge_image_frame'>" + "<img src='" + thumbnail + "'><br>" 
        + "<span>" + text + "</span></a>");
    });

    // Then build the icon list
    sourceList = $("#badge_image_icon"); 
    if (curIconIsText) sourceList.after("<div id='badge-icons' style='display:none'></div>");
    else sourceList.after("<div id='badge-icons'></div>");
    newList = $("#badge-icons");
    newList.append("<a href='#' class='scroll-arrow scroll-left' style='display:none'>&#9664;</a>")
     .append("<a href='#' class='scroll-arrow scroll-right'>&#9654;</a>");
    sourceList.hide();
    var iconCount = sourceList.find("option").length;
    var rowBreakAt = Math.ceil(iconCount / 3); var curCol = 1;
    sourceList.find("option").each(function() { 
      text = $(this).text();
      value = $(this).val();
      thumbnail = $(this).data("thumbnail");
      selectedClass = (curBadgeIcon == value) ? "selected" : "";

      newList.append("<a href='#' class='list-element " + selectedClass + "' data-value='" 
        + value + "' " + "data-target='#badge_image_icon'>" + "<img src='" + thumbnail + "'><br>" 
        + "<span>" + text + "</span></a>");

      if (curCol == rowBreakAt) {
        newList.append("<br>");
        curCol = 1;
      } else curCol++;
    });

    // Now build the text icon editor
    if (curIconIsText) {
      newList.after("<div id='badge-icon-text'></div>");
      newList = $("#badge-icon-text");
      newList.append("<span><label for='text-icon' maxlength='2'>Enter one or two letters:</label>"
        + "<input type='text' id='text-icon' value='" + curBadgeIcon + "'></span>");
    } else {
      newList.after("<div id='badge-icon-text' style='display:none'></div>");
      newList = $("#badge-icon-text");
      newList.append("<span><label for='text-icon' maxlength='2'>Enter one or two letters:</label>"
        + "<input type='text' id='text-icon'></span>");
    }

    // Foreground color list
    sourceList = $("#badge_image_color2"); 
    sourceList.after("<div id='badge-foreground-colors'><h2>Foreground Color</h2><br></div>");
    newList = $("#badge-foreground-colors");
    sourceList.hide();
    options = sourceList.find("option");
    var group_size = 8;
    for (var group = 0; (group*group_size) < options.length; group++) {
      if (group <= 2) {
        newList.append("<table></table>");
        curTable = newList.find("table").last();
      }
      curTable.append("<tr></tr>");
      curRow = curTable.find("tr").last();

      for (var i = group*group_size; (i < ((group+1)*group_size)) && (i < options.length); i++) { 
        curElement = $(options[i]);
        text = curElement.text();
        value = curElement.val();
        selectedClass = (curBadgeColor2 == value) ? "selected" : "";

        curRow.append("<td style='background-color:#" + value + "'>"
          + "<a href='#' class='list-element " + selectedClass + "' data-value='" + value + "' "
          + "data-update='#manual-foreground-color' data-toggle='tooltip' "
          + "data-target='#badge_image_color2' title='" + text.trim() + "'> &nbsp; </a></td>");
      }
    }
    newList.append("<span class='manual-color'><label for='manual-foreground-color'>Hex code</label> "
      + "<input type='text' id='manual-foreground-color' value='" + curBadgeColor2 
        + "' maxlength='7'>"
      + "<button type='button' class='btn btn-mini set-color' "
      + "data-target='#badge_image_color2' data-source='#manual-foreground-color'>"
      + "Update</button></span>");

    // Background color list
    sourceList = $("#badge_image_color1"); 
    sourceList.after("<div id='badge-background-colors'><h2>Background Color</h2><br></div>");
    newList = $("#badge-background-colors");
    sourceList.hide();
    options = sourceList.find("option");
    var group_size = 8;
    for (var group = 0; (group*group_size) < options.length; group++) {
      if (group <= 2) {
        newList.append("<table></table>");
        curTable = newList.find("table").last();
      }
      curTable.append("<tr></tr>");
      curRow = curTable.find("tr").last();

      for (var i = group*group_size; (i < ((group+1)*group_size)) && (i < options.length); i++) { 
        curElement = $(options[i]);
        text = curElement.text();
        value = curElement.val();
        selectedClass = (curBadgeColor1 == value) ? "selected" : "";

        curRow.append("<td style='background-color:#" + value + "'>"
          + "<a href='#' class='list-element " + selectedClass + "' data-value='" + value + "' "
          + "data-update='#manual-background-color' data-toggle='tooltip' "
          + "data-target='#badge_image_color1' title='" + text.trim() + "'> &nbsp; </a></td>");
      }
    }
    newList.append("<span class='manual-color'><label for='manual-background-color'>Hex code</label> "
      + "<input type='text' id='manual-background-color' value='" + curBadgeColor1 
        + "' maxlength='7'>"
      + "<button type='button' class='btn btn-mini set-color' "
      + "data-target='#badge_image_color1' data-source='#manual-background-color'>"
      + "Update</button></span>");

    // Now if this is an edit we need to set the initially selectedElements
    // And we also need to manually set the initial values of the form fields
    <% if !@badge.new_record? || !@badge.errors.blank? %>
      selectedElement["#badge_image_frame"] = $("#badge-frames").find(".list-element.selected");
      selectedElement["#badge_image_icon"] = $("#badge-icons").find(".list-element.selected");
      selectedElement["#badge_image_color2"] = $("#badge-foreground-colors").find(".list-element.selected");
      selectedElement["#badge_image_color1"] = $("#badge-background-colors").find(".list-element.selected");
    <% end %>
  }

  function listElementClick(jqListElement) {
    var targetSelector = jqListElement.data("target");
    var updateSelector = jqListElement.data("update");

    // Set the value
    $(targetSelector).val(jqListElement.data("value"));
    if (updateSelector != null) $(updateSelector).val(jqListElement.data("value"));
    
    // Update the css
    if (selectedElement[targetSelector] != null) 
      selectedElement[targetSelector].removeClass('selected');
    jqListElement.addClass('selected');
    selectedElement[targetSelector] = jqListElement;

    // Update the badge image preview and scroll up to the badge image
    updateBadgeImagePreview();
    $("html, body").animate({scrollTop: $("#badge-image-viewer").offset().top-95}, 500);
    return false;
  }

  function manuallySetColor(jqButton) {
    var sourceSelector = jqButton.data("source");
    var targetSelector = jqButton.data("target");
    var value = $(sourceSelector).val();

    // First clean up the value and save it back to the source box so the user can see it
    value = value.trim().replace(/#/g, "");
    $(sourceSelector).val(value);
    
    // Then set the value
    $(targetSelector).val(value);
    if ($(targetSelector).val() == null) { // then we need to add this color as an option
      $(targetSelector).append("<option value='" + value + "'>Custom Color</option>");
      $(targetSelector).val(value);
    }
    
    // Update the css
    if (selectedElement[targetSelector] != null) {
      selectedElement[targetSelector].removeClass('selected');
      selectedElement[targetSelector] == null;
    }

    // Update the badge image preview and scroll up to the badge image
    updateBadgeImagePreview();
    $("html, body").animate({scrollTop: $("#badge-image-viewer").offset().top-95}, 500);
  }

  function setTextIcon(value) {
    // First clean up the value and save it back to the source box so the user can see it
    if (value != $("#badge_image_icon").val()) {
      value = value.trim()
      $("#text-icon").val(value);
      
      // Then set the value
      $("#badge_image_icon").val(value);
      if ($("#badge_image_icon").val() == null) { // then we need to add this text as an option
        $("#badge_image_icon").append("<option value='" + value + "'>Custom Text</option>");
        $("#badge_image_icon").val(value);
      }
      
      // Update the css
      if (selectedElement["#badge_image_icon"] != null) {
        selectedElement["#badge_image_icon"].removeClass('selected');
        selectedElement["#badge_image_icon"] == null;
      }

      // Update the badge image preview
      updateBadgeImagePreview();
    }
  }

  function updateBadgeImagePreview() {
    var frame = $("#badge_image_frame").val();
    var icon = $("#badge_image_icon").val();
    var color1 = $("#badge_image_color1").val();
    var color2 = $("#badge_image_color2").val();

    $("#badge-image-spinner").fadeIn();

    // Start an ajax poller
    var imagePath = "/i?frame=" + frame + "&icon=" + icon + "&c1=" + color1 + "&c2=" + color2;
    $.ajax({
      url: imagePath,
      type: "GET",
      success: function(response) {
        startPoller(response.poller_id, imageGeneratorCompleted, imageGeneratorError);
      },
      error: imageGeneratorError
    });
  }

  function imageGeneratorError() {
    // nothing to do here
  }

  var currentImageCreated; // helps only display latest image in case there are network delays
  var lastPoller;
  function imageGeneratorCompleted(poller) {
    if ((currentImageCreated == null) || (Date.parse(poller.created_at) > currentImageCreated)) {
      currentImageCreated = Date.parse(poller.created_at);
      lastPoller = poller;
      $("#badge-image").attr('src', '/p/' + poller._id + '.png');
    }
  }

  function randomize() {
    var options; var random; var value; var target; var e;
    var source_selectors = ["#badge-frames", "#badge-icons", "#badge-background-colors", 
      "#badge-foreground-colors"];

    // Run through and pick random list elements, copying each one to it's destination
    for (i in source_selectors) {
      options = $(source_selectors[i]).find(".list-element");
      random = Math.floor(Math.random()*options.length);
      e = options.eq(random);
      value = e.data("value");
      target = e.data("target");
      
      // Set the value
      $(target).val(value);

      // Update the css
      if (selectedElement[target] != null) 
        selectedElement[target].removeClass('selected');
      e.addClass('selected');
      selectedElement[target] = e;
    }

    // Switch back to image icon mode if we were in text icon mode before
    if ($("#icon-type").val() == "text") {
      $("#icon-type").val("image");
      $("#icon-type").change();
    }

    // Then update the image
    updateBadgeImagePreview();
  }

  function toggleEditor(buttonElement) {
    if ($(buttonElement).data("visible")) {
      $("#badge-image-editor").slideUp();
      $(buttonElement).html("<i class='fa fa-pencil'></i> Edit");
      $(buttonElement).data("visible", false);
    } else {
      $("#badge-image-editor").slideDown();
      $(buttonElement).html("<i class='fa fa-angle-double-up'></i> Done");
      $(buttonElement).data("visible", true);
    }
  }

  function goUploadMode() {
    currentImageCreated = Date.now(); // cancel any pending image generator pollers
    $("form input[type=submit]").attr("disabled", true); // disable the submit button
    $("#badge-buttons-design").hide();
    $("#badge-buttons-upload").show();
    $("#badge-image-editor").slideUp();
    $("#badge-image-uploader").slideDown();
    $("#badge-image").attr("src", "<%= image_path('image-upload.png') %>");
    $("#toggle-badge-image-editor")
      .html("<i class='fa fa-pencil'></i> Edit"); // Just in case we're in edit mode
    $("#s3_direct_badge_uploader_direct_custom_image").click();
  }

  function removeUpload() {
    $("#badge-buttons-upload").hide();
    $("#badge-image-uploader").slideUp();
    $("#image-uploaded-panel").hide();
    $("#image-selection-panel").show();
    $("#badge_custom_image_key").val(""); 
    $("#badge-buttons-design").show();
    
    $("form input[type=submit]").attr("disabled", false); // re-enable the submit button

    updateBadgeImagePreview();
  }

  var imageBaseURL = '<%= "#{ENV['s3_asset_url']}/#{ENV['s3_bucket_name']}/" %>';
  function processImageKey(imageKey) {
    $("#badge_custom_image_key").val(imageKey);
    $("#badge-image").attr("src", imageBaseURL + imageKey);

    $("#image-selection-panel").hide();
    $("#image-uploaded-panel").show();
    $("#upload-spinner").fadeOut();
    
    $("form input[type=submit]").attr("disabled", false); // re-enable the submit button
  }

</script>

<div class="badge-maker">
  <div class="control-group">
    <div class="spinner-wrapper" id="upload-spinner" style="display: none;">
      <div class="spinner-text large">
        <i class="fa fa-refresh fa-spin"></i> Uploading...
      </div>
    </div>

    <label class="control-label">Badge Image</label>
    <div class="controls">
      
      <div id="badge-image-viewer">
        <span id="badge-image-wrapper">
          <div class="spinner-wrapper" id="badge-image-spinner" style="display:none">
            <div class="spinner"></div>
          </div>
          <% if @badge.new_record? %>
            <% if @badge.image_mode == 'design' %>
              <%= image_tag "blank.png", id: "badge-image" %>
            <% else %>
              <%= image_tag "image-upload.png", id: "badge-image" %>
            <% end %>
          <% elsif !@badge.errors[:custom_image].blank? %>
            <%= image_tag "image-upload.png", id: "badge-image" %>
          <% else %>
            <img src="<%= @badge.image_url(:medium) %>" id="badge-image"/>
          <% end %>
        </span>

        <span id="badge-buttons-design" 
          style="<%= (@badge.image_mode=='design') ? '' : 'display:none;' %>">
          <span class="badge-button-line">
            <i class="fa fa-circle"></i>
          </span>
          <div class="btn-group">
            <button type="button" id="toggle-badge-image-editor" class="btn btn-small"
              onclick="toggleEditor(this)">
              <i class="fa fa-pencil"></i>
              Edit
            </button>
            <button type="button" id="randomize-badge-image" class="btn btn-small" 
              onclick="randomize()">
              <i class="fa fa-refresh"></i>
              Randomize
            </button>
          </div>

          <button type="button" id="go-upload-mode" class="btn btn-small" onclick="goUploadMode()">
            <i class="fa fa-upload"></i>
            Upload Image File
          </button>
        </span>
        
        <span id="badge-buttons-upload"
          style="<%= (@badge.image_mode=='upload') ? '' : 'display:none;' %>">
          <span class="badge-button-line">
            &nbsp;
          </span>
          <button type="button" id="delete-upload" class="btn btn-small" onclick="removeUpload()">
            <i class="fa fa-remove"></i>
            <%= (@badge.image_mode=='upload') ? 'Remove Uploaded Image' : 'Cancel Upload' %>
          </button>
        </span>
        
      </div>

      <div id="badge-image-uploader" 
        style="<%= ((@badge.image_mode == 'upload') && !@badge.errors[:custom_image].blank?) ? \
          '' : 'display:none' %>">
        <div id="badge_image_uploader">
          <div id="image-uploaded-panel" 
              style="<%= (@badge.custom_image_key.blank?) ? 'display:none' : '' %>">
            <a href="#" class="btn btn-large disabled" id="image-uploaded" onclick="return false;">
              <i class='fa fa-file-image-o'></i>
              
              <span id="image-uploaded-inner">
                <% if @badge.new_record? %>
                  Image Selected
                <% else %> 
                  Image Uploaded
                <% end %> 
              </span>
              
              <i class='fa fa-check'></i>
            </a><br>
            <a href="#" class="btn btn-link" id="select-image-file-2">
              <i class="fa fa-times-circle"></i>
              Select a different image
            </a>
          </div>
          <div id="image-selection-panel"
              style="<%= (@badge.custom_image_key.blank?) ? '' : 'display:none' %>">
            <a href="#" class="btn btn-success btn-large" id="select-image-file-1">
              <i class="fa fa-file-image-o"></i>
              Select an image file
            </a>
          </div>

          <p class="help-block">
            <p><b>Only PNG images are supported.</b><p>
            <p>For best results use square images which are 500 pixels in width and height.</p>
            <p>
              <b>Pro-Tips</b>
              <ul>
                <li>
                  <a href='https://www.openbadges.me/designer.html' target='_blank'>
                    MyKnowledgeMap's tool
                  </a> has lots of icons.
                </li>
                <li>
                  <a href='https://www.imagefu.com/create/badge' target='_blank'>
                    Imagefu Badge Maker
                  </a> works well for text badges.
                </li>
              </ul>
            </p>
          </p>

          <%= f.input :custom_image_key, as: :hidden %>
        </div>
      </div>
      
      <div id="badge-image-editor" style="display:none">

        <div class="header-wrap">
          <h2>Frame</h2>
        </div>
        <select id="badge_image_frame" name="badge[image_frame]">
          <% BADGE_MAKER_CONFIG[:frames].keys.each do |frame| %>
            <option value="<%= frame %>" 
              data-thumbnail="<%= image_path "badge_maker/frames/#{frame}.png" %>">
              <%= frame.split("-").map{ |s| s.capitalize }.join(" ") %>
            </option>
          <% end %>
        </select>

        <div class="header-wrap">
          <h2>Icon</h2>
          <span id="icon-options">
            <select id="icon-type">
              <option value="image" selected="true">Use an image icon</option>
              <option value="text">Use text initials as icon</option>
            </select>
          </span>
        </div>
        <select id="badge_image_icon" name="badge[image_icon]">
          <% BADGE_MAKER_CONFIG[:icons].keys.sort.each do |icon| %>
            <option value="<%= icon %>" 
              data-thumbnail="<%= image_path "badge_maker/icons/#{icon}.png" %>">
              <%= icon.split("-").map{ |s| s.capitalize }.join(" ") %>
            </option>
          <% end %>
        </select>

        <div id="badge-colors">
          <select id="badge_image_color2" name="badge[image_color2]">
            <% BADGE_MAKER_CONFIG[:colors]['all'].keys.each do |color| %>
              <option value="<%= BADGE_MAKER_CONFIG[:colors]['all'][color]['hex'] %>">
                <%= color.split(" ").map{ |s| s.capitalize }.join(" ") %>
              </option>
            <% end %>
          </select>
          <select id="badge_image_color1" name="badge[image_color1]">
            <% BADGE_MAKER_CONFIG[:colors]['all'].keys.each do |color| %>
              <option value="<%= BADGE_MAKER_CONFIG[:colors]['all'][color]['hex'] %>">
                <%= color.split(" ").map{ |s| s.capitalize }.join(" ") %>
              </option>
            <% end %>
          </select>
        </div>

      </div>

    </div>
  </div>
</div>