<!-- === ENTRY CONTENT PARTIAL === -->

<% if entry.format == 'link' %>

  <!-- === WEB LINK === -->
  <div class="panel panel-entry-content panel-entry-content-link">
    <%= link_to entry.link_url, entry.link_url, target: '_blank' %>
  </div>

<% elsif entry.format == 'tweet' %>

  <!-- === TWITTER LINK === -->
  <div class="panel panel-entry-content panel-entry-content-link panel-entry-content-tweet">
    <%= link_to "<i class='fa fa-twitter'></i> View on Twitter".html_safe, entry.link_url, \
      target: '_blank' %>
  </div>

<% elsif entry.format == 'image' %>
  
  <!-- === IMAGE === -->
  <div class="panel panel-entry-content panel-entry-content-image">
    <%= image_tag entry.uploaded_image_url(:full) if entry.uploaded_image? %>
  </div>

<% elsif entry.format == 'code' %>

  <!-- === CODE SNIPPET RESPONSE === -->
  <div class="panel panel-entry-content panel-entry-content-code">
    <pre id="entry_body"><%= entry.body %></pre>

    <%= javascript_include_tag "ace/ace.js" %>
    <script>
        var code_format = "<%= entry.code_format || 'javascript' %>";

        var editor = ace.edit("entry_body");
        editor.setTheme("ace/theme/tomorrow");
        editor.getSession().setMode("ace/mode/" + code_format);
        editor.getSession().setUseWorker(false);
        editor.setOptions({ maxLines: Infinity, minLines: 20 });
        editor.setReadOnly(true);
    </script>
  </div>

<% else %>
  
  <!-- === FREE TEXT RESPONSE === -->
  <div class="panel panel-entry-content panel-entry-content-text">
    <% entry.body_sections.each do |section_text| %>
      <div class="section-container"><%= section_text.html_safe %></div>
    <% end unless entry.body_sections.blank? %>
  </div>

<% end %>