<%
  # Object Variables: entry, log, badge, group, user
%>

<% if entry.format == 'link' %>

  <% if !entry.link_metadata.blank?  && !entry.link_metadata['type'].blank? %>
    
    <!-- === WEB LINK (w/ Embedly Content) === -->
    <div class="panel panel-entry-content panel-entry-content-link-enhanced">
      <% unless entry.link_metadata['provider_name'].blank? %>
        <span class="link-provider">
          <%= entry.link_metadata['provider_name'] %>
        </span>
      <% end %>
      <h3>
        <%= link_to "#{entry.link_metadata['title'] || entry.link_url}".html_safe, entry.link_url,
          target: '_blank'%>
      </h3>
      <% unless entry.link_metadata['description'].blank? %>
        <span class="link-description">
          <%= entry.link_metadata['description'] %>
        </span>
      <% end %>
      
      <% if !entry.link_metadata['html'].blank? \
          && ['rich', 'video'].include?(entry.link_metadata['type']) %>
        <div class="link-embed small">
          <%= entry.link_metadata['html'].html_safe %>
        </div>
      <% elsif !entry.link_metadata['thumbnail_url'].blank? %>
        <a class="link-thumbnail-wrapper" target="_blank" href="<%= entry.link_url %>">
          <img src="<%= entry.link_metadata['thumbnail_url'] %>" class="link-thumbnail small">
        </a>
      <% end %>
    </div>
  
  <% else %>

    <!-- === WEB LINK (Fallback) === -->
    <div class="panel panel-entry-content panel-entry-content-link">
      <% if entry.body %>
        <%= entry.body.html_safe %>
      <% else %>
        <%= link_to "<i class='fa fa-link'></i> #{entry.link_url}".html_safe, entry.link_url,
          target: '_blank', class: 'linkified-url' %>
      <% end %>
    </div>

  <% end %>

<% elsif entry.format == 'tweet' %>

  <!-- === TWITTER LINK === -->
  <div class="panel panel-entry-content panel-entry-content-link panel-entry-content-tweet">
    <%= link_to "<i class='fa fa-twitter'></i> View on Twitter".html_safe, entry.link_url,
      target: '_blank' %>
  </div>

<% elsif entry.format == 'image' %>
  
  <% if entry.processing_uploaded_image %>
    
    <!-- === IMAGE PROCESSING === -->
    <div class="panel panel-entry-content panel-entry-content-text">
      <h3>
        <i class="fa fa-clock-o"></i>
        Image is being processed, refresh the page to view.
      </h3>
    </div>
  
  <% else %>

    <!-- === IMAGE === -->
    <div class="panel panel-entry-content panel-entry-content-image">
      <% if entry.uploaded_image? %>
        <%= link_to image_tag(entry.uploaded_image_url(:preview)),
          "/#{group.to_param}/#{badge.to_param}/u/#{user.username}/#{entry.to_param}" %>
      <% else %>
        <h3><i class="fa fa-exclamation-circle"></i></h3>
      <% end %>
    </div>

  <% end %>

<% elsif entry.format == 'code' %>

  <!-- === CODE SNIPPET RESPONSE === -->
  <div class="panel panel-entry-content panel-entry-content-code">
    <pre class="prettyprint"><%= entry.body %></pre>
  </div>

<% else %>
  
  <!-- === FREE TEXT RESPONSE === -->
  <div class="panel panel-entry-content panel-entry-content-text">
    <% entry.body_sections.each do |section_text| %>
      <div class="section-container"><%= section_text.html_safe %></div>
    <% end unless entry.body_sections.blank? %>
  </div>

<% end %>