<% if @poller && (@poller.status == 'pending') %>
  <script type="text/javascript">

    var progressMode = <%= !@poller.progress.nil? %>;

    $(document).ready(function() {
      if (progressMode)
        startPoller("<%= @poller.id.to_s %>", refreshPoller, refreshPoller, updateProgress);
      else
        startPoller("<%= @poller.id.to_s %>", refreshPoller, refreshPoller);
    });

    function refreshPoller() {
      window.location.reload(); // will trigger redirect_to if specified
    }

    function updateProgress(progress) {
      $(".progress .bar").width(progress.toString() + "%");
    }

  </script>
<% end %>

<div class="row add-top-margin">

  <% if @poller %>

    <% if @poller.status == 'pending' %>
      
      <% if @poller.progress.nil? %>
        <div class="well gray span7 offset2">
          <i class="fa fa-refresh fa-spin header-icon"></i>
          <h3><%= @poller.waiting_message || 'Waiting for changes to save...' %></h3>
        </div>
      <% else %>
        <div class="well gray span7 offset2">
          <h3><%= @poller.waiting_message || 'Waiting for changes to save...' %></h3>
          <div class="progress progress-striped active poller-progress">
            <div class="bar" style="width: <%= @poller.progress %>%;"></div>
          </div>
        </div>
      <% end %>

    <% elsif @poller.status == 'successful' %>

      <div class="well well-lead span7 offset2">
        <i class="fa fa-check-circle header-icon"></i>
        <h3>Process complete</h3>
        <p><%= @poller.message %></p>
      </div>

    <% else %>

      <div class="well primary span7 offset2">
        <i class="fa fa-exclamation-circle header-icon"></i>
        <h3>An error occurred</h3>
        <p><%= @poller.message %></p>
      </div>

    <% end %>
  
  <% else %>
    
    <div class="well well-lead span7 offset2">
      <i class="fa fa-exclamation-circle header-icon"></i>
      <h3>Nothing found</h3>
      <p>Please check the link and try again.</p>
    </div>

  <% end %>

</div>
