<% 
  provide(:title, "Pricing")

  if user_signed_in? 
    link_path = new_group_path
  else
    link_path = new_user_registration_path
  end
%>

<div class="row-fluid pricing-page-row page-banner-row">
  <div class="span6 offset3">
    <h1>Badge List Pricing</h1>
    <span class="tag-line">
      <span class="term" data-term="open-groups">Open groups</span> 
      are free. All groups support unlimited users, unlimited badges and include
      <span class="term" data-term="lifetime-hosting">lifetime hosting</span>.
    </span>
  </div>
</div>

<div class="row-fluid pricing-page-row sub-banner-row">
  <div class="span6 offset3">
    <h2>Closed Groups</h2>
    <span class="tag-line">
      Include control over 
      <span class="term" data-term="privacy">privacy</span>
      and <span class="term" data-term="membership">membership</span>.
    </span>
  </div>
</div>

<!-- === TAB BAR === -->

<div class="row-fluid pricing-page-row sub-banner-row">
  <div class="span6 offset3">

    <ul class="nav nav-tabs">
      <li class="active"><a href="#standard">Standard</a></li>
      <li><a href="#k12">K12</a></li>
    </ul>

  </div>
</div>

<div class="row-fluid pricing-page-row plan-list-row">

  <div class="tab-content">

    <div class="tab-pane active" id="standard">

      <!-- === SOLO PLAN === -->

      <div class="span4 plan-col solo">
        <div class="title">Solo</div>
        <div class="price">
          <span class="currency-symbol">$</span>
          <span class="amount">5</span>
          <span class="suffix">/ month</span>
        </div>
        <div class="feature-list">
          <ul>
            <li>
              1 <span class="term" data-term="admin">admin</span>
            </li>
            <li>
              1 <span class="term" data-term="badge-awarder">badge awarder</span>
            </li>
          </ul>
        </div>
        <div class="the-button">
          <%= link_to 'Create a group', link_path, class: 'btn btn-large' %>
        </div>
      </div>

      <!-- === TEAM PLAN === -->

      <div class="span4 plan-col team">
        <div class="title">Team</div>
        <div class="price">
          <span class="currency-symbol">$</span>
          <span class="amount">30</span>
          <span class="suffix">/ month</span>
        </div>
        <div class="feature-list">
          <ul>
            <li>
              3 <span class="term" data-term="admin">admins</span>
            </li>
            <li>
              Unlimited <span class="term" data-term="badge-awarder">badge awarder</span>
            </li>
            <li>
              <span class="term" data-term="community">Community features</span>
            </li>
          </ul>
        </div>
        <div class="the-button">
          <%= link_to 'Create a group', link_path, class: 'btn btn-large' %>
        </div>
      </div>

      <!-- === ORG PLAN === -->

      <div class="span4 plan-col org">
        <div class="title">Org</div>
        <div class="price">
          <span class="currency-symbol">$</span>
          <span class="amount">130</span>
          <span class="suffix">/ month</span>
        </div>
        <div class="feature-list">
          <ul>
            <li>
              <em>Everything in Team and...</em>
            </li>
            <li>
              5 <span class="term" data-term="sub-groups">sub-groups</span>
              <span class="label">Coming soon</span>
            </li>
            <li>
              <span class="term" data-term="branding">Custom branding</span>
              <span class="label">Coming soon</span>
            </li>
          </ul>
        </div>
        <div class="the-button">
          <%= link_to 'Create a group', link_path, class: 'btn btn-large' %>
        </div>
      </div>

      <div class="row-fluid pricing-page-row plan-list-row">

        <!-- === ORG PLAN === -->

        <div class="span4 offset8 plan-col extras">
          <div class="hero-icon"><i class="fa fa-plus"></i></div>
          <div class="title">
            Sub-Group
            <span class="label">Coming soon</span>
          </div>
          <div class="price">
            <span class="currency-symbol">$</span>
            <span class="amount">10</span>
            <span class="suffix">each</span>
          </div>
        </div>

      </div>

    </div> <!-- /standard -->

    <div class="tab-pane" id="k12">

      <!-- === TEACHER PLAN === -->

      <div class="span4 plan-col solo">
        <div class="title">Solo</div>
        <div class="price">
          <span class="currency-symbol">$</span>
          <span class="amount">5</span>
          <span class="suffix">/ month</span>
        </div>
        <div class="feature-list">
          <ul>
            <li>
              1 <span class="term" data-term="admin">admin</span>
            </li>
            <li>
              1 <span class="term" data-term="badge-awarder">badge awarder</span>
            </li>
          </ul>
        </div>
        <div class="the-button">
          <%= link_to 'Create a group', link_path, class: 'btn btn-large' %>
        </div>
      </div>

      <!-- === TEAM PLAN === -->

      <div class="span4 plan-col team">
        <div class="title">Team</div>
        <div class="price">
          <span class="currency-symbol">$</span>
          <span class="amount">30</span>
          <span class="suffix">/ month</span>
        </div>
        <div class="feature-list">
          <ul>
            <li>
              3 <span class="term" data-term="admin">admins</span>
            </li>
            <li>
              Unlimited <span class="term" data-term="badge-awarder">badge awarder</span>
            </li>
            <li>
              <span class="term" data-term="community">Community features</span>
            </li>
          </ul>
        </div>
        <div class="the-button">
          <%= link_to 'Create a group', link_path, class: 'btn btn-large' %>
        </div>
      </div>

      <!-- === ORG PLAN === -->

      <div class="span4 plan-col org">
        <div class="title">Org</div>
        <div class="price">
          <span class="currency-symbol">$</span>
          <span class="amount">130</span>
          <span class="suffix">/ month</span>
        </div>
        <div class="feature-list">
          <ul>
            <li>
              <em>Everything in Team and...</em>
            </li>
            <li>
              5 <span class="term" data-term="sub-groups">sub-groups</span>
              <span class="label">Coming soon</span>
            </li>
            <li>
              <span class="term" data-term="branding">Custom branding</span>
              <span class="label">Coming soon</span>
            </li>
          </ul>
        </div>
        <div class="the-button">
          <%= link_to 'Create a group', link_path, class: 'btn btn-large' %>
        </div>
      </div>

      <div class="row-fluid pricing-page-row plan-list-row">

        <!-- === ORG PLAN === -->

        <div class="span4 offset8 plan-col extras">
          <div class="hero-icon"><i class="fa fa-plus"></i></div>
          <div class="title">
            Sub-Group
            <span class="label">Coming soon</span>
          </div>
          <div class="price">
            <span class="currency-symbol">$</span>
            <span class="amount">10</span>
            <span class="suffix">each</span>
          </div>
        </div>

      </div>
      
    </div> <!-- /k12 -->

  </div> <!-- /tab-content -->

</div> <!-- /plan-list-row -->
