<% 
  provide(:full_title, "Badge List - Digital credentials for organizations")
  provide(:hide_header, true)
%>

<div class="row-fluid banner-row">
  <div class="span8 offset2">
    <h1>
      <%= image_tag 'badge-list-icon-orange.png' %>
      Badge List
    </h1>
    <span class="tag-line">Helping organizations turn achievements into web-based credentials.</span>
    <div class="vertical-line">&nbsp;</div>
  </div>
</div>

<div class="row-fluid sub-banner-row">
  <div class="span6 offset3">
    <ul class="details">
      <li>
        <i class="fa fa-trophy"></i>
        Badges represent <strong>skills and achievements</strong>
      </li>
      <li class="separator"><span>&nbsp;</span></li>
      <li>
        <i class="fa fa-list-alt"></i>
        <strong>Evidence</strong> and expert <strong>validation</strong> 
        are at the core of each badge.
      </li>
      <li class="separator"><span>&nbsp;</span></li>
      <li>
        <i class="fa fa-share-alt"></i>
        Badges are <strong>easy to share</strong> on social networks and blogs
      </li>
      <li class="separator"><span>&nbsp;</span></li>
      <li>
        <i class="fa fa-group"></i>
        Badges are building blocks for <strong>thriving online communities</strong>
      </li>
    </ul>
    <div class="vertical-line">&nbsp;</div>
  </div>
</div>

<div class="row-fluid steps-header-row">
  <div class="span8 offset2">
    <h2>How does it work?</h2>
  </div>
  <div class="vertical-line">&nbsp;</div>
</div>

<div class="row-fluid steps-row">

  <div class="span4 row-inner first">
    <h3>Build a badge</h3>

    <span class="detail-image">
      <%= image_tag 'screenshot-build-a-badge.png', title: 'Build a badge' %>
    </span>
    
    <span class="details">
      <span class="inner">
        Use Badge List's built-in badge designer or upload your own design.
      </span></ul>
    </span>

  </div>

  <div class="span4 row-inner">
    <h3>Collect evidence</h3>

    <span class="detail-image">
      <%= image_tag 'screenshot-collect-evidence.png', title: 'Collect evidence' %>
    </span>
    
    <span class="details">
      <span class="inner">
        Badge seekers submit evidence in one of five supported formats.
      </span>
    </span>

  </div>

  <div class="span4 row-inner last">
    <h3>Award &amp; display</h3>

    <span class="detail-image">
      <%= image_tag 'screenshot-badge-profile.png', title: 'Award and collect badges' %>
    </span>
    
    <span class="details">
      <span class="inner">
        Awarded badges appear on your Badge List profile and are easily to share online.
      </span>
    </span>

  </div>

  <div class="line-box part-1">&nbsp;</div>
  <div class="line-box part-2">&nbsp;</div>
  <div class="vertical-line top">&nbsp;</div>
  <div class="vertical-line bottom">&nbsp;</div>

</div>

<div class="row-fluid get-started-row">
  <div class="span6 offset3">
    
    <div class="row-inner">
      <h2>Creating your first badge takes less than a minute.</h2>
      <%= link_to 'Create an account', new_user_registration_path, class: 'btn btn-large' %>
    </div>
    
    <div class="vertical-line top">&nbsp;</div>
    <div class="arrow-down">&nbsp;</div>

  </div>
</div>

<div class="row-fluid pricing-row">
  <div class="span8 offset2">
    <ul class="details">
      <li>
        <h2>Pricing</h2>
      </li>
      <li class="separator"><span>&nbsp;</span></li>
      <li>
        <i class="fa fa-globe"></i>
        <strong>Public</strong> groups are free forever.</li>
      <li>
        <i class="fa fa-building"></i>
        <strong>Private</strong> groups cost money based the number of users.<br>
        <em>All awarded badges include free <strong>lifetime hosting</strong>.</em>
      </li>
      <li class="separator"><span>&nbsp;</span></li>
      <li>
        <%= link_to 'View pricing details', pricing_path, class: 'btn btn-large' %>
      </li>
    </ul>
  </div>
</div>

