<% 
  provide(:title, "Registered Domain - #{@domain.url}")
  provide(:show_subheader, @badge_list_admin)
%>

<% if @badge_list_admin %>
  <% content_for :subheader_actions do %>

    <li class="collapsible">
      <%= link_to "<i class='fa fa-pencil'></i> Edit".html_safe, edit_domain_path(@domain) %>
      <span class="divider">|</span>
    </li>
      
    <li class="collapsible">
      <%= link_to '<i class="fa fa-times"></i> Delete'.html_safe, domain_path(@domain),
        method: :delete, data: { 
          confirm: ('Are you sure you want to delete this registered domain?') } %>
    </li>

  <% end %>
<% end %>

<!-- === DOMAIN DETAIL === -->

<div class="row add-top-margin">

  <div class="span12">
    <div class="page-card domain-page-card">

      <div class="header-section">

        <h1><i class="fa fa-building"></i> <%= @domain.url %></h1>

        <h2>
          <% if @domain.is_private %>
            <i class="fa fa-eye-slash"></i> Private Domain
          <% else %>
            <i class="fa fa-globe"></i> Registered Public Domain
          <% end %>
        </h2>
      </div>
      
      <div class="body-section">          
        <div class="section-container lead">
          <% if @domain.is_private %>
            <% if @current_user_is_member %>
              Your Badge List account belongs to this domain. 
              Since domain privacy is enabled, your badge profile will only be visible to
              other users on the same domain (or users on connected domains).
            <% else %>
              Domain privacy is enabled for this domain.
            <% end %>  
          <% else %>
            <% if @current_user_is_member %>
              Your Badge List account belongs to this domain. 
              Domain privacy is not currently enabled, so your badge profile is visible on 
              the public internet.
            <% else %>
              Domain privacy is turned off for this domain.
            <% end %>  
          <% end %>
        </div>

        <div class="section-container">
          The primary contact for this domain is <strong><%= @owner.name %></strong>.
          If you'd like to request changes to the way this domain is configured please contact
          them direclty at 
          <strong><%= link_to @owner.email, "mailto:#{@owner.email}" %></strong>.
        </div>

        <% if !@visible_to_domain_urls.blank? %>
          <div class="section-container">
            <strong>
              Badge profiles for users on this domain are visible to users on the following domains:
            </strong>
            <%= @visible_to_domain_urls %>
          </div>
        <% end %>

        <% if !@can_see_domain_urls.blank? %>
          <div class="section-container">
            <strong>
              Users on this domain can also see badge profiles on the following domains:
            </strong>
            <%= @can_see_domain_urls %>
          </div>
        <% end %>

        <% if (@badge_list_admin || @current_user_is_owner ) \
            && !@non_private_user_usernames.blank? %>
          <div class="section-container">
            <strong>
              The following users have been exempted from domain privacy:
            </strong>
            <%= @non_private_user_usernames %>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>