<% 
  provide(:title, "Edit Page (#{@tag.display_name}) - #{@badge.name}")
  provide(:show_subheader, true)
  provide(:subheader_image, group_image_url_for(@group)) 
  provide(:include_rich_text, true) 
%>

<% content_for :subheader_links do %>
  <li>
    <%= link_to @group.url_with_caps, @group %>
    <span class="divider">/</span>
  </li>
  <li>
    <%= link_to @badge.url_with_caps, [@group, @badge] %>
    <span class="divider">/</span>
  </li>
  <li class="active">
    <%= "#{ (@tag_exists) ? 'Edit' : 'Create' } Page: #{@tag.display_name}" %>
  </li>
<% end %>

<!-- === FORM AREA === -->

<div class="row">
  <div class="bl-form bl-form-tag span10 offset1">
    
    <div class="form-header">
      <h1>
        <%= (@tag_exists) ? "Edit #{@tag.type} page" : "Create #{@tag.type} page" %>
      </h1>

      <div class="form-image">
        <% if @tag.type == 'requirement' %>
          <i class="fa fa-pencil-square"></i>
        <% else %>
          <i class="fa fa-file"></i>
        <% end %>
      </div>
    </div>

    <!-- === THE FORM ITSELF === -->
    
    <%= simple_form_for [@group, @badge, @tag], method: :put,
      url: "#{group_badge_path(@group, @badge)}/#{@tag.name_with_caps}",
      html: {class: 'form-horizontal'} do |f| %>
      <%= f.error_notification %>

      <div class="form-body" style="float: none">

        <% if @current_user_is_expert %>
          <%= f.input :display_name, autofocus: true, 
            label: (@tag.type == 'requirement') ? 'Requirement Name' : 'Page Title', 
            placeholder: 'Orbital Trajectories', input_html: { maxlength: Tag::MAX_NAME_LENGTH } %>
        <% else %>
          <%= f.input :display_name, as: :hidden %>
          <div class="control-group">
            <label class="control-label">Requirement Name</label>
            <div class="controls">
              <span class="input-mock"><%= @tag.display_name %></span> 
            </div>
          </div>
        <% end %>
        
        <%= f.input :summary, as: :text, label: 'Summary', input_html: { data: {
          :'character-count' => true, :'max-length' => Tag::MAX_SUMMARY_LENGTH } } %>

        <%= f.input :wiki, as: :text, label: 'Page Body', 
          input_html: { class: "huge-text-area rich-text-area" } %>

        <% if (@tag.type == 'requirement') \
            && (@current_user_is_expert || @current_user_is_admin || @badge_list_admin) %>
          <%= f.input :privacy, label: 'Who can view evidence posted for this requirement?', 
            as: :radio_buttons, collection: @tag_privacy_options %>
        <% end %>

        <% if @show_progress && (@tag.type != 'requirement') \
            && (@current_user_is_expert || @current_user_is_admin || @badge_list_admin) %>
          <%= f.input :editability, label: 'Who can edit this page?', as: :radio_buttons,
            collection: @tag_editability_options %>
        <% end %>

      </div>
      
      <div class="form-footer">
        <% save_button_text = (@tag_exists) ? 'Save changes' : 'Create page' %>
        <%= f.button :submit, save_button_text, class: 'btn btn-primary' %>
        <%= link_to "Cancel", "../#{@tag.name_with_caps}", class: "btn" %>
      </div>
    <% end %>

  </div>
</div>
