<% 
  provide(:title, "Edit Page (#{@tag.display_name}) - #{@badge.name}")
  provide(:show_subheader, true)
  provide(:subheader_image, group_image_url_for(@group)) 
  provide(:include_rich_text, true) 
%>

<% content_for :subheader_links do %>
  <li>
    <%= link_to @group.url_with_caps, @group %>
    <span class="divider">/</span>
  </li>
  <li>
    <%= link_to @badge.url_with_caps, [@group, @badge] %>
    <span class="divider">/</span>
  </li>
  <li class="active">
    <%= "#{ (@tag_exists) ? 'Edit' : 'Create' } Requirement Page: #{@tag.display_name}" %>
  </li>
<% end %>

<!-- === PAGE-SPECIFIC SCRIPTS === -->

<% if @current_user_is_expert && @show_progress %>
  <script>
    var originalTagName = "<%= @tag.name %>";

    $(document).ready(function() {
      // Setup the event handler to update the discussion tag
      $('#tag_display_name').keyup(function(){
        $('#discussion-tag').text("#" + tagifyString($(this).val()));
        <% if @tag_exists %>
          if (tagifyString($(this).val()).toLowerCase() != originalTagName)
            $('#discussion-tag').tooltip('show');
          else
            $('#discussion-tag').tooltip('hide');
        <% end %>
      })
    });

    // Converts "Test text like  this" > "Text-text-like-this"
    function tagifyString(s) {
      if (s == null) return '';
      else return s.replace(/['.]/g, '').replace(/[^ A-Za-z0-9]/g, ' ').replace(/ +/g, ' ')
        .trim().replace(/ /g, '-');
    }
  </script>
<% end %>

<!-- === FORM AREA === -->

<div class="row">
  <div class="bl-form bl-form-tag span10 offset1">
    
    <div class="form-header">
      <% if @tag_exists %>
        <h1>Edit requirement page</h1>
      <% else %>
        <h1>Create requirement page</h1>
      <% end %>

      <div class="form-image">
        <i class="fa fa-book"></i>
      </div>
    </div>

    <!-- === THE FORM ITSELF === -->
    
    <%= simple_form_for [@group, @badge, @tag], method: :put,
      url: "#{group_badge_path(@group, @badge)}/#{@tag.name_with_caps}",
      html: {class: 'form-horizontal'} do |f| %>
      <%= f.error_notification %>

      <div class="form-body" style="float: none">

        <% if @current_user_is_expert %>
          <%= f.input :display_name, label: 'Requirement Name', autofocus: true, 
            placeholder: 'Orbital Trajectories' %>
        <% else %>
          <%= f.input :display_name, as: :hidden %>
          <div class="control-group">
            <label class="control-label">Requirement Name</label>
            <div class="controls">
              <span class="input-mock"><%= @tag.display_name %></span> 
            </div>
          </div>
        <% end %>

        <% if @show_progress %>
          <div class="control-group">
            <label class="control-label">Tag</label>
            <div class="controls">
              <span class="input-mock" id="discussion-tag">#<%= @tag.name_with_caps %></span>
            </div>
          </div>
        <% end %>
        
        <%= f.input :wiki, as: :text, label: 'Page Body', 
          input_html: { class: "huge-text-area rich-text-area" } %>

        <% if @current_user_is_expert || @current_user_is_admin || @badge_list_admin %>
          <%= f.input :privacy, label: 'Who can view evidence posted for this requirement?', 
            as: :radio_buttons, collection: @tag_privacy_options %>
        <% end %>

        <% if @show_progress\
            && (@current_user_is_expert || @current_user_is_admin || @badge_list_admin) %>
          <%= f.input :editability, label: 'Who can edit this page?', as: :radio_buttons,
            collection: @tag_editability_options %>
        <% end %>

      </div>
      
      <div class="form-footer">
        <% save_button_text = (@tag_exists) ? 'Save changes' : 'Create page' %>
        <%= f.button :submit, save_button_text, class: 'btn btn-primary' %>
        <%= link_to "Cancel", "../#{@tag.name_with_caps}", class: "btn" %>
      </div>
    <% end %>

  </div>
</div>
