<% 
  provide(:title, "#{@badge.name} - All Topic Pages")
  provide(:show_subheader, true)
  provide(:subheader_image, group_image_url_for(@group)) 
%>

<% content_for :subheader_links do %>
  <li>
    <%= link_to @group.url_with_caps, @group %>
    <span class="divider">/</span>
  </li>
  <li>
    <%= link_to @badge.url_with_caps, [@group, @badge] %>
    <span class="divider">/</span>
  </li>
  <li class="active">
    All Topic Pages
  </li>
<% end %>

<% if @current_user_is_admin || @current_user_is_member || @group.open? %>
  <% content_for :subheader_actions do %>
    <% if !@current_user_is_expert && !@current_user_is_learner %>
      <li class="collapsible">
        <%= link_to '<i class="icon-plus icon-white"></i> Join Badge'.html_safe, 
            group_badge_logs_path(@group, @badge), method: :post %>
        <% if @current_user_is_admin %>
          <span class="divider">|</span>
        <% end %>
      </li>
    <% else %>
      <li  class="collapsible">
        <%= link_to '<i class="icon-user icon-white"></i> Your Log'.html_safe, 
            [@group, @badge, @log] %>
        <span class="divider">|</span>
      </li>
      <li class="collapsible">
        <%= link_to '<i class="fa fa-comment"></i> New Post'.html_safe, 
            [@group, @badge, @log] %>
      </li>
    <% end %>
  <% end %>
<% end %>

<!-- === PAGE HEADER === -->

<div class="row add-top-margin">
  <div class="span12">
    <div class="header-card badge-entries-header-card">
      <div class="white-background no-tabs">&nbsp;</div>

      <div class="primary-header span6">
        <span class="header-image">
          <%= link_to image_tag(group_badge_path(@group, @badge, format: :png)), [@group, @badge], 
            title: 'View badge' %>
        </span>
        <span class="header-text">
          <h1><%= link_to @badge.name, [@group, @badge], title: 'View badge' %></h1>
          <h2>
            <%= link_to @group.url_with_caps, @group, 
              title: @group.name %>/<%= link_to @badge.url_with_caps, [@group, @badge], 
              title: "View badge" %>
          </h2>
          <h3>
            <%= @badge.summary %>
          </h3>
        </span>
      </div>

      <div class="secondary-header span6">
        <span class="header-text">
          <h1>All Topic Pages</h1>
        </span>            
      </div>
    </div>
  </div>
</div>

<!-- === ENTRIES LIST === -->

<% if !@topics.blank? %>

  <div class="row">
    <div class="span12">
      <div class="info-card text-card topic-list-card">
        <ul>
          <% @badge.topics.each do |topic| %>
            <li>
              <%= link_to "<i class='fa fa-book'></i> #{topic['tag_display_name']}".html_safe, 
                group_badge_path(@group, @badge) + "/" + topic['tag_name_with_caps'] %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

<% end %>