<% 
  provide(:full_title, "#{@tag.display_name} - #{@badge.name} - #{@group.name}")
  provide(:show_subheader, true)
  provide(:subheader_image, group_image_url_for(@group)) 
%>

<% content_for :subheader_links do %>
  <li>
    <%= link_to @group.url_with_caps, @group %>
    <span class="divider">/</span>
  </li>
  <li>
    <%= link_to @badge.url_with_caps, [@group, @badge] %>
    <span class="divider">/</span>
  </li>
  <li class="active">
    <%= @tag.display_name %>
  </li>
<% end %>

<% if @current_user_is_expert || @current_user_is_learner || @group.open? || @badge_list_admin \
  || @current_user_is_admin || @current_user_is_member %>

  <% content_for :subheader_actions do %>

    <% if @current_user_is_expert || @current_user_is_learner %>
    
      <li  class="collapsible">
        <%= link_to '<i class="icon-user icon-white"></i> View Your Log'.html_safe, 
            [@group, @badge, @current_user_log] %>
        <span class="divider">|</span>
      </li>
      <li  class="collapsible">
        <%= link_to '<i class="fa fa-comment"></i> New Post'.html_safe, 
            new_group_badge_log_entry_path(@group, @badge, @current_user_log, tag: @tag.name_with_caps) %>
        <% if @tag_exists && @can_edit_tag %>
          <span class="divider">|</span>
        <% end %>
      </li>

    <% elsif @current_user_is_admin || @current_user_is_member || @group.open? %>
    
      <li class="collapsible">
        <%= link_to '<i class="icon-plus icon-white"></i> Join Badge'.html_safe, 
            group_badge_logs_path(@group, @badge), method: :post %>
        <% if @tag_exists && @badge_list_admin %>
          <span class="divider">|</span>
        <% end %>
      </li>

    <% end %>
    
    <% if @tag_exists && @can_edit_tag %>
      <li class="collapsible">
        <%= link_to "<i class='fa fa-pencil'></i> Edit".html_safe, 
          "#{@tag.name_with_caps}/edit" %>
        <% if @current_user_is_expert %>
          <span class="divider">|</span>
        <% end %>
      </li>
    <% end %>
      
    <% if @tag_exists && @current_user_is_expert %>
      <li class="collapsible">
        <%= link_to '<i class="fa fa-times"></i> Delete'.html_safe, 
          [@group, @badge, @tag], method: :delete, data: { 
          confirm: 'Are you sure you want to permanently delete the contents of this topic page?' } %>
      </li>
    <% end %>

  <% end %>
<% end %>

<!-- === TOPIC VERSION LIST === -->

<% if @show_version_list %>

  <div class="well tertiary span9 offset1">
    <i class="fa fa-book header-icon"></i>

    <h3>Browsing previous versions of the topic page</h3>
    
    <p>
      Currently viewing version <%= @current_version %> 
      created by <%= @current_version_info['username'] %> 
      on <%= @current_version_info['updated_at_text'] %>.
    </p>
    
    <p>
      <% if @can_edit_tag && !@version_list.blank? && (@current_version != @version_list.count) %>
        <%= link_to 'Restore this version', 
          tag_restore_path(@group, @badge, @tag, v: @current_version), method: :post,
          class: 'btn btn-primary btn-small' %>
      <% end %>

      <%= link_to 'Close version browser', [@group, @badge, @tag], class: 'btn btn-small' %>
    </p>

    <!-- <h4>Version history</h4> -->

    <% unless @version_list.blank? %>
      <table class="table table-striped version-list">
        <thead>
          <tr>
            <th>#</th>
            <th>Version Info</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @version_list.each_with_index do |version_info, i| %>
            <tr>
              <td><b><%= (i + 1).to_s %></b></td>
              <td>
                Created by <%= version_info['username'] %> 
                on <%= version_info['updated_at_text'] %>
              </td>
              <td>
                <% if (i + 1) == @current_version %>
                  (Currently viewing this version)
                <% else %>
                  <%= link_to "View this version", group_badge_tag_path(@group, @badge, @tag, v: (i + 1)),
                    class: 'btn btn-mini' %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>

<% end %>


<!-- === TOPIC PAGE === -->

<div class="row add-top-margin">

  <div class="span12">
    <div class="page-card tag-page-card">

      <div class="header-section">

        <span class="badge-link">
          <%= link_to image_tag(group_badge_path(@group, @badge, format: :png)), [@group, @badge],
            title: "Return to the badge page",
            data: { toggle: 'tooltip', placement: 'left' } %>
          <span class="badgename">
            <%= @badge.name %>
          </span>
        </span>

        <h1>
          <%= @tag.display_name %>
        </h1>

        <% if !@show_version_list %>
          <h2>
            <i class="fa fa-key"></i> 
            <% if @tag.editability == 'experts' %>
              Only editable by badge experts
            <% else %>
              Editable by badge experts &amp; learners
            <% end %>
          </h2>
          
          <% if @tag_exists %>
            <ul>
              <% if @current_version == 1 %>
                <li>
                  <i class="fa fa-calendar"></i> 
                  <%= "Created #{@tag.created_at.to_s(:full_date)} by #{@tag.current_username}" %>
                </li>
              <% else %>
                <li>
                  <i class="fa fa-clock-o"></i> 
                  <%= "Last updated #{@tag.updated_at.to_s(:full_date_time)} by #{@tag.current_username}" %>
                </li>
                <li>
                  <i class="fa fa-files-o"></i> This is version <%= @current_version %>
                  (<%= link_to "Browse previous versions",
                    group_badge_tag_path(@group, @badge, @tag, v: '') %>)
                </li>
              <% end %>
            </ul>
          <% end %>
        <% end %>

      </div>
      
      <div class="body-section">
        <% if @tag_exists %>
          
          <% @tag.wiki_sections.each do |section_text| %>
            <div class="section-container"><%= section_text.html_safe %></div>
          <% end %>

        <% else %>

          <div class="section-container alert">
              This topic hasn't had a page created for it yet.
              <% if @can_edit_tag %>
                <br><br>
                <%= link_to \
                  "<i class='icon-plus-sign icon-white'></i> Create topic page".html_safe,
                  "#{@tag.name_with_caps}/edit", class: 'btn btn-success' %>
              <% end %>
          </div>
        
        <% end %>
      </div>

    </div>
  </div>
</div>

<% if !@show_version_list && (!@entries.blank? || @current_user_is_learner || @current_user_is_expert) %>

  <!-- === TOPIC DISCUSSION === -->

  <div class="row add-top-margin">
    <div class="span12">
      <div class="tab-header">
        <% if !@entries.blank? && (@current_user_is_learner || @current_user_is_expert) %>
          <%= link_to '<i class="fa fa-comment"></i> Post to discussion'.html_safe,
            new_group_badge_log_entry_path(@group, @badge, @current_user_log, tag: @tag.name_with_caps), 
            class: 'btn btn-small' %>
        <% end %>

        <h2>Topic discussion</h2>
        <h3><i class="fa fa-tag"></i> #<%= @tag.name_with_caps %></h3>
      </div>
    </div>
  </div>

  <div class="row">
    
    <% if @entries.blank? %>

      <div class="well span7 offset2">
        <h3>This discussion is empty...</h3>
        
        <% if @current_user_is_expert || @current_user_is_learner %>
          <p>
            To add to this discussion just include the topic tag 
            <b>#<%= @tag.name_with_caps %></b> 
            anywhere in the summary or body of a post.
          </p>
          <p>
            <%= link_to '<i class="fa fa-comment"></i> Start the discussion'.html_safe,
              new_group_badge_log_entry_path(@group, @badge, @current_user_log, tag: @tag.name_with_caps), 
              class: 'btn btn-success' %>
          </p>
        <% end %>
      </div>

    <% else %>

      <div class="span12" data-bl-dyncol="parent" data-bl-dyncol-group="entries" 
        data-bl-dyncol-width="12">

        <%= render(@entries, show_badge: false, date_format: :ago) %>

      </div>
    
    <% end %>

  </div>

<% end %>
