<% 
  provide(:full_title, "#{@tag.display_name} - #{@badge.name} - #{@group.name}")
  provide(:show_subheader, true)
  provide(:subheader_image, group_image_url_for(@group)) 
%>

<% content_for :subheader_links do %>
  <li>
    <%= link_to @group.url_with_caps, @group %>
    <span class="divider">/</span>
  </li>
  <li>
    <%= link_to @badge.url_with_caps, [@group, @badge] %>
    <span class="divider">/</span>
  </li>
  <li class="active">
    <%= @tag.display_name %>
  </li>
<% end %>

<% if @current_user_is_expert || @current_user_is_learner || @group.open? || @badge_list_admin \
  || @current_user_is_admin || @current_user_is_member %>

  <% content_for :subheader_actions do %>

    <% if @current_user_is_expert || @current_user_is_learner %>
    
      <li  class="collapsible">
        <%= link_to "<i class='fa fa-user'></i> View Your #{@badge.log.capitalize}".html_safe, 
            [@group, @badge, @current_user_log] %>
        <% if @tag_exists && @can_edit_tag %>
          <span class="divider">|</span>
        <% end %>
      </li>

    <% elsif @show_progress && (@current_user_is_admin || @current_user_is_member || @group.open?) %>
    
      <li class="collapsible highlight">
        <%= link_to '<i class="fa fa-plus-circle"></i> Join Badge'.html_safe, 
            group_badge_logs_path(@group, @badge), method: :post %>
        <% if @tag_exists && @badge_list_admin %>
          <span class="divider">|</span>
        <% end %>
      </li>

    <% end %>
    
    <% if @tag_exists && @can_edit_tag %>
      <li class="collapsible">
        <%= link_to "<i class='fa fa-pencil'></i> Edit".html_safe, 
          "#{@tag.name_with_caps}/edit" %>
        <% if @current_user_is_expert || @current_user_is_admin || @badge_list_admin %>
          <span class="divider">|</span>
        <% end %>
      </li>
        
      <% if @current_user_is_admin || @current_user_is_expert || @badge_list_admin %>
        <li class="collapsible">
          <%= link_to '<i class="fa fa-times"></i> Delete'.html_safe, 
            [@group, @badge, @tag], method: :delete, data: { 
            confirm: ('Are you sure you want to permanently delete the contents of this ' \
              + 'page?') } %>
        </li>
      <% end %>
    <% end %>

  <% end %>
<% end %>

<% if @tag_exists %>

  <!-- === TOPIC VERSION LIST === -->

  <% if @show_version_list %>

    <div class="well tertiary span9 offset1">
      <% if @tag.type == 'requirement' %>
        <i class="fa <%= @tag.format_icon %> header-icon"></i>
      <% else %>
        <i class="fa fa-file header-icon"></i>
      <% end %>

      <h3>Browsing previous versions of the page</h3>
      
      <p>
        Currently viewing version <%= @current_version %> 
        created by <%= @current_version_info['username'] %> 
        on <%= @current_version_info['updated_at_text'] %>.
      </p>
      
      <p>
        <% if @can_edit_tag && !@version_list.blank? && (@current_version != @version_list.count) %>
          <%= link_to 'Restore this version', 
            tag_restore_path(@group, @badge, @tag, v: @current_version), method: :post,
            class: 'btn btn-primary btn-small' %>
        <% end %>

        <%= link_to 'Close version browser', [@group, @badge, @tag], class: 'btn btn-small' %>
      </p>

      <!-- <h4>Version history</h4> -->

      <% unless @version_list.blank? %>
        <table class="table table-striped version-list">
          <thead>
            <tr>
              <th>#</th>
              <th>Version Info</th>
              <th>Actions</th>
            </tr>
          </thead>

          <tbody>
            <% @version_list.each_with_index do |version_info, i| %>
              <tr>
                <td><b><%= (i + 1).to_s %></b></td>
                <td>
                  Created by <%= version_info['username'] %> 
                  on <%= version_info['updated_at_text'] %>
                </td>
                <td>
                  <% if (i + 1) == @current_version %>
                    (Currently viewing this version)
                  <% else %>
                    <%= link_to "View this version", group_badge_tag_path(@group, @badge, @tag, v: (i + 1)),
                      class: 'btn btn-mini' %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>

  <% end %>

  <!-- === TOPIC PAGE === -->

  <div class="row add-top-margin">

    <div class="span12">
      <div class="page-card tag-page-card">

        <div class="header-section">

          <span class="badge-link">
            <%= link_to image_tag(group_badge_path(@group, @badge, format: :png)), [@group, @badge],
              title: "Return to the badge page",
              data: { toggle: 'tooltip', placement: 'left' } %>
            <span class="badgename">
              <%= @badge.name %>
            </span>
          </span>

          <h1>
            <% if @tag.type == 'requirement' %>
              <span class='fa-stack single-stack'>
                <i class='fa fa-square fa-stack-2x'></i>
                <i class='fa <%= @tag.format_icon %> fa-stack-1x fa-inverse'></i>
              </span>
            <% else %>
              <i class="fa fa-file"></i>
            <% end %>
            <%= @tag.display_name %>
          </h1>

          <% if !@show_version_list %>
            <h2>
              <i class="fa fa-key"></i> 
              <% if @tag.editability == 'admins' %>
                Only editable by group admins
              <% elsif !@show_progress %>
                Editable by all <%= @experts %>
              <% elsif @tag.editability == 'experts' %>
                Only editable by <%= @experts %>
              <% else %>
                Editable by <%= @experts %> &amp; <%= @learners %>
              <% end %>
            </h2>
            
            <ul>
              <% if @tag.updated_at || @tag.created_at %>
                <li>
                  <i class="fa fa-clock-o"></i> 
                  <% if @tag.updated_at %>
                    <%= "Last updated #{@tag.updated_at.to_s(:full_date_time)}" %>
                  <% else %>
                    <%= "Created #{@tag.created_at.to_s(:full_date_time)}" %>
                  <% end %>
                  <% if @tag.current_username %>
                    <%= "by #{@tag.current_username}" %> 
                  <% end %>
                </li>
              <% end %>
              <% if @can_edit_tag && (@current_version > 1) %>
                <li>
                  <i class="fa fa-files-o"></i> This is version <%= @current_version %>
                  (<%= link_to "Browse previous versions",
                    group_badge_tag_path(@group, @badge, @tag, v: '') %>)
                </li>
              <% end %>
              <% if @tag.type == 'requirement' %>
                <li>
                  <i class="fa <%= @tag.privacy_icon(@group.type) %>"></i>
                  Evidence <%= @tag.privacy_text(@group.type) %>
                </li>
              <% end %>
            </ul>
          <% end %>

        </div>
        
        <div class="body-section">          
          <% if @tag.summary %>
            <div class="section-container lead">
              <%= @tag.summary %>
            </div>
          <% end %>

          <% @tag.wiki_sections.each do |section_text| %>
            <div class="section-container"><%= section_text.html_safe %></div>
          <% end %>
        </div>

      </div>
    </div>
  </div>

  <% if @show_progress && !@show_version_list %>

    <!-- === START EVIDENCE LISTS AREA === -->

    <% if @current_user_log && (@tag.type == 'requirement') %>

      <!-- === CURRENT USER EVIDENCE === -->

      <div class="row add-top-margin">
        <div class="span12">
          <div class="tab-header">
            <% if !@current_user_entries.blank? %>
              <%= link_to "<i class='fa #{@tag.format_icon}'></i> Post Evidence".html_safe,
                new_group_badge_log_entry_path(@group, @badge, @current_user_log, tag: @tag.name_with_caps), 
                class: 'btn btn-small' %>
            <% end %>

            <h2>Your evidence</h2>
          </div>
        </div>
      </div>

      <div class="row">
        
        <% if @current_user_entries.blank? %>

          <div class="well span7 offset2 gray empty">
            <h3>You haven't submitted any evidence for this requirement yet...</h3>
            <p>&nbsp;</p>
            <p>
              <%= link_to "<i class='fa #{@tag.format_icon}'></i> Post your evidence".html_safe,
                new_group_badge_log_entry_path(@group, @badge, @current_user_log, tag: @tag.name_with_caps), 
                class: 'btn btn-primary' %>
            </p>
          </div>

        <% else %>

          <div class="span12">

            <%= render @current_user_entries, date_format: :ago, group: @group, badge: @badge, 
              log: @current_user_log, user: current_user %>

          </div>
        
        <% end %>

      </div>

    <% end %>

    <% if @current_user_can_see_entries %>

      <!-- === TOPIC DISCUSSION === -->

      <div class="row add-top-margin">
        <div class="span12">
          <div class="tab-header">
            <% if @current_user_log %>
              <h2>Evidence posted by others</h2>
            <% else %>
              <h2>All posted evidence</h2>
            <% end %>
          </div>
        </div>
      </div>

      <div class="row">
        <% if @entries.blank? %>

          <div class="well span7 offset2 gray empty">
            <% if @current_user_entries.blank? %>
              <h3>No one has submitted evidence for this requirement yet.</h3>
            <% else %>
              <h3>No one else has submitted evidence for this requirement yet.</h3>
            <% end %>
          </div>

        <% else %>

          <div class="span12" data-bl-dyncol="parent" data-bl-dyncol-group="entries" 
            data-bl-dyncol-width="12">

            <%= render @entries, date_format: :ago, group: @group, badge: @badge, 
              user_map: @user_map, log_map: @log_map %>

          </div>
        
        <% end %>
      </div>

      <% unless @entries.blank? %>

        <div class="row">
          <div class="span12">
            <div class="pagination-footer">
              <div class="pagination" id="paginator"><%= paginate @entries, remote: true %></div>
            </div>
          </div>
        </div>

      <% end %>

    <% end %>

    <!-- === END EVIDENCE LISTS AREA === -->

  <% end %>

<% else %>

    <!-- === NO PAGE HAS BEEN CREATED YET === -->
    
    <div class="row add-top-margin">

      <div class="well secondary span9 offset1 add-top-margin">
        <i class="fa fa-question-circle header-icon"></i>

        <h4>No page has been created for...</h4>
        <h3>"<%= @tag.display_name %>"</h3>
        
        <% if @can_edit_tag %>
          <p>
            <%= link_to \
              "<i class='fa fa-file'></i> Create new wiki page here".html_safe,
              "#{@tag.name_with_caps}/edit", class: 'btn btn-large btn-success ignore' %>
          </p>
        <% end %>
      </div>
      
    </div>

<% end %>
