<% 
  provide(:full_title, "#{@tag.name_with_caps} - #{@badge.name} - #{@group.name}")
  provide(:show_subheader, true)
  provide(:subheader_image, group_image_url_for(@group)) 
%>

<% content_for :subheader_links do %>
  <li>
    <%= link_to @group.url_with_caps, @group %>
    <span class="divider">/</span>
  </li>
  <li>
    <%= link_to @badge.url_with_caps, [@group, @badge] %>
    <span class="divider">/</span>
  </li>
  <li class="active">
    <%= @tag.name_with_caps %>
  </li>
<% end %>

<% if @current_user_is_expert || @current_user_is_learner %>
  <% content_for :subheader_actions do %>

    <li  class="collapsible">
      <%= link_to '<i class="icon-user icon-white"></i> View Your Log'.html_safe, 
          [@group, @badge, @current_user_log] %>
      <span class="divider">|</span>
    </li>
    <li  class="collapsible">
      <%= link_to '<i class="fa fa-comment"></i> New Post'.html_safe, 
          new_group_badge_log_entry_path(@group, @badge, @current_user_log) %>
      <% if @tag_exists %>
        <span class="divider">|</span>
      <% end %>
    </li>
    
    <% if @tag_exists %>
      <li class="collapsible">
        <%= link_to "<i class='fa fa-pencil'></i> Edit".html_safe, 
          "#{@tag.name_with_caps}/edit" %>
        <% if @current_user_is_expert %>
          <span class="divider">|</span>
        <% end %>
      </li>
      
      <% if @current_user_is_expert %>
        <li class="collapsible">
          <%= link_to '<i class="fa fa-times"></i> Delete'.html_safe, 
            [@group, @badge, @tag], method: :delete, data: { 
            confirm: 'Are you sure you want to permanently delete the contents of this topic page?' } %>
        </li>
      <% end %>
    <% end %>

  <% end %>
<% end %>

<!-- === TOPIC PAGE === -->

<div class="row add-top-margin">

  <div class="span12">
    <div class="page-card tag-page-card">

      <div class="header-section">

        <span class="badge-link">
          <%= link_to image_tag(group_badge_path(@group, @badge, format: :png)), [@group, @badge],
            title: "Return to the badge page",
            data: { toggle: 'tooltip', placement: 'left' } %>
          <span class="badgename">
            <%= @badge.name %>
          </span>
        </span>

        <h1>
          #<%= @tag.name_with_caps %>
        </h1>
        
        <% if @tag_exists %>
          <ul>
            <li>
              <i class="icon-time" title="Creation date"></i> 
              <%= @tag.created_at.to_s(:full_date_time) %>
            </li>
            <% if @tag.updated_at != @tag.created_at %>
              <li>
                <i class="icon-info-sign"></i> 
                <% if @tag.updated_at <= Time.now %>
                  <%= "Last updated #{time_ago_in_words(@tag.updated_at)} ago" %>
                <% else %>
                  <%= "Last updated #{time_ago_in_words(@tag.updated_at)} from now" %>
                <% end %>
              </li>
            <% end %>
            <li>
              <i class="icon-file"></i> This is version <%= @version %> of the topic page
            </li>
          </ul>
        <% end %>

      </div>
      
      <div class="body-section">
        <% if @tag_exists %>
          
          <% @tag.wiki_sections.each do |section_text| %>
            <div class="section-container"><%= section_text.html_safe %></div>
          <% end %>

        <% else %>

          <div class="section-container alert">
              This topic hasn't had a page created for it yet.
              <% if @current_user_is_expert || @current_user_is_learner %>
                <br><br>
                <%= link_to \
                  "<i class='icon-plus-sign icon-white'></i> Create topic page".html_safe,
                  "#{@tag.name_with_caps}/edit", class: 'btn btn-success' %>
              <% end %>
          </div>
        
        <% end %>
      </div>

    </div>
  </div>
</div>

<% if !@entries.blank? || @current_user_is_learner || @current_user_is_expert %>

  <!-- === TOPIC DISCUSSION === -->

  <div class="row add-top-margin">
    <div class="span12">
      <div class="tab-header">
        <% unless @entries.blank? %>
          <%= link_to '<i class="fa fa-comment"></i> Post to discussion'.html_safe,
            new_group_badge_log_entry_path(@group, @badge, @current_user_log, tag: @tag.name_with_caps), 
            class: 'btn btn-small' %>
          <% end %>

        <h2>Topic discussion</h2>
      </div>
    </div>
  </div>

  <div class="row">
    
    <% if @entries.blank? %>

      <div class="well span7 offset2">
        <h3>This discussion is empty...</h3>
        
        <% if @current_user_is_expert || @current_user_is_learner %>
          <p>
            To add to this discussion just include the topic tag 
            <b>#<%= @tag.name_with_caps %></b> 
            anywhere in the summary or body of a post.
          </p>
          <p>
            <%= link_to '<i class="fa fa-comment"></i> Start the discussion'.html_safe,
              new_group_badge_log_entry_path(@group, @badge, @current_user_log, tag: @tag.name_with_caps), 
              class: 'btn btn-success' %>
          </p>
        <% end %>
      </div>

    <% else %>

      <div class="span12" data-bl-dyncol="parent" data-bl-dyncol-group="entries" 
        data-bl-dyncol-width="12">

        <%= render(@entries, show_badge: false, date_format: :ago) %>

      </div>
    
    <% end %>

  </div>

<% end %>
