<% 
  provide(:title, "Sign in")
  provide(:body_class, "signin")
  provide(:hide_footer, true)
%>

<div class="row">
  
  <div class="span7">
    <div class="color-box">
      <h2>New to Badge List?</h2>
      <p>
        It's time to put <b>badges</b> at the center of your 
        <b><span id="rotate-words">learning</span></b>.
        <br>
        Each badge is like...
      </p>
      <ul>
          <li>
            <b>#</b> A little <a href="/badgelist/explainer/social-learning">social network</a>
          </li>
          <li>
            <b>#</b> made of <a href="/badgelist/explainer/learning-logs">learning logs</a>
          </li>
          <li>
            <b>#</b> and <a href="/badgelist/explainer/wikis">knowledge wikis</a>
          </li>
          <li>
            <b>#</b> linked to <a href="/badgelist/explainer/open-badges">Mozilla's Open Badges</a>.
          </li>
      </ul>
      <p>
        
      </p>
      <h3>
        >> <a href="/badgelist/explainer/intro">Read more</a> 
        or <%= link_to "create an account now", new_user_registration_path %>
      </h3>
    </div>
  </div>

  <div class="span5">
    <div class="signin-box">
      
      <div class="signin-header">
        <h2>Sign in</h2>
      </div>
      
      <div class="signin-form bl-form-no-labels">
        <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
          <%= f.input :email, :required => true, :autofocus => true, :placeholder => 'Your email', :input_html => { :class => 'signin' } %>
          <%= f.input :password, :required => true, :placeholder => 'Your password', :input_html => { :class => 'signin' } %>
          <%= f.input :remember_me, :as => :hidden, :input_html => {:value => true} %>

          <div class="controls">
            <%= f.button :submit, "Sign in", :class => 'btn-large' %>
          </div>

        <% end %>
      </div>
      
      <div class="form-actions">
        <%= render "devise/shared/links" %>
      </div>

    </div>
  </div>

</div>

<script type="text/javascript">
  
  $(document).ready(function() {
    $("#rotate-words").wordsrotator({
      animationIn: "flipInX",
      animationOut: "flipOutX",
      speed: 3500,
      words: ['learning', 'training', 'teaching', 'business', 'community']
    });
  });

</script>


