<% 
  provide(:title, "Sign in")
  provide(:body_class, "signin")
  provide(:hide_footer, true)

  provide(:include_metadata, true)
  provide(:metadata_title, 'Sign in to Badge List')
  provide(:metadata_description, 'Badge List helps educators, companies and professional ' \
    + 'development orgs create Open Badges to guide learning and recognize achievement.')
  provide(:metadata_image, image_url('badge-list-icon.png'))
  provide(:metadata_image_width, '500')
  provide(:metadata_image_height, '500')
  provide(:metadata_site_name, 'Badge List')
  provide(:metadata_url, request.original_url)
%>

<div class="row">
  
  <div class="span6 offset3">
    <div class="signin-box">
      
      <div class="signin-header">
        <h2>Sign in</h2>
      </div>
      
      <div class="signin-form bl-form-no-labels">
        <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) \
            do |f| %>
          
          <%= f.input :email, :required => true, :autofocus => true, :placeholder => 'Your email',
            :input_html => { :class => 'signin' } %>
          <%= f.input :password, :required => true, :placeholder => 'Your password', 
            :input_html => { :class => 'signin' } %>
          <%= f.input :remember_me, :as => :hidden, :input_html => {:value => true} %>

          <div class="controls">
            <%= f.button :submit, "Sign in", :class => 'btn-large' %>
            <%= link_to "<i class='fa fa-arrow-right'></i> Create a new account".html_safe, 
              new_user_registration_path, class: 'btn btn-link' %>
          </div>
        <% end %>
      </div>

      <div class="sso-controls">
        <%= link_to "<i class='fa fa-google'></i> Sign in with Google".html_safe,
          user_omniauth_authorize_path(:google_oauth2), class: 'btn btn-link' %>
        <%= link_to "<i class='fa fa-school'></i> Sign in with Canvas".html_safe,
          user_omniauth_authorize_path(:canvas), class: 'btn btn-link' %>
      </div>
      
      <div class="form-actions">
        <%= render "devise/shared/links" %>
      </div>

    </div>
  </div>

</div>
