<% 
  provide(:title, "Sign in")
  provide(:body_class, "signin")
  provide(:hide_footer, true)
%>

<div class="row">
  
  <div class="span6">
    <div class="sign-in-info">
      <h3>Badge List is designed to help you...</h3>
      <ul>
        <li>
          Build, host and award 
          <a href="http://openbadges.org" target="blank">Mozilla Open Badges</a>
        </li>
        <li>Collect and organize learning evidence</li>
      </ul>
      <p>
        Using Badge List is really easy. After signing in you'll be walked through the process of 
        creating your perfect badging system. Getting started will take you less than 3 minutes.
      </p>
      <p class="button-paragraph">
        <%= link_to "Create your learning group now", new_user_registration_path, 
          class: 'btn btn-success btn-large' %>
      </p>
    </div>

    <div class="sign-in-info">
      <h3>Pricing</h3>
      <ul>
        <li>Public learning groups are free forever.</li>
        <li>Private groups are free for up to 5 users.  Each additional user is $1 per month.</li>
      </ul>
      <p class="i-paragraph">
        <i class="fa fa-gift"></i>
        We offer 50 free private users to public school teachers.
      </p>
    </div>

    <div class="sign-in-info">
      <h3>Questions?</h3>
      <p>Email us at <a href="mailto:hello@badgelist.com">hello@badgelist.com</a>.</p>
    </div>
  </div>

  <div class="span5 offset1">
    <div class="signin-box">
      
      <div class="signin-header">
        <h2>Sign in</h2>
      </div>
      
      <div class="signin-form bl-form-no-labels">
        <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
          <%= f.input :email, :required => true, :autofocus => true, :placeholder => 'Your email', :input_html => { :class => 'signin' } %>
          <%= f.input :password, :required => true, :placeholder => 'Your password', :input_html => { :class => 'signin' } %>
          <%= f.input :remember_me, :as => :hidden, :input_html => {:value => true} %>

          <div class="controls">
            <%= f.button :submit, "Sign in", :class => 'btn-large' %>
            <%= link_to "Create a new account", new_user_registration_path, class: 'btn btn-link' %>
          </div>

        <% end %>
      </div>
      
      <div class="form-actions">
        <%= render "devise/shared/links" %>
      </div>

    </div>
  </div>

</div>

<script type="text/javascript">
  
  $(document).ready(function() {
    $("#rotate-words").wordsrotator({
      animationIn: "flipInX",
      animationOut: "flipOutX",
      speed: 3500,
      words: ['learning', 'training', 'teaching', 'business', 'community']
    });
  });

</script>


