<% 
  provide(:title, "Sign in")
  provide(:body_class, "signin")
  provide(:hide_footer, true)
%>

<div class="row">
  
  <div class="span6">
    <div class="info-card text-card sign-in-info">
      <h3>Badge List is the fastest, easiest way to build and issue Open Badges.</h3>
      <p>
        There’s no software to setup or configure and creating a badge takes less than 30 seconds. 
      </p>
      <p class="button-paragraph">
        <%= link_to "Get started now", new_user_registration_path, class: 'btn btn-warning' %>
      </p>
    </div>

    <div class="info-card text-card sign-in-info">
      <h3>New to Open Badges?</h3>
      <p>
        <iframe width="380" height="213" src="//www.youtube.com/embed/HgLLq7ybDtc" frameborder="0" allowfullscreen></iframe><br>
        Video by the awesome 
        <a href="http://www.youtube.com/user/ChicagoArtDept" target="_blank">Chicago Art Department</a>.
      </p>
      <p class="button-paragraph">
        <%= link_to "Put open badges to work", new_user_registration_path, class: 'btn btn-warning' %>
      </p>
    </div>
    
    <div class="info-card text-card sign-in-info">
      <h3>Badge List’s advanced features make it ridiculously simple to do cool stuff.</h3><br>
      <ul>
        <li>Track learner progress</li>
        <li>Build a living knowledge base</li>
        <li>Create a learning-focused social network for your organization</li>
      </ul>
      <p class="button-paragraph">
        <%= link_to "Start a social network for learning", new_user_registration_path, 
          class: 'btn btn-warning' %>
      </p>
    </div>
    
    <div class="info-card text-card sign-in-info">
      <h3>Badge List is completely free for public learning groups.</h3>
      <p>
        And pricing for private learning groups 
        <a href="/badgelist/about/pricing">starts at $10 per month</a>.
      </p>
      <p class="button-paragraph">
        <%= link_to "Create a public learning group now", new_user_registration_path, 
          class: 'btn btn-warning' %>
      </p>
    </div>
  </div>

  <div class="span5 offset1">
    <div class="signin-box">
      
      <div class="signin-header">
        <h2>Sign in</h2>
      </div>
      
      <div class="signin-form bl-form-no-labels">
        <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
          <%= f.input :email, :required => true, :autofocus => true, :placeholder => 'Your email', :input_html => { :class => 'signin' } %>
          <%= f.input :password, :required => true, :placeholder => 'Your password', :input_html => { :class => 'signin' } %>
          <%= f.input :remember_me, :as => :hidden, :input_html => {:value => true} %>

          <div class="controls">
            <%= f.button :submit, "Sign in", :class => 'btn-large' %>
            <%= link_to "Create a new account", new_user_registration_path, class: 'btn btn-link' %>
          </div>

        <% end %>
      </div>
      
      <div class="form-actions">
        <%= render "devise/shared/links" %>
      </div>

    </div>
  </div>

</div>

<script type="text/javascript">
  
  $(document).ready(function() {
    $("#rotate-words").wordsrotator({
      animationIn: "flipInX",
      animationOut: "flipOutX",
      speed: 3500,
      words: ['learning', 'training', 'teaching', 'business', 'community']
    });
  });

</script>


