<% 
  provide(:title, "You've been invited to #{@group.name}")
  provide(:color, 'light_blue')
  provide(:cta_text, 'Create a Badge List account')
  provide(:cta_link, "#{new_user_registration_url}?email=#{@to_email}&name=#{@to_name}")
%>

<% if @badges.blank? %>
  <p>
    <%= @from_user.name %> has invited you to join the
    <%= link_to @group.name, group_url(@group) %> 
    group in Badge List.
  </p>
  <p>
    To view the group, follow the link below to create a new Badge List account. 
    (Be sure to sign up using the same email address.)
  </p>
  <p>
    After you login you will see the group on your home page and you can join any of the 
    badges in the group.
  </p>
<% else %>
  <p>
    <%= @from_user.name %> 
    has invited you to join <%= pluralize @badges.count, 'badge' %> in Badge List.
  </p>
  <p>
    You've also been added as a member of the 
    <%= link_to @group.name, group_url(@group) %>
    group. 
    To view the group and begin adding entries to your badge portfolio, 
    follow the link below to create a new Badge List account. 
    (Be sure to sign up using the same email address.)<br>
    <br>
    <strong>Badges you've been invited to:</strong>
  </p>
  
  <%= render partial: "shared/mailers/badge_list", locals: { badges: @badges } %>
<% end %>