<!DOCTYPE html>
<html>
<%
  
  #=== DOCS LAYOUT ===#
  #------------------------------
  # This layout is used to render the ReDoc-powered API documentation for the Badge List API.
  # There are several different APIs, but the only different in their ReDoc pages is the url of their swagger files and the color schemes
  # used in the CSS.
  # 
  # Required Parameters:
  # - api_title = The title cased string used to describe the API. (Example: 'Badge List API')
  # - theme_color = The color from colors.yml to use as the primary color in the ReDoc theme. Defaults to orange.

  @theme_color = (yield(:theme_color) || 'orange').to_s

%>

  <!--
                  _                               _   _             
    __      _____( ) __ ___    ___ _ __ ___  __ _| |_(_)_ __   __ _ 
    \ \ /\ / / _ \/ '__/ _ \  / __| '__/ _ \/ _` | __| | '_ \ / _` |
     \ V  V /  __/| | |  __/ | (__| | |  __/ (_| | |_| | | | | (_| |
      \_/\_/ \___||_|  \___|  \___|_|  \___|\__,_|\__|_|_| |_|\__, |
                                                              |___/ 
             _ _       _                                            
      __ _  | (_)_   _(_)_ __   __ _   _ __ ___   __ _ _ __         
     / _` | | | \ \ / / | '_ \ / _` | | '_ ` _ \ / _` | '_ \        
    | (_| | | | |\ V /| | | | | (_| | | | | | | | (_| | |_) |       
     \__,_| |_|_| \_/ |_|_| |_|\__, | |_| |_| |_|\__,_| .__/        
                               |___/                  |_|           
            __         _ _   _                                      
      ___  / _|   __ _| | | | |__  _   _ _ __ ___   __ _ _ __       
     / _ \| |_   / _` | | | | '_ \| | | | '_ ` _ \ / _` | '_ \      
    | (_) |  _| | (_| | | | | | | | |_| | | | | | | (_| | | | |     
     \___/|_|    \__,_|_|_| |_| |_|\__,_|_| |_| |_|\__,_|_| |_|     
                                                                    
     _                        _          _                          
    | | ___ __   _____      _| | ___  __| | __ _  ___               
    | |/ / '_ \ / _ \ \ /\ / / |/ _ \/ _` |/ _` |/ _ \              
    |   <| | | | (_) \ V  V /| |  __/ (_| | (_| |  __/              
    |_|\_\_| |_|\___/ \_/\_/ |_|\___|\__,_|\__, |\___|              
                                           |___/                    
    
    Wanna join us? Email Hank.

  -->

  <head>
    <% #=== GOOGLE TAG MANAGER - TAG 1 OF 2 ===# %>
    <%= render 'layouts/shared/google_tag_manager_head' %>
    <link rel="icon" type="image/png" href="<%= image_path('badge-list-icon-32-square.png') %>"/>

    <title><%= yield(:api_title) %> Reference</title>

    <% #=== GENERIC METADATA ===# %>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="This is the documentation for the Badge List public API.">

    <% #=== OPEN GRAPH METADATA ===# %>
    <meta property="og:type" content="Article" />
    <meta property="og:title" content="<%= yield(:api_title) %> Reference" />
    <meta property="og:description" 
      content="The <%= yield(:api_title) %> is a RESTful JSON API designed around the JSON API v1 spec and fully 
      documented via the Swagger v2 spec. Badge List is a platform for creating and awarding evidence-based digital badges." />
    <meta property="og:image" content="https://s3.amazonaws.com/badgelist/images/badge-list-icon.png" />
    <meta property="og:site_name" content="Badge List" />
    
    <% #=== TWITTER CARD METADATA ===# %>
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@badgelist" />
    <meta name="twitter:title" content="<%= yield(:api_title) %> Reference" />
    <meta name="twitter:description" 
      content="The <%= yield(:api_title) %> is a RESTful JSON API designed around the JSON API v1 spec and fully 
      documented via the Swagger v2 spec. Badge List is a platform for creating and awarding evidence-based digital badges." />
    <meta name="twitter:image" content="https://s3.amazonaws.com/badgelist/images/badge-list-icon.png" />

    <% #=== BADGE LIST SERVICE WORKER SCRIPT ===# %>
    <%= render 'layouts/shared/service_worker_script' %>
    
    <% #=== INTERCOM ===# %>
    <%= render 'layouts/shared/intercom' %>

    <!-- === STYLES === -->
    <style>

      body {
        margin: 0;
        padding: 0;
      }

      #redoc h1, #redoc h2, #redoc h3 {
        color: <%= COLORS[@theme_color][900] %>;
      }
      #redoc h1 {
        font-weight: 600;
      }

      #redoc api-logo {
        background: <%= COLORS[@theme_color][600] %>;
      }
      #redoc .menu-content {
        background: <%= COLORS[@theme_color][50] %>;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                    0 1px 5px 0 rgba(0, 0, 0, 0.12),
                    0 3px 1px -2px rgba(0, 0, 0, 0.2);
      }

      #redoc [_nghost-c0] a {
        color: #01579B;
      }
      #redoc .openapi-button[_ngcontent-c6] {
        color: #01579B;
        border-color: #01579B;
      }
      #redoc .menu-item-depth-1 > .menu-item-header:not(.disabled):hover {
        color: initial;
        background: rgba(255, 255, 255, 0.4);
      }
      #redoc .menu-item-depth-1.active > .menu-item-header {
        color: <%= COLORS[@theme_color][900] %>;
        background: <%= COLORS[@theme_color][100] %>;
      }

      #redoc .redoc-markdown-block code {
        color: <%= COLORS[@theme_color][900] %>;
      }
      #redoc .redoc-markdown-block pre code {
        color: white;
      }

      #redoc .operation-tags {
        margin-bottom: 10px;
      }
        #redoc .operation-tags a, #redoc .operation-tags a:visited {
          color: <%= COLORS[@theme_color][900] %>;
        }
        #redoc .operation-tags a::before {
          margin-right: -0.1em;
        }
      
      #redoc .operation-description .redoc-markdown-block hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid <%= COLORS['grey'][200] %>;
        margin: 1em 0;
        padding: 0;
      }
      #redoc .operation-description .redoc-markdown-block hr:last-child {
        margin-top: 1.5em;
      }

    </style>

  </head>

  <body>
    <% #=== GOOGLE TAG MANAGER - TAG 2 OF 2 ===# %>
    <%= render 'layouts/shared/google_tag_manager_body' %>

    <%= yield %>
  </body>

</html>