<!DOCTYPE html>
<html>

<%
  
  #=== POLYMER APP LAYOUT ===#
  #------------------------------
  # This layout is used to display the polymer-only APP UI contained in '/frontend/app'.
  # The polymer only app doesn't use any of the features of the Rails views, routing is handled
  # by the polymer frontend and everything is served from a single controller action.

%>

  <head>
    <% #=== PAGE TITLE, APP ICON & BASE ===# %>
    <title><%= @initial_document_title || 'Badge List' %></title>
    <link rel="icon" type="image/png" href="<%= image_path('badge-list-icon-32-square.png') %>"/>
    
    <% #=== SAFARI WEB APP SETTINGS ===# %>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="Badge List">
    <link rel="apple-touch-icon" href="https://badgelist.s3.amazonaws.com/images/badge-list-icon.png">
    <meta name="apple-mobile-web-app-status-bar-style" content="#FF9800">
    
    <% #=== ANALYTICS ===# %>
    <%= render 'layouts/shared/analytics' if Rails.env.production? %>

    <% #=== METADATA ===# %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">
    <meta name="description" 
      content="Badge List is a platform for awarding digital credentials compatible with the OpenBadge standard.">
    <link rel="manifest" href="<%= @polymer_website_root_url %>/manifest.json">

    <% if @include_metadata %>
      <!-- === OPEN GRAPH METADATA === -->
      <meta property="og:type" content="Article" />
      <meta property="og:title" content="<%= @metadata['metadata_title'] %>" />
      <meta property="og:description" content="<%= @metadata['metadata_description'] %>" />
      <meta property="og:image" content="<%= @metadata['metadata_image'] %>" />
      <meta property="og:site_name" content="<%= @metadata['metadata_site_name'] %>" />
      <meta property="og:url" content="<%= @metadata['metadata_url'] %>" />
      
      <!-- === TWITTER CARD METADATA === -->
      <meta name="twitter:card" content="summary" />
      <meta name="twitter:site" content="@badgelist" />
      <meta name="twitter:title" content="<%= @metadata['metadata_title'] %>" />
      <meta name="twitter:description" content="<%= @metadata['metadata_description'] %>" />
      <meta name="twitter:image" content="<%= @metadata['metadata_image'] %>" />
      <meta name="twitter:url" content="<%= @metadata['metadata_url'] %>" />
    <% end %>

    <% #=== ICONS ===# %>
    <%= stylesheet_link_tag 'shared/bl-icons/style', media: 'all' %>

    <% #=== POLYMER ===# %>
    <script src="<%= @polymer_website_root_url %>/bower_components/webcomponentsjs/webcomponents-lite.js"></script>
    <script>
      // Configure Polymer global settings *before* import
      window.Polymer = {
        rootPath: '<%= @polymer_website_root_url %>'
      };
    </script>
    <link rel="import" href="<%= @polymer_website_root_url %>/src/bl-website/bl-website.html">
  </head>

  <style type="text/css">
    body { margin: 0; }
  </style>

  <% #=== PAGE BODY ===# %>
  <body unresolved>

    <%= yield %>

  </body>

  <% #=== BADGE LIST SERVICE WORKER (Source files in /dev/bl-service-worker) ===# %>
  <%= render 'layouts/shared/service_worker' %>

</html>