<%
  # Object Variables = log, badge, group
  # Boolan Variables = is_admin, show_email
  
  # Note: This is a workaround for now to avoid querying entries just to get the count. 
  #       This will also count deleted entries.
  entry_count = log.next_entry_number - log.validation_count - log.rejection_count - 1
%>

<% if log.user_id %>

  <div class="info-card log-card fixed-height" data-bl-dyncol="child">
    <table>
      <tr class="card-body-row">
        <td class="card-image" 
        style="background-image: url('<%= log.user_avatar_image_medium_url %>')">
          <%= link_to '&nbsp;'.html_safe, group_badge_log_path(group, badge, log), 
            title: "View progress log", class: 'image-link' %>
        </td>
        <td class="card-body">
          <span class="card-headline">
            <span class="card-actions">
              <%=
                # Output the little "X" that allows admins to remove learners from the badge
                if (log.validation_status != 'validated') && is_admin \
                    && (current_user.id != log.user_id)
                  link_to '<i class="fa fa-remove"></i>'.html_safe, 
                    group_badge_log_path(group, badge, log) + "?log%5Bdetached_log%5D=true", 
                    method: :put, class: "log-card-delete", title: 'Remove from badge', 
                    data: { toggle: "tooltip", placement: "bottom", 
                    confirm: "Are you absolutely sure you want to revoke this user's badge " \
                    + "membership?\n\nNote: The user's progress log will NOT be deleted, only " \
                    + "their membership in the badge." }
                end 
              %>
            </span>

            <h2>
              <%= link_to log.user_name, group_badge_log_path(group, badge, log), 
                title: "View progress log" %>
            </h2>
            <% if show_email %>
              <h3 class="email"><%= log.user_email %></h3>
            <% else %>
              <h3 class="username"><%= log.user_username_with_caps %></h3>
            <% end %>
          </span>
          <span class="card-content">
            <ul class="metric-list">
              <% if (log.validation_count + entry_count) > 0 %>
                
                <% is_creator = (log.user_id == badge.creator_id) %>
                <% if is_creator %>
                  <li>
                    <i data-toggle="tooltip" data-placement="bottom" title="Badge creator" 
                      class="fa fa-shield fa-solid-gold"></i>
                    </li>
                <% end %>
                <% if log.retracted %>
                  <li>
                    <i class="fa fa-ban red" title="Badge retracted" data-toggle="tooltip"
                      data-placement="bottom"></i>
                  </li>
                <% end %>

                <% if badge.tracks_progress? %>

                  <% entry_count.times do |i| %>
                    <li><i class="fa fa-star"></i></li>
                  <% end if entry_count > 0 %>

                  <% (log.validation_count - (is_creator ? 1:0)).times do |i| %>
                    <i data-toggle="tooltip" data-placement="bottom" title="1 Expert Validation" 
                      class="fa fa-star fa-gold"></i>
                  <% end if log.validation_count > 0 %>

                <% end %> 
                
              <% else %>
                <li> &nbsp; </li> <!-- Ensures that the card is the right height when empty. -->
              <% end %>
            </ul>
          </span>
          <span class="card-footline">
            <% if log.validation_status == 'validated' %>
              <% if log.user_id == badge.creator_id %>
                Created badge on <%= log.created_at.to_s(:short_date) %>
              <% elsif log.date_issued.to_date == Date.today.to_date %>
                Awarded the badge today
              <% else %>
                Badge awarded on <%= log.date_issued.to_s(:short_date) %>
              <% end %>
            <% else %>
              Joined badge on <%= log.created_at.to_s(:short_date) %>
            <% end %>
          </span>
        </td>
      </tr>
    </table>
  </div>

<% end %>