<div class="info-card log-card fixed-height" data-bl-dyncol="child">
  <table>
    <tr class="card-body-row">
      <td class="card-image" style="background-image: url('<%= gravatar_url_for log.user, :size => 150 %>')">
        <%= link_to '&nbsp;'.html_safe, [log.badge.group, log.badge, log], 
          title: "View learning log", class: 'image-link' %>
      </td>
      <td class="card-body">
        <span class="card-headline">
          <%= link_to log.user.name, [log.badge.group, log.badge, log], 
            title: "View learning log" %>
        </span>
        <span class="card-content">
          <ul class="metric-list">
            <% if (log.validation_count+0) > 0 %> <!-- FIXME: Add entry count -->
              
              <% if false %> <!-- FIXME: Add entry count -->
                <li data-toggle="tooltip" data-placement="bottom" title="0 learning log entries">
                  0
                  <div style="background-image: url('<%= image_path 'log-small.png' %>')" ></div>
                </li>
                <li data-toggle="tooltip" data-placement="bottom"
                  title="Most recent log entry was 0 days ago">
                  0
                  <div style="background-image: url('<%= image_path 'clock-small.png' %>')" ></div>
                </li>
              <% end %>
              
              <% if log.validation_status == 'validated' %>
                <% if log.user == log.badge.creator %>
                  <li data-toggle="tooltip" data-placement="bottom" title="Badge creator">
                    <div style="background-image: url('<%= image_path 'badge-small.png' %>')" ></div>
                  </li>
                <% elsif log.date_issued.to_date == log.badge.created_at.to_date %>
                  <li data-toggle="tooltip" data-placement="bottom" 
                    title="One of the original badge experts">
                    <div style="background-image: url('<%= image_path 'issued-small.png' %>')" ></div>
                  </li>
                <% else %>  
                  <li data-toggle="tooltip" data-placement="bottom" title=
                 "Badge achieved in <%= (log.date_issued - log.date_started).to_i %> days">
                    <div style="background-image: url('<%= image_path 'issued-small.png' %>')" ></div>
                  </li>
                <% end %>
              <% end %>
              
              <% if log.validation_count > 0 %>
                <li data-toggle="tooltip" data-placement="bottom" 
                  title="Learning validated by <%= pluralize log.validation_count, 'expert' %>" >
                  <%= log.validation_count %>
                  <div style="background-image: url('<%= image_path 'validation-small.png' %>')" ></div>
                </li>
              <% end %>
            
            <% else %>
              <li> &nbsp; </li> <!-- This ensures that the card is the right height when empty. -->
            <% end %>
          </ul>
        </span>
        <span class="card-footline">
          <% if log.validation_status == 'validated' %>
            <% if log.user == log.badge.creator %>
              Created badge 
              <%= pluralize [(Date.today-log.created_at.to_date).to_i,0].max, "day" %> ago 
              (<%= log.created_at.to_s(:short_date) %>)
            <% elsif log.date_issued.to_date == Date.today.to_date %>
              Earned badge today
            <% else %>
              Earned badge 
              <%= pluralize [(Date.today-log.date_issued.to_date).to_i,0].max, "day" %> ago 
              (<%= log.date_issued.to_s(:short_date) %>)  
            <% end %>
          <% else %>
            Joined badge 
            <%= pluralize [(Date.today-log.created_at.to_date).to_i,0].max, "day" %> ago 
            (<%= log.created_at.to_s(:short_date) %>)
          <% end %>
        </span>
      </td>
    </tr>
  </table>
  <span class="card-actions">
    <%=
      # Output the little "X" that allows admins to remove learners from the badge
      if (log.validation_status != 'validated') && current_user && @current_user_is_admin  \
        && (current_user != log.user)
          link_to '<i class="icon-remove"></i>'.html_safe, 
            group_badge_log_path(log.badge.group, log.badge, log, log: { detached_log: true } ), 
            method: :put, class: "log-card-delete", title: 'Remove from badge', 
            data: { toggle: "tooltip", placement: "bottom", 
            confirm: "Are you absolutely sure you want to revoke this user's"\
            + " badge membership?\n\nNote: The user's learning log will NOT be deleted, only"\
            + " their membership in the badge." }
      end 
    %>
  </span>
</div>