<% 
  provide(:title, "#{@badge.name} Learning Log - #{@user.name}")
  provide(:show_subheader, true)
  provide(:subheader_image, group_image_url_for(@group)) 
  provide(:include_rich_text, true)
%>

<% content_for :subheader_links do %>
  <li>
    <%= link_to @group.url, @group %>
    <span class="divider">/</span>
  </li>
  <li>
    <%= link_to @badge.url, [@group, @badge] %>
    <span class="divider">/</span>
  </li>
  <li class="active">
    u
    <span class="divider">/</span>
    <%= @user.username %>
  </li>
<% end %>

<% if @current_user_is_expert || @current_user_is_learner %>
  <% content_for :subheader_actions do %>

    <% if !@current_user_is_log_owner %>
      <li  class="collapsible">
        <%= link_to '<i class="icon-user icon-white"></i> View Your Log'.html_safe, 
            [@group, @badge, @current_user_log] %>
        <% if @current_user_is_log_owner || @current_user_is_expert %>
          <span class="divider">|</span>
        <% end %>
      </li>
    <% end %>

    <% if @current_user_is_log_owner || @current_user_is_expert %>
      <li class="collapsible">
        <% if @current_user_is_log_owner %>
          <%= link_to '<i class="icon-plus-sign icon-white"></i> New Log Entry'.html_safe, 
            new_group_badge_log_entry_path(@group, @badge, @log) %>
          <span class="divider">|</span>
        <% else %>
          <%= link_to "<i class='icon-plus-sign icon-white'></i> Post to This Log".html_safe,
            new_group_badge_log_entry_path(@group, @badge, @log) %>
          <% if @validation.nil? %>
            <span class="divider">|</span>
          <% end %>
        <% end %>
      </li>
    <% end %>

    <% if @current_user_is_expert && !@current_user_is_log_owner && @validation.nil? %>
      <li class="collapsible">
        <%= link_to "<i class='icon-check icon-white'></i> Validate This Log".html_safe,
          new_group_badge_log_entry_path(@group, @badge, @log, type: 'validation') %>
      </li>
    <% end %>

    <% if @current_user_is_log_owner %>
      <li class="collapsible">
        <div class="dropdown">
          <a href="#" class="dropdown-toggle" id="dropdown-subheader-settings" 
            role="button" data-toggle="dropdown" data-target="#">
            Log Settings
            <i class="icon-cog icon-white"></i>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu pull-right" role="menu" 
            aria-labelledby="dropdown-subheader-settings">
            <li>
              <a href="#log-visibility" tabindex="-1" data-toggle="modal">
                <i class="icon-pencil"></i> 
                Change log visiblity &amp; membership
              </a>
            </li>
            <% if @log.validation_status == 'requested' %>
              <li>
                <%= link_to "<i class='icon-flag icon-white'></i>Withdraw validation request".html_safe,
                  group_badge_log_path(@group, @badge, @log, log: { date_withdrawn: Time.now }), 
                  method: :put, data: { confirm: "Are you sure you want to withdraw your request "\
                  + "for expert validation of your learning log? \n\n"\
                  + "TIP: After withdrawing your request, experts will still be able to add "\
                  + "validation but you will no longer be highlighted as a requester." } %>
              </li>
            <% elsif @log.validation_status != 'validated' %>
              <li>
                <%= link_to "<i class='icon-flag icon-white'></i>Request expert validation".html_safe,
                  group_badge_log_path(@group, @badge, @log, log: { date_requested: Time.now }), 
                  method: :put, data: { confirm: "Are you sure you want to send a request to all "\
                  + "of the badge experts asking for them to validate your learning log? \n\n"\
                  + "TIP: Before submitting your request it's a good idea to update "\
                  + "your personal wiki and post final evidence to your learning log." } %>
              </li>
            <% end %>
          </ul>
        </div>
      </li>
    <% end %>

  <% end %>
<% end %>

<% if @current_user_is_log_owner %>

  <!-- === LOG WIKI VERSIONS === -->

    <script type="text/javascript">
      var logWikiVersions = 
        <%= if @log.wiki_versions.nil?
              "[]" 
            else
              raw @log.wiki_versions.to_json
            end %>;

      $(document).ready(function() {
        if (logWikiVersions.length > 1) {
          var userName;
          for (var i in logWikiVersions) {
            userName = logWikiVersions[i].username;
            if (userName == null) userName = "Badge List System";
            $('#log-wiki-versions').append("<option value='"+i+"'>v" + (parseInt(i)+1) + " - "
              + userName + " ("+logWikiVersions[i].updated_at_text+")"
              + "</option>");
          }
          $('#log-wiki-versions').change(function() {
            if ($(this).val() >= 0)
              $('#log_wiki').siblings("iframe").contents().find("body").html(logWikiVersions[$(this).val()].info);
          });
        } else
          $('#edit-log-wiki div.form-footer').hide();
      });
    </script>

  <!-- === EDIT LOG WIKI MODAL === -->

  <div id="edit-log-wiki" class="modal full-screen hide fade" tabindex="-1" role="dialog" 
   aria-labelledby="mimm-label" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="mimm-label">Edit Log Wiki</h3>
    </div>

    <div class="modal-body">
      <div class="bl-modal-form">

        <div class="form-body">
          <%= form_for [@group, @badge, @log], url: group_badge_log_path(@group, @badge, @log), 
            method: :put, id: 'edit-log-wiki-form' do |f| %>
            <%= f.text_area :wiki, class: "huge-text-area modal-rich-text-area", 
                autofocus: true %><br />
          <% end %>
        </div>

        <div class="form-footer">
          <div class="control-group">
            <label class="control-label">Restore Previous Versions</label>
            <div class="controls">
              <select id="log-wiki-versions">
                <option value="-1">--- Browse previous versions ---</option>
              </select>
            </div>
          </div>
        </div>


      </div>

    </div>

    <div class="modal-footer">
      <button class="btn" aria-hidden="true" 
       onclick="$('#edit-log-wiki .bl-modal-form form').submit();">
        Save
      </button>
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
  </div>

  <!-- === EDIT LOG VISIBILITY MODAL === -->

  <div id="log-visibility" class="modal hide fade" tabindex="-1" role="dialog" 
   aria-labelledby="mimm-label" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="mimm-label">Edit learning log visiblity</h3>
    </div>

    <div class="modal-body">
      <div class="bl-modal-form">
        <div class="form-body">
          <%= simple_form_for [@group, @badge, @log], method: :put,
            html: {id: 'log-visibility-form', class: 'form-horizontal'} do |f| %>

            <%= f.input :show_on_profile, as: :radio_buttons, 
              collection: [[true, 'Visible on profile'] , \
              [false, "Must have link <p class='text-success'><small>(Hidden from profile, but shareable via direct link)</small></p>".html_safe]],
              label_method: :last, value_method: :first, 
              label: 'Should this badge be visible on your profile?' %>

            <% 
              if @group.private? 
                private_text = 'This will break Mozilla compatibility'
              else
                private_text = 'Only available for private learning grouups'
              end 
            %>
            <% if @group.private? %>
              <%= f.input :private_log, as: :radio_buttons, collection: [[false, 'Public'] , \
                [true, "Private <p class='text-error'><small>(#{private_text})</small></p>".html_safe]],
                label_method: :last, value_method: :first,
                label: 'After you earn the badge your learning log will be' %>
            <% else %>
              <%= f.input :private_log, as: :radio_buttons, collection: [[false, 'Public'] , \
                [true, "Private <p class='text-error'><small>(#{private_text})</small></p>".html_safe]],
                label_method: :last, value_method: :first, disabled: true,
                label: 'After you earn the badge your learning log will be' %>
            <% end %>
                

            <h4>Dangerous Stuff</h4>

            <div class="control-group">
              <label class="control-label" for="delete-log">
                Delete learning log and resign badge membership
              </label>
              <div class="controls">
                <%= link_to 'Delete this learning log', [@group, @badge, @log], title: "Careful!",
                  method: :delete, id: "delete-log", class: 'btn btn-danger brn-large', 
                  data: { confirm: "Warning: This can't be undone. Are you absolutely sure you want to"\
                  + " permanently delete your learning log?", toggle: 'tooltip', 
                  placement: 'bottom' } %>
                
              </div>
            </div>

          <% end %>
         
         </div>        
      </div>
    </div>

    <div class="modal-footer">
      <button class="btn" aria-hidden="true" 
       onclick="$('#log-visibility-form').submit();">
        Save
      </button>
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
  </div>

<% end %>


<!-- === PAGE HEADER === -->

<div class="row add-top-margin">
  <div class="span12">
    <div class="header-card log-header-card">

      <div class="primary-header">
        <table>
          <tr>
            <td class="header-image" 
                style="background-image: url('<%= @badge.image_url %>')">
              <%= link_to '&nbsp;'.html_safe, [@group, @badge], class: 'image-link', 
                title: 'View badge' %>
            </td>
            <td class="header-text">
              <h1><%= link_to @badge.name, [@group, @badge], title: 'View badge' %></h1>
              <h2><%= "#{@group.url}/#{@badge.url}" %></h2>
              <p>
                <%= @badge.summary %>
              </p>
            </td>
          </tr>
        </table>
      </div>

      <div class="secondary-header">
        <table>
          <tr>
            <td class="header-text">
              <h1><%= link_to @user.name, @user, title: 'View user profile' %></h1>
              <h2>Badge Learning Log</h2>  
              
              <ul class="bl-icon-list">
                <% if @log.validation_status == 'requested' %>
                  <li data-toggle="tooltip" data-placement="bottom" title=
                    "Requested expert validation on <%= @log.date_requested.to_s(:full_date) %>">
                    <div style="background-image: url('<%= image_path 'flag-orange-small.png' %>')" 
                      class="full-opacity">
                    </div>
                  </li>
                <% end %>

                <% if @log.validation_status == 'validated' %>
                  <li data-toggle="tooltip" data-placement="bottom" 
                    title="Badge issued on <%= @log.date_issued.to_s(:full_date) %>">
                    <div style="background-image: url('<%= image_path 'issued-small.png' %>')" ></div>
                  </li>
                <% end %>

                <% if @log.public? %>
                  <li data-toggle="tooltip" data-placement="bottom" 
                    title="Learning log is public.">
                    <div style="background-image: url('<%= image_path 'public-small.png' %>')" >
                    </div>
                  </li>
                <% elsif @log.private_log %>
                  <li data-toggle="tooltip" data-placement="bottom" 
                    title="Learning log is private.">
                    <div style="background-image: url('<%= image_path 'private-small.png' %>')" >
                    </div>
                  </li>
                <% else %>
                  <li data-toggle="tooltip" data-placement="bottom" 
                    title="Learning log currently private, but will become public after validation.">
                    <div style="background-image: url('<%= image_path 'private-small.png' %>')" >
                    </div>
                  </li>
                <% end %>
              </ul>
            </td>
            <td class="header-image">
              <a href="<%= user_path(@user) %>" class="image-link" title="View user profile">
                <%= gravatar_for @user, size: 150, class: "img-circle" %>
              </a>
            </td>
          </tr>
        </table>
      </div>

      <% if @log.public? || @current_user_is_admin || @current_user_is_member %>
        <div class="card-tabs">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#wiki" data-toggle="tab">Wiki</a></li>
            <% if (@log.validation_status == 'validated') || (@log.validation_status == 'requested') %>
              <li>
                <a href="#validations" data-toggle="tab">
                  <span class="collapse-when-small">Expert </span>Validation
                </a>
              </li>
            <% end %>
            <li><a href="#entries" data-toggle="tab">
              <span class="collapse-when-small">Learning Log </span>Entries</a>
            </li>
          </ul>
        </div>
      <% end %>

    </div>
  </div>
</div>


<% if @log.public? || @current_user_is_admin || @current_user_is_member %>

  <!-- === TAB CONTENT === -->

  <div class="tab-content">

    <!-- === WIKI TAB === -->

    <div class="tab-pane active" id="wiki">
      <div class="row">
        <div class="span12">

          <% if @current_user_is_log_owner %>
            <div class="tab-header">

              <% if @current_user_is_log_owner %>
                <a tabindex="-1" href="#edit-log-wiki" data-toggle="modal"
                   title="Edit your wiki" rel="tooltip" data-placement: "bottom"
                   class="btn btn-link" >
                  <i class="icon-pencil"></i>
                </a>
              <% end %>
            
              <h2>Personal Wiki</h2>
            
            </div>
          <% end %>

          <% @log.wiki_sections.each do |section_text| %>
            <div class="info-card text-card">
              <%= section_text.html_safe %>
            </div>
          <% end unless @log.wiki_sections.nil? %>

        </div>
      </div>
    </div>

    <!-- === VALIDATIONS TAB === -->

    <% if !@log.validations.empty? || (@log.validation_status == 'validated') \
      || (@log.validation_status == 'requested') %>
      <div class="tab-pane" id="validations">
        
        <div class="row">
          <div class="span12">
            <div class="tab-header">

              <% if @current_user_is_log_owner %>
                <% if @validation.nil? %>
                  <%= link_to "<i class='icon-check'></i> Add self validation".html_safe,
                    new_group_badge_log_entry_path(@group, @badge, @log, type: 'validation'), 
                    class: 'btn btn-small' %>
                <% else %>
                  <%= link_to "<i class='icon-pencil'></i> Update self validation".html_safe,
                    edit_group_badge_log_entry_path(@group, @badge, @log, @validation), 
                    class: 'btn btn-small' %>
                <% end %>
              <% elsif @current_user_is_expert %>
                <% if @validation.nil? %>
                  <%= link_to "<i class='icon-check'></i> Add your expertise".html_safe,
                    new_group_badge_log_entry_path(@group, @badge, @log, type: 'validation'), 
                    class: 'btn btn-small' %>
                <% else %>
                  <%= link_to "<i class='icon-pencil'></i> Update your validation".html_safe,
                    edit_group_badge_log_entry_path(@group, @badge, @log, @validation), 
                    class: 'btn btn-small' %>
                <% end %>
              <% end %>


              <% if @log.validation_status == 'requested' %>
                <span class="badge badge-warning collapse-when-small">
                  Validation requested <%= @log.date_requested.to_s(:full_date) %>
                </span>
                <span class="badge badge-warning show-when-small">
                  Requested <%= @log.date_requested.to_s(:short_date) %>
                </span>
              <% elsif @log.validation_status == 'validated' %>
                <span class="badge badge-info collapse-when-small">
                  Badge issued <%= @log.date_issued.to_s(:full_date) %>
                </span>
                <span class="badge badge-info show-when-small">
                  Issued <%= @log.date_issued.to_s(:short_date) %>
                </span>
              <% end %>
            
              <h2 class="collapse-when-small">Validation of Badge Experts</h2>
              <h2 class="show-when-small">Validations</h2>
            
            </div>
          </div>
        </div>
          
        <% if @log.validations.empty? %>

          <div class="row">
            <div class="well span7 offset2">
              <p class="lead">No validations yet...</p>
              <p>
                <% if @current_user_is_expert %>
                  This learner needs expert validations! To add your expertise, click the button
                  below and let the learner know whether or not your believe they have mastered
                  the badge.<br><br>
                  <%= link_to "<i class='icon-plus icon-white'></i> Add your expertise".html_safe,
                    add_badge_learners_path(@group, @badge), class: 'btn btn-success' %>
                <% elsif @current_user_is_log_owner %>
                  Once experts weigh in on your learning log, their validations will appear here!
                <% else %>
                  This learning log hasn't yet been validated by any experts.
                <% end %>
              </p>
            </div>
          </div>

        <% else %>

          <div class="row">
            <div class="span12" data-bl-dyncol="parent" data-bl-dyncol-group="validations" 
            data-bl-dyncol-width="12">
              <%= render(@log.validations, show_badge: false, date_format: :full) %>
            </div>
          </div>

        <% end %>

      </div>
    <% end %>

    <!-- === ENTRIES TAB === -->

    <div class="tab-pane" id="entries">
      
      <% if @posts_by_month.empty? %>

        <div class="row">
          <div class="well span7 offset2">
            <p class="lead">No entries yet...</p>
            <p>
              <% if @current_user_is_log_owner %>
                It's time to get posting!<br>
                Click the button below to post your first learning log entry.<br><br>
                <%= link_to "<i class='icon-plus icon-white'></i> New learning log entry".html_safe,
                  new_group_badge_log_entry_path(@group, @badge, @log), class: 'btn btn-success' %>
              <% elsif @current_user_is_expert %>
                Looks like <%= @user.name %> hasn't posted anything yet.<br>
                You can help them out by clicking the button below!<br><br>
                <%= link_to \
                  "<i class='icon-plus icon-white'></i> Post to this learner's log".html_safe,
                  new_group_badge_log_entry_path(@group, @badge, @log), class: 'btn btn-success' %>
              <% else %>
                Looks like <%= @user.name %> hasn't posted anything yet.
              <% end %>
            </p>
          </div>
        </div>

      <% else %>

        <div class="row">
          <div class="span12">
            <div class="pagination-header">
              <div class="pagination"><%= paginate @posts %></div>
            </div>
          </div>
        </div>

        <% @posts_by_month.each do |month_item| %>
       
          <div class="row">
            <div class="span12">
              <div class="tab-header">
                <h2><%= month_item[:label] %></h2>
              </div>
            </div>
          </div>
        
          <div class="row">
            <div class="span12" data-bl-dyncol="parent" 
              data-bl-dyncol-group="posts.<%= month_item[:label].parameterize %>" 
              data-bl-dyncol-width="12">
                <% entries = month_item[:posts] %>
                <%= render entries, show_badge: false, date_format: :full if !entries.nil? %>
            </div>
          </div>

        <% end %>

        <div class="row">
          <div class="span12">
            <div class="pagination-footer">
              <div class="pagination"><%= paginate @posts %></div>
            </div>
          </div>
        </div>

      <% end %>
    
    </div>

  </div>


<% else %>
  
  <div class="row">
    <div class="well span7 offset2">
      <p class="lead">This is a private learning log</p>
      <p>
        The owner of this learning log has set it to be private.  
        Its contents are only visible to members of the learning group.
      </p>
    </div>
  </div>

<% end %>