<% 
  provide(:title, "#{@user.name} - #{@badge.name}")
  provide(:include_rich_text, true)
  provide(:include_ob_issuer, true)

  if !@log.show_on_profile
    provide(:no_index, true)
  end

  provide(:include_metadata, true)
  if @log.validation_status == 'validated'
    provide(:metadata_title, "#{@badge.name} awarded to #{@user.name}")
    provide(:metadata_description, @badge.summary)
    provide(:metadata_image, @badge.image_url(:wide))
    provide(:metadata_image_width, '1000')
    provide(:metadata_image_height, '500')
    provide(:metadata_site_name, @group.name)
    provide(:metadata_url, group_badge_log_url(@group, @badge, @log))
  else
    provide(:metadata_title, "Badge Portfolio for #{@user.name}")
    provide(:metadata_description, "#{@user.name} joined the #{@badge.name} badge " \
      + "on #{@log.date_started.to_s(:full_date)} and has not yet earned the badge.")
    provide(:metadata_image, @group.logo_url)
    provide(:metadata_site_name, @group.name)
    provide(:metadata_url, group_badge_log_url(@group, @badge, @log))
  end
%>

<% if @current_user_is_log_owner || @badge_list_admin %>

  <!-- === EDIT BADGE MEMBERSHIP MODAL === -->

  <script type="text/javascript">
    
    $(document).ready(function() {
      
      // The show_on_badge setting overrides and disables the show_on_profiles setting when false
      $('#log_show_on_badge_false').click(function() {
        $('#log_show_on_profile_false').prop('checked', true);
        $('#log_show_on_profile_true').prop('disabled', true);
      });
      $('#log_show_on_badge_true').click(function() {
        $('#log_show_on_profile_true').prop('disabled', false);
      });
      
      // Also we want to set the disabled status on startup
      if ($('#log_show_on_badge_false').prop('checked'))
        $('#log_show_on_profile_true').prop('disabled', true);

    });

  </script>

  <div id="log-visibility" class="modal hide fade" tabindex="-1" role="dialog" 
   aria-labelledby="mimm-label" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="mimm-label">Edit your badge membership</h3>
    </div>

    <div class="modal-body">
      <div class="bl-modal-form">
        <div class="form-body">
          <%= simple_form_for [@group, @badge, @log], method: :put,
            html: {id: 'log-visibility-form', class: 'form-horizontal'} do |f| %>

            <% if @group_show_on_profile %>
              <%= f.input :show_on_profile, as: :radio_buttons, 
                collection: [[true, 'Yes'], [false, 'No']], label_method: :last, 
                value_method: :first, label: 'Show this badge on your badge profile?' %>
            <% else %>
              <div class="control-group">
                <label class="control-label">Show this badge on your badge profile?</label>
                <div class="controls">
                  <strong>No</strong>
                  <p class="help-block">
                    Change your
                    <%= link_to 'group membership settings', 
                      group_path(@group) + '#membership-settings' %>
                    to enable editing of this setting at the badge level.
                  </p>
                </div>
              </div>
            <% end %>

            <% member_role_name = (@log.validation_status == 'validated') ? @experts : @learners %>
            <% if @group_show_on_badges %>
              <%= f.input :show_on_badge, as: :radio_buttons, 
                collection: [[true, 'Yes'], [false, 'No']], label_method: :last, 
                value_method: :first, 
                label: "Show your name on the list of badge #{member_role_name}?" %>
            <% else %>
              <div class="control-group">
                <label class="control-label">
                  Show your name on the list of badge <%= member_role_name %>?
                </label>
                <div class="controls">
                  <strong>No</strong>
                  <p class="help-block">
                    Change your
                    <%= link_to 'group membership settings', 
                      group_path(@group) + '#membership-settings' %>
                    to enable editing of this setting at the badge level.
                  </p>
                </div>
              </div>
            <% end %>

            <% if @can_award_badge %>
              <%= f.input :receive_validation_request_emails, as: :select, include_blank: false,
                collection: [[true, 'Yes'], [false, 'No']], label_method: :last, 
                value_method: :first, label: 'Receive feedback request emails?',
                hint: "Feedback request emails are sent when a #{@learner} " \
                  + "completes all of the badge requirements and then requests feedback." %>
            <% end %>

            <% 
              if @group.has?(:privacy) 
                private_text = 'This will break Mozilla compatibility'
              else
                private_text = 'Only available for groups with privacy feature'
              end 
            %>
            
            <%
              if @log.validation_status == 'validated'
                privacy_label = "Can other people see your #{@badge.progress_log}?"
              else
                privacy_label = "After you earn the badge your #{@badge.progress_log} will be"
              end
            %>

            <h4>Dangerous Stuff</h4>

            <div class="control-group">
              <label class="control-label" for="delete-log">
                Delete <%= @badge.progress_log %> and resign badge membership
              </label>
              <div class="controls">
                <%= link_to "Delete your #{@badge.progress_log}", [@group, @badge, @log], 
                  title: "Careful!",
                  method: :delete, id: "delete-log", class: 'btn btn-danger btn-large', 
                  data: { confirm: "Warning: This can't be undone. Are you absolutely sure you " \
                    + "want to permanently delete your #{@badge.progress_log}?", 
                    toggle: 'tooltip', placement: 'bottom' } %>
                
              </div>
            </div>

          <% end %>
         
         </div>        
      </div>
    </div>

    <div class="modal-footer">
      <button class="btn" aria-hidden="true" 
       onclick="$('#log-visibility-form').submit();">
        Save
      </button>
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
  </div>

<% end %>

<% if @show_sharing %>

  <!-- === BADGE SHARING MODALS === -->

  <%= render 'shared/badge_sharing_modals' %>

<% end %>


<!-- === PAGE HEADER === -->

<% 
  show_validations = !@validations.empty? || (@log.validation_status == 'validated') \
    || (@log.validation_status == 'requested') || !@show_progress \
    || (@log.retracted && @can_retract)
%>

<div class="row add-top-margin">
  <div class="span12">
    <div class="header-bar log-header-bar">
      <table class="info-table">
        <tbody>
          <tr>
            <td class="left-image with-right-image">
              <%= link_to image_tag(@badge.image_url(:medium)), [@group, @badge], 
                title: 'View badge' %>
            </td>
            <td class="left-panel with-right-image hidden-phone">
              <h1><%= link_to @badge.name, [@group, @badge], title: 'View badge' %></h1>
              <h2>
                <%= link_to @group.url_with_caps, @group, 
                  title: @group.name %>/<%= link_to @badge.url_with_caps, [@group, @badge], 
                  title: "View badge" %>
              </h2>
              <h3>
                <%= @badge.summary %>
              </h3>
            </td>
            
            <% has_footer = @current_user_is_log_owner || @can_award_badge || @badge_list_admin %>
            <td class="separator hidden-phone <%= (has_footer) ? 'with-footer' : '' %>">
              <span>&nbsp;</span>
            </td>
            
            <td class="right-panel with-right-image ">
              <h1><%= link_to @user.name, @user, title: 'View badge profile' %></h1>
              <h2>
                <%= 
                  if @log.validation_status == 'validated'
                    "<i class='fa fa-trophy'></i> #{@Expert}".html_safe
                  else
                    @Learner
                  end
                %>
              </h2>  
              <h3>
                <i class="fa fa-clock-o"></i>
                <%= 
                  if @log.validation_status == 'validated'
                    "Awarded badge on #{@log.date_issued.to_s(:full_date)}"
                  else
                    "Joined badge on #{@log.date_started.to_s(:full_date)}"
                  end
                %>
              </h3>
              <% if @log.retracted %>
                <h3><span class="text-color red-medium">
                  <i class="fa fa-ban"></i>
                  Badge retracted
                  <% if @retracted_by %>
                    by <%= link_to @retracted_by.username_with_caps, @retracted_by %>
                  <% end %>
                </span></h3>
              <% elsif @log.validation_status == 'requested' %>
                <h3><span class="text-color primary-medium">
                  <i class="fa fa-flag-checkered"></i>
                  Requested feedback on <%= @log.date_requested.to_s(:full_date) %>
                </span></h3>
              <% end %>
            </td>
            
            <td class="right-image with-left-image">
              <span class="header-image">
                <a href="<%= user_path(@user) %>" title="View user profile">
                  <%= image_tag @user.avatar_image_url(:medium), class: 'img-circle' %>
                </a>
              </span>
            </td>
          </tr>

          <% if has_footer %>
            <tr class="footer-row <%= (@show_sharing) ? 'highlight-tertiary' : '' %>">
              <td colspan="5">
                <span class="label-text">
                  <% if @current_user_is_log_owner %>
                    <% if (@log.issue_status == 'issued') %>
                      You've been awarded this badge 
                      <% if @log.show_on_profile %>
                        and it's visible on your 
                        <%= link_to 'badge profile', @user, title: 'View your badge profile' %>.
                      <% elsif @log.show_on_badge %>
                        but it's hidden from your 
                        <%= link_to 'badge profile', @user, title: 'View your badge profile' %>.
                      <% else %>
                        but your name is hidden from the list of <%= @experts %>.
                      <% end %>
                    <% else %>
                      This is your <%= @badge.progress_log %>.
                      <% if !@log.show_on_badge %>
                        Your name is hidden from the list of <%= @learners %>.
                      <% end %>
                    <% end %>
                  <% elsif @can_award_badge %>
                    You're a badge awarder.
                  <% end %>
                </span>
                
                <ul class="action-list">
                  <% if @show_sharing %>
                    <li>
                      <%= link_to '<i class="fa fa-share-alt"></i> Share the badge'.html_safe, 
                        '#badge-sharing', id: 'share-badge', class: 'btn btn-small', 
                        data: { toggle: 'modal' } %>
                    </li>
                  <% end %>

                  <% if @can_award_badge && !@current_user_is_log_owner && @validation.nil? %>
                    <li>
                      <% if @log.validation_status == 'requested' %>
                        <%= link_to "<i class='fa fa-check-square-o'></i> Add feedback".html_safe,
                        new_group_badge_log_entry_path(@group, @badge, @log, type: 'validation'),
                        class: 'btn btn-small' %>
                      <% else %>
                        <%= link_to "<i class='fa fa-shield'></i> Award badge".html_safe,
                        new_group_badge_log_entry_path(@group, @badge, @log, type: 'validation'),
                        class: 'btn btn-small' %>
                      <% end %>
                    </li>
                  <% end %>

                  <% if @current_user_is_log_owner || @badge_list_admin %>
                    <li>
                      <a href="#log-visibility" tabindex="-1" data-toggle="modal" 
                          class="btn btn-small">
                        <i class="fa fa-sliders"></i> 
                        Edit badge membership
                      </a>
                    </li>
                  <% end %>


                </ul>
              </td>
            </tr>
          <% end %>

        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- === FEEDBACK === -->

<% if show_validations %>
  
  <div class="row">
    <div class="span12">
      <div class="tab-header">

        <% if @current_user_is_log_owner %>
          <% if !@validation.nil? %>
            <%= link_to "<i class='fa fa-pencil'></i> Update self endorsement".html_safe,
              edit_group_badge_log_entry_path(@group, @badge, @log, @validation), 
              class: 'btn btn-small' %>
          <% end %>
        <% elsif @can_award_badge %>
          <% if @validation.nil? %>
            <%= link_to "<i class='fa fa-check-square-o'></i> Add feedback".html_safe,
              new_group_badge_log_entry_path(@group, @badge, @log, type: 'validation'), 
              class: 'btn btn-small' %>
          <% else %>
            <%= link_to "<i class='fa fa-pencil'></i> Update your feedback".html_safe,
              edit_group_badge_log_entry_path(@group, @badge, @log, @validation), 
              class: 'btn btn-small' %>
          <% end %>
        <% end %>
        
        <% if @can_retract && !@current_user_is_log_owner %>
          <% if @log.retracted %>
            <%= link_to "<i class='fa fa-undo'></i> Clear retraction".html_safe,
              log_unretract_path(@group, @badge, @log), class: 'btn btn-small', method: :post %>
          <% elsif @log.validation_status == 'validated' %> 
            <%= link_to "<i class='fa fa-ban'></i> Retract badge".html_safe,
              log_retract_path(@group, @badge, @log), class: 'btn btn-small', method: :post,
              data: { confirm: 'Are you sure you want to retract the badge from this user?' } %>
          <% end %>
        <% end %>

        <% if @log.retracted %>
          <span class="badge badge-error collapse-when-small">
            Badge retracted
            <% if @log.date_retracted %>
              <%= @log.date_retracted.to_s(:full_date) %>
            <% end %>
          </span></h3>
        <% elsif @log.validation_status == 'requested' %>
          <span class="badge badge-warning collapse-when-small">
            Feedback requested <%= @log.date_requested.to_s(:full_date) %>
          </span>
          <span class="badge badge-warning show-when-small">
            Requested <%= @log.date_requested.to_s(:short_date) %>
          </span>
        <% end %>

        <h2 class="collapse-when-small">Endorsements &amp; Feedback</h2>
        <h2 class="show-when-small">Feedback</h2>
      
      </div>
    </div>
  </div>
    
  <% if @validations.empty? %>

    <div class="row">
      <div class="well span7 offset2">
        <h3>No feedback yet...</h3>
        <p>
          <% if @can_award_badge %>
            This <%= @learner %> needs feedback! To add your feedback, click the button
            below and let the <%= @learner %> know whether or not your believe they have earned
            the badge.<br><br>
            <%= link_to "<i class='fa fa-check-square-o'></i> Add feedback".html_safe,
              new_group_badge_log_entry_path(@group, @badge, @log, type: 'validation'), 
              class: 'btn btn-success' %>
          <% elsif @current_user_is_log_owner %>
            Once <%= @experts %> weigh in on your badge portfolio, their feedback will appear here!
          <% else %>
            This badge portfolio doesn't have any feedback yet.
          <% end %>
        </p>
      </div>
    </div>

  <% else %>

    <div class="row">
      <div class="span12" data-bl-dyncol="parent" data-bl-dyncol-group="validations" 
      data-bl-dyncol-width="12">
        <%= render @validations, date_format: :ago, group: @group, badge: @badge, log: @log, 
          user: @user %>
      </div>
    </div>

  <% end %>

<% end %>

<% if @show_progress && (!@requirements_json_clone.blank? || @current_user_is_log_owner) %>

  <% if !@requirements_json_clone.blank? %>

    <% if @current_user_is_log_owner && @all_requirements_complete \
        && (@log.validation_status != 'requested') && (@log.validation_status != 'validated') %>

      <!-- === FEEDBACK REQUEST REMINDER === -->

      <div class="row">
        <div class="well span7 offset2 primary">
          <h3>Have you finished building your badge portfolio?</h3>
          <p>
            Once you think that the evidence you've posted below is sufficient to meet all of the 
            badge requirements, click the button below to request feedback from the badge awarders.
          </p>
          <p>
            <%= link_to "<i class='fa fa-flag-checkered'></i> ".html_safe \
              + "Request feedback".html_safe, group_badge_log_path(@group, @badge, 
              @log, log: { date_requested: Time.now }), method: :put, 
              class: 'btn btn-large btn-warning', data: 
              { confirm: "Are you sure you want to send a request to all "\
              + "of the badge awarders asking for them to endorse your badge portfolio?" } %>
          </p>
        </div>
      </div>

    <% end %>
    
    <!-- === BADGE PORTFOLIO === -->

    <div class="row merge-with-card">
      <div class="span12">
        <div class="tab-header merge-with-card">
          <% if @current_user_is_log_owner || @badge_list_admin %>
            <% if @log.validation_status == 'requested' %>
              <%= link_to "<i class='fa fa-flag'></i> ".html_safe \
                + "Withdraw feedback request".html_safe,
                group_badge_log_path(@group, @badge, @log, 
                log: { date_withdrawn: Time.now }), method: :put, 
                class: 'btn btn-small highlight-primary',
                data: { confirm: "Are you sure you want to withdraw your request "\
                + "for feedback on your badge portfolio? \n\nTIP: After withdrawing your "\
                + "request, badge awarders will still be able to add "\
                + "feedback but you will no longer be highlighted as a requester." } %>
            <% elsif @log.validation_status != 'validated' %>
              <%= link_to "<i class='fa fa-flag-checkered'></i> ".html_safe \
                + "Request feedback".html_safe, group_badge_log_path(@group, @badge, 
                @log, log: { date_requested: Time.now }), method: :put, 
                class: 'btn btn-small highlight-primary', data: 
                { confirm: "Are you sure you want to send a request to all "\
                + "of the badge awarders asking for them to endorse your badge portfolio?" } %>

              <% if @all_requirements_complete %>
                <span class="label">
                  Done building your portfolio? Click here <i class="fa fa-arrow-right"></i>
                </span>
              <% end %>
            <% end %>
          <% end %>

          <h2>Badge Portfolio</h2>
        </div>
      </div>
    </div>
    
    <div class="row" id="portfolio-row">
      <div class="span12">
        <div class="info-card text-card portfolio-card">

          <% @log.posts_by_topic.each do |topic_item| %>
            <% 
              tag = topic_item['tag']
              if tag
                section_id = "topic-header-#{tag.name}"
              else
                section_id = 'topic-header-etc'
              end

              if @current_user_is_log_owner || tag.nil? || (tag.privacy == 'public') \
                || @badge_list_admin || @current_user_is_admin                        \
                || ((tag.privacy == 'private') && @current_user_is_member)             \
                || ((tag.privacy == 'secret')                                           \
                  && (@badge.awardability == 'experts') && @current_user_is_expert)
            %>

              <div class="section-header" id="<%= section_id %>">
                
                <% if @current_user_is_log_owner && !tag.nil? %>
                  <%= link_to "<i class='fa fa-plus'></i>".html_safe,
                  new_group_badge_log_entry_path(@group, @badge, @current_user_log, tag: tag.name), 
                    title: 'Post New Item', class: 'btn new-entry-btn',
                    data: { toggle: 'tooltip', placement: 'left' } %>
                <% end %>

                <% if tag.nil? %>
                  <h2>Etcetera</h2>
                <% else %>
                  <h2>
                    <%= tag.display_name %>
                    <a class="expand-info" data-toggle="custom" 
                      data-hide="#<%= section_id %> h2 .expand-info"
                      data-show="#<%= section_id %> h2 .collapse-info,#<%= section_id %> .topic-info">
                      <i class="fa fa-plus-square-o"></i>
                    </a>
                    <a class="collapse-info" data-toggle="custom" 
                      data-hide="#<%= section_id %> h2 .collapse-info,#<%= section_id %> .topic-info"
                      data-show="#<%= section_id %> h2 .expand-info">
                      <i class="fa fa-minus-square-o"></i>
                    </a>
                  </h2>

                  <div class="topic-info">
                    <div class="privacy-info">
                      <i class="fa <%= Tag.privacy_icon(@group.has?(:privacy), tag.privacy) %>"></i>
                      Evidence <%= Tag.privacy_text(@group.has?(:privacy), tag.privacy) %>
                    </div>
                    <div class="summary">
                      <%= tag.summary %>
                      <%= link_to "<i class='fa fa-angle-double-right'></i> More Info".html_safe, 
                        group_badge_tag_path(@group, @badge, tag), 
                        title: "View full requirement details" %>  
                    </div>
                  </div>
                <% end %>

              </div>

              <% if topic_item['entries'].blank? %>

                <div class="section-container">
                  <h3 class="summary-header empty">No evidence submitted for this requirement</h3>
                </div>

              <% else %>

                <% topic_item['entries'].each do |entry| %>

                  <div class="section-container">

                    <h3 class="summary-header">
                      <%= link_to entry.summary, [@group, @badge, @log, entry] %>
                    </h3>
                    
                    <%= link_to "<i class='fa fa-arrow-right'></i>".html_safe,
                      [@group, @badge, @log, entry], title: 'View Entry', 
                      class: 'btn view-entry-btn',
                      data: { toggle: 'tooltip', placement: 'left' } %>

                    <% if @current_user_is_log_owner %>
                      <%= link_to "<i class='fa fa-times'></i>".html_safe,
                        [@group, @badge, @log, entry], method: :delete, 
                        title: 'Delete This Item', class: 'btn delete-entry-btn',
                        data: { toggle: 'tooltip', placement: 'left',
                          confirm: 'Are you sure you want to permanently delete this item?' } %>
                    <% end %>

                    <%= render "shared/entry_content_full", entry: entry, log: @log, 
                      badge: @badge, user: @user, group: @group %>

                  </div>                  

                <% end %>

              <% end %>

            <% end %>
          <% end %>

        </div>
      </div>
    </div>

  <% else # NOTE: In this case, you can only see this section if you're the log owner. %>

    <div class="row">
      <div class="well span7 offset2 gray empty">
        <h4>This badge doesn't have any requirements yet!</h4>
        <p>
          You won't be able to post learning evidence until the badge creators add some
          requirements to the badge.
        </p>
      </div>
    </div>

  <% end %>

<% end %>

  