<% 
  if @current_user_can_see_profile
    provide(:title, @name)
  else
    provide(:title, 'Private Profile')
  end
%>

<% #=== IF THIS IS A PRIVATE USER THEN WE WILL CONCEAL THE ENTIRE PROFILE IF NEEDED ===# %>
<% if @current_user_can_see_profile %>

  <% if current_user.blank? %>

    <!-- === REGISTER MODAL === -->

    <div id="register" class="modal hide fade" tabindex="-1" role="dialog" 
     aria-labelledby="mimm-label" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="mimm-label">This is a preregistered user profile</h3>
      </div>

      <div class="modal-body">
        <div class="bl-modal-form">
          <div class="form-body">
            
            <p>
              The badges listed on this profile have been validated and awarded to <%= @name.blank? ? 'the specified user' : @name %>. 
              The account for <%= @name.blank? ? 'the specified user' : @name %> has been reserved but has not yet completed Badge List
              user registration.
            </p>

            <h4 class="inner-header">Does this account belong to you?</h4>

            <p>
              If so, click the continue button below to finish registering your account. After completing registration you will be able
              to manage your badges, add additional content, share your achievements to social media and find other badges to earn.
            </p>
           
           </div>        
        </div>
      </div>

      <div class="modal-footer">
        <%= link_to 'Continue Registration', new_user_registration_path, class: 'btn btn-primary' %>
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
      </div>
    </div>

  <% end %>

  <div class="row add-top-margin">
    <div class="span12">
      <div class="header-card user-header-card">

        <div class="primary-header span12">
          <span class="header-image"> 
            <%= image_tag @avatar_image_url, class: 'img-circle' %>
            <% if @this_is_current_user %>
              <div class="btn-overlay hidden-until-hover">
                <%= link_to "<i class='fa fa-pencil'></i> Edit image".html_safe,
                  edit_user_registration_path + '#upload-image', class: 'btn btn-small' %>  
              </div>
            <% end %>
          </span>
          <span class="header-text">
            <h1>
              <%= @name %>
              
              <% if @domain.present? && @current_user_can_see_domain %>
                <a href="<%= domain_path(@domain) %>" class="no-hover">
                  <span class="label" title="<%= @domain_tooltip %>" data-toggle="tooltip" 
                      data-placement="bottom">
                    <i class="fa <%= @domain_label_icon %>"></i> <%= @domain_label_text %>
                  </span>
                </a>
              <% end %>
            </h1>
            <h2>
              Preregistered User
            </h2>
            <% if current_user.blank? %>
              <h3>
                <%= link_to '<i class="fa fa-arrow-circle-right"></i> Register now'.html_safe, '#register', id: 'register-button',
                  class: 'btn btn-primary animate-pulse-on-load', data: { toggle: 'modal' } %>
              </h3>
            <% end %>
          </span>
        </div>

      </div>
    </div>
  </div>

  <!-- === AWARDED BADGES === -->

  <% if @group_badge_list.blank? %>

    <div class="row">
      <div class="well span7 offset2">
        <h3>No badges yet...</h3>
        <p>
          This user hasn't earned any badges yet.
        </p>
      </div>
    </div>

  <% else %>

    <div class="row">
      <div class="span12">
        <div class="container-card evidence-card">
          <%
            @group_badge_list.each do |group_row| 
              group = group_row[:group]
          %>
              
            <table class="header-table">
              <tr>
                <td>
                  <%= link_to image_tag(group.avatar_image_url(:medium)), group, title: "View the group", class: "image-link" %>
                </td>
                <td>
                  <h2><%= link_to group.name, group, title: "View the group" %></h2>
                </td>
              </tr>
            </table>

            <div class="body-row">
              <% group_row[:badges].each do |badge| %>

                <div class="inner-row">
                  <%= link_to image_tag(badge.image_url(:medium)), "/#{group.to_param}/#{badge.to_param}/u/#{@user_key}", 
                    title: "View the badge", class: "image-link" %>

                  <h2>
                    <%= link_to badge.name, "/#{group.to_param}/#{badge.to_param}/u/#{@user_key}" %>
                  </h2>
                </div>

              <% end %> <!-- === # END: badges.each === -->
            </div>

          <% end %> <!-- === # END: @group_badge_list.each === -->
        </div>
      </div>
    </div>

  <% end %>

  <% if !@groups.blank? %>
    
    <!-- === GROUP MEMBERSHIPS === -->

    <div class="row">
      <div class="span12">
        <div class="tab-header merge-with-card">
          <h2>Group Memberships</h2>
        </div>
      </div>
    </div>

    <div class="row" id="topic-list-row">
      <div class="span12">
        <div class="info-card text-card group-list-card">
          <ul>
            <% @groups.each do |group| %>
              <li>
                <%= link_to image_tag(group.avatar_image_url(:small)) + " " + group.name, group, 
                  title: "View the group" %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

  <% end %>

<% else %>
  
  <div class="row add-top-margin">
    <div class="well span7 offset2">
      <h3>This is a private user profile</h3>
      <p>
        This Badge List user is part of a private domain. 
        You must be a member of their domain in order to see their profile.
      </p>
    </div>
  </div>

<% end %>