<% provide(:title, 'Resend unlock') %>

<div class="page-header">
  <h1>Resend unlock link</h1>
</div>

<%= simple_form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= f.error_notification %>
  <%= f.full_error :unlock_token %>

  <div class="form-inputs bl-form-large bl-form-no-labels">
    <%= f.input :email, :required => true, :autofocus => true, :placeholder => 'Your email', :input_html => { :class => 'input-xlarge' } %>
  </div>

  <div class="controls">
    <%= f.button :submit, "Resend the unlock link", :class => 'btn-large btn-primary' %>
  </div>
  
<% end %>
