<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    
    

    <%= link_to "BL", root_path, id: "logo", class: "brand pull-left", title: "Badge List Home" %>
    
    <!-- Everything you want hidden at 940px or less, place within here -->
    <% if user_signed_in? %>
      <ul class="nav pull-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" id="dropdown-header-currentuser" role="button" data-toggle="dropdown" data-target="#">
            <%= gravatar_for current_user, :size => 23, :class => 'img-circle' %>
            <span id="header-currentuser-name"><%= current_user.name %></span>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdown-header-currentuser">
            <li><a href="<%= url_for(current_user) %>"><i class="icon-user"></i> View your profile</a></li>
            <li class="divider"></li>
            <li><%= link_to "<i class='icon-remove'></i> Sign out".html_safe, destroy_user_session_path, :method => :delete %></li>
          </ul>
        </li>
      </ul>
    <% else %>
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <nav class="nav-collapse collapse">
        <ul class="nav pull-right">
            <li><%= link_to 'Sign up', new_user_registration_path, id: "header-sign-up-link" %></li>
            <li class="divider-vertical"></li>
            <li><%= link_to 'Sign in', new_user_session_path %></li>
        </ul>
      </nav>
    <% end %>
  </div>
</header>