<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    
    

    <ul class="nav header-left">
      <li>
        <%= link_to "BL", root_path, id: "logo", class: "brand", 
          title: "Badge List Home" %>
          <span class="divider"><i class="fa fa-caret-right"></i></span>
      </li>
      <li>
        <a href="/" title="Home" data-toggle="tooltip" data-placement="bottom">
          <i class="fa fa-home"></i>
        </a>
        <span class="divider"><i class="fa fa-caret-right"></i></span>
      </li>
      <li>
        <a href="/badgelist/help" title="Help" class="smaller" 
          data-toggle="tooltip" data-placement="bottom">
          <i class="fa fa-question"></i>
        </a>
      </li>
    </ul>
    
    <!-- Everything you want hidden at 940px or less, place within here -->
    <% if user_signed_in? %>
      <ul class="nav pull-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" id="dropdown-header-currentuser" role="button" data-toggle="dropdown" data-target="#">
            <%= gravatar_for current_user, :size => 23, :class => 'img-circle' %>
            <span id="header-currentuser-name"><%= current_user.name %></span>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdown-header-currentuser">
            <li><a href="<%= url_for(current_user) %>"><i class="icon-user"></i> View your profile</a></li>
            <li class="divider"></li>
            <li><%= link_to "<i class='icon-remove'></i> Sign out".html_safe, destroy_user_session_path, :method => :delete %></li>
          </ul>
        </li>
      </ul>
    <% else %>
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <nav class="nav-collapse collapse">
        <ul class="nav pull-right">
            <li><%= link_to 'Sign up', new_user_registration_path, id: "header-sign-up-link" %></li>
            <li class="divider-vertical"></li>
            <li><%= link_to 'Sign in', new_user_session_path %></li>
        </ul>
      </nav>
    <% end %>
  </div>

  <% if content_for? :show_subheader %>
    <div id="subheader">
      <% if content_for?(:subheader_links) || content_for?(:subheader_image) %>
        <div class="subheader-breadcrumbs">
          <% 
            if content_for?(:subheader_image_class)
              the_class = yield(:subheader_image_class)  
            else
              the_class = ''
            end 
          %>
          <%= if content_for?(:subheader_image)
                image_tag yield(:subheader_image), class: the_class
                end %>
          <ul class="breadcrumb">
            <%= yield :subheader_links if content_for?(:subheader_links) %>  
          </ul>
        </div>
      <% end %>
            
      <% if content_for?(:subheader_actions) %>
        <div class="subheader-actions">
          <ul class="subheader-actions">
            <%= yield :subheader_actions %>
          </ul>
        </div>
      <% end %>
    </div>
  <% end %>
  
</header>