<!DOCTYPE html>
<html>

<%
  
  #=== BADGE LIST APP LAYOUT ===#
  #------------------------------
  # This is used for internal pages (not the website).
  #
  # Parameters (w/ Default Value):
  # - title (Optional): Partial title of window >> "#{title} - Badge List"
  # - full_title (Optional): Full title of window
  # - app_header_content (Required): Should include polymer component for this page's header content
  # - page_background (Optional, '#FFFFFF'): Enter CSS color or other valid background value.
  # - white_header_text (Optional, false): Should the default text color be white?
  # - white_body_text (Optional, false): Should the default text color be white?
  #
  # Boolean Exlusion Parameters:
  # - hide_condensed_header (Optional, false): Hide the app header while scrolling down the page.
  # - hide_left_nav (Optional, false): Hide app header left nav (with BL logo).
  # - hide_right_nav (Optional, false): Hide app header right nav (with current user / sign in).
  # - hide_intercom (Optional, false): Hide intercom chat widget
  #
  # Boolean Inclusion Parameters:
  # - no_index, include_ob_issuer, include_stripe, include_metadata
  #
  # If including metadata for social media, also set these parameters:
  # - Required: metadata_description, metadata_site_name, metadata_title, metadata_url,
  #             metadata_image
  # - Optional (but always set both or none): metadata_image_height, metadata_image_width

%>

  <head>
    <% #=== PAGE TITLE, APP ICON & BASE ===# %>
      
      <% if content_for? :full_title %>
        <title><%= yield(:full_title) %></title>
      <% else %>
        <title><%= full_title(yield(:title)).html_safe %></title>
      <% end %>
      <link rel="icon" type="image/png" href="<%= image_path('badge-list-icon-32-square.png') %>"/>
    
    <% #=== ANALYTICS, FONTS, ICONS, SHIM, ETC. ===# %>
      
      <%= render 'layouts/shared/analytics' if Rails.env.production? %>
      <%= render 'layouts/shared/fonts' %>
      <link rel="stylesheet" 
        href="//fonts.googleapis.com/icon?family=Material+Icons">
      <%= render 'layouts/shared/shim' %>
      <%= csrf_meta_tags %>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <% #=== APP STYLES & SCRIPTS ===# %>

      <%= stylesheet_link_tag 'app', media: 'all' %>
      <%= javascript_include_tag 'app' %>
      <link rel="import" href="<%= asset_path('application', {type: :html, extname: '.html'}) %>">
      <script src="//cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"> 
      </script>
    
    <% #=== OPTIONAL INCLUSIONS ===# %>
    <% #=== [:no_index, :include_ob_issuer, :include_stripe, :include_metadata, :header] ===# %>

      <% if content_for? :no_index %>
        <meta name="robots" content="noindex">
      <% end %>
      
      <% if content_for? :include_ob_issuer %>
        <script src="//backpack.openbadges.org/issuer.js"></script>
        <script type="text/javascript">
          var obIssuerPresent = true;
        </script>
      <% end %>

      <%= render 'shared/stripe' if content_for? :include_stripe %>

      <% if content_for? :include_metadata %>
        <!-- === OPEN GRAPH METADATA === -->
        <meta property="og:type" content="Article" />
        <meta property="og:title" content="<%= yield(:metadata_title) %>" />
        <meta property="og:description" content="<%= yield(:metadata_description) %>" />
        <meta property="og:site_name" content="<%= yield(:metadata_site_name) %>" />
        <meta property="og:url" content="<%= yield(:metadata_url) %>" />
        
        <meta property="og:image" content="<%= yield(:metadata_image) %>" />
        <% if content_for?(:metadata_image_width) && content_for?(:metadata_image_height) %>
          <meta property="og:image:width" content="<%= yield(:metadata_image_width) %>" />
          <meta property="og:image:height" content="<%= yield(:metadata_image_height) %>" />
        <% end %>
        
        <!-- === TWITTER CARD METADATA === -->
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@badgelist" />
        <meta name="twitter:title" content="<%= yield(:metadata_title) %>" />
        <meta name="twitter:description" content="<%= yield(:metadata_description) %>" />
        <meta name="twitter:image" content="<%= yield(:metadata_image) %>" />
        <meta name="twitter:url" content="<%= yield(:metadata_url) %>" />
      <% end %>
  
  </head>

  <% #=== PAGE BODY ===# %>

  <body unresolved>
      
    <% #=== PAGE ALERTS ===# %>

      <% unless false && flash.blank? %>
        <bl-toast-container>
          <% flash.each do |key, value| %>
            <bl-toast text="<%= value %>" class="<%= key %>"></bl-toast>
          <% end %>
        </bl-toast-container>
      <% end %>

    <% #=== APP CONTAINER COMPONENT (Uses paper-scroll-header-panel) ===# %>

      <bl-app-container id="appContainer" page-background="<%= yield(:page_background) %>"
        <%= (content_for?(:white_header_text)) ? 'white-header-text' : '' %>
        <%= (content_for?(:white_body_text)) ? 'white-body-text' : '' %>
        <%= (content_for?(:hide_condensed_header)) ? 'hide-condensed-header' : '' %>
        <%= (content_for?(:hide_left_nav)) ? 'hide-left-nav' : '' %>
        <%= (content_for?(:hide_right_nav)) ? 'hide-right-nav' : '' %>
        <%= (content_for?(:hide_intercom)) ? 'hide-intercom' : '' %>
        current-user="<%= current_user.json_cu %>" asset-paths="<%= @ap_json %>">

        <% #=== APP HEADER ===# %>

          <% if content_for?(:app_header_content) %>
            <div class="app-header-content">
              <%= yield(:app_header_content) %>
            </div>
          <% end %>

        <% #=== PAGE CONTENT ===# %>
          
          <div class="content">
            
            <%= yield %>

            <bl-app-footer <%= (content_for?(:white_body_text)) ? 'white-text' : '' %>>
            </bl-app-footer>

          </div>

      </bl-app-container>

  </body>

</html>