<!DOCTYPE html>
<html>

  <head>
    <% if content_for? :full_title %>
      <title><%= yield(:full_title) %></title>
    <% else %>
      <title><%= full_title(yield(:title)).html_safe %></title>
    <% end %>

    <% if content_for? :no_index %>
      <meta name="robots" content="noindex">
    <% end %>

    <% if content_for? :include_ob_issuer %>
      <script src="https://backpack.openbadges.org/issuer.js"></script>
      <script type="text/javascript">
        var obIssuerPresent = true;
      </script>
    <% end %>

    <% # Import Material Design Lite framework files %>
    <%= stylesheet_link_tag "base/material-design-lite", media: "all" %>
    <%= javascript_include_tag "material.min" %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <%= render 'layouts/shared/analytics' if Rails.env.production? %>
    <%= render 'layouts/shared/fonts' %>
    <%= stylesheet_link_tag "app", media: "all" %>
    <%= javascript_include_tag "app" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shared/shim' %>
    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="<%= image_path('badge-list-icon-32-square.png') %>" />
    <%= yield(:header) if content_for? :header %>

    <%= render 'shared/stripe' if content_for? :include_stripe %>

    <% if content_for? :include_metadata %>
      <!-- === OPEN GRAPH METADATA === -->
      <meta property="og:type" content="Article" />
      <meta property="og:title" content="<%= yield(:metadata_title) %>" />
      <meta property="og:description" content="<%= yield(:metadata_description) %>" />
      <meta property="og:site_name" content="<%= yield(:metadata_site_name) %>" />
      <meta property="og:url" content="<%= yield(:metadata_url) %>" />
      
      <meta property="og:image" content="<%= yield(:metadata_image) %>" />
      <% if content_for?(:metadata_image_width) && content_for?(:metadata_image_height) %>
        <meta property="og:image:width" content="<%= yield(:metadata_image_width) %>" />
        <meta property="og:image:height" content="<%= yield(:metadata_image_height) %>" />
      <% end %>
      
      <!-- === TWITTER CARD METADATA === -->
      <meta name="twitter:card" content="summary" />
      <meta name="twitter:site" content="@badgelist" />
      <meta name="twitter:title" content="<%= yield(:metadata_title) %>" />
      <meta name="twitter:description" content="<%= yield(:metadata_description) %>" />
      <meta name="twitter:image" content="<%= yield(:metadata_image) %>" />
      <meta name="twitter:url" content="<%= yield(:metadata_url) %>" />
    <% end %>
  </head>

  <body class="<%= "with-subheader" if content_for?(:show_subheader) \
    %> <%= yield(:body_class) if content_for?(:body_class) %>" >
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <%= render 'layouts/app/header' %>
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "alert alert-#{key}") %>
      <% end %>

      <main class="mdl-layout__content">
        <div class="page-content">
          <%= yield %>
        </div>
      </main>

      <%= render 'layouts/app/footer' unless content_for?(:hide_footer) %>
    </div>
  </body>

</html>