<!DOCTYPE html>
<html>
  <head>
    <% if content_for? :full_title %>
      <title><%= yield(:full_title) %></title>
    <% else %>
      <title><%= full_title(yield(:title)) %></title>
    <% end %>

    <%= render 'layouts/analytics' if Rails.env.production? %>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body class="<%= "with-subheader" if content_for?(:show_subheader) \
    %> <%= yield(:body_class) if content_for?(:body_class) %>" >
    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "alert alert-#{key}") %>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' unless content_for?(:hide_footer) %>
      <%= debug(params) if Rails.env.development? && !content_for?(:hide_footer) %>
    </div>
    
    <% if content_for? :include_rich_text %>
      <%= render 'shared/rich_text_toolbar' %>
    <% end %>
  </body>
</html>