<!DOCTYPE html>
<html>

  <head>
    <% if content_for? :full_title %>
      <title><%= yield(:full_title) %></title>
    <% else %>
      <title><%= full_title(yield(:title)).html_safe %></title>
    <% end %>

    <%= render 'layouts/analytics' if Rails.env.production? %>
    <%= render 'layouts/fonts' %>
    <%= stylesheet_link_tag    "website", media: "all" %>
    <%= javascript_include_tag "website" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/assets/badge-list-icon-32-square.png" />

    <% if content_for? :include_metadata %>
      <!-- === OPEN GRAPH METADATA === -->
      <meta property="og:type" content="Article" />
      <meta property="og:title" content="<%= yield(:metadata_title) %>" />
      <meta property="og:description" content="<%= yield(:metadata_description) %>" />
      <meta property="og:image" content="<%= yield(:metadata_image) %>" />
      <meta property="og:site_name" content="<%= yield(:metadata_site_name) %>" />
      <meta property="og:url" content="<%= yield(:metadata_url) %>" />
      
      <!-- === TWITTER CARD METADATA === -->
      <meta name="twitter:card" content="summary" />
      <meta name="twitter:site" content="@badgelist" />
      <meta name="twitter:title" content="<%= yield(:metadata_title) %>" />
      <meta name="twitter:description" content="<%= yield(:metadata_description) %>" />
      <meta name="twitter:image" content="<%= yield(:metadata_image) %>" />
      <meta name="twitter:url" content="<%= yield(:metadata_url) %>" />
    <% end %>
  </head>

  <%
    body_classes = (content_for?(:hide_header)) ? '' : 'with-space'
    body_classes += (flash.blank?) ? '' : ' with-flash'
  %>
  <body class="<%= body_classes %> ">
    <%= render 'layouts/website_header' %>
    <div class="container-fluid">
      <%= yield %>
      <% unless content_for? :hide_flash %>
        <div class="alert-bar">
          <% flash.each do |key, value| %>
            <%= content_tag(:div, value, class: "alert alert-#{key}") %>
          <% end %>
        </div>
      <% end %>
      <%= render 'layouts/website_footer' unless content_for?(:hide_footer) %>
    </div>
  </body>

</html>